/*완료 상태 스타일*/
.staff-fin {
    color: #408558;
    text-align: center;
    font-style: italic;
}

/*진행중 상태 스타일*/
.staff-ing {
    color: #cb444a;
    text-align: center;
    font-style: italic;
}

.staff-graph {
    height: 30px;
    margin-bottom: 20px;
}

.staff-margin-bottom_0 {
    margin-bottom: 0;
}

.staff-font-size_15 {
    font-size: 15px;
}

.staff-margin-bottom_20 {
    margin-bottom: 20px;
}

.staff-list {
    display: none;
    background-color: white;
    list-style-type: none;
}

.staff-hover:hover + .staff-show {
    display: block;
}

.dropbtn {
  background-color: white;
  /*color: white;*/
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  /*position: relative;*/
  /*display: inline-block;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
    border-radius: 5px;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*.dropdown-content li:hover {background-color: white;}*/

.dropdown:hover .dropdown-content {display: block;}

/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

/*============================================================================*/

/*td 너비를 조정하기 위함*/
.staff_width_50 {
    width: 50px;
}

/*td 너비를 조정하기 위함*/
.staff_width_70 {
    width: 70px;
}

/*td 너비를 조정하기 위함*/
.staff_width_100 {
    width: 100px;
}

/*td 너비를 조정하기 위함*/
.staff_width_150 {
    width: 150px;
}

/*td 너비를 조정하기 위함*/
.staff_width_170 {
    width: 170px;
}

/*td 너비를 조정하기 위함*/
.staff_width_200 {
    width: 200px;
}

/*td 너비를 조정하기 위함*/
.staff_width_230 {
    width: 230px;
}

/*여기서부터 회원관리 부분 체크박스부분 스타일임. */
input[type="checkbox"]:checked + label:before {
    border-color: #4611a7;
    border-width: 2px;
}

input[type=checkbox] + label:before {
    background-color: #ffffff;
    border: 2px solid #b6b7b8;
    border-radius: 0;
    content: "";
    display: inline-block;
    height: 16px;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
    width: 16px;
}
input[type=checkbox]:checked + label:after {
    font-size: 10px;
    left: 2px;
	top:50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
input[type=checkbox] + label:after {
    color: #4611a7;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 0px;
    -webkit-font-smoothing: antialiased;
    left: 6px;
    position: absolute;
    top: 7px;
    transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    width: 14px;
    text-align: center;
}
/*여기서까지 회원관리 부분 체크박스부분 스타일임. */

/*회원관리 select 부분 스타일 적용을 위함 */
.staff_mem_select{
    display: inline-block;
    width: 110px;
}

/*회원관리 적용 버튼 스타일 적용을 위함 */
.staff_mem_btn{
    display: inline-block;
    margin-left: 15px;

}
/*회원관리 체크박스 가운데 정렬을 위함*/
.staff_label_margin {
    margin-top: 13px;
}

/*페이지네이션 밑 공간 줄이기 위함*/
.staff_margin_bottom_0 {
    margin-bottom: 0;
}


