{% extends "base.html" %}
{% load static %}
{% block content %}

    <body>
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
                <a href="{% url 'contest_list' %}">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <h1 class="text-white introduce-letter-spacing_5">공모전 게시판</h1>
                            <!--부제목-->
                            <p class="introduce-margin-top_20">공모전 정보를 공유하는 게시판입니다.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--===============================================입력란=========================================================-->

            <form action="{% if contest is None %}{% url 'contest_register' %}{% else %}{% url 'contest_update' %}{% endif %}"
                  class="add-listing-form" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="content-block">
                    <div class="section-full content-inner bg-white">
                        <div class="container">
                            <form class="add-listing-form">
                                <!--=====================-->
                                    <!--제목-->
                                    <div class="content-box">
                                        <div class="content-header">
                                          <h3 class="title">
                                            공모전 이름
                                          </h3>
                                        </div>
                                        <div class="content-body">
                                          <div class="form-group">
                                            <!--제목 입력란-->
                                            <input type="text" name="contest_title"
                                                   class="form-control" placeholder="공모전 이름을 입력하세요"
                                                   style="font-size: 25px; height: 70px;">
                                          </div>
                                        </div>
                                    </div>
                                    <!--주체기관-->
                                    <div class="content-box">
                                        <div class="content-header">
                                          <h3 class="title">
                                            공모전 주체기관
                                          </h3>
                                        </div>
                                        <div class="content-body">
                                          <div class="form-group">
                                              <!--주체기관 입력란-->
                                            <input type="text" name="contest_asso" class="form-control" placeholder="주체기관을 입력하세요">
                                          </div>
                                        </div>
                                    </div>
                                    <!--공모전 간단소개-->
                                    <div class="content-box">
                                        <div class="content-header">
                                          <h3 class="title">
                                            공모전 주제
                                          </h3>
                                        </div>
                                        <div class="content-body">
                                          <div class="form-group">
                                            <!--공모전 간단소개 입력란 / 여기에 입력한 것은 게시글 리스트에 보여지는 소개에 들어감-->
                                            <textarea name="contest_topic"
                                                   class="form-control" placeholder="공모전 주제를 적어주세요"></textarea>
                                          </div>
                                        </div>
                                    </div>
                                    <!--공모전 시작일-->
                                    <div class="content-box">
                                        <div class="content-header">
                                          <h3 class="title">
                                            공모전 시작일
                                          </h3>
                                        </div>
                                        <div class="content-body">
                                          <div class="form-group">
                                            <!--공모전 시작일 입력란-->
                                            <input type="date" name="contest_start" class="form-control">
                                          </div>
                                        </div>
                                    </div>
                                    <!--공모전 마감일-->
                                    <div class="content-box">
                                        <div class="content-header">
                                          <h3 class="title">
                                            공모전 마감일
                                          </h3>
                                        </div>
                                        <div class="content-body">
                                          <div class="form-group">
                                             <!--공모전 마감일 입력란-->
                                            <input type="date" name="contest_deadline" class="form-control">
                                          </div>
                                        </div>
                                    </div>
                                    <!--공모전 포스터-->
                                    <div class="content-box">
                                        <div class="content-header">
                                          <h3 class="title">
                                            공모전 포스터 및 첨부파일
                                          </h3>
                                        </div>
                                        <div class="content-body">
                                          <div class="form-group">
                                            <!--공모전 포스터 입력란-->
                                            <input type="file" name="contest_file"
                                                       accept=".xlsx,.xls,image/*,.doc,.docx,video/*,.ppt,.pptx,.txt,.pdf,.py,.java"
                                                       multiple>
                                          </div>
                                          <!-- 이미 존재하고 있던 파일: 삭제 가능 (수정모드)-->
                                        {% if contest is not None %}
                                            <div class="form-group">
                                                <div id="image-cont" class="image-cont">
                                                    {% for contest_file in contest_file_list %}
                                                        <div id="image-card-{{ contest_file.contest_file_id }}"
                                                             class="image-card">
                                                            <!-- 취소 버튼, 취소를 누를 시 image-card 컨테이너가 통채로 사라짐. -->
                                                            <button type="button"
                                                                    class="btn btn-danger fa fa-times btn-cancel"
                                                                    onclick="delImg(document.getElementById('image-card-{{ contest_file.contest_file_id }}'))"></button>
                                                            <!-- 이미지 컨테이너 이미지 파일일 경우 img태그가, 이미지 파일이 아닐 경우 파일 모양의 아이콘이 붙음. -->
                                                            <div id="image-{{ contest_file.contest_file_id }}"
                                                                 class="image-container"></div>
                                                            <!--기존 파일링크를 이동시키기 위한 히든 링크 -->
                                                            <input type="hidden"
                                                                   name="exist_file_path_{{ contest_file.contest_file_id }}"
                                                                   value="{{ contest_file.contest_file_path }}"/>
                                                        </div>
                                                        <script>
                                                            // 페이지가 로딩 될 때 해당 함수도 자동으로 실행되도록 설정함. (아이콘 or img 결정)
                                                            onload = decisionIcon(document.getElementById("image-{{ contest_file.contest_file_id }}"), '{{ contest_file.contest_file_path }}');
                                                        </script>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <!--공모전 상세-->
                                    <div class="content-box editor">
                                        <div class="content-header">
                                          <h3 class="title">
                                            공모전 상세설명
                                          </h3>
                                        </div>
                                        <div class="content-body">
                                          <div class="form-group">
                                            <!--공모전 상세 입력란-->
                                            <textarea name="contest_cont" type="text"
                                                      class="jqte-test">{{ contest.contest_cont }}</textarea>
                                          </div>
                                        </div>
                                    </div>
                                {% if contest is not None %}
                                    <input type="hidden" name="contest_no" value="{{ contest.contest_no }}">
                                {% endif %}
                                <!--=====================-->
                                <!--등록하기 버튼, 누르면 게시글 상세보기로-->
                                <!--최초 글작성 시 나오는 버튼-->
                                <div style="display: grid; justify-items: center">
                                    <button class="site-button btn-block button-md" type="submit" style="width: 30%">
                                        {% if contest is None %}
                                            등록하기
                                        {% else %}
                                            수정하기
                                        {% endif %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
    </html>

{% endblock %}
