{% extends "base.html" %}
{% load static %}
{% block content %}
    {% load custom_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_list.css' %}">
    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <a href="{% url 'contest_list' %}">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!-- DB에서 제목 꺼내와야 함 공모전, 강의, 취미-->
                            <h1 class="text-white introduce-letter-spacing_5">{{ board_name }}</h1>
                            <!--부제목-->
                            <!-- DB에서 부제목 꺼내와야 함 공모전, 강의, 취미 -->
                            <p class="m-t20">{{ board_exp }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block min-height-70vh">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <div class="row">
                            <!--========== 왼쪽 검색창 및 네비게이션 시작 ==========-->
                            <div class="col-lg-3 col-xl-3">
                                <div class="sticky-top">
                                    <!-- 게시글 검색창 -->
                                    <!-- 검색 시, 전체 게시판의 게시글들 중 해당 키워드를 포함한 게시글을 모두 끌고옴 -->
                                    <div class="listing-filter-sidebar" style="margin-bottom: 30px">
                                        <div style="margin-bottom: 20px">
                                            <h4 class="title">게시글 검색</h4>
                                            <div class="">
                                                <form role="search" action="{% url 'contest_search' %}" method="get">
                                                    <div class="input-group">
                                                        <input name="keyword" type="text" class="form-control"
                                                               placeholder="검색어를 입력하세요.">
                                                        <span class="input-group-btn">
												            <button type="submit" class="site-button"><i
                                                                    class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 게시판 종류 리스트 -->
                                    <!-- 클릭한 게시판의 게시글을 끌고옴 -->
                                    <div class="listing-filter-sidebar">
                                        <h4 class="title">게시판</h4>
                                        <div class="widget_tag">
                                            <ul class="m-b0">
                                                <li><a href="{% url 'board_view'  board_type_no=5 %}">전체 게시글</a>
                                                    ({{ all_num }}+)
                                                </li>
                                                <li><a href="{% url 'board_view'  board_type_no=1 %}">공지사항</a>
                                                    ({{ notice_num }}+)
                                                </li>
                                                <li><a href="{% url 'board_view'  board_type_no=2 %}">자유게시판</a>
                                                    ({{ free_num }}+)
                                                </li>
                                                <li><a href="{% url 'board_view'  board_type_no=3 %}">질문게시판</a>
                                                    ({{ quest_num }}+)
                                                </li>
                                                <li><a href="{% url 'contest_list' %}">공모전게시판</a>
                                                    ({{ contest_num }}+)
                                                </li>
                                                <li><a href="{% url 'activity' %}">활동게시판</a>
                                                    ({{ activity_num }}+)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--========== 오른쪽 공모전 게시글 리스트 부분 시작 ===========-->
                            <div class="col-lg-10 col-xl-8 p-b30">
                                <div class="row {% if contest_list|length == 0 %}justify-content-center mt-xl-5 mb-lg-5{% endif %}">
                                    {% if contest_list %}
                                        <!--================= 여기부터 게시글 반복시작 =================-->
                                        <!-- 게시글 1 -->

                                        {% for contest in contest_list %}
                                            <div class="col-lg-6">
                                                <div class="listing-bx event-listing m-b10">
                                                    <!-- 게시글 대표 이미지 div -->
                                                    <div class="listing-media">
                                                        <!-- 이미지를 클릭하면, 해당 게시글로 이동함 -->
                                                        <a href="{% url 'contest_detail' contest.contest_no %}">

                                                            <img src="/media/{{ contest.files.all|get_first_img }}"
                                                                 alt="이미지를 표시할 수 없습니다." style="height:484px;"/>
                                                        </a>
                                                    </div>
                                                    <!-- 공모전 내용 간단소개 div -->
                                                    <div class="listing-info" style="height: 110px">
                                                        <!-- 공모전 제목 -->
                                                        <h3 class="title"><a
                                                                href="{% url 'contest_detail' contest.contest_no %}">{{ contest.contest_title|truncatechars:23 }}</a>
                                                        </h3>
                                                        <!-- 공모전 간단소개 -->
                                                        <ul class="event-meta">
                                                            <!-- 마감일 및 모집 상태 -->
                                                            <li class="event-date text-center">
                                                                <!-- 공모전 마감일 -->
                                                                <!-- 마감 월 (영어로 표기됨) -->
                                                                <span class="text-primary">{{ contest.contest_deadline | date:"N" }}</span>
                                                                <!-- 마감일 -->
                                                                <strong>{{ contest.contest_deadline | date:"d" }}</strong>
                                                                <!-- 모집 및 마감 상태 -->
                                                                <!-- 공모전 기간 중에 있으면 모집이라고 뜨고, 공모전 기간이 자나면, 자동으로 마감으로 뜨게 처리 -->
                                                                {% if contest.is_past_due %}
                                                                    <span class="recruiting">모 집</span></li>
                                                                {% else %}
                                                                    <span class="recruiting-end">마 감</span></li>
                                                                {% endif %}
                                                            <!-- 공모전에 대한 간단소개 -->
                                                            <li class="text-cut">
                                                                {{ contest.contest_topic|truncatechars:80 }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="event-bottom">
                                                        <ul>
                                                            <!-- 공모전 기간 -->
                                                            <li class="event-hosted">
                                                                <span class="text-primary mr-3">기간</span>
                                                                <span> {{ contest.contest_start |date:"Y.m.d" }} ~ {{ contest.contest_deadline | date:"Y.m.d" }}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!--================= 여기부터 게시글 반복 끝 =================-->
                                    {% else %}
                                        <tr>
                                            <td colspan="4" style="text-align: center">게시글이 존재하지 않습니다.</td>
                                        </tr>
                                    {% endif %}
                                </div>
                                {% if is_logined and logined_user.user_auth.auth_no == 1 and is_superuser %}
                                    <div class="extra-cell text-right  m-t20">
                                        <!-- 게시글 등록 버튼 -->
                                        <button class="site-button radius-xl m-l10"
                                                onclick="location.href='{% url 'contest_register' %}'">
                                            <i class="fa fa-plus m-r5"></i>게시글 등록
                                        </button>
                                    </div>
                                {% endif %}
                                <!--========== 페이지네이션 시작 ===========-->
                                <!-- 1페이지에 6~8개 게시글 끌고오고, 게시글이 그보다 적으면, 페이지네이션 안보이게 처리 -->
                                {% if contest_list|length != 0 %}
                                    {% include 'pagination.html' with item_list=contest_list %}
                                {% endif %}
                                <!--========== 페이지네이션 끝 ===========-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}