{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/comment.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>

    <div class="page-wraper">

        <div class="page-content bg-white">
            <div class="page-content bg-white">
                <!----------============= 상단 제목 시작 ================----------->
                <!--제목을 감싸는 배경-->
                <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                     style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                    <!-- 상단 제목을 클릭하면, 상위 게시판으로 돌아감 -->
                    <a href="{% url 'contest_list' %}">
                        <div class="container clearfix">
                            <div class="dlab-bnr-inr-entry">
                                <!--제목-->
                                <h1 class="text-white introduce-letter-spacing_5">{{ board_name }}</h1>
                                <!--부제목-->
                                <p class="m-t20">{{ board_exp }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!----------============= 본문 시작 ================----------->
                <div class="section-full content-inner">
                    <div class="container">
                        {% include "messages.html" %}
                        <div class="row" style="justify-content: center">
                            <div class="col-lg-8 col-xl-8 p-b30">
                                <div class="blog-post blog-single">
                                    <!-- 게시글 작성자 및 작성시간을 담는 div -->
                                    <div class="dlab-post-meta m-b20">
                                        <ul class="d-flex align-items-center">
                                            <!-- 게시글 작성자 -->
                                            <li class="post-author"><i class="ti ti-user"></i>By <a
                                                    href="javascript:void(0);">{{ contest.contest_writer.user_name }}</a>
                                            </li>
                                            <!-- 게시글 작성시간 -->
                                            <li class="post-comment"><i class="ti ti-alarm-clock"></i> <a
                                                    href="javascript:void(0);">{{ contest.contest_created }}</a></li>
                                        </ul>
                                    </div>
                                    <!-- 게시글 제목 -->
                                    <div class="dlab-post-title ">
                                        <h2 class="word-break-all post-title m-t0">
                                            <a href="javascript:void(0);">{{ contest.contest_title }}</a>
                                        </h2>
                                    </div>
                                    <!-- 공모전 주체기관 및 공모전 기간을 담는 div -->
                                    <div class="dlab-post-meta m-b20">
                                        <ul class="d-flex align-items-center">
                                            <!-- 공모전 주체기관 -->
                                            <li class="post-author"><i class="ti ti-home"></i><a
                                                    href="javascript:void(0);">{{ contest.contest_asso |truncatechars:18 }}</a></li>
                                            <!-- 공모전 기간 -->
                                            <li class="post-comment"><i class="ti ti-calendar"></i> <a
                                                    href="javascript:void(0);">{{ contest.contest_start|date:"Y-m-d" }}
                                                ~ {{ contest.contest_deadline|date:"Y-m-d" }}</a></li>
                                        </ul>
                                    </div>
                                    <!--============================== 게시글 본문 시작 ==============================-->
                                    <div class="word-break-all dlab-post-text">

                                        <!--공모전 주제-->
                                        <div class="dlab-divider bg-gray-dark" style="margin-bottom: 15px"></div>
                                        <h5 style="text-align: center">공모전 주제</h5>
                                        <div class="dlab-divider bg-gray-dark" style="margin-top: 0px"></div>
                                        <p class="word-break-all font-weight-300"
                                           style="text-align: center">{{ contest.contest_topic }}</p>
                                        <div class="dlab-divider bg-gray-dark"></div>

                                        <!-- 포스터 나오는 곳 img파일은 이곳에 나오도록 -->
                                        {% for image in image_list %}
                                            <img class="img-cover" src="/media/{{ image.file_path }}" alt=""/>
                                        {% endfor %}
                                        <!--공모전 상세내용 나오는 곳-->
                                        <p class="post-context font-weight-400"></p>
                                        {{ contest.contest_cont|safe }}
                                        <p class="font-weight-300"></p>

                                        <!-- 첨부된 파일 불러오는 곳 -->
                                        <!-- download 쪽에 파일 경로 설정 -->
                                        {% if file_list %}
                                            <div class="download-box">
                                                {% for file in file_list %}
                                                    <!-- 첨부파일 1 -->
                                                     <i class="fa fa-download m-r15 "></i>
                                                    <a class="line2" href="#"
                                                       download="{{ file.file_path }}">{{ file.file_name }}</a>
                                                    <!-- 파일 간 구분선 -->
                                                    {% if forloop.revcounter0 > 0 %}
                                                        <div class="dlab-divider tb10 bg-gray-dark"></div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}


                                    </div>
                                    <!-- 게시글 삭제 및 수정 div -->
                                    <div class="extra-cell text-right">

                                        <!-- 게시글 수정 버튼 -->
                                        <!-- 관련자만 보이게 처리 -->
                                        {% if logined_user.user_stu == contest.contest_writer.user_stu %}
                                            <button class="site-button radius-xl m-l10"
                                                    onclick="location.href='{% url 'contest_update' contest.contest_no %}'">
                                                <i
                                                        class="fa fa-pencil m-r5"></i>게시글 수정
                                            </button>

                                        {% endif %}
                                        <!-- 게시글 삭제 버튼 -->
                                        <!-- 관련자만 보이게 처리 -->
                                        {% if logined_user.user_auth.auth_no <= 3 and logined_user.user_stu == contest.contest_writer.user_stu %}
                                            <button class="site-button red radius-xl m-l10"
                                                    onclick="goPage('{% url 'contest_delete' contest.contest_no %}', true, '게시글은 삭제가 되면 복구가 불가능합니다.\n정말 삭제하시겠습니까?')">
                                                <i class="fa fa-trash m-r5"></i>게시글 삭제
                                            </button>

                                        {% endif %}
                                    </div>

                                </div>

                                <!--==================== 댓글부분 시작 ====================-->
                                <div id="CommentList"></div>
                                <!--==================== 댓글부분 끝 ====================-->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
<!-- django 렌더링 끝나고 나서 vue.js 렌더링 -->
<script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
<script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
<!-- django 렌더링 끝나고 나서 vue.js 렌더링 -->
{% endblock %}
