/*================================== bank support 관련 css ==================================*/
/*승인완료 상태 스타일*/
.bank_pass {
    color: #408558;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/*승인거절 상태 스타일*/
.bank_nopass {
    color: #cb444a;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/*승인대기 상태 스타일*/
.bank_yet {
    color: #6e757c;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/*지급완료 상태 스타일*/
.bank_done {
    color: #316cf4;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/*================================== bank 관련 css ==================================*/
/*flex로 만들어 주기 위함임*/
/*사용된 곳: 연도 선택하는 div쪽, */
.bank-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*표 안 input의 스타일을 설정해주기 위함*/
/*사용된 곳: 테이블 안 input*/
.bank-input-con {
    border: none;
    background-color: inherit;
    width: 100px;
    text-align: center;

}

/* input 활성화 되었을 때 스타일을 설정해주기 위함 */
/*사용된 곳: bank_yejin.js에서 bank_update()에서 사용*/
.bank-input-add {
    border: 1px solid #e7e7ed;
    background-color: white;
    text-align: center;
    width: 170px;
    height: 25px;
    border-radius: 4px;
}

.bank-input-add:focus {
    outline: none;
}

/*쓰인 곳: 모달 시작 div, 모달 배경 부분임. */
.bank-modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

/*밑 마진을 0으로 해주기 위함*/
/*사용된 곳: 연도 h태그 부분*/
.bank-margin-bottom_0 {
    margin-bottom: 0;
}

/*사용된 곳: 회계내역 추가 버튼*/
.bank-btn-add-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
}

/*영수증 이미지 정렬을 위함*/
/*사용된 곳: 영수증 이미지 */
.bank-image-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

/*총액 div 스타일을 위함*/
/*사용된 곳: 총액 */
.bank-total {
    background-color: #4611a7;
    color: white;
    padding: 10px;
    width: 180px;
    border-radius: 30px;
    text-align: center
}

/*================================== 메인화면 관련 css ==================================*/
.ibas_logo {
    margin-top: 170px;
    width: 350px;
    height: 350px;
    -webkit-transition: 0.7s all;
}

.ibas_logo:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.ibas_background {
    width: 100%;
    height: 100%;
}

.height-100-vh {
    height: 100vh;
}

.file-btn {
    width: 100%;
    display: block;
    color: white !important;
    background-color: #4015a0;
    border-radius: 40px;
    margin: 15px auto;
    max-width: 500px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #999;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    height: 35px;
    font-size: 18px;
    padding: 0 10px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 0px solid #ebebeb;
    border-radius: 5px;

}

/*===============예진확인 필요한 것들===============*/
/* 첨부파일 다운로드를 감싸는 박스 */
.download-box {
    border: 2px solid #ecebf5;
    margin: 50px;
    padding: 20px 30px 20px 30px;
}

.line2 { /* 한 줄 자르기 */
    display: inline-block;
    width: 400px;
    height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*=============== 동아리 소개에 사용된 css ===============*/
* {
    scroll-behavior: smooth;
}

/* 쓰인 곳: 동아리 소개 안 카드 부분, 동아리 연혁 안 박스 부분*/
.introduce-box-bg {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 50px;
    border-radius: 6px;
    color: #fff;
    margin: 0 25px;
}

/* 쓰인 곳: 동아리 연혁 안 박스 부분*/
.introduce-history-box {
    width: 1135px;
    height: 430px;
}

/* 쓰인 곳: 동아리 연혁 안 박스 부분*/
.introduce-history-grid {
    display: grid;
    grid-template-columns: 300px 600px 100px;
    max-height: 370px;

    /*    3칸이 그리드로 짜여 있음. 각 칸은 300 100 630 px씩 차지함. */
}

/* 쓰인 곳: 동아리 연혁 안 박스 부분의 내용 설명*/
.introduce-align-items_start {
    display: flex;
    align-items: start;
}

/* 쓰인 곳: 동아리 연혁 안 박스 부분*/
.introduce-overflow_auto {
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
}

.introduce-overflow_auto::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


/* 쓰인 곳: 동아리 연혁 안 박스부분의 내용부분. */
.introduce-border-bottom {
    border-bottom: #8f8f8f solid 1px;
}

/* 쓰인 곳:Contact Us의 내용부분*/
.introduce-contact-flex-container {
    display: flex;
    justify-content: center;
}

/* 쓰인 곳: 동아리 소개부분 카드*/
.introduce-flex-container {
    display: flex;
    justify-content: space-around;
}

/* 쓰인 곳: 동아리 소개부분 카드, Contact Us의 내용부분*/
.introduce-contact-flex-item {
    width: 270px;
    margin: 0 20px
}

/* 쓰인 곳: 운영진 소개의 회장, 부회장, 회장단 카드부분*/
.introduce-height_380 {
    max-height: 380px;
    min-height: 380px;
}

/* 쓰인 곳: 동아리 소개의 네비게이션 최 상단 div, 동아리 소개 최상위 div */
.introduce-display_inline-block {
    display: inline-block;
}

/* 쓰인 곳: Contact Us의 구글맵 부분*/
.introduce-google-map {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid #e1e6eb;
    margin: 0 35px;
}

/* 쓰인 곳 : Contact Us 구글맵// 수정해야함. */
.introduce-google-map-size {
    width: 900px;
    height: 420px;
}


/* 쓰인 곳 : contact us 이메일과 연락처 부분*/
.introduce-font-size_15 {
    font-size: 15pt;
}

/* 쓰인 곳 : 연혁박스 안 내용 시작부분*/
.introduce-history-box-flex {
    display: flex;
    flex-direction: column;

}

/* 쓰인 곳: 연혁 수정 날짜 부분*/
.introduce-update-input-date {
    background-color: inherit;
    border: none;
    width: 100px;
    padding: 0;
    height: auto;
    outline: none;
}

/* 쓰인 곳: 연혁 수정 내용 부분*/
.introduce-update-input-txt {
    background-color: inherit;
    border: none;
    width: 500px;
    padding: 0;
    height: auto;
    resize: none;
    outline: none;
}

/* 쓰인 곳: 동아리 연혁 추가하기 버튼*/
.introduce-color-btn {
    border: #091069 solid;
    width: 180px;
    background-color: #091069;
    border-radius: 3px;
    color: white;
}

/*///////////////////////////////////////////////////////////*/
/*모달*/
/*쓰인 곳: 모달 시작 div, 모달 배경 부분임. */
.introduce-modal-bg {
    position: fixed;;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: auto;;
}

/* 쓰인 곳: 모달 배경div 밑, (실질적 모달부분)*/
.introduce-modal {
    border-radius: 5px;
    background-color: white;
    width: 450px;
    height: 270px;
    opacity: 1;
    display: block;
    align-items: start;
    justify-content: center;
    /*display: none;*/

}

/* 쓰인 곳: 모달 날짜 내용 input 감싸는 div*/
.introduce-li-flex {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* 쓰인 곳: 모달 날짜 input*/
.introduce-border_none {
    border: none;
}

/* 쓰인 곳: 동아리 소개, 회장단 소개, 동아리 연혁, Contact Us*/
.introduce-for-del-margin {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 쓰인 곳: 동아리 소개 card */
.introduce-card {
    width: 340px;
    height: 520px;
}

/* 쓰인 곳: 동아리 소개 card 사진*/
.introduce-card-pic {
    background-color: white;
    height: 290px
}

/*=============== 마이인포에 사용된 css ===============*/
.my_info_modal_content {
    font-size: 13px;
    font-style: italic;
}

/*여기서부터 회원관리 부분 체크박스부분 스타일임. */
input[type="checkbox"]:checked + label:before {
    border-color: #4611a7;
    border-width: 2px;
}

input[type=checkbox] + label:before {
    background-color: #ffffff;
    border: 2px solid #b6b7b8;
    border-radius: 0;
    content: "";
    display: inline-block;
    height: 16px;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 16px;
}

input[type=checkbox]:checked + label:after {
    font-size: 10px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

input[type=checkbox] + label:after {
    color: #4611a7;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 0px;
    -webkit-font-smoothing: antialiased;
    left: 6px;
    position: absolute;
    top: 7px;
    transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    width: 14px;
    text-align: center;
}

/*여기서까지 회원관리 부분 체크박스부분 스타일임. */

/*회원관리 select 부분 스타일 적용을 위함 */
.my_info_mem_select {
    display: inline-block;
    width: 110px;
}

/*회원관리 적용 버튼 스타일 적용을 위함 */
.my_info_mem_btn {
    display: inline-block;
    margin-left: 15px;

}

/* 내가쓴 게시글을 담는 패딩 */
.myinfo-table-padding {
    padding: 15px 20px 0px 20px;
}

/*=============== 회원관리에 사용된 css ===============*/
/*완료 상태 스타일*/
.staff-fin {
    color: #408558;
    text-align: center;
    font-style: italic;
}

/*진행중 상태 스타일*/
.staff-ing {
    color: #cb444a;
    text-align: center;
    font-style: italic;
}

/*============================================================================*/


/*여기서부터 회원관리 부분 체크박스부분 스타일임. */
input[type="checkbox"]:checked + label:before {
    border-color: #4611a7;
    border-width: 2px;
}

input[type=checkbox] + label:before {
    background-color: #ffffff;
    border: 2px solid #b6b7b8;
    border-radius: 0;
    content: "";
    display: inline-block;
    height: 16px;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 16px;
}

input[type=checkbox]:checked + label:after {
    font-size: 10px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

input[type=checkbox] + label:after {
    color: #4611a7;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 0px;
    -webkit-font-smoothing: antialiased;
    left: 6px;
    position: absolute;
    top: 7px;
    transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    width: 14px;
    text-align: center;
}

/*여기서까지 회원관리 부분 체크박스부분 스타일임. */

/*회원관리 select 부분 스타일 적용을 위함 */
.staff_mem_select {
    display: inline-block;
    width: 110px;
}

/*회원관리 적용 버튼 스타일 적용을 위함 */
.staff_mem_btn {
    display: inline-block;
    margin-left: 15px;

}

/*회원관리 체크박스 가운데 정렬을 위함*/
.staff_label_margin {
    margin-top: 13px;
}

/*=============== lectureRoom에 사용된 css ===============*/
/*수강생관리 상태(수강중)의 폰트 색과 두께 설정을 위함*/
.lectRoom_state_ing_font {
    color: #408558;
    font-weight: bolder
}

/*수강생관리 상태(수강정지)의 폰트 색과 두께 설정을 위함*/
.lectRoom_state_stop_font {
    color: #cb444a;
    font-weight: bolder;
    font-style: italic;
}

/*출결 관리 주차에 대한 폰트 설정을 위함*/
.lectRoom_week {
    /*display: inline-block;*/
    vertical-align: middle !important;
    text-align: center;
    border-right: 1px solid #dee2e6
}

.lectRoom_padding_6_0 {
    padding: 6px 0;
}

.mt-7 {
    margin-top: 7px;
}


/*테이블 헤드에 있는 필터 css 적용을 위한 것.*/
.lectRoom_select .dropdown-toggle {
    border: none !important;
    background-color: #fff !important;
    height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/*테이블 헤드에 있는 필터 css 적용을 위한 것.*/
.lectRoom_select:focus .dropdown-togglefocus:focus {
    border: none !important;
    background-color: #fff !important;
    height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/*테이블 헤드에 있는 필터 css 적용을 위한 것.*/
.lectRoom_select::before .dropdown-toggle::before {
    border: none !important;
    background-color: #fff !important;
    height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/*테이블 헤드에 있는 필터 css 적용을 위한 것.*/
.lectRoom_select::after .dropdown-toggle::after {
    border: none !important;
    background-color: #fff !important;
    height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: bold;

}

/*테이블 헤드에 있는 필터 css 적용을 위한 것.*/
.lectRoom_select:hover .dropdown-toggle:hover {
    border: none !important;
    background-color: #fff !important;
    height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/*테이블 헤드에 있는 필터 css 적용을 위한 것.*/
.lectRoom_select::selection .dropdown-toggle::selection {
    border: none !important;
    background-color: #fff !important;
    height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/* introduce.html bigdata 소개부분의 아이콘 위에 마우스 올리면 커서 모양 바뀌게 하기 위한 것*/
.introduce-pointer{
    cursor: pointer;
}

/* introduce.html bigdata 소개부분의 설명부분 가리기 위한 것*/
.introduce-tab-hidden {
    margin-top: 0 !important;
    /*visibility: hidden;*/
    display: none;
    width: 1px; !important;
    height: 1px;
    opacity: 0;
}
/* introduce.html bigdata 소개부분의 설명부분 나타나게 하기 위한 것*/
.introduce-tab-appear {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    margin-top: 0 !important;
    /*visibility: visible;*/
    display: block;
}
/* introduce.html bigdata 소개부분의 설명부분 사라지게 하기 위한 것*/
.introduce-tab-disappear {
    animation: fade-out 0.3s;
    animation-fill-mode: forwards;
    margin-top: 0 !important;
    /*width: 1px;*/
    /*height: 1px;*/
}

/* introduce-tab-appear 부분 fade-in 설정*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* introduce-tab-disappear 부분 fade-out 설정*/
@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
  }
}

.introduce-hover {
    background-color: rgba(0,0,0,0.08) !important;
    border-radius: 500px;
}

.introduce-hover:hover {
    background-color: rgba(0,0,0,0.25) !important;
    border-radius: 500px;
}

.introduce-v4:hover {
    font-size: 60pt !important;
    color: white !important;
}

/* 명예의 전당 자기소개 박스 꼬리 하얗게 설정하기 위함*/
.listing-nav li a.active, .center .testimonial-2.testimonial-bg .testimonial-text:after {
     border-top-color: white; !important;
}

.honor-card {
    height: 300px;
    min-height: 250px;
    background-color: white !important;
    color: #3a3a3a !important;
    /*overflow: auto;*/
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.honor-card::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}