/*============== 동아리 소개에 쓰인 미디어쿼리  ==============*/
/*모바일로 볼 때를 위한 미디어쿼리*/
@media (min-width: 481px) and (max-width: 767px) {
    /*동아리 소개 부분은 플랙스로, 디렉션을 컬럼으로 한다. */
    .introduce-flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    /* 네비게이션 바는 안보이게*/
    .introduce-nav-bar{
        display: none;
    }
    /*동아리 소개 부분 카드 마진을 줘서 간격을 벌린다.*/
    .introduce-card {
        margin-bottom: 20px;
    }
    /*회장단 소개는 안보이게*/
    #introduce_cm {
        display: none;
    }
    /*동아리 연혁 부분 박스 사이즈를 줄이기 위해*/
    .introduce-history-grid {
        display: grid;
        grid-template-columns: 150px 300px 50px;
        max-height: 370px;
    }
    /*동아리 연혁 부분 박스 사이즈를 줄이기 위해*/
    .introduce-history-box {
    width: 500px;
    height: 430px;
    }

}

@media (max-width: 1000px) {
    .media-logo{
        width: 70%;
        height: auto;
    }

    .footer-media{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: column;

    }

    .media-footer-bg{
        width: 100%;
        height: auto;
        background-size: cover;

    }

    .media-ft-flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;

    }

    .media-dvl-name{
        min-width: auto;
    }

    .cont-grid{
        min-width: auto;
    }

    .media-tb-mg30{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .media-r-mg0{
        margin-right: 0px;
    }

    .media-line-ft{
        background-color: white;
        height: 1px;
        width: 80%;
        opacity: 50%;
        margin-bottom: 20px;

    }

    .dis-none-media{
        display: none;
    }

    .media-auto-w{
        width: auto;
    }

    .media-pl10{
        padding-left: 10px;
    }

    .width-390{
        width: auto;
    }



}

@media (min-width: 1001px) {
    .dis-none{
        display: none;
    }

    .width-390{
        width: 390px;
    }

}


