.width-30{
    width: 30px;
}

.width-50{
    width: 50px;
}

.width-65{
    width: 65px;
}

.width-70{
    width: 70px;
}

.width-90{
    width: 90px;
}

.width-100{
    width: 100px;
}

.width-120{
    width: 120px;
}

.width-130{
    width: 130px;
}

.width-150{
    width: 150px;
}

.width-170{
    width: 170px;
}

.width-200{
    width: 200px;
}

.width-230{
    width: 230px;
}

.width-310{
    width: 310px;
}

.width-360{
    width: 360px;
}

.width-400{
    width: 400px;
}

.height-30{
    height: 30px;
}

.width-430{
    width: 430px;
}

.width-870{
    width: 870px;
}

.height-200{
    height: 200px;
}

.height-350{
    height: 350px;
}
.max-min-width-height-100{
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
}

.min-width-30 {
    min-width: 30px;
}

.min-width-50 {
    min-width: 50px;
}

.min-width-65 {
    min-width: 65px;
}

.min-width-70{
    min-width: 70px;
}

.min-width-90 {
    min-width: 90px;
}

.min-width-100{
    min-width: 100px;
}

.min-width-120{
    min-width: 120px;
}

.min-width-150 {
    min-width: 150px;
}

.min-width-170 {
    min-width: 170px;
}

.min-width-200 {
    min-width: 200px;
}

.min-width-310{
    min-width: 310px;
}

