.width-30{
    width: 30px;
}
.width-50{
    width: 50px;
}

.width-70{
    width: 70px;
}

.width-100{
    width: 100px;
}

.width-120{
    width: 120px;
}

.width-150{
    width: 150px;
}

.width-170{
    width: 170px;
}

.width-200{
    width: 200px;
}

.width-230{
    width: 230px;
}

.width-360{
    width: 360px;
}

.width-400{
    width: 400px;
}

.width-870{
    width: 870px;
}

.height-30{
    height: 30px;
}

.height-200{
    height: 200px;
}

.height-350{
    height: 350px;
}
.max-min-width-height-100{
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
}