.width-30{
    width: 30px;
}

.width-40 {
    width: 40px;
}

.width-42 {
    width: 42px;
}

.width-47 {
    width: 47px;
}

.width-50{
    width: 50px;
}

.width-65 {
    width: 65px;
}

.width-70 {
    width: 70px;
}

.width-80 {
    width: 80px;
}

.width-90 {
    width: 90px;
}

.width-100 {
    width: 100px;
}

.width-120 {
    width: 120px;
}

.width-130 {
    width: 130px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.width-170 {
    width: 170px;
}

.width-200 {
    width: 200px;
}

.width-230 {
    width: 230px;
}

.width-250 {
    width: 250px;
}

.width-310 {
    width: 310px;
}

.width-360 {
    width: 360px;
}

.width-400 {
    width: 400px;
}

.width-430 {
    width: 430px;
}

.width-500 {
    width: 500px;
}

.width-620 {
    width: 620px;
}

.width-870 {
    width: 870px;
}

.width-25vw {
    width: 25vw;
}

.height-25 {
    height: 25px;
}

.height-30 {
    height: 30px;
}

.height-50 {
    height: 50px;
}

.height-100 {
    height: 100px;
}

.height-200 {
    height: 200px;
}

.height-350 {
    height: 350px;
}

.height-50vh {
    height: 50vh;
}

.height-70vh {
    height: 70vh;
}

.min-height-70vh {
    min-height: 70vh;
}


.max-min-min-height-35 {
    max-height: 35px;
    min-height: 35px;
    max-width: 35px;
    min-width: 35px;
}

.max-min-min-height-50 {
    max-height: 50px;
    min-height: 50px;
    max-width: 50px;
    min-width: 50px;
}

.max-min-width-height-80 {
    max-height: 80px;
    min-height: 80px;
    max-width: 80px;
    min-width: 80px;
}


.max-min-width-height-100 {
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
}

.max-min-width-700 {
    max-width: 700px;
    min-width: 700px;
}

.min-width-30 {
    min-width: 30px;
}

.min-width-35 {
    min-width: 35px;
}

.min-width-40 {
    min-width: 40px;
}

.min-width-42 {
    min-width: 42px;
}

.min-width-47 {
    min-width: 47px;
}

.min-width-50 {
    min-width: 50px;
}

.min-width-65 {
    min-width: 65px;
}

.min-width-70 {
    min-width: 70px;
}

.min-width-75 {
    min-width: 75px;
}

.min-width-80 {
    min-width: 80px;
}

.min-width-90 {
    min-width: 90px;
}

.min-width-100 {
    min-width: 100px;
}

.min-width-120 {
    min-width: 120px;
}

.min-width-130 {
    min-width: 130px;
}

.min-width-150 {
    min-width: 150px;
}

.min-width-170 {
    min-width: 170px;
}

.min-width-200 {
    min-width: 200px;
}

.min-width-230 {
    min-width: 230px;
}

.min-width-310{
    min-width: 310px;
}

.min-width-400 {
    min-width: 400px;
}

.min-height-35{
    min-height: 35px;
}

.min-height-150 {
    min-height: 150px;
}
