.width-50{
    width: 50px;
}

.width-70{
    width: 70px;
}

.width-100{
    width: 100px;
}

.width-150{
    width: 150px;
}

.width-170{
    width: 170px;
}

.width-230{
    width: 230px;
}

.width-360{
    width: 360px;
}

.width-400{
    width: 400px;
}

.height-200{
    height: 200px;
}

.height-350{
    height: 350px;
}