.bank_pass{
    color:#408558;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.bank_nopass{
    color:#cb444a;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.bank_yet{
    color:#6e757c;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}