/*승인완료 상태 스타일*/
.bank_pass{
    color:#408558;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/*승인거절 상태 스타일*/
.bank_nopass{
    color:#cb444a;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/*승인대기 상태 스타일*/
.bank_yet{
    color:#6e757c;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/*지급완료 상태 스타일*/
.bank_done{
    color:#316cf4;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}