/*네이버 로고를 위해, 구글에서 불러오는 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

/*네이버 로고를 대체하여 사용할 폰트*/
.naver-logo {
    font-family: "Archivo Black", sans-serif;
}

/*하얀색 박스 내부에서 로고 및 로그인 버튼을 가운데 정렬하기 위함*/
.login-form2 {
    z-index: 99;
    padding: 0 45px 0 45px;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*로그인 버튼쪽 구분선*/
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

/*로고 위치 및 크기*/
.logo-position {
    background-color: blueviolet;
    color: aliceblue;
    height: 150px;
    bottom: 55px;
    position: relative;
}

/*하단 카피라이트 글자 색상, 크기, 위치*/
.copyright {
    color: rgba(0, 0, 0, 0.35);
    top: 120pt;
    position: relative;
    font-size: 9pt;
    text-align: center;
}

/* 컨테이너를 flex로 변경*/
.container-flex {
    display: flex;
    height: 100vh;
    flex-wrap: nowrap;
}

/* flex 컨테이너 아이템 */
.item_flex_lgn {
    /* 무슨일이 있더라도 width를 고정시키기 */
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 100vh;
}

.item_flex_bg {
    flex: 1
}

.container-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}

