/*페이지 전체 보기(마진과 패딩 없이 꽉 차게)*/
.page-size {
    margin-top: 0;
    padding-bottom: 0;
}

/* welcome 페이지의 내용을 담을 테이블 */
.welcome-caption {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* welcome 페이지 내용을 담는 셀 */
.caption-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*페이지 내 타이틀*/
.welcome-title {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 90px;
    margin-top: 30px;
    margin-bottom: 55px;
    color: white;
    min-width: 100%;
}

/*페이지 내 컨텐츠*/
.welcome-content {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    color: white;
}

/*메인 홈페이지로 돌아가기 버튼 관련*/
/*메인 페이지 돌아가기 투명 버튼*/
.btn.btn-border-w {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: #fff;
}
/*버튼에 마우스 올릴 때 하얀색으로 채워지는 효과*/
.btn.btn-border-w:hover,
.btn.btn-border-w:focus {
    background: #fff;
    border-color: transparent;
    color: #111;
}
/*버튼모양 둥글게*/
.btn.btn-round {
    border-radius: 2px;
}