{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우리의 빛 용식</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div class="card" style="width: 18rem;">
    <img src="{% static 'img/lightJo.png' %}" class="card-img-top" alt="...">
    <div class="card-body"0>
        <h5 class="card-title">그저 빛 용식의 발자취..</h5>
        <p class="card-text">sik.97 그럭저럭 지내는중 <b>#학식일기</b></p>
        <a href="#" class="btn btn-primary" onclick="location.href='https://www.instagram.com/sik.97/'">용식이를 더 보고
            싶다면?</a>
    </div>

</div>
</body>
</html>
