{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <script src="{% static 'js/ibas_centents.js' %}"></script>

    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <!-- (ex.자유게시판의 '용식이의 학식일기'글의 상세 페이지에서 상위 제목을 클릭하면, 자유게시판으로 이동) -->
                <a href="{% url 'member_delete_list' %}">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">제명 안건 게시판</h1>
                            <!--부제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <p class="m-t20">제명 안건과 관련한 게시판입니다.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">

                        <div class="listing-filter m-b40" style="border: none; padding: 0;">
                            <div class="d-flex">
                                <div>
                                    <ul class="filter m-b0">
                                        <li>
                                            <select id="staff-select" onchange="staff_select()">
                                                <option>선택</option>
                                                {% for user_delete_state in user_delete_state_list %}
                                                    <option>{{ user_delete_state.state_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!--========== 게시글 리스트 부분 시작 ===========-->

                        <!-- 게시글을 담는 테이블 -->
                        <table class="table table-hover">
                            <!-- 테이블의 제목(1행) -->
                            <thead>
                            <tr id="staff-del-list-head">
                                <th scope="col" style="width: 100px; text-align: center">no.</th>
                                <th scope="col" style="width: 500px; text-align: center">제목</th>
                                <th scope="col" style="width: 150px; text-align: center">작성자</th>
                                <th scope="col" style="text-align: center">작성일</th>
                                <th scope="col" style="width: 150px; text-align: center">상태</th>
                            </tr>
                            </thead>
                            <!-- 끌고오는 게시글 파트 -->
                            <tbody>
                            <!-- 게시글 1 -->
                            {% if user_delete_list|length == 0 %}
                                <td colspan="5" style="text-align: center">진행 중인 제명 안건이 없습니다.</td>
                            {% else %}
                                {% for user_delete in user_delete_list %}
                                    <tr class="staff-del-list-tr">
                                        <!-- 게시글 번호 -->
                                        <th scope="row" style="text-align: center">{{ forloop.counter }}</th>
                                        <!-- 게시글 제목 -->
                                        <td>
                                            <a href="{% url 'member_delete_detail' user_delete_no=user_delete.user_delete_no %}">{{ user_delete.user_delete_title }}</a>
                                        </td>
                                        <!-- 게시글 작성자 -->
                                        <td style="text-align: center">{{ user_delete.suggest_user.user_name }}</td>
                                        <!-- 게시글 작성일자 -->
                                        <td style="text-align: center">{{ user_delete.user_delete_created |date:"Y-m-d" }}</td>
                                        <!-- 상태 : 진행중 -->
                                        <!-- 진행중은 staff-ing를 적용시켜야 함.  -->
                                        <td class="{% if user_delete.user_delete_state.state_no == 1 %}staff-ing{% else %}staff_fin{% endif %}">{{ user_delete.user_delete_state.state_name }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>

                        <!--========== 페이지네이션 시작 ===========-->
                        <!-- 1페이지에 15개 게시글 끌고오고, 게시글이 그보다 적으면, 페이지네이션 안보이게 처리 -->
                        {% if user_delete_list|length != 0 %}
                            {% include 'pagination.html' with item_list=user_delete_list %}
                        {% endif %}
                        <!--========== 페이지네이션 끝 ===========-->

                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}