{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <script src="{% static 'js/ibas_centents.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/comment.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <script>
        function selectAoR() {
            itemidSelect = document.getElementById('select-aor');
            document.getElementById("input-aor").value = itemidSelect.options[itemidSelect.selectedIndex].value;
        }

        function decideChk(obj, user_stu) {
            if (obj.checked === true) {
                document.getElementById('new-user-check-' + user_stu).checked = true;
            } else {
                document.getElementById('new-user-check-' + user_stu).checked = false;
            }
        }

        function submitForm(id) {
            const loadingObj = document.createElement("div");
            loadingObj.id = "loading-area"
            document.body.appendChild(loadingObj)
            document.getElementById(id).submit();
        }
    </script>

    <style>
        /* 페이지네이션 클릭 시 색 관련 css*/
        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #4611a7;
            border-color: #4611a7;
        }

    </style>


    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <a>
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">회원관리 게시판</h1>
                            <!--부제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <p class="m-t20">회원 관리를 할 수 있는 게시판입니다. </p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <!--회원관리-->
                        {% if logined_user.user_role.role_no != 4 %}
                            <div class="content-box">
                                <!-- 제목 div -->
                                <div class="content-header">
                                    <h3 class="title"><i class="la la-users m-r5"></i>신입부원 관리&nbsp;
                                        <span class="font-12 text-red">({{ new_user_len }})</span></h3>
                                </div>
                                <!-- 신입부원 관리 콘텐츠 시작 -->
                                <div class="content-body">
                                    <div class="myinfo-table-padding">
                                        <!-- 신입부원 관리 테이블 시작 -->
                                        <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                        <div class="staff_mem_select m-b20">
                                            <!-- onchange 는 필터. staff.js 에 정의되어 있음. -->
                                            <select id="staff_select_grade" name=""
                                                    onchange="staff_grade()">
                                                <option selected="selected">학년
                                                </option>
                                                {% for grade in grade_list %}
                                                    <option>{{ grade }}학년</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                        <div class="staff_mem_select m-b20">
                                            <select id="select-aor" onchange="selectAoR()">
                                                <option selected="selected" disabled="disabled">승인 여부
                                                </option>
                                                <option value="1">합격</option>
                                                <option value="2">불합격</option>
                                            </select>
                                        </div>
                                        <!-- staff_mem_btn는 staff_cr.css에 정의되어 있음.  -->
                                        <div class="staff_mem_btn m-b20 listing-info-right">
                                            <!-- &nbsp;는 띄어쓰기 -->
                                            <button class="site-button" type="button"
                                                    onclick="submitForm('hd-form-members-aor')">
                                                <i
                                                        class="la la-check m-r5"
                                                        style="font-weight: bold"
                                                ></i>&nbsp;적용
                                            </button>
                                        </div>
                                        <form id="hd-form-members-aor" action="{% url 'members_aor' %}"
                                              method="post" style="display: none">
                                            {% csrf_token %}
                                            {% for new_user in new_user_list %}
                                                <input id="new-user-check-{{ new_user.user_stu }}"
                                                       type="checkbox" name="user_stu_list[]"
                                                       value="{{ new_user.user_stu }}"
                                                       style="display: none"/>
                                            {% endfor %}
                                            <input id="input-aor" type="hidden" name="aor" value="0"/>
                                        </form>
                                        <table class="table">
                                            <thead>
                                            <!-- 테이블 1행: 제목 -->
                                            <tr id="staff_new_head">
                                                <!-- staff_width는 staff_cr.css에 정의되어 있음.  -->
                                                <th class="border-top-0 width-50 min-width-50"
                                                    scope="col"></th>
                                                <th class="border-top-0 width-50 min-width-50"
                                                    scope="col"></th>
                                                <th class="border-top-0 width-100 min-width-100 text-center"
                                                    scope="col">이름
                                                </th>
                                                <th class="border-top-0 width-70 min-width-70 text-center"
                                                    scope="col">학년
                                                </th>
                                                <th class="border-top-0 width-150 min-width-150 text-center"
                                                    scope="col">학번
                                                </th>
                                                <th class="border-top-0 width-170 min-width-170 text-center"
                                                    scope="col">전화번호
                                                </th>
                                                <th class="border-top-0 width-310 min-width-310"
                                                    scope="col">학과
                                                </th>
                                                <th class="border-top-0 text-center" scope="col">지원서 보기</th>
                                            </tr>
                                            </thead>
                                            <!-- 신입부원 관리 테이블 내용 시작 -->
                                            <tbody>
                                            <!-- =========================== 여기부터 복붙 ============================== -->
                                            {% if new_user_len == 0 %}
                                                <tr>
                                                    <td colspan="8" style="text-align: center"> 입부 신청 대기중인
                                                        회원이
                                                        없습니다.
                                                    </td>
                                                </tr>
                                            {% endif %}

                                            {% for new_user in new_user_list %}
                                                <tr class="staff_new_tr">
                                                    <td scope="row">

                                                        {% csrf_token %}
                                                        <div class="input-block">
                                                            <input id="check_{{ new_user.user_stu }}"
                                                                   type="checkbox"
                                                                   onclick="decideChk(this,'{{ new_user.user_stu }}')">
                                                            <!-- staff_label_margin는 staff_cr.css에 정의되어 있음.  -->
                                                            <label for="check_{{ new_user.user_stu }}"
                                                                   class="staff_label_margin"></label>
                                                        </div>

                                                    </td>
                                                    <th class="text-center">{{ forloop.counter }}</th>
                                                    <!-- 회원 이름 -->
                                                    <td class="text-center">{{ new_user.user_name }}</td>
                                                    <!-- 회원 학년 -->
                                                    <td class="mem_grade text-center">
                                                        {% if new_user.user_grade != 5 %}{{ new_user.user_grade }}학년{% else %}교수{% endif %}</td>
                                                    <!-- 회원 학번 -->
                                                    <td class="text-center">{{ new_user.user_stu }}</td>
                                                    <!-- 회원 전화번호 -->
                                                    <td class="text-center">{{ new_user.user_phone }}</td>
                                                    <!-- 회원 학과 -->
                                                    <td>{{ new_user.user_major.major_name }}</td>
                                                    <!-- 지원서보기 -->
                                                    <td class="text-center">
                                                        <a href="#"
                                                           onclick="submitForm('new_user_application_{{ new_user.user_stu }}')">
                                                            지원서보기 ▶
                                                        </a>
                                                        <form id="new_user_application_{{ new_user.user_stu }}"
                                                              action="{% url 'member_applications' %}"
                                                              method="post"
                                                              style="display: none">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="user_stu"
                                                                   value="{{ new_user.user_stu }}">
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% if new_user_list|length != 0 %}
                                            <!--페이지네이션-->
                                            <div style="display: flex; justify-content: center; align-items: center">
                                                <nav aria-label="Page navigation example">
                                                    <!-- staff_margin_bottom_0는 staff_cr.css에 정의되어 있음.  -->
                                                    <ul class="pagination m-b0">
                                                        {% if new_user_list.has_previous %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?new_user_page=1"
                                                                   aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?new_user_page={{ new_user_list.previous_page_number }}">
                                                                    {{ new_user_list.previous_page_number }}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                        <li class="page-item active"><a class="page-link"
                                                                                        href="#">{{ new_user_list.number }}</a>
                                                        </li>
                                                        {% if new_user_list.has_next %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?new_user_page={{ new_user_list.next_page_number }}">
                                                                {{ new_user_list.next_page_number }}
                                                            </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?new_user_page={{ new_user_list.paginator.num_pages }}"
                                                                   aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
                                        {% endif %}
                                        <!--페이지네이션 끝-->
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if logined_user.user_role.role_no <= 4 %}
                            <!-- 회원 관리 콘텐츠 시작 -->
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title"><i class="la la-tasks m-r5"></i>동아리원 현황&nbsp;
                                        <span class="font-12 text-red">({{ exist_user_len }})</span></h3></h3>
                                </div>
                                <!-- 동아리원현황 관리 콘텐츠 시작 -->
                                <form action="{% url 'staff_member_update' %}" method="post">
                                    {% csrf_token %}
                                    <div class="content-body">
                                        <!-- 내가 작성한 댓글 내용 담는 div -->
                                        <div class="myinfo-table-padding">
                                            {# 권한: 활동회원, 비활동, 미승인#}
                                            {# 역할: 회장, 부회장, 총무, 기획팀, 운영팀(회장단), 교수, 일반회원#}

                                            <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                            {% if logined_user.user_role.role_no == 4 %}
                                                <div class="staff_mem_select m-b20">
                                                    <select name="user_auth">
                                                        <option selected="selected" disabled="disabled">권한
                                                            부여
                                                        </option>
                                                        {% for auth in auth_list %}
                                                            <option name="user_auth"
                                                                    value="{{ auth.auth_no }}">{{ auth.auth_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% endif %}
                                            <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                            {% if logined_user.user_role.role_no <= 2 %}
                                                <div class="staff_mem_select m-b20">
                                                    <select name="user_role">
                                                        <option selected="selected" disabled="disabled">역할
                                                            부여
                                                        </option>
                                                        {% if role_list %}
                                                            {% for role in role_list %}
                                                                <option name="user_role"
                                                                        value="{{ role.role_no }}">{{ role.role_name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>

                                                </div>
                                            {% endif %}
                                            <!-- staff_mem_btn는 staff_cr.css에 정의되어 있음.  -->
                                            {% if logined_user.user_role.role_no <= 2 or logined_user.user_role.role_no == 4 %}
                                                <div class="staff_mem_btn m-b20 listing-info-right">
                                                    <!-- &nbsp;는 띄어쓰기 -->
                                                    <button class="site-button" type="submit"><i
                                                            class="la la-check m-r5"
                                                            style="font-weight: bold"></i>&nbsp;적용
                                                    </button>
                                                </div>
                                            {% endif %}
                                            <!-- 동아리원 관리 테이블 -->
                                            <table class="table">
                                                <!-- 테이블 1행: 제목 -->
                                                <thead>
                                                <tr>
                                                    <!-- staff_width는 staff_cr.css에 정의되어 있음.  -->
                                                    <th class="border-top-0 width-50 min-width-50"></th>
                                                    <th class="border-top-0 width-50 min-width-50"
                                                        scope="col"></th>
                                                    <th class="border-top-0 width-100 min-width-100 text-center"
                                                        scope="col">
                                                        이름
                                                    </th>
                                                    <th class="border-top-0 width-150 min-width-150 text-center"
                                                        scope="col">
                                                        학번
                                                    </th>
                                                    <th class="border-top-0" scope="col">학과</th>
                                                    <th class="border-top-0 width-170 min-width-170 text-center"
                                                        scope="col">
                                                        권한
                                                    </th>
                                                    <th class="border-top-0 width-170 min-width-170 text-center"
                                                        scope="col">
                                                        역할
                                                    </th>
                                                    <th class="border-top-0 width-100 min-width-100"></th>
                                                </tr>
                                                </thead>
                                                <!-- 댓글 내용 테이블 -->
                                                <tbody>
                                                <!-- ===========================여기부터 복붙============================== -->
                                                {% if exist_user_len == 0 %}
                                                    <td colspan="8" style="text-align: center">회원 리스트에 회원이
                                                        존재하지 않습니다.
                                                    </td>
                                                {% endif %}
                                                {% for exist_user in exist_user_list %}
                                                    <tr>
                                                        <td scope="row">
                                                            {% if logined_user.user_role_id != 3 and exist_user.user_role_id != 5 %}
                                                                <div class="input-block">
                                                                    <input id="check_{{ exist_user.user_stu }}"
                                                                           type="checkbox"
                                                                           name="user_stu_list[]"
                                                                           value="{{ exist_user.user_stu }}">
                                                                    <!-- staff_label_margin는 staff_cr.css에 정의되어 있음.  -->
                                                                    <label for="check_{{ exist_user.user_stu }}"
                                                                           class="staff_label_margin"></label>
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <th>{{ forloop.counter }}</th>
                                                        <!-- 회원 이름 -->
                                                        <td class="text-center">{{ exist_user.user_name }}</td>
                                                        <!-- 회원 학번 -->
                                                        <td class="text-center">{{ exist_user.user_stu }}</td>
                                                        <!-- 회원 학과 -->
                                                        <td>{{ exist_user.user_major.major_name }}</td>
                                                        <!-- 권한 상태 -->
                                                        <td class="text-center">
                                                            {{ exist_user.user_auth.auth_name }}
                                                        </td>
                                                        <!-- 역할 상태 -->
                                                        <td class="text-center">
                                                            {{ exist_user.user_role.role_name }}
                                                        </td>
                                                        <!-- 제명건의 -->
                                                        <td class="text-center">
                                                            {% if exist_user.user_role.role_no != 5 %}
                                                                {% if exist_user.is_going_to_delete %}
                                                                    <a class="m-0"
                                                                       href="{% url "member_delete_detail" user_delete_no=exist_user.delete_no %}"
                                                                       style="font-size: 12px; font-weight: bold; color: #dc3545 "
                                                                    >제명진행중</a>
                                                                {% else %}
                                                                    <a href="{% url "member_delete_register" deleted_user=exist_user.user_stu %}"
                                                                       style="font-size: 12px; font-weight: bold">제명건의</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <!--페이지네이션-->
                                            <div style="display: flex; justify-content: center; align-items: center">
                                                <nav aria-label="Page navigation example">
                                                    <!-- staff_margin_bottom_0는 staff_cr.css에 정의되어 있음.  -->
                                                    <ul class="pagination m-b0">
                                                        {% if exist_user_list.has_previous %}
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?exist_user_page=1"
                                                                   aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?exist_user_page={{ exist_user_list.previous_page_number }}">
                                                                    {{ exist_user_list.previous_page_number }}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                        <li class="page-item active"><a class="page-link"
                                                                                        href="#">{{ exist_user_list.number }}</a>
                                                        </li>
                                                        {% if exist_user_list.has_next %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?exist_user_page={{ exist_user_list.next_page_number }}">
                                                                {{ exist_user_list.next_page_number }}
                                                            </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?exist_user_page={{ exist_user_list.paginator.num_pages }}"
                                                                   aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
                                            <!--페이지네이션 끝-->
                                        </div>
                                    </div>
                                </form>
                                </form>
                            </div>
                        {% endif %}

                        <!------------------------------여기서부터 백엔드 작업 시작---------------------------------->
                        {% if logined_user.user_role.role_no <= 2 %}
                            <!-- 요청사항 콘텐츠 시작 -->
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title"><i class="la la-check-square m-r5"></i>이름 변경 요청 리스트</h3>
                                </div>
                                <!-- 요청사항 실질 콘텐츠 시작 -->
                                <!-- form 태그 수정 해야함 -->

                                <div class="content-body">
                                    <div class="myinfo-table-padding">
                                        <form action="{% url 'member_update_name' %}" method="post">
                                            {% csrf_token %}
                                            <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                            <div class="staff_mem_select m-b20">
                                                <select id="select-aor" name="aor">
                                                    <option selected="selected" name="aor" value="0">승인 여부
                                                    </option>
                                                    <option name="aor" value="3">승인</option>
                                                    <option name="aor" value="2">거절</option>
                                                </select>
                                            </div>
                                            <!-- staff_mem_btn는 staff_cr.css에 정의되어 있음.  -->
                                            <div class="staff_mem_btn m-b20 listing-info-right">
                                                <!-- &nbsp;는 띄어쓰기 -->
                                                <button class="site-button" type="submit"><i
                                                        class="la la-check m-r5"
                                                        style="font-weight: bold"
                                                ></i>&nbsp;적용
                                                </button>
                                            </div>

                                            <!-- 내용 테이블 -->
                                            <table class="table">
                                                <!-- 테이블 1행: 제목 -->
                                                <thead>
                                                <tr>
                                                    <!-- staff_width는 staff_yejin.css에 정의되어 있음.  -->
                                                    <th class="border-top-0 width-50 min-width-50"></th>
                                                    <th class="border-top-0 width-50 min-width-50"
                                                        scope="col"></th>
                                                    <th class="border-top-0 width-100 min-width-100 text-center"
                                                        scope="col">
                                                        이름
                                                    </th>
                                                    <th class="border-top-0 width-150 min-width-150 text-center"
                                                        scope="col">
                                                        학번
                                                    </th>
                                                    <th class="border-top-0 width-230 min-width-230"
                                                        scope="col">
                                                        학과
                                                    </th>
                                                    <th class="border-top-0 text-center" scope="col">변경 전
                                                        이름
                                                    </th>
                                                    <th class="border-top-0 text-center" scope="col">변경 후
                                                        이름
                                                    </th>
                                                </tr>
                                                </thead>
                                                <!-- 내용 테이블 -->
                                                <tbody>
                                                <!-- ===========================여기부터 복붙============================== -->
                                                {% if user_update_request_list|length == 0 %}
                                                    <tr>
                                                        <td colspan="8" style="text-align: center">
                                                            승인 대기중인 이름 변경 요청이 없습니다.
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% for user_update_request in user_update_request_list %}
                                                    <tr>
                                                        <td scope="row">
                                                            <div class="input-block">
                                                                <input id="check-{{ forloop.counter }}"
                                                                       type="checkbox"
                                                                       name="user_request_list[]"
                                                                       value="{{ user_update_request.updated_no }}">
                                                                <!-- staff_label_margin는 staff_cr.css에 정의되어 있음.  -->
                                                                <label for="check-{{ forloop.counter }}"
                                                                       class="staff_label_margin"></label>
                                                            </div>
                                                        </td>
                                                        <th>{{ forloop.counter }}</th>
                                                        <!-- 회원 이름 -->
                                                        <td class="text-center">{{ user_update_request.updated_user.user_name }}</td>
                                                        <!-- 회원 학번 -->
                                                        <td class="text-center">{{ user_update_request.updated_user.user_stu }}</td>
                                                        <!-- 회원 학과 -->
                                                        <td>{{ user_update_request.updated_user.user_major.major_name }}</td>
                                                        <!-- 변경 전 이름 -->
                                                        <td class="text-center">
                                                            {{ user_update_request.updated_user.user_name }}
                                                        </td>
                                                        <!-- 변경 신청한 이름 -->
                                                        <td class="text-center">
                                                            {{ user_update_request.updated_user_name }}
                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <!--페이지네이션-->
                                            <div style="display: flex; justify-content: center; align-items: center">
                                                <nav aria-label="Page navigation example">
                                                    <!-- staff_margin_bottom_0는 staff_cr.css에 정의되어 있음.  -->
                                                    <ul class="pagination m-b0">
                                                        {% if user_update_request_list.has_previous %}
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?request_page=1"
                                                                   aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?request_page={{ user_update_request_list.previous_page_number }}">
                                                                    {{ user_update_request_list.previous_page_number }}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                        <li class="page-item active"><a class="page-link"
                                                                                        href="#">{{ user_update_request_list.number }}</a>
                                                        </li>
                                                        {% if user_update_request_list.has_next %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?request_page={{ user_update_request_list.next_page_number }}">
                                                                {{ user_update_request_list.next_page_number }}
                                                            </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                   href="?request_page={{ user_update_request_list.paginator.num_pages }}"
                                                                   aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
                                            <!--페이지네이션 끝-->
                                        </form>
                                    </div>
                                </div>

                            </div>
                        {% endif %}


                        <!-- 제명 콘텐츠 시작 -->
                        <div class="content-box">
                            <div class="content-header d-flex justify-content-between">
                                <h3 class="title"><i class="la la-sign-out m-r5"></i>제명안건 관리</h3>
                                <a href="{% url 'member_delete_list' %}">더보기</a>
                            </div>

                            <!-- 요청사항 실질 콘텐츠 시작 -->

                            {% csrf_token %}
                            <div class="content-body">
                                <div class="myinfo-table-padding">
                                    <!-- 내용 테이블 -->
                                    <table class="table">
                                        <!-- 테이블 1행: 제목 -->
                                        <thead>
                                        <tr>
                                            <!-- staff_width는 staff_yejin.css에 정의되어 있음.  -->
                                            <th class="border-top-0 width-50 min-width-50"
                                                scope="col"></th>
                                            <th class="border-top-0 text-center"
                                                scope="col">
                                                제목
                                            </th>
                                            <th class="border-top-0 width-150 min-width-150 text-center"
                                                scope="col">
                                                제명 대상자
                                            </th>
                                            <th class="border-top-0 width-150 min-width-150 text-center"
                                                scope="col">
                                                안건 발안자
                                            </th>
                                            <th class="border-top-0 width-150 min-width-150 text-center"
                                                scope="col">
                                                안건 발안일
                                            </th>
                                            <th class="border-top-0 width-150 min-width-150 text-center" scope="col">
                                            </th>
                                        </tr>
                                        </thead>
                                        <!-- 내용 테이블 -->
                                        <tbody>
                                        <!-- ===========================여기부터 복붙============================== -->
                                        {% if user_delete_list|length == 0 %}
                                            <tr>
                                                <td colspan="8" style="text-align: center">
                                                    제명 논의 중인 회원이 없습니다.
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for user_delete in user_delete_list %}
                                                <tr>
                                                    <th>{{ forloop.counter }}</th>
                                                    <!-- 회원 제목 -->
                                                    <td class="text-center">{{ user_delete.user_delete_title }}</td>
                                                    <!-- 제명대상 -->
                                                    <td class="text-center">{{ user_delete.deleted_user.user_name }}</td>
                                                    <!-- 안건발안자 -->
                                                    <td class="text-center">{{ user_delete.suggest_user.user_name }}</td>
                                                    <!-- 안건발안일 -->
                                                    <td class="text-center">{{ user_delete.user_delete_created|date:"Y-m-d" }}</td>
                                                    <!-- 제명안건 바로가기 -->
                                                    <td class="text-center">
                                                        <a href="{% url 'member_delete_detail' user_delete_no=user_delete.user_delete_no %}">안건
                                                            바로가기</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 상단으로 한번에 올라가는 버튼 -->
    <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}
