{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/seungyeon.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/sy.js' %}"></script>

    <div class="page-wraper">

        <div class="page-content bg-white">
            <div class="page-content bg-white">
                <!----------============= 상단 제목 시작 ================----------->
                <!--제목을 감싸는 배경-->
                <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                     style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                    <!-- 상단 제목을 클릭하면, 상위 게시판으로 돌아감 -->
                    <a href="{% url 'activity' %}">
                        <div class="container clearfix">
                            <div class="dlab-bnr-inr-entry">
                                <!--제목-->
                                <!-- 해당 게시글이 속한 게시판이 보여야 함 -->
                                <h1 class="text-white introduce-letter-spacing_5">제명 안건 게시판</h1>
                                <!--부제목-->
                                <!-- DB에서 소개도 가지고 올 수 있나? -->
                                <p class="introduce-margin-top_20">제명 안건과 관련된 게시판입니다.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!----------============= 본문 시작 ================----------->
                <div class="section-full content-inner">
                    <div class="container">
                        <div class="row" style="justify-content: center">
                            <div class="col-lg-8 col-xl-8 p-b30">
                                <div class="blog-post blog-single">
                                    <!-- 게시글 작성자 및 작성시간을 담는 div -->
                                    <div class="dlab-post-meta m-b20">
                                        <ul class="d-flex align-items-center">
                                            <!-- 게시글 작성자 -->
                                            <li class="post-author"><i class="ti ti-user"></i>By <a
                                                    href="javascript:void(0);">신승연</a></li>
                                            <!-- 게시글 작성시간 -->
                                            <li class="post-comment"><i class="ti ti-alarm-clock"></i> <a
                                                    href="javascript:void(0);">2021.03.15 15:00</a></li>
                                        </ul>
                                    </div>
                                    <!-- 게시글 제목 -->
                                    <div class="dlab-post-title ">
                                        <h2 class="post-title m-t0">
                                            <a href="javascript:void(0);">With our vastly improved notifications system,
                                                users
                                                have more control on your mind.</a>
                                        </h2>
                                    </div>
                                    <!--============================== 게시글 본문 시작 ==============================-->
                                    <div class="dlab-post-text">
                                        <!-- 본문 입력 내용 -->

                                        <p class="font-weight-400">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed
                                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo amet
                                            set for your cool happiness for lyour loyal city.</p>

                                        <p class="font-weight-300">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed
                                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum
                                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                            proident,
                                            sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                                            perspiciatis
                                            unde omnis iste natus error sit voluptatem accusantium doloremque
                                            laudantium, totam
                                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                            beatae
                                            vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                            aspernatur
                                            aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                            voluptatem
                                            sequi nesciunt. Neque porro quisquam est.</p>
                                        <!-- 첨부된 파일 불러오는 곳 -->
                                        <!-- download 쪽에 파일 경로 설정 -->
                                        <div class="download-box">
                                            <!-- 첨부파일 1 -->
                                            <i class="fa fa-download m-r15"></i><a href="#" download="www.naver.com">빅데이터
                                            관련 논문자료.pdf</a>
                                            <!-- 파일 간 구분선 -->
                                            <div class="dlab-divider tb20 bg-gray-dark"></div>
                                            <!-- 첨부파일 2 -->
                                            <i class="fa fa-download m-r15" style="margin-bottom: 20px"></i><a href="#" download="www.naver.com">통계학
                                            수업자료.ppt</a>

                                        </div>

                                        <!-- 게시글 속 사진 모음 -->
                                        <div class="widget widget_gallery gallery-grid-4 lightgallery">
                                            <ul>
                                                <li>
													<span data-exthumbimage="/static/images/listing/grid/pic1.jpg"
                                                          data-src="/static/images/listing/grid/pic1.jpg"
                                                          class="check-km " title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum act-detail-img-size"><img
                                                                    style="height: 190px"
                                                                    src="/static/images/listing/grid/pic1.jpg"
                                                                    alt=""></div>
														</a>
													</span>
                                                </li>
                                                <li>
													<span data-exthumbimage="/static/images/blog/default/thum1.jpg"
                                                          data-src="/static/images/blog/default/thum1.jpg"
                                                          class="check-km act-detail-img-siz"
                                                          title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum"><img
                                                                    style="height: 190px"
                                                                    src="/static/images/blog/default/thum1.jpg"
                                                                    alt=""></div>
														</a>
													</span>
                                                </li>
                                                <li>
													<span data-exthumbimage="/static/images/blog/default/thum1.jpg"
                                                          data-src="/static/images/blog/default/thum1.jpg"
                                                          class="check-km act-detail-img-siz"
                                                          title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum"><img
                                                                    style="height: 190px"
                                                                    src="/static/images/blog/default/thum1.jpg"
                                                                    alt=""></div>
														</a>
													</span>
                                                </li>
                                                <li>
													<span data-exthumbimage="/static/images/blog/default/thum1.jpg"
                                                          data-src="/static/images/blog/default/thum1.jpg"
                                                          class="check-km act-detail-img-siz"
                                                          title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum "><img
                                                                    style="height: 190px"
                                                                    src="/static/images/blog/default/thum1.jpg"
                                                                    alt=""></div>
                                                            <!-- 마지막 사진 부분 -->
															<div class="more-images">
																<div>
                                                                    <!-- DB에서 총 사진 갯수 불러오기 -->
																	<strong>6</strong>
																	<span>Images</span>
																</div>
															</div>
														</a>
													</span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <!-- 게시글 삭제 및 수정 div -->
                                    <div class="extra-cell text-right">
                                        <!-- 게시글 수정 버튼 -->
                                        <!-- 관련자만 보이게 처리 -->
                                        <button class="site-button radius-xl m-l10"><i
                                                class="fa fa-pencil m-r5"></i>게시글 수정
                                        </button>
                                        <!-- 게시글 삭제 버튼 -->
                                        <!-- 관련자만 보이게 처리 -->
                                        <button class="site-button red radius-xl m-l10"><i
                                                class="fa fa-trash m-r5"></i>게시글 삭제
                                        </button>
                                    </div>
                                    <!-- 게시글과 댓글을 구분짓는 구분선 -->
                                    <div class="dlab-divider bg-gray-dark"></div>
                                </div>
                                <!--==================== 댓글부분 시작 ====================-->
                                <div class="clear" id="comment-list">
                                    <div class="comments-area" id="comments">
                                        <h3 class="font-26">현황
                                        </h3>
                                        <div class="clearfix">
                                            <!-- comment list END -->
                                            <ol class="comment-list">
                                                <!-- 댓글 1 -->
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <h5>찬성 0 명</h5>
                                                        <h5 style="margin: 0">반대 0 명</h5>
                                                    </div>
                                                </li>
                                            </ol>
{#                                            <!-- 작성된 댓글과 댓글입력 부분을 나누는 구분선 -->#}
{#                                            <div class="dlab-divider bg-gray-dark"></div>#}

                                            <!--=======찬성/반대 버튼======-->
                                            <form>
                                                <div style="display: flex; justify-content: center; ">
                                                    <!--찬성-->
                                                    <button type="button" class="btn btn-outline-primary btn-lg"
                                                            style="width: 200px; font-weight: bold; margin-right: 20px"
                                                            onclick="return confirm('제명에 찬성하시겠습니까?')">
                                                        찬성
                                                    </button>

                                                    <!--반대-->
                                                    <button type="button" class="btn btn-outline-danger btn-lg"
                                                            style="width: 200px; font-weight: bold"
                                                            onclick="return confirm('제명에 반대하시겠습니까?')">
                                                        반대
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>

{% endblock %}