{% extends "base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}"/>
        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'plugins/editor/jquery-te-1.4.0.css' %}"
        />

        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'plugins/drop/imageuploadify.min.css' %}"
        />
        <link rel="stylesheet" href="{% static 'plugins/tag-editor/jquery.tag-editor.css' %}"/>
        <script>
            function goApply() {
                if (confirm("예산 지원 요청을 승인하시겠습니까?")) {
                    alert("예산지원 요청이 승인 되었습니다. \n지급 후 지급 완료를 누를 시 회계에 반영됩니다.");
                    document.getElementById("form-bank-support-apply").submit();

                }
            }

            function goDeposit() {
                if (confirm("예산 지급을 완료하시겠습니까?")) {
                    alert("예산 지급이 완료되었습니다.");
                    document.getElementById("form-bank-support-deposit").submit();
                }
            }

            function goDelete() {
                if (confirm("정말 삭제하시겠습니까?")) {
                    alert("삭제되었습니다.");
                    document.getElementById("form-bank-support-delete").submit();
                }
            }
        </script>
    </head>

    <body>
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
                <a href="{% url 'bank_support_board' %}">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <h1 class="text-white introduce-letter-spacing_5">예산지원신청</h1>
                            <!--부제목-->
                            <p class="introduce-margin-top_20">예산 지원을 신청하는 게시판입니다.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--===============================================입력란=========================================================-->

            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <!--=====================-->
                        <!--승인을 대기 중일 때 뜨는 알람-->
                        {#                        {% if bank.bank_apply.bank_apply_no == 1 %}#}
                        <div class="alert alert-secondary" role="alert" style="text-align: center">
                            <i>승인대기중</i>
                        </div>
                        {#                        {% elif bank.bank_apply.bank_apply_no == 2 %}#}
                        <!--승인 완료 시 뜨는 알람-->
                        <div class="alert alert-success" role="alert" style="text-align: center">
                            <i>승인완료</i>
                        </div>
                        {#                        {% elif bank.bank_apply.bank_apply_no == 3 %}#}
                        <!--승인 거절 시 뜨는 알람, 거절 사유 입력하면 같이 뜨게 만들기-->
                        <div class="alert alert-danger" role="alert" style="text-align: center">
                            <i>승인거절 ( 거절사유 : {{ bank.bank_reject_reason }} )</i>
                        </div>

                        <!--====================================지원자 이름 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">지원자</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>윤예진</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================지원자 이름 끝=============================================-->
                        <!--====================================지원 시간 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">지원 시간</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>2021-03-03</a>
                                    {#                                    <a>{{ bank.bank_created|date:"Y-m-d h:i" }}</a>#}
                                </div>
                            </div>
                        </div>
                        <!--====================================지원 시간 끝=============================================-->
                        <!--====================================학번 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">학번</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>12192355</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================학번 끝=============================================-->
                        <!--====================================학년 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">3학년</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>3학년</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================학년 끝=============================================-->
                        <!--====================================학과 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">학과</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>글로벌금융학과</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================학과 끝=============================================-->
                        <!--====================================질문에 대한 답변 1 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">1. 지원동기 및 목표를 기술해주세요</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Egestas fringilla phasellus
                                        faucibus scelerisque eleifend donec pretium. Mi tempus imperdiet nulla malesuada
                                        pellentesque. Etiam dignissim diam quis enim lobortis scelerisque. Sed
                                        ullamcorper morbi tincidunt ornare massa. Aliquam sem et tortor consequat id.
                                        Interdum velit laoreet id donec ultrices. Senectus et netus et malesuada fames.
                                        Mauris rhoncus aenean vel elit scelerisque. Justo nec ultrices dui sapien eget
                                        mi proin sed libero. Aliquam malesuada bibendum arcu vitae elementum curabitur
                                        vitae. Euismod nisi porta lorem mollis aliquam ut. Nam aliquam sem et tortor
                                        consequat id. Nunc vel risus commodo viverra maecenas accumsan lacus. Eu
                                        volutpat odio facilisis mauris sit amet massa. Amet volutpat consequat mauris
                                        nunc congue nisi vitae.
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--====================================질문에 대한 답변 1 끝=============================================-->
                        <!--====================================질문에 대한 답변 2 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">2. 프로그래밍 관련 언어를 다루어 본 적이 있다면 적어주세요.</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Egestas fringilla phasellus
                                        faucibus scelerisque eleifend donec pretium. Mi tempus imperdiet nulla malesuada
                                        pellentesque. Etiam dignissim diam quis enim lobortis scelerisque. Sed
                                        ullamcorper morbi tincidunt ornare massa. Aliquam sem et tortor consequat id.
                                        Interdum velit laoreet id donec ultrices. Senectus et netus et malesuada fames.
                                        Mauris rhoncus aenean vel elit scelerisque. Justo nec ultrices dui sapien eget
                                        mi proin sed libero. Aliquam malesuada bibendum arcu vitae elementum curabitur
                                        vitae. Euismod nisi porta lorem mollis aliquam ut. Nam aliquam sem et tortor
                                        consequat id. Nunc vel risus commodo viverra maecenas accumsan lacus. Eu
                                        volutpat odio facilisis mauris sit amet massa. Amet volutpat consequat mauris
                                        nunc congue nisi vitae.
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--====================================질문에 대한 답변 2 끝=============================================-->
                        <!--====================================질문에 대한 답변 3 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">3. 빅데이터 관련 활동 혹은 공모전 관련 경험이 있다면 적어주세요.</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Egestas fringilla phasellus
                                        faucibus scelerisque eleifend donec pretium. Mi tempus imperdiet nulla malesuada
                                        pellentesque. Etiam dignissim diam quis enim lobortis scelerisque. Sed
                                        ullamcorper morbi tincidunt ornare massa. Aliquam sem et tortor consequat id.
                                        Interdum velit laoreet id donec ultrices. Senectus et netus et malesuada fames.
                                        Mauris rhoncus aenean vel elit scelerisque. Justo nec ultrices dui sapien eget
                                        mi proin sed libero. Aliquam malesuada bibendum arcu vitae elementum curabitur
                                        vitae. Euismod nisi porta lorem mollis aliquam ut. Nam aliquam sem et tortor
                                        consequat id. Nunc vel risus commodo viverra maecenas accumsan lacus. Eu
                                        volutpat odio facilisis mauris sit amet massa. Amet volutpat consequat mauris
                                        nunc congue nisi vitae.
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--====================================질문에 대한 답변 3 끝=============================================-->
                        <!--====================================질문에 대한 답변 4 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">4. 추후 희망하는 진로가 무엇이며, 동아리 활동이 진로에 어떠한 영향을 줄 것이라고 생각하나요?</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Egestas fringilla phasellus
                                        faucibus scelerisque eleifend donec pretium. Mi tempus imperdiet nulla malesuada
                                        pellentesque. Etiam dignissim diam quis enim lobortis scelerisque. Sed
                                        ullamcorper morbi tincidunt ornare massa. Aliquam sem et tortor consequat id.
                                        Interdum velit laoreet id donec ultrices. Senectus et netus et malesuada fames.
                                        Mauris rhoncus aenean vel elit scelerisque. Justo nec ultrices dui sapien eget
                                        mi proin sed libero. Aliquam malesuada bibendum arcu vitae elementum curabitur
                                        vitae. Euismod nisi porta lorem mollis aliquam ut. Nam aliquam sem et tortor
                                        consequat id. Nunc vel risus commodo viverra maecenas accumsan lacus. Eu
                                        volutpat odio facilisis mauris sit amet massa. Amet volutpat consequat mauris
                                        nunc congue nisi vitae.
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--====================================질문에 대한 답변 4 끝=============================================-->

                        <!-- 게시글 삭제 및 수정 div -->
                        {#                        {% if request.session.user_stu == bank.bank_used_user.user_stu %}#}
                        <div class="extra-cell text-right">
                            <!-- 게시글 수정 버튼 -->
                            <a href="#"
                               onclick="document.getElementById('form-bank-support-update').submit()"
                               class="site-button radius-xl m-l10"><i
                                    class="fa fa-pencil m-r5"></i>
                                게시글 수정</a>
                            <!-- 게시글 삭제 버튼 -->
                            <form id="form-bank-support-update" action="{% url 'bank_support_update' %}" method="post"
                                  style="display: none">
                                {% csrf_token %}
                                <input type="hidden" name="is_move" value="1"/>
                                <input type="hidden" name="bank_no" value="{{ bank.bank_no }}"/>
                            </form>
                            {#                        {% endif %}#}
                            {#                        {% if request.session.user_stu == bank.bank_used_user.user_stu or request.session.user_role == 4 %}#}
                            <a href="#" onclick="goDelete()"
                               class="site-button red radius-xl m-l10"><i
                                    class="fa fa-trash m-r5"></i>
                                게시글 삭제</a>
                        </div>
                        <form id="form-bank-support-delete" action="{% url 'bank_support_delete' %}" method="post"
                              style="display: none">
                            {#                                {% csrf_token %}#}
                            <input type="hidden" name="bank_no" value="{{ bank.bank_no }}"/>
                        </form>
                        {#                        {% endif %}#}
                        <!--=======승인/거절 버튼======-->
                        <div style="display: flex; justify-content: center; ">
                            {#                            {% if request.session.user_role == 4 %}#}
                            <!--승인-->
                            {#                                {% if bank.bank_apply.bank_apply_no == 1 %}#}
                            <button type="button" class="btn btn-outline-success btn-lg"
                                    style="width: 200px; font-weight: bold"
                                    onclick="goApply()">
                                승인
                            </button>
                            <form id="form-bank-support-apply" action="{% url 'bank_support_aor' %}"
                                  method="post" style="display: none">
                                {#                                        {% csrf_token %}#}
                                <input type="hidden" name="bank_no" value="{{ bank.bank_no }}"/>
                                <input type="hidden" name="bank_apply_no" value="2"/>
                            </form>
                            <!--거절-->
                            <button type="button" class="btn btn-outline-danger btn-lg"
                                    style="width: 200px; margin-left: 10px; font-weight: bold"
                                    onclick="return confirm('승인을 거절하시겠습니까?')"
                                    href="javascript:void(0);" data-toggle="modal" data-target="#favorite"
                                    class="site-button gray">
                                거절
                            </button>
                            {#                                {% elif bank.bank_apply.bank_apply_no == 2 %}#}
                            <!--지급완료, 승인버튼 누르기 전에는 안나오고, 승인버튼 누르면 승인,거절 버튼은 없어지고 이 버튼만 보이게 함-->
                            <button type="button" class="btn btn-outline-primary btn-lg"
                                    style="width: 200px; font-weight: bold"
                                    onclick="goDeposit()">지급완료
                            </button>
                            <form id="form-bank-support-deposit" action="{% url 'bank_support_aor' %}"
                                  method="post">
                                {#                                        {% csrf_token %}#}
                                <input type="hidden" name="bank_no" value="{{ bank.bank_no }}"/>
                                <input type="hidden" name="bank_apply_no" value="4"/>
                            </form>
                            {#                                {% endif %}#}
                            {#                            {% endif %}#}
                        </div>
                        <!-- 거절 버튼 누르면 나오는 창 -->
                        <div class="modal fade modal-bx-info" id="favorite" tabindex="-1" role="dialog"
                             aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog " role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="FavoriteModalLongTitle">승인거절 사유</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tab-content nav">
                                            <div id="login" class="tab-pane active"
                                                 style="margin-bottom: -25px; margin-top: 10px">
                                                <form id="form-bank-support-reject"
                                                      action="{% url 'bank_support_aor' %}" class="dlab-form"
                                                      method="post">
                                                    <!--승인 거절 사유 입력창-->
                                                    {% csrf_token %}
                                                    <input type="hidden" name="bank_no" value="{{ bank.bank_no }}">
                                                    <input type="hidden" name="bank_apply_no" value="3">
                                                    <div class="form-group">
                                                        <input class="form-control"
                                                               name="bank_reject_reason"
                                                               placeholder="승인거절 사유를 입력해주세요"
                                                               type="text"/>
                                                    </div>
                                                    <!--거절버튼-->
                                                    <div class="form-group">
                                                        <button type="submit" class="site-button btn-block button-md"
                                                                onclick="alert('승인이 거절되었습니다')">입력
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 거절 버튼 누르면 나오는 창 끝 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>

{% endblock %}