{% extends "base.html" %}
{% load static %}
{% block content %}
    {% load mathfilters %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/comment.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>

    <div class="page-wraper">

        <div class="page-content bg-white">
            <div class="page-content bg-white">
                <!----------============= 상단 제목 시작 ================----------->
                <!--제목을 감싸는 배경-->
                <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                     style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                    <!-- 상단 제목을 클릭하면, 상위 게시판으로 돌아감 -->
                    <a href="{% url 'member_delete_list' %}">
                        <div class="container clearfix">
                            <div class="dlab-bnr-inr-entry">
                                <!--제목-->
                                <!-- 해당 게시글이 속한 게시판이 보여야 함 -->
                                <h1 class="text-white introduce-letter-spacing_5">제명 안건 게시판</h1>
                                <!--부제목-->
                                <!-- DB에서 소개도 가지고 올 수 있나? -->
                                <p class="m-t20">제명 안건과 관련된 게시판입니다.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!----------============= 본문 시작 ================----------->
                <div class="section-full content-inner">
                    <div class="container">
                        <div class="row" style="justify-content: center">
                            <div class="col-lg-8 col-xl-8 p-b30">
                                <div class="blog-post blog-single">
                                    <!-- 게시글 작성자 및 작성시간을 담는 div -->
                                    <div class="dlab-post-meta m-b20">
                                        <ul class="d-flex align-items-center">
                                            <!-- 게시글 작성자 -->
                                            <li class="post-author"><i class="ti ti-user"></i>By <a
                                                    href="javascript:void(0);">{{ user_delete.suggest_user.user_name }}</a>
                                            </li>
                                            <!-- 게시글 작성시간 -->
                                            <li class="post-comment"><i class="ti ti-alarm-clock"></i> <a
                                                    href="javascript:void(0);">{{ user_delete.user_delete_created|date:"Y-m-d h:i" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- 게시글 제목 -->
                                    <div class="dlab-post-title ">
                                        <h2 class="post-title m-t0">
                                            <a href="javascript:void(0);">{{ user_delete.user_delete_title }}</a>
                                        </h2>
                                    </div>
                                    <!--============================== 게시글 본문 시작 ==============================-->
                                    <div class="post-content dlab-post-text">
                                        <!-- 본문 입력 내용 -->
                                        {{ user_delete.user_delete_content|safe }}
                                        <!-- 첨부된 파일 불러오는 곳 -->
                                        <!-- download 쪽에 파일 경로 설정 -->
                                        {% include "file_detail.html" %}

                                    </div>
                                    <!-- 게시글 삭제 및 수정 div -->
                                    <div class="extra-cell text-right">
                                        <!-- 게시글 수정 버튼 -->
                                        <!-- 관련자만 보이게 처리 -->

                                        {% if is_writer %}
                                            <button class="site-button radius-xl m-l10"
                                                    onclick="location.href='{% url 'member_delete_update' user_delete_no=user_delete.user_delete_no %}'">
                                                <i
                                                        class="fa fa-pencil m-r5"></i>게시글 수정
                                            </button>
                                        {% endif %}
                                        {# 게시자가 아닌 이상 제명안건은 절대 철회할 수 없음. #}
                                        {% if is_writer %}
                                            <button class="site-button red radius-xl m-l10"
                                                    onclick="goSubmit('id-form-user-delete-delete', true, '정말 제명 안건을 철회하시겠습니까?')">
                                                <i class="fa fa-trash m-r5"></i>게시글 삭제
                                            </button>
                                            <!-- 게시글 삭제를 위한 폼 -->
                                            <form id="id-form-user-delete-delete"
                                                  action="{% url 'member_delete_delete' user_delete_no=user_delete.user_delete_no %}"
                                                  method="POST"
                                                  style="display: none;">
                                                {% csrf_token %}
                                                <input type="hidden" name="board_no" value="{{ board.board_no }}">
                                            </form>
                                        {% endif %}

                                    </div>

                                </div>

                                <!--============ 제명 대상자 정보 ==============-->
                                <div class="clear d-flex justify-content-center" >
                                    <div class="comments-area" id="comments">
                                        <div class="clearfix">
                                            <ol class="comment-list">
                                                <li>
                                                    <div class="comments-area" id="comments">
                                                        <div class="clearfix">
                                                            <ol class="comment-list">
                                                                <li class="comment">
                                                                    <div class="comment-body width-360">
                                                                        <div class="comment-author vcard mb-0"
                                                                             style="display: flex">
                                                                            <!-- 제명대상자 프로필사진 -->
                                                                            <div style="display: inline-block;"
                                                                                 class="m-r20">
                                                                                <img
                                                                                        class="photo max-min-width-height-100 rounded-circle"
                                                                                        src="/media/{{ user_delete.deleted_user.user_pic }}"
                                                                                        alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                                                            </div>
                                                                            <!-- 제명대상자 -->
                                                                            <div style="display:inline-block;">
                                                                                <div class="comment-meta mb-0 m-l10">
                                                                                    <p style="font-size: 12px; letter-spacing: 2px; line-height: 24px; color: var(--text-color); font-weight: 400;">
                                                                                        제명대상자</p>
                                                                                </div>
                                                                                <cite class="fn m-l10">{{ user_delete.deleted_user.user_name }}
                                                                                    <div class="comment-meta">
                                                                                        <p class="text-black">
                                                                                            {{ user_delete.deleted_user.user_major.major_name }} {{ user_delete.deleted_user.user_stu|stringformat:"s"|slice:"2:4" }}학번</p>
                                                                                    </div>
                                                                                </cite>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                            <!-- comment list END -->
                                        </div>
                                    </div>
                                </div>


                                <!--==================== 찬반 여부 시작 ====================-->
                                {% if logined_user != user_delete.deleted_user %}
                                    <div class="clear" id="comment-list">
                                        <div class="comments-area" id="comments">
                                            <h3 class="font-26">현황 <span
                                                    style="color: grey; font-size: 10pt">총 투표 인원: {{ user_delete_aor_list|length }}</span>
                                            </h3>

                                            <!-- 누군가 투표를 했을 때-->
                                            <!-- 태그 안 style에 width의 %를 조정하면 그래프 바뀐다-->
                                            <!-- staff-graph는 staff_yejin.css에서 정의되어 있음-->
                                            {% if user_delete_aor_list|length != 0 %}
                                                <div class="progress staff-graph m-b15 height-30">
                                                    {% if apply_ratio != 0 %}
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                             style="width: {{ apply_ratio }}%"
                                                             aria-valuenow="15" aria-valuemin="0"
                                                             aria-valuemax="{{ apply_ratio }}">{{ apply_ratio }}%
                                                        </div>
                                                    {% endif %}
                                                    {% if reject_ratio != 0 %}
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                             style="width: {{ reject_ratio }}%"
                                                             aria-valuenow="30" aria-valuemin="0"
                                                             aria-valuemax="{{ reject_ratio }}">{{ reject_ratio }}%
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <!-- 아무도 투표하지 않았을 때-->
                                                <div class="progress staff-graph m-b15 height-30">
                                                    <div class="progress-bar bg-secondary" role="progressbar"
                                                         style="width: 100%"
                                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">투표자 없음
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <!-- 투표자 리스트 시작 -->
                                            <table class="table">
                                                <tbody>
                                                <!--하나의 tr에는 3개의 td만 있어야 함!!!!-->
                                                {% for user_delete_aor in user_delete_aor_list %}
                                                    {% if forloop.counter0|mod:3 == 0 %}
                                                        <tr>
                                                    {% endif %}
                                                <!--하나의 tr에는 3개의 td만 있어야 하므로 주의!!!!-->
                                                <!------------------------------여기부터 복붙----------------------------->
                                                <td style="border: none">
                                                    <!-- 투표자 프로필자신 및 이름을 담는 div -->
                                                    <div class="comment-author vcard"><cite class="fn"
                                                                                            style="color: black; font-style: normal; "><img
                                                            src="/media/{{ user_delete_aor.aor_user.user_pic }}"
                                                            width="35"
                                                            height="35"
                                                            class="comment-profile-size max-min-min-height-35"
                                                            alt="현재 브라우저에서 지원하지 않는 형식입니다.">{{ user_delete_aor.aor_user.user_name }}
                                                    </cite>
                                                        {% if user_delete_aor.aor == 1 %}
                                                            <!-- 찬성 누른 사람에만 쓰기-->
                                                            <span class="badge bg-info text-white">찬성</span>
                                                        {% elif user_delete_aor.aor == 0 %}
                                                            <!-- 반대 누른 사람에만 쓰기-->
                                                            <span class="badge bg-danger text-white">반대</span>
                                                        {% endif %}
                                                    </div>

                                                    <!--투표자의 학과와 학번-->
                                                    <ul class="staff-mem-major">
                                                        <li class="post-author ml-4"
                                                            style="list-style: none">
                                                            {{ user_delete_aor.aor_user.user_major.major_name }}
                                                            {{ user_delete_aor.aor_user.user_stu|stringformat:"s"|slice:"2:4" }}학번
                                                        </li>
                                                    </ul>
                                                </td>
                                                <!------------------------------여기까지 복붙----------------------------->
                                                {% if forloop.counter0|mod:3 == 0 %}
                                                    </tr>
                                                {% endif %}
                                                {% endfor %}

                                                </tbody>
                                            </table>

                                            <!--=======찬성/반대 버튼======-->
                                            {% if not is_voted %}
                                                <div style="display: flex; justify-content: center; ">
                                                    <button type="button" class="btn btn-outline-primary btn-lg"
                                                            style="width: 200px; font-weight: bold; margin-right: 20px"
                                                            onclick="goSubmit('id-form-user-delete-apply', true, '한 번 결정하시면 다시 투표할 수 없습니다. \n정말 찬성하시겠습니까?')">
                                                        찬성
                                                    </button>
                                                    <button type="button" class="btn btn-outline-danger btn-lg"
                                                            style="width: 200px; font-weight: bold"
                                                            onclick="goSubmit('id-form-user-delete-reject', true, '한 번 결정하시면 다시 투표할 수 없습니다. \n정말 반대하시겠습니까?')">
                                                        반대
                                                    </button>
                                                </div>
                                                <!--찬성-->
                                                <form id="id-form-user-delete-apply"
                                                      action="{% url 'member_delete_aor' user_delete_no=user_delete.user_delete_no %}"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="aor" value="1"/>
                                                </form>
                                                <!--반대-->
                                                <form id="id-form-user-delete-reject"
                                                      action="{% url 'member_delete_aor' user_delete_no=user_delete.user_delete_no %}"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="aor" value="0"/>
                                                </form>
                                            {% endif %}

                                        </div>
                                    </div>
                                {% endif %}

                                <!-- 구분선 -->
                                <div class="dlab-divider bg-gray-dark"></div>
                                <div class="d-flex justify-content-center">
                                    <!--회장에게만 보이는 제명하기 버튼-->

                                    {% if is_decided %}
                                        {% if user_delete.deleted_user.user_role.role_no <= 4 %}
                                            <p>회장단의 경우 권한 이양이 완료된 후에 제명할 수 있습니다. 권한 이양 후, 제명 버튼이 활성화됩니다.</p>
                                        {% else %}
                                            <form action="{% url 'member_delete_decide' user_delete_no=user_delete.user_delete_no %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <button type="submit"
                                                        onclick="return confirm('{{ user_delete.deleted_user.user_name }}'+'님을 정말 제명하시겠습니까?')"
                                                        class="btn btn-dark btn-lg"
                                                        style="width: 200px; font-weight: bold">
                                                    제명하기
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div id="CommentList"></div>
                            </div>

                        </div>
                        <!--==================== 댓글부분 시작 ====================-->

                        <!--==================== 댓글부분 끝 ====================-->
                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
    <!-- django 렌더링 끝나고 나서 vue.js 렌더링 -->
    <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
    <!-- django 렌더링 끝나고 나서 vue.js 렌더링 -->
{% endblock %}
