                                        <!-- 강의룸 공지사항 글을 담는 박스 -->
                                        <div class="content-box">
                                            <!-- 박스 제목 div -->
                                            <div class="content-header">
                                                <h3 class="title">
                                                    {% if board_type == 1 %}
                                                        <i class="fa fa-microphone m-r5"></i>공지사항
                                                    {% elif board_type == 2 %}
                                                        <i class="fa fa-book m-r5"></i>강의목록
                                                    {% elif board_type == 3 %}
                                                        <i class="fa fa-check-square-o m-r5"></i>과제
                                                    {% endif %}
                                                </h3>
                                            </div>
                                            <div class="content-body">
                                                {% if board_list %}
                                                    <!-- 공지사항 게시글 테이블 -->
                                                    <table class="table">
                                                        <!-- 테이블 1행: 제목 -->
                                                        <thead>
                                                        <tr>
                                                            <th class="border-top-0" scope="col"></th>
                                                            <th class="border-top-0" style="width: 400px" scope="col">제목
                                                            </th>
                                                            <th class="border-top-0" scope="col">
                                                                {% if board_type == 1 %}
                                                                    작성자
                                                                {% elif board_type == 2 %}
                                                                    강의자
                                                                {% elif board_type == 3 %}
                                                                    담당자
                                                                {% endif %}
                                                            </th>
                                                            <th class="border-top-0" scope="col">작성일</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>

                                                            {% for board in board_list %}
                                                                <tr>
                                                                    <!-- 게시글 번호 (고정됨) -->
                                                                    <td>{{ forloop.revcounter }}</td>
                                                                    <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                                    <td><a href="#">{{ board.lect_board_title }}</a></td>
                                                                    <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                                    <td>{{ board.lect_board_writer.user_name }}</td>
                                                                    <!-- 게시글 작성일 -->
                                                                    <td>{{ board.lect_board_created | date:"Y-m-d" }}</td>
                                                                </tr>
                                                            {% endfor %}

                                                        </tbody>

                                                    {% else %}
                                                        <p class="text-center">
                                                            {% if board_type == 1 %}
                                                                공지사항이 없습니다.
                                                            {% elif board_type == 2 %}
                                                                아직 강의가 없습니다.
                                                            {% elif board_type == 3 %}
                                                                아직은 과제가 없습니다...
                                                            {% endif %}
                                                        </p>
                                                    {% endif %}
                                                </table>

                                                <!-- 페이지네이션 -->
                                                {% include "pagination.html" %}
                                            </div>
                                        </div>