{% load custom_tags %}
<script>
    $(function () {
        $(".lectRoom_attend").each(function (index, td) {
            if ($(td).text() === '출석') {
            $(td).addClass('staff-fin')
        } else {
            $(td).addClass('staff-ing')
        }
        });


    });
</script>


<!-- 회원관리 테이블 -->
<table class="table">
    <thead id="lectRoom_mhead">
    <!-- 테이블 1행: 제목 -->
    <tr id="lectRoom_head">
        <th class="border-top-0 width-80 min-width-80 text-center align-middle"
            scope="col"></th>
        <th class="border-top-0 width-40 min-width-40 text-center align-middle"
            scope="col"></th>
        <th class="border-top-0 width-130 min-width-130 text-center align-middle"
            scope="col">이름
        </th>
        <th class="border-top-0 width-120 min-width-120 text-center align-middle"
            scope="col">학번
        </th>
        <th class="border-top-0 width-400 min-width-400 align-middle"
            scope="col">학과
        </th>
        <!-- 출결 필터 -->
        <th class="border-top-0 width-110 min-width-110 text-center align-middle"
            scope="col">
            <select id="lectRoom_select_attend" class="lectRoom_select" onchange="lectRoom_manage_attend()">
                <option selected>출결</option>
                <option>출석</option>
                <option>결석</option>
            </select>
        </th>
    </tr>
    </thead>

    <!-- 테이블 2행: 수강생 관리 테이블 내용 시작 -->
    <tbody>

    {% if students_list|length > 0 %}
        <!-- 수강생이 있을 때 나오는 열 -->
        {% for student in students_list %}
            {% if not student.exit_time or student.exit_time > cur_lect_board.lect_board_created %}
            <tr class="lectRoom_mtr align-middle">
                <!-- 체크박스 -->
                <td scope="row">
                    <div>
                        <input id="checked_{% personal_info student.stu request lect %}" name="is_checked_{% personal_info student.stu request lect%}"
                               type="checkbox" value="{% personal_info student.stu request lect%}">

                        <label for="is_checked_{% personal_info student.stu request lect %}"
                               class="staff_label_margin m-l20"></label>
                    </div>
                </td>
                <td class="text-center">{{ student.index }}</td>
                <!-- 회원 이름 -->
                <td class="align-middle text-center">{% personal_info student.name request lect%}</td>
                <!-- 회원 학번 -->
                <td class="text-center">{% personal_info student.stu request lect%}</td>
                <!-- 회원 학과 -->
                <td>{% personal_info student.major request lect%}</td>
                <!-- 출결 -->
                <td id="lectRoom_color" class="text-center lectRoom_attend">{{ student.attendance }}</td>

            </tr>
            {% endif %}
        {% endfor %}

    {% else %}
        <!-- 수강생이 없을 때 나오는 열 -->
        <tr>
            <td colspan="9" style="text-align: center"> 강의를 수강하고 있는 회원이 없습니다.
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>

<!-- 관리 select 부분 끝 -->

<!-- 적용 버튼  -->
<div class="d-inline-block width-100 m-l10 float-right">
    <button class="site-button" type="submit"><i
            class="la la-check m-r5"
            style="font-weight: bold"></i>&nbsp;적용
    </button>
</div>

<!-- 출결관리 -->
<div class="form-group width-100 d-inline-block float-right">
    <select id="manage-mode" name="manage-mode">
            <option disabled selected>출결관리</option>
            <option value="1">출석</option>
            <option value="0">결석</option>
        </select>
</div>
<!-- 관리 select 부분 끝 -->