<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강의 등록 페이지</title>
</head>
<body>
<form action="{% url 'lect_register' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th><label for="lect_title">강의명</label></th>
            <td><input id="lect_title" type="text" name="lect_title" maxlength="100"></td>
        </tr>
        <tr>
            <th><label for="lect_intro">강의소개</label></th>
            <td><textarea id="lect_intro" name="lect_intro" maxlength="300"></textarea></td>
        </tr>
        <tr>
            <th><label for="lect_pic">강의 썸네일 사진</label></th>
            <td><input id="lect_pic" type="file" name="lect_pic"></td>
        </tr>
        <tr>
            <th>강의종류</th>
            <td>
                <p><label><input type="radio" name="lect_type" value="1"> 강의</label></p>
                <p><label><input type="radio" name="lect_type" value="2"> 스터디</label></p>
                <p><label><input type="radio" name="lect_type" value="3"> 소모임</label></p>
            </td>
        </tr>
        <tr>
            <th><label for="lect_curri">강의 계획</label></th>
            <td><textarea id="lect_curri" name="lect_curri"></textarea></td>
        </tr>
        <tr>
            <th>
                <label for="lect_limit_num">최대 수용인원</label>
            </th>
            <td>
                <input type="number" id="lect_limit_num" name="lect_limit_num">
            </td>
        </tr>
        <tr>
            <th>
                강의 방식
            </th>
            <td>
                <p><label><input type="radio" name="lect_method" value="1"> 줌</label></p>
                <p><label><input type="radio" name="lect_method" value="2"> 유투브</label></p>
                <p><label><input type="radio" name="lect_method" value="3"> 오프라인</label></p>
            </td>
        </tr>
        <tr>
            <th><label for="lect_place_or_link">장소/링크</label></th>
            <td><input id="lect_place_or_link" name="lect_place_or_link" type="text"></td>
        </tr>
        <tr>
            <th><label for="lect_deadline">강의 마감일</label></th>
            <td><input id="lect_deadline" type="date" name="lect_deadline"></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="강의 등록 신청">
            </th>
        </tr>
    </table>
</form>
</body>
</html>