{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/posting_register.css' %}"/>
    <script>
        onload = function () {
            const obj = document.getElementById("lect_method")

            obj.onchange = function () {
                const method_name = document.getElementById("method_name");
                const pol_input_obj = document.getElementById("lect_place_or_link");
                if (obj.selectedIndex === 1) {
                    method_name.innerHTML = "장소";
                    pol_input_obj.placeholder = "강의 장소를 입력해주세요.";
                    pol_input_obj.disabled = "";
                } else if (obj.selectedIndex === 2) {
                    method_name.innerHTML = "Zoom 개인 링크";
                    pol_input_obj.placeholder = "Zoom 개인 링크를 입력해주세요.";
                    pol_input_obj.disabled = "";
                } else if (obj.selectedIndex === 3) {
                    method_name.innerHTML = "Youtube 개인 채널 링크";
                    pol_input_obj.placeholder = "Youtube 개인 채널 링크를 입력해주세요";
                    pol_input_obj.disabled = "";
                } else {
                    method_name.innerHTML = "장소"
                    pol_input_obj.placeholder = "강의 방식을 먼저 선택하세요."
                    pol_input_obj.disabled = "disabled";
                }
            }
        }

    </script>
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
                <a href="#">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!--강의게시판, 스터디게시판, 취미모임게시판 종류에 따라 바뀌도록 변경-->
                            <h1 class="text-white introduce-letter-spacing_5"><a
                                    href="{% url 'lect_view' type_no=lect_type.type_no %}"
                                    style="color: white">{{ lect_type.type_name }}</a></h1>
                            <!--부제목-->
                            <!--강의게시판, 스터디게시판, 취미모임게시판 종류에 따라 바뀌도록 변경-->
                            <p class="m-t20">{{ lect_type.type_exp }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--===============================================입력란=========================================================-->
            {% load widget_tweaks %}
            <form action="

                    {% if is_update %}{% url 'lect_update' lect_no=lect_no %}{% else %}{% url 'lect_register' %}{% endif %}"
                  class="add-listing-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {# 히든태그 #}
                {% for field in lect_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="content-block">
                    <div class="section-full content-inner bg-white">
                        <div class="container">
                            <!--=====================-->
                            <!--====================================강의명/스터디명/소모임명 입력 시작==============================================-->
                            <div class="content-box">
                                <div class="content-header">
                                    <!--공통으로 지을만한 이름이 없어서 이 부분만 이렇게 성정하였음, 게시판별로 다르게 보이도록 변경-->
                                    <h3 class="title">{{ lect_type.type_name }} 이름</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <!--입력하는 곳-->
                                        {#                                            <input type="text" name="lect_title" ============== 스타일 적용 아직 안함. 폼만 적용됨 ======================= #}
                                        {#                                                   class="form-control" required="required" placeholder="강의 이름을 적어주세요."#}
                                        {#                                                   style="font-size: 25px; height: 70px;"/>#}
                                        {% render_field lect_form.lect_title class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <!--====================================제목 입력 끝=============================================-->
                            <!--====================================소개 입력 시작==============================================-->
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">{{ lect_type.type_name }} 소개</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <!--입력하는 곳-->
                                        {% render_field lect_form.lect_intro class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <!--====================================소개 입력 끝=============================================-->
                            <!--====================================일정계획 입력 시작==============================================-->
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">{{ lect_type.type_name }} 일정계획</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <!--입력하는 곳-->
                                        {% render_field lect_form.lect_curri class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <!--====================================일정계획 입력 끝=============================================-->
                            <!--====================================제한인원 입력 시작==============================================-->
                            <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">{{ lect_type.type_name }} 제한인원</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <!--입력하는 곳-->
                                        {% render_field lect_form.lect_limit_num class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <!--====================================제한인원 입력 끝=============================================-->
                            <!--====================================방식 입력 시작==============================================-->
                            {% if lect_type.type_no != 3 %}
                                <div class="content-box">
                                    <div class="content-header">
                                        <h3 class="title">{{ lect_type.type_name }} 진행 방식</h3>
                                    </div>
                                    <div class="content-body">
                                        <div class="form-group">
                                            {% render_field lect_form.lect_method id="lect_method" %}
                                        </div>
                                    </div>
                                </div>

                                <!--====================================방식 입력 끝=============================================-->
                                <!--====================================장소 입력 시작==============================================-->
                                <div class="content-box">
                                    <div class="content-header">
                                        <h3 id="method_name" class="title">{{ pol_name }}</h3>
                                    </div>
                                    <div class="content-body">
                                        <div class="form-group">
                                            <!--입력하는 곳-->
                                            {% render_field lect_form.lect_place_or_link class="form-control" id="lect_place_or_link" %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <!--====================================장소 입력 끝=============================================-->
                            <!--====================================신청마감일 입력 시작==============================================-->
                            <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">{{ lect_type.type_name }} 신청마감일</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <!--입력하는 곳-->
                                        {% render_field lect_form.lect_deadline class="form-control" type="date" %}
                                    </div>
                                </div>
                            </div>
                            <!--====================================신청마감일 입력 끝=============================================-->
                            <!--====================================대표이미지 입력 입력 시작=============================================-->

                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">대표이미지</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        {% render_field lect_pic_form.lect_pic %}
                                        {% if is_update %}
                                            <p class="font-10 mb-1 mt-3" style="text-align:center; color:red">
                                                사진을 등록하지 않을 시, 기존 사진을 유지하며, 새로운 사진을 등록할 경우, 기존 사진이 대체됩니다.</p>
                                        {% else %}
                                            <p class="font-10 mb-1 mt-3" style="text-align:center; color:red">
                                                두 장 이상의 사진을 첨부 할 경우 마지막 사진이 등록됩니다.</p>
                                        {% endif %}
                                    </div>
                                    <!-- 이미 존재하고 있던 이미지: 삭제 가능 (수정모드)-->
                                    {% if lect is not None %}
                                        <div class="form-group">
                                            <div id="image-cont" class="image-cont">
                                                {% for lect_file in lect_file_list %}
                                                    <div id="image-card-{{ lect_file.lect_file_id }}"
                                                         class="image-card">
                                                        <!-- 취소 버튼, 취소를 누를 시 image-card 컨테이너가 통채로 사라짐. -->
                                                        <button type="button"
                                                                class="btn btn-danger fa fa-times btn-cancel"
                                                                onclick="delImg(document.getElementById('image-card-{{ lect_file.lect_file_id }}'))"></button>
                                                        <!-- 이미지 컨테이너 이미지 파일일 경우 img태그가, 이미지 파일이 아닐 경우 파일 모양의 아이콘이 붙음. -->
                                                        <div id="image-{{ lect_file.lect_file_id }}"
                                                             class="image-container"></div>
                                                        <!--기존 파일링크를 이동시키기 위한 히든 링크 -->
                                                        <input type="hidden"
                                                               name="exist_file_path_{{ lect_file.lect_file_id }}"
                                                               value="{{ lect_file.lect_file_path }}"/>
                                                    </div>
                                                    <script>
                                                        // 페이지가 로딩 될 때 해당 함수도 자동으로 실행되도록 설정함. (아이콘 or img 결정)
                                                        onload = decisionIcon(document.getElementById("image-{{ lect_file.lect_file_id }}"), '{{ lect_file.lect_file_path }}');
                                                    </script>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <!--====================================대표이미지 입력 끝=============================================-->

                            <!--등록하기 버튼, 누르면 게시글 상세보기로-->
                            <!--최초 글작성 시 나오는 버튼-->
                            <div style="display: grid; justify-items: center">
                                <button class="site-button btn-block button-md" type="submit" style="width: 30%">
                                    {% if is_update %}
                                        수정하기
                                    {% else %}
                                        등록하기
                                    {% endif %}
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
