{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <script src="{% static 'js/ibas_centents.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
    <script src="{% static 'js/validation_check.js' %}"></script>
    <script>
    $(function () {
        $('tr.lectRoom_tr').each(function () {
            if($(this).text().includes('탈주')) {
                $(this).find('input').prop('disabled', true);
            }
        })

        disable_check_box();
    })
    </script>


    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <a>
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">수강생 관리 게시판</h1>
                            <!--부제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <p class="m-t20">수강생 관리를 할 수 있는 게시판입니다. </p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <!--회원관리-->
                        <div id="listing_user_setting" class="tab-pane">
                            <div class="row">
                                <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 시작 ==========-->
                                <div class="col-lg-3 col-xl-3">
                                    <div class="sticky-top">
                                        {% include "_navigation_bar.html" %}
                                    </div>
                                </div>
                                <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 끝 ==========-->

                                <!--=======================수강생 관리=========================-->
                                <div class="col-lg-11 col-xl-8 p-b30">

                                    <!-- 신입부원 관리 콘텐츠 시작 -->
                                    <form id="status-form" onsubmit="return StatusFormSubmit()">
                                        <div class="width-870">
                                            <!-- 신입부원 관리 테이블 시작 -->
                                            <!-- 필터부분 시작-->
                                            <div class="staff_mem_select m-b20">
                                                <!-- onchange 는 필터임. -->
                                                <select id="lectRoom_select_state" onchange="lectRoom_state()">
                                                    <option selected="selected">상태</option>
                                                    <option>수강중</option>
                                                    <option>수강정지</option>
                                                </select>
                                            </div>
                                            <!-- 필터부분 종료-->

                                            <table class="table border-top">
                                                <thead>
                                                <!-- 테이블 1행: 제목 -->
                                                <tr id="lectRoom_head">
                                                    <th class="border-top-0 width-47 min-width-47" scope="col"></th>
                                                    <th class="border-top-0 width-42 min-width-42" scope="col"></th>
                                                    <th class="border-top-0 width-75 min-width-75" scope="col">이름</th>
                                                    <th class="border-top-0 width-100 min-width-100" scope="col">학번</th>
                                                    <th class="border-top-0 width-170 min-width-170" scope="col">전화번호
                                                    </th>
                                                    <th class="border-top-0 width-230 min-width-230" scope="col">이메일
                                                    </th>
                                                    <th class="border-top-0 width-90 min-width-90" scope="col">과제</th>
                                                    <th class="border-top-0 width-80 min-width-80" scope="col">출석</th>
                                                    <th class="border-top-0 width-90 min-width-90" scope="col">상태</th>
                                                </tr>
                                                </thead>

                                                <!-- 테이블 2행: 수강생 관리 테이블 내용 시작 -->
                                                <tbody>

                                                <!-- 수강생이 없을 때 나오는 열 -->
                                                {% if not attend_info_list %}
                                                    <tr>
                                                        <td colspan="9" style="text-align: center"> 회원이 없습니다.
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                                <!-- 수강생이 있을 때 나오는 열 -->
                                                {% for info in attend_info_list %}
                                                    <tr class="lectRoom_tr">
                                                        <td scope="row">

                                                            {% csrf_token %}
                                                            <!-- 체크박스 -->
                                                            <div class="input-block">
                                                                <input id="check_{% personal_info info.enrolled.student.user_stu request lect %}"
                                                                       type="checkbox"
                                                                       name="is_checked_{% personal_info info.enrolled.student.user_stu request lect%}"
                                                                       value="{{ info.enrolled.id }}">
                                                                <!-- label이 html에 보이는 것. 역할은 input에 체크하기 위함.   -->
                                                                <label for="check_{% personal_info info.enrolled.student.user_stu request lect %}"
                                                                       class="staff_label_margin"></label>
                                                            </div>

                                                        </td>
                                                        <!--수강생 번호-->
                                                        <th>{{ forloop.counter }}</th>
                                                        <!-- 회원 이름 -->
                                                        <td>{% personal_info info.enrolled.student.user_name request lect %}</td>
                                                        <!-- 회원 학번 -->
                                                        <td>{% personal_info info.enrolled.student.user_stu request lect %}</td>
                                                        <!--전화번호 -->
                                                        <td>{% personal_info info.enrolled.student.user_phone request lect %}</td>
                                                        <!--이메일 -->
                                                        <td>{% personal_info info.enrolled.student.useremail_set.first.user_email request lect %}</td>

                                                        <!-- 과제 미제출 수 -->
                                                        <td>{{ info.assignment_info }}</td>
                                                        <!-- 결석 수 -->
                                                        <td>{{ info.attend }}/{{ total_check }}</td>
                                                        <!--상태 -->
                                                        {% if info.enrolled.status_id == 1 %}
                                                            <td class="lectRoom_state lectRoom_state_ing_font">수강중</td>
                                                        {% elif info.enrolled.status_id == 0 %}
                                                            <td class="lectRoom_state lectRoom_state_stop_font">수강정지
                                                            </td>
                                                        {% else %}
                                                            <td class="lectRoom_state lectRoom_state_exit_font">탈주</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}

                                                <!--========================여기까지 복붙==========================-->

                                                </tbody>
                                            </table>

                                            <!-- 적용버튼 시작-->
                                            <div class="staff_mem_btn m-b20 listing-info-right float-right">
                                                <!-- &nbsp;는 띄어쓰기 -->
                                                <button class="site-button" type="submit">
                                                    <i class="la la-check m-r5" style="font-weight: bold"></i>&nbsp;적용
                                                </button>
                                            </div>
                                            <!-- 적용버튼 종료-->

                                            <!-- 권한부여부분 시작-->
                                            <div class="staff_mem_select m-b20 float-right">
                                                <select id="status-mode" name="status_mode">
                                                    <option selected="selected">관리</option>
                                                    <option value="1">수강중</option>
                                                    <option value="0">수강정지</option>
                                                </select>
                                            </div>
                                            <!-- 권한부여부분 종료-->

                                            <!--========== 페이지네이션 시작 ===========-->
                                            <!-- 1페이지에 수강생 끌고오고, 수강생이 그보다 적으면, 페이지네이션 안보이게 처리 -->
                                            {% if item_list %}
                                                {% include "pagination.html" %}
                                            {% endif %}
                                            <!--========== 페이지네이션 끝 ===========-->

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 상단으로 한번에 올라가는 버튼 -->
                    <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
