{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 강의룸 메인 페이지로 이동 -->
                <!-- (ex. 강의룸 내 출결확인 페이지에서 상단 제목을 클릭하면, 강의룸 메인으로 돌아갈 수 있음) -->
                <a href="#">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!-- 제목 -->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">{{ lect.lect_title }}</h1>
                            <!--부제목-->
                            <!-- DB에서 제목 꺼내와야 함 (강의 간단소개 db 가져오면 됨) -->
                            <p class="introduce-margin-top_20">{{ lect.lect_intro|safe }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--==========================================================================================-->
            <!--======================================= 본문 시작 ==========================================-->
            <div class="content-block min-height-70vh">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <div class="row">
                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 시작 ==========-->
                            <div class="col-lg-3 col-xl-3">
                                <div class="sticky-top">
                                    {% include "_search_bar.html" %}
                                    {% include "_navigation_bar.html" %}
                                </div>
                            </div>
                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 끝 ==========-->
                            <!--========== 오른쪽 강의룸 메인 콘텐츠 시작 ===========-->
                            <!-- 각 박스 별로 최신글 3개만 보이게끔 처리필요 -->
                            <div class="col-lg-10 col-xl-8 p-b30">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <!-- 강의룸 공지사항 글을 담는 박스 -->
                                        <div class="content-box">
                                            <!-- 박스 제목 div -->
                                            <div class="content-header d-flex justify-content-between">
                                                <h3 class="title"><i class="fa fa-microphone m-r5"></i>공지사항</h3>
                                                {% if notice_list %}
                                                    <!-- 더보기 a태크 클릭 시, 강의룸 내 공지사항 페이지로 이동 -->
                                                    <a href={% url "lect_room_list" room_no=lect.pk board_type=1 %}>더보기</a>
                                                {% elif logined_user == lect.lect_chief %}
                                                    <a href={% url "lect_board_register" lect.pk 1 %}>등록하기</a>
                                                {% endif %}

                                            </div>
                                            <div class="content-body">
                                                <!-- 공지사항 게시글 테이블 -->
                                                {% if notice_list %}
                                                    <table class="table">
                                                        <!-- 테이블 1행: 제목 -->
                                                        <thead>
                                                        <tr>
                                                            <th class="border-top-0" scope="col">번호</th>
                                                            <th class="border-top-0" style="width: 400px" scope="col">제목
                                                            </th>
                                                            <th class="border-top-0" scope="col">작성자</th>
                                                            <th class="border-top-0" scope="col">작성일</th>
                                                        </tr>
                                                        </thead>
                                                        <!-- 테이블 2행 ~: 공지사항 최근 3개 게시글 불러옴 -->
                                                        <tbody>
                                                        {% for notice in notice_list|slice:":3" %}
                                                            <tr>
                                                                <!-- 공지사항 번호 (고정됨) -->
                                                                <td>{{ notice_list|length |subtract:forloop.counter0 }}</td>
                                                                <!-- 공지사항 제목-->
                                                                <td>
                                                                    <a href={% url "lect_board_detail" lect.pk notice.pk %}>{{ notice.lect_board_title }}</a>
                                                                </td>
                                                                <!-- 공지사항 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                                <td>{{ notice.lect_board_writer.user_name }}</td>
                                                                <!-- 게시글 작성일 -->
                                                                <td>{{ notice.lect_board_created | date:"Y-m-d" }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <p class="text-center">공지사항이 없습니다.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- 강의룸 내 강의 페이지 글을 담는 박스 -->
                                        <div class="content-box">
                                            <!-- 박스 제목 div -->
                                            <div class="content-header d-flex justify-content-between">
                                                <h3 class="title"><i
                                                        class="fa fa-book m-r5"></i>{{ lect.lect_type.type_name }} 목록
                                                </h3>
                                                {% if lect_board_list %}
                                                    <!-- 더보기 a태크 클릭 시, 강의룸 내 강의리스트 페이지로 이동 -->
                                                    <a href={% url "lect_room_list" lect.pk 2 %}>더보기</a>
                                                {% elif logined_user == lect.lect_chief %}
                                                    <a href={% url "lect_board_register" lect.pk 2 %}>등록하기</a>
                                                {% endif %}
                                            </div>
                                            <div class="content-body">
                                                {% if lect_board_list %}
                                                    <!-- 강의목록(강의페이지) 게시글 테이블 -->
                                                    <table class="table">
                                                        <!-- 테이블 1행: 제목 -->
                                                        <thead>
                                                        <tr>
                                                            <th class="border-top-0" scope="col">번호</th>
                                                            <th class="border-top-0" style="width: 400px" scope="col">제목
                                                            </th>
                                                            <th class="border-top-0"
                                                                scope="col">{{ lect.lect_type.type_name }}</th>
                                                            <th class="border-top-0" scope="col">작성일</th>
                                                        </tr>
                                                        </thead>
                                                        <!-- 테이블 2행 ~: 강의목록(강의) 페이지 내 최근 3개 게시글 불러옴 -->
                                                        <tbody>
                                                        {% for board in lect_board_list|slice:':3' %}
                                                            <tr>
                                                                <!-- 공지사항 번호 (고정됨) -->
                                                                <td>{{ lect_board_list|length |subtract:forloop.counter0 }}</td>
                                                                <!-- 공지사항 제목-->
                                                                <td>
                                                                    <a href={% url 'lect_board_detail' lect.pk board.pk %}>{{ board.lect_board_title }}</a>
                                                                </td>
                                                                <!-- 공지사항 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                                <td>{{ board.lect_board_writer.user_name }}</td>
                                                                <!-- 게시글 작성일 -->
                                                                <td>{{ board.lect_board_created | date:"Y-m-d" }}</td>
                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <p class="text-center">아직 {{ lect.lect_type.type_name }}가 없습니다.</p>
                                                {% endif %}

                                            </div>
                                        </div>
                                        <!-- 강의룸 내 과제 글을 담는 박스 -->
                                        <div class="content-box">
                                            <!-- 박스 제목 div -->
                                            <div class="content-header d-flex justify-content-between">
                                                <h3 class="title"><i class="fa fa-check-square-o m-r5"></i>과제</h3>
                                                <!-- 더보기 a태크 클릭 시, 강의룸 내 과제 페이지로 이동 -->
                                                {% if assignment_list %}
                                                    <!-- 더보기 a태크 클릭 시, 강의룸 내 강의리스트 페이지로 이동 -->
                                                    <a href={% url 'lect_room_list' lect.lect_no 3 %}>더보기</a>
                                                {% elif logined_user == lect.lect_chief and lect_board_list %}
                                                    <a href={% url "lect_board_register" lect.lect_no 3 %}>등록하기</a>
                                                {% endif %}
                                            </div>
                                            <div class="content-body">
                                                {% if assignment_list %}
                                                    <!-- 과제 게시글 테이블 -->
                                                    <table class="table">
                                                        <!-- 테이블 1행: 제목 -->
                                                        <thead>
                                                        <tr>
                                                            <th class="border-top-0" scope="col">번호</th>
                                                            <th class="border-top-0" style="width: 400px" scope="col">제목
                                                            </th>
                                                            <th class="border-top-0" scope="col">과제 마감일</th>
                                                            <th class="border-top-0 text-xl-center" scope="col">제출</th>
                                                        </tr>
                                                        </thead>
                                                        <!-- 테이블 2행 ~: 과제 페이지 내 최근 3개 게시글 불러옴 -->
                                                        <tbody>
                                                        {% for row in assignment_list|slice:":3" %}
                                                            <tr>
                                                                <!-- 게시글 번호 (고정됨) -->
                                                                <td>{{ row.idx }}</td>
                                                                <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                                <td>
                                                                    <a href="{% url "lect_board_detail" lect.pk row.assignment.pk %}">{{ row.assignment.lect_board_title }}</a>
                                                                </td>
                                                                <!-- 과제 마감일 -->
                                                                <td>{{ row.assignment.assignment_deadline | date:"Y-m-d" }}</td>
                                                                <!-- 수강생: 과제 제출 여부 (제출/미제출) 보임 -->
                                                                <!-- 강의자: 과제를 제출한 사람수 보임 -->
                                                                <td class="text-center">{{ row.status }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <p class="text-center">아직 과제가 없습니다.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--========================= 강의룸 메인 콘텐츠 끝 =========================-->
                        </div>
                    </div>
                </div>
            </div>
            <!--======================================= 본문 끝 ==========================================-->
            <!--==========================================================================================-->
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}