{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    {% load widget_tweaks %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}"/>
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'plugins/editor/jquery-te-1.4.0.css' %}"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'plugins/drop/imageuploadify.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'plugins/tag-editor/jquery.tag-editor.css' %}"/>
    <script src="{% static 'js/form.js' %}"></script>
    <body>
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
                <a href="#">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!--강의게시판, 스터디게시판, 취미모임게시판 종류에 따라 바뀌도록 변경-->
                            <a href="{% url 'lect_view' type_no=lect.lect_type.type_no %}"><h1
                                    class="text-white introduce-letter-spacing_5">{{ lect.lect_type.type_name }}</h1>
                            </a>
                            <!--부제목-->
                            <!--강의게시판, 스터디게시판, 취미모임게시판 종류에 따라 바뀌도록 변경-->
                            <p class="m-t20">{{ lect.lect_type.type_exp }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--===============================================입력란=========================================================-->

            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        {% if lect.lect_type.type_no == 1 %}
                            {% if lect.lect_state.state_no == 1 %}
                                <div class="alert alert-secondary" role="alert" style="text-align: center">
                                    <i>승인대기중</i>
                                </div>
                            {% elif lect.lect_state.state_no == 3 %}
                                <!--승인 완료 시 뜨는 알람-->
                                <div class="alert alert-success" role="alert" style="text-align: center">
                                    <i>승인완료</i>
                                </div>
                            {% elif lect.lect_state.state_no == 2 %}
                                <!--승인 거절 시 뜨는 알람, 거절 사유 입력하면 같이 뜨게 만들기-->
                                <div class="alert alert-danger" role="alert" style="text-align: center">
                                    <i>승인거절 ( 거절사유 : {{ lect.lect_reject_reason }} )</i>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if lect.lect_state_id == 4 %}
                            <div class="alert alert-secondary" role="alert"
                                 style="text-align: center; background-color: #d2d2d2">
                                <i>이미 종료된 강의입니다.</i>
                            </div>
                        {% endif %}
                        <!--====================================내용 시작==============================================-->
                        <div class="content-box">
                            <!--게시글 작성자, 작성시간 나옴(게시글 정보)-->
                            <div class="content-header">
                                <div class="dlab-post-meta" style="margin: 0px">
                                    <ul class="d-flex align-items-center">
                                        <!-- 게시글 작성자, 작성자 이름 나오도록 수정 -->
                                        <li class="post-author"><i
                                                class="ti ti-user"></i>{{ lect.lect_chief.user_name }}</li>
                                        <!-- 게시글 작성시간, 작성시간 나오도록 수정 -->
                                        <li class="post-comment"><i
                                                class="ti ti-alarm-clock"></i> {{ lect.lect_created|date:"Y-m-d H:i" }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--여기까지가 게시글 정보-->
                            <!--====================================제목 시작==============================================-->
                            <div class="content-body">
                                <div class="form-group">
                                    <!--강의명 이곳에 뜨도록 수정-->
                                    <h4 class="post-title "
                                        style="margin-top: 10px; margin-bottom: 8px">{{ lect.lect_title }}</h4>
                                </div>
                            </div>
                        </div>
                        <!--====================================제목끝=============================================-->
                        <!--====================================소개 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">{{ lect.lect_type.type_name }} 소개</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--소개란에 입력한 내용 이곳에 뜨도록 수정-->
                                    <a>{{ lect.lect_intro }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================소개 끝=============================================-->
                        <!--====================================일정계획 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">{{ lect.lect_type.type_name }} 계획</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--일정계획에 입력한 내용 이곳에 뜨도록 수정-->
                                    <a>{{ lect.lect_curri|safe }}</a>
                                </div>
                            </div>
                        </div>
                        <!--=================================== 일정계획 끝=============================================-->
                        <!--====================================요일 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">{{ lect.lect_type.type_name }} 요일</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--요일 선택한 내용 이곳에 뜨도록 수정-->
                                    <a>{{ lect.lect_day }}</a>
                                </div>
                            </div>
                        </div>
                        <!--=================================== 일정계획 끝=============================================-->
                        <!--====================================신청인원/제한인원 시작==============================================-->
                        <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">신청 현황</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--지금까지 신청한 인원과/대표자가 입력한 제한인원이 이곳에 뜨도록 수정-->
                                    <a>{{ lect.get_enrolled_std_num }}/{{ lect.lect_limit_num }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================신청인원/제한인원 끝=============================================-->
                        <!--====================================방식 시작==============================================-->
                        {% if lect.lect_type.type_no != 3 %}
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">{{ lect.lect_type.type_name }} 방식</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <!--방식에 입력한 내용 이곳에 뜨도록 수정-->
                                        <a>{{ lect.lect_method.method_name }}</a>
                                    </div>
                                </div>
                            </div>
                            <!--====================================방식 끝=============================================-->
                            <!--====================================장소 시작==============================================-->
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">{{ pol_name }}</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <!--장소에 입력한 내용 이곳에 뜨도록 수정-->
                                        <a>{{ lect.lect_place_or_link }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!--====================================장소 끝=============================================-->
                        <!--====================================대표자 전화번호 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">대표자 이름</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--여기 뜨는 것은 작성자가 입력한 내용이 아닌, 작성자 개인정보에서 가져와서 뜨도록 수정-->
                                    <a>{{ lect.lect_chief.user_name }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================대표자 전화번호 끝=============================================-->
                        <!--====================================대표자 전화번호 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">대표자 전화번호</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--여기 뜨는 것은 작성자가 입력한 내용이 아닌, 작성자 개인정보에서 가져와서 뜨도록 수정-->
                                    <a>{{ lect.lect_chief.user_phone }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================대표자 전화번호 끝=============================================-->
                        <!--====================================대표자 이메일 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">대표자 이메일</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--여기 뜨는 것은 작성자가 입력한 내용이 아닌, 작성자 개인정보에서 가져와서 뜨도록 수정-->
                                    <a>{{ lect.lect_chief.useremail_set.first.user_email }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================대표자 이메일 끝=============================================-->
                        <!--====================================신청마감일 시작==============================================-->
                        <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">{{ lect.lect_type.type_name }} 신청마감일</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--신청마감일에 입력한 내용 뜨도록 수정-->
                                    <a>{{ lect.lect_deadline|date:"Y-m-d" }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================신청마감일 끝=============================================-->
                        <!--====================================대표이미지=============================================-->

                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">대표이미지</h3>
                            </div>
                            <!--일단 기존에 있던 쿼리 가져왔는데, 작성자가 첨부한 이미지 이곳에 뜨도록 수정-->
                            <div class="widget widget_gallery gallery-grid-4 lightgallery">
                                <ul style="padding: 10px; margin-bottom: 0px">

                                    <li>
                                        <span data-exthumbimage="/media/{{ lect.lect_pic }}"
                                              data-src="/media/{{ lect.lect_pic }}"
                                              class="check-km "
                                              title="">
                                            <a href="javascript:void(0);">
                                                <div class="dlab-post-thum act-detail-img-size">
                                                    <img style="height: 190px"
                                                         src="/media/{{ lect.lect_pic }}"
                                                         alt=""/>
                                                </div>
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--====================================대표이미지 끝=============================================-->
                        <!-- 게시글 삭제 및 수정 div -->
                        {% if logined_user.user_stu == lect.lect_chief.user_stu %}
                            <div class="extra-cell text-right">
                            <form id="id-form-lect-update" action="{% url 'lect_update' lect_no=lect.lect_no %}"
                                  style="display: none" method="get">
                            </form>
                            <!-- 게시글 수정 버튼 -->
                            <a href="#"
                               class="site-button radius-xl m-l10"
                               onclick="document.getElementById('id-form-lect-update').submit()"><i
                                    class="fa fa-pencil m-r5"></i>
                                {{ lect.lect_type.type_name }} 수정</a>
                        {% endif %}
                        {% if logined_user.user_stu == lect.lect_chief.user_stu or logined_user.user_role.role_no <= 3 %}
                            <!-- 게시글 삭제 버튼 -->
                            <form id="id-form-lect-delete" action="{% url 'lect_delete' lect_no=lect.lect_no %}"
                                  method="post" style="display: none">
                                {% csrf_token %}
                            </form>
                            <a href="#" class="site-button red radius-xl m-l10"
                               onclick="goSubmit('id-form-lect-delete', true, '정말 {{ lect.lect_title }} 강의를 삭제하시겠습니까?\n등록했던 모든 강의 및 게시글이 삭제됩니다.')">
                                <i class="fa fa-trash m-r5"></i>
                                {{ lect.lect_type.type_name }} 삭제
                            </a>
                            </div>
                        {% endif %}
                        {% if lect.lect_state.state_no >= 3 %}
                            {% if lect.lect_state_id == 3 %}
                                {% if is_logined and logined_user != lect.lect_chief and not is_in and logined_user.user_role.role_no != 5 %}
                                    <!--=======신청하기 버튼, 한번 신청하기 버튼을 누르면 없어지도록 수정======-->
                                    {% if not is_closed %}
                                        <div style="display: flex; justify-content: center; ">
                                            <button type="button" class="btn btn-outline-success btn-lg"
                                                    style="width: 200px; font-weight: bold"
                                                    onclick="location.href='{% url "lect_enroll" lect.lect_no %}'">
                                                신청하기
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <!--=======강의실로 이동하기 버튼, 신청을 하지 않으면 뜨지 않고, 신청 후 버튼이 뜨도록 수정, 누르면 강의실로 이동함======-->
                            <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                            {% if is_in or logined_user == lect.lect_chief or is_superuser %}
                                <div style="display: flex; justify-content: center; ">
                                    <button type="button" class="btn btn-outline-primary btn-lg"
                                            style="font-weight: bold"
                                            onclick="location.href='{% url "lect_room_main" lect.lect_no %}'">
                                        {% if lect.lect_type_id == 1 %}강의실로
                                        {% elif lect.lect_type_id == 2 %}스터디룸으로
                                        {% else %}취미모임으로
                                        {% endif %}이동하기
                                    </button>
                                </div>
                            {% endif %}
                            <!--=======강의개설신청 게시판에 들어가면 보이는 버튼들, 강의/스터디/취미모임 게시판에서는 안보이도록 수정, 강의 개설 신청 승인/거절 버튼======-->
                        {% elif lect.lect_state.state_no == 1 and is_superuser %}
                            <div style="display: flex; justify-content: center; ">
                                <!--승인-->
                                <form action="{% url 'lect_aor' lect_no=lect.lect_no %}" method="post">
                                    {% csrf_token %}
                                    <input id="id_lect_state" type="hidden" name="lect_state" value="3"/>
                                    <button type="submit" class="btn btn-outline-success btn-lg"
                                            style="width: 200px; font-weight: bold" onclick="alert('강의 개설을 승인하셨습니다.')">
                                        개설승인
                                    </button>
                                </form>
                                <!--거절-->
                                <button type="button" class="btn btn-outline-danger btn-lg "
                                        style="width: 200px; margin-left: 10px; font-weight: bold"
                                        href="javascript:void(0);" data-toggle="modal" data-target="#lect_refuse">
                                    개설거절
                                </button>
                            </div>
                        {% else %}
                        {% endif %}
                        <!---->
                        <!-- 거절 버튼 누르면 나오는 창 -->
                        {% if lect.lect_state.state_no == 1 and is_superuser %}
                            <div class="modal fade modal-bx-info" id="lect_refuse" tabindex="-1" role="dialog"
                                 aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog " role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="FavoriteModalLongTitle">승인거절 사유</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"><i class="la la-close"></i></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="tab-content nav">
                                                <div id="login" class="tab-pane active"
                                                     style="margin-bottom: -25px; margin-top: 10px">
                                                    <!--승인 거절 사유 입력창-->
                                                    <form action="{% url 'lect_aor' lect_no=lect.lect_no %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input id="id_lect_state" type="hidden" name="lect_state"
                                                               value="2"/>
                                                        <div class="form-group">
                                                            {% render_field lect_reject_form.lect_reject_reason class="form-control" %}
                                                        </div>
                                                        <!--거절버튼-->
                                                        <div class="form-group">
                                                            <button type="submit"
                                                                    class="site-button btn-block button-md"
                                                                    onclick="alert('승인이 거절되었습니다')">입력
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- 거절 버튼 누르면 나오는 창 끝 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>

{% endblock %}
