{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <script src="{% static 'js/comment.js' %}"></script>
    <!--코드 뷰어 스크립트-->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
    <script>
        function lectApprove() {
            if (confirm("과제제출을 승인하시겠습니까?")) {
                document.getElementById("form-lectRoom-approve").submit();
            }
        }

    </script>

    <div class="page-wraper">

        <div class="page-content bg-white">
            <div class="page-content bg-white">
                <!----------============= 상단 제목 시작 ================----------->
                <!--제목을 감싸는 배경-->
                <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                     style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                    <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                    <!-- (ex.자유게시판의 '용식이의 학식일기'글의 상세 페이지에서 상위 제목을 클릭하면, 자유게시판으로 이동) -->
                    <a href="{% url "lect_room_main" lect.lect_no %}">
                        <div class="container clearfix">
                            <div class="dlab-bnr-inr-entry">
                                <!--제목-->
                                <!-- DB에서 제목 꺼내와야 함 -->
                                <h1 class="text-white introduce-letter-spacing_5">{{ lect.lect_title }}</h1>
                                <!--부제목-->
                                <!-- DB에서 제목 꺼내와야 함 -->
                                <p class="m-t20">{{ lect.lect_intro }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!----------============= 본문 시작 ================----------->
                <div class="section-full content-inner">
                    <div class="container">
                        <div class="row" style="justify-content: center">
                            <!--========== 왼쪽 강의룸 네비게이션바 시작 ==========-->
                            <div class="col-lg-3 col-xl-3">
                                <div class="sticky-top">
                                    {% include "_navigation_bar.html" %}
                                </div>
                            </div>
                            <!--========== 왼쪽 강의룸 네비게이션바 끝 ==========-->
                            <!--========== 오른쪽 강의룸 디테일 내용 시작 ==========-->
                            <div class="col-lg-8 col-xl-8 p-b30">
                                <div class="blog-post blog-single">
                                    <!-- 게시글 작성자 및 작성시간을 담는 div -->
                                    <div class="dlab-post-meta m-b20">
                                        <ul class="d-flex align-items-center">
                                            <!-- 게시글 작성자 -->
                                            <li class="post-author"><i class="ti ti-user"></i>By <a
                                                    href="javascript:void(0);">{{ board.lect_board_writer.user_name }}</a>
                                            </li>
                                            <!-- 게시글 작성시간 -->
                                            <li class="post-comment"><i class="ti ti-alarm-clock"></i> <a
                                                    href="javascript:void(0);">{{ board.lect_board_created | date:"Y-m-d" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- 게시글 제목 -->
                                    <!-- 수강생일 때 게시글 제목에 고정 글자가 필요할 듯. ex) [1주차 과제] 계산기 대신 거북이를 만들어 봤어요  -->
                                    <div class="dlab-post-title ">
                                        <h2 class="post-title m-t0">
                                            <a href="javascript:void(0);">{{ board.lect_board_title }}</a>
                                        </h2>
                                    </div>

                                    <!--============================== 게시글 본문 시작 ==============================-->
                                    <div class="dlab-post-text">
                                        {% autoescape off %}
                                            {{ board.lect_board_cont }}
                                        {% endautoescape %}

                                        <!-- 코드 뷰 -->
                                        {% for code_file in code_files %}
                                            <pre class="prettyprint"
                                                 style="overflow-x: auto; border-radius: 10px">"{{ code_file.file_name }}"<br><br>{{ code_file.code }}</pre>
                                        {% endfor %}



                                        {% include "file_detail.html" %}

                                        <!--=======================강의 링크============================-->
                                        {% if youtube %}
                                            {% autoescape off %}
                                                {{ youtube }}
                                            {% endautoescape %}
                                        {% elif og %}
                                            <div class="clear m-t50 category-bx" id="comment-list">
                                                <a href="{{ og.url }}" class="comments-area" id="comments"
                                                   target="_blank">
                                                    <div class="clearfix">
                                                        <ol class="comment-list">
                                                            <li class="comment">
                                                                <div class="comment-body lectRoom_meeting">
                                                                    <div class="comment-author vcard mb-0"
                                                                         style="display: flex">
                                                                        <!-- 사진 -->
                                                                        <div style="display: inline-block;"
                                                                             class="m-r20">
                                                                            <img
                                                                                    class="photo width-100"
                                                                                    src="{{ og.image }}"
                                                                                    alt="">
                                                                        </div>
                                                                        <!-- 강의 내용 -->
                                                                        <div style="display:inline-block;">
                                                                            <cite class="fn m-l10">{{ board.lect_board_title }}
                                                                                <div class="comment-meta">
                                                                                    <p>{{ og.title }}</p>
                                                                                </div>
                                                                                <p class="text-lowercase">{{ og.url }}</p>
                                                                            </cite>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </a>
                                            </div>
                                        {% elif board.lect_board_link %}
                                            강의링크 :<a href="{{ board.lect_board_link }}"
                                                     target="_blank">{{ board.lect_board_link|url }}</a>
                                        {% endif %}

                                        <!-- 게시글 삭제 및 수정 div -->
                                        <div class="extra-cell text-right">

                                            <!-- 관련자만 보이게 처리 -->
                                            {% if logined_user == board.lect_board_writer or logined_user == lect.lect_chief %}

                                                <!-- 게시글 수정 버튼 -->
                                                <form method="get"
                                                      action="{% url "lect_board_update" lect.pk board.pk %}"
                                                      class="d-inline-block">
                                                    {% csrf_token %}
                                                    <button class="site-button radius-xl m-l10" type="submit">
                                                        <i class="fa fa-pencil m-r5"></i>게시글 수정
                                                    </button>
                                                </form>

                                                <!-- 게시글 삭제 버튼 -->
                                                <form method="get"
                                                      action="{% url "lect_board_delete" lect.pk board.pk %}"
                                                      class="d-inline-block">
                                                    {% csrf_token %}
                                                    <button class="site-button red radius-xl m-l10" type="submit">
                                                        <i class="fa fa-trash m-r5"></i>게시글 삭제
                                                    </button>
                                                </form>

                                            {% endif %}

                                            <!-- 수강생만 보임 -->
                                            {% if logined_user != board.lect_board_writer and board.lect_board_type_id == 3 %}

                                                {% if not submitted_assignment %}
                                                    <!-- 제출된 과제가 없는 경우 -->

                                                    {% if board.is_expired %}
                                                        <!-- 제출된 과제가 없는데, 과제 제출 안한 경우, 얄짤없음. -->
                                                        과제 제출 기간이 아닙니다

                                                    {% else %}
                                                        <!-- 제출된 과제가 없으면, 과제 제출 버튼 -->
                                                        <form method="get"
                                                              action="{% url "lect_assignment_submit" lect.lect_no %}">
                                                            {% csrf_token %}
                                                            <button class="site-button radius-xl m-l10" type="submit">
                                                                <i class="fa fa-pencil m-r5"></i>과제 제출
                                                            </button>
                                                            <input type="hidden" name="lect_board_no"
                                                                   value="{{ board.lect_board_no }}">
                                                        </form>
                                                    {% endif %}

                                                {% else %}

                                                    <!-- 제출된 과제가 있으면, 과제 보는 링크 -->
                                                    <a href="{% url "lect_assignment_detail" lect.pk submitted_assignment.pk %}">
                                                        <i class="fa fa-arrow-right m-r5"></i>제출한 과제 보기</a>

                                                {% endif %}
                                            {% endif %}
                                        </div>

                                </div>
                                <!--==================== 댓글부분 시작 ====================-->
                                <div id="CommentList"></div>
                                <!--==================== 댓글부분 끝 ====================-->

                                <!-- 거절 버튼 누르면 나오는 창 -->
                                <div class="modal fade modal-bx-info" id="favorite" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog " role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="FavoriteModalLongTitle">과제제출 기각
                                                    사유</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                                <span aria-hidden="true"><i
                                                                        class="la la-close"></i></span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="tab-content nav">
                                                                    <div id="login" class="tab-pane active"
                                                                         style="margin-bottom: -25px; margin-top: 10px">

                                                                        <!--기각 사유 입력창-->
                                                                        <form>
                                                                            <div class="form-group">
                                                                                <input class="form-control"
                                                                                       name="lectRoom_reject_reason"
                                                                                       placeholder="과제제출 기각 사유를 입력해주세요"
                                                                                       type="text"/>
                                                                            </div>
                                                                            <!--거절버튼-->
                                                                            <div class="form-group">
                                                                                <button type="submit"
                                                                                        class="site-button btn-block button-md"
                                                                                        onclick="alert('과제제출이 기각되었습니다')">
                                                                                    입력
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 거절 버튼 누르면 나오는 창 끝 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--========== 오른쪽 강의룸 디테일 내용 끝 ==========-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 상단으로 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
    <!-- django 렌더링 끝나고 나서 vue.js 렌더링 -->
    <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
    <!-- django 렌더링 끝나고 나서 vue.js 렌더링 -->
{% endblock %}
