{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--코드 뷰어 스크립트-->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 강의룸 메인 페이지로 이동 -->
                <!-- (ex. 강의룸 내 출결확인 페이지에서 상단 제목을 클릭하면, 강의룸 메인으로 돌아갈 수 있음) -->
                <a href="#">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!-- 제목 -->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">파이썬 기초 강의</h1>
                            <!--부제목-->
                            <!-- DB에서 제목 꺼내와야 함 (강의 간단소개 db 가져오면 됨) -->
                            <p class="introduce-margin-top_20">파이썬을 처음 접하는 분들을 위한 강의입니다.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--==========================================================================================-->
            <!--======================================= 본문 시작 ==========================================-->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <div class="row">
                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 시작 ==========-->
                            <div class="col-lg-3 col-xl-3">
                                <div class="sticky-top">
                                    <!-- 강의룸 내 검색창 -->
                                    <!-- 검색 시, 강의룸 내 게시글들(공지사항, 강의목록, 과제 등) 중 해당 키워드를 포함한 게시글을 모두 끌고옴 -->
                                    <div class="listing-filter-sidebar" style="margin-bottom: 30px">
                                        <div style="margin-bottom: 20px">
                                            <h4 class="title">강의실 내 검색</h4>
                                            <div class="">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="text" type="text" class="form-control"
                                                               placeholder="검색어를 입력하세요.">
                                                        <span class="input-group-btn">
												<button type="submit" class="site-button"><i
                                                        class="fa fa-search"></i></button></span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 강의룸 내 페이지 리스트 -->
                                    <!-- 클릭한 게시글을 끌고옴 -->
                                    <div class="listing-filter-sidebar">
                                        <h4 class="title">강의실</h4>
                                        <div class="widget_tag">
                                            <ul class="m-b0">
                                                <!-- [메뉴바 > 강의실 > 강의] 게시판 내 강의소개 페이지로 이동 -->
                                                <li><a href="javascript:void(0);">강의소개</a>&nbsp;</li>
                                                <!-- 공지사항, 강의, 과제, 제출된 과제 페이지들은 모두 동일한 레이아웃임 -->
                                                <!-- 다만 과제 페이지의 경우 강의자, 수강생 별 보이는 게 다르게끔 세션처리 필요 (해당 게시판 주석 참조) -->
                                                <!-- 강의자, 수강생 모두 모이는 메뉴: 공지사항, 강의, 과제 -->
                                                <li><a href="javascript:void(0);">공지사항</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">강의</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">과제</a>&nbsp;</li>
                                                <!-- 수강생만 보이는 메뉴: 출석 및 과제 현황 -->
                                                <li><a href="javascript:void(0);">출석 및 과제 현황</a>&nbsp;</li>
                                                <!-- 강의자만 보이는 메뉴: 출석 및 과제 관리, 수강생 관리, 제출된 과제 리스트 -->
                                                <li><a href="javascript:void(0);">출석 및 과제 관리</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">수강생 관리</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">제출된 과제 리스트</a>&nbsp;</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 끝 ==========-->
                            <!--========== 오른쪽 강의룸 메인 콘텐츠 시작 ===========-->
                            <div class="col-xl-8 col-lg-7 col-md-12 m-b30">
                                <form class="add-listing-form">
                                        <!-- ======================제목 박스====================== -->
                                         <div class="content-box">
                                            <div class="content-header">
                                                <!--제목-->
                                                <h3 class="title">제목</h3>
                                            </div>
                                            <div class="content-body">
                                                <div class="form-group">
                                                    <!--제목 입력하는 곳-->
                                                    <input type="text" name="lect_title"
                                                   class="form-control" required="required" placeholder="제목을 적어주세요."
                                                   style="font-size: 25px; height: 70px;"/>
                                                </div>
                                            </div>
                                         </div>
                                        <!--======================파일 첨부 박스======================-->
                                        <div class="content-box">
                                            <div class="content-header">
                                                <h3 class="title">파일첨부</h3>
                                            </div>
                                            <div class="content-body">
                                                <div class="form-group">
                                                    <!--파일 첨부하는 곳-->
                                                    <input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple/>
                                                </div>
                                                <!-- 이미 존재하고 있던 파일: 삭제 가능 (수정모드)-->
                                                {% if lect_board is not None %}
                                                    <div class="form-group">
                                                        <div id="image-cont" class="image-cont">
                                                            {% for lect_board_file in lect_board_file_list %}
                                                                <div id="image-card-{{ lect_board_file.lect_board_file_id }}"
                                                                     class="image-card">
                                                                    <!-- 취소 버튼, 취소를 누를 시 image-card 컨테이너가 통채로 사라짐. -->
                                                                    <button type="button"
                                                                            class="btn btn-danger fa fa-times btn-cancel"
                                                                            onclick="delImg(document.getElementById('image-card-{{ lect_board_file.lect_board_file_id }}'))"></button>
                                                                    <!-- 이미지 컨테이너 이미지 파일일 경우 img태그가, 이미지 파일이 아닐 경우 파일 모양의 아이콘이 붙음. -->
                                                                    <div id="image-{{ lect_board_file.lect_board_file_id }}"
                                                                         class="image-container"></div>
                                                                    <!--기존 파일링크를 이동시키기 위한 히든 링크 -->
                                                                    <input type="hidden"
                                                                           name="exist_file_path_{{ lect_board_file.lect_board_file_id }}"
                                                                           value="{{ lect_board_file.lect_board_file_path }}"/>
                                                                </div>
                                                                <script>
                                                                    // 페이지가 로딩 될 때 해당 함수도 자동으로 실행되도록 설정함. (아이콘 or img 결정)
                                                                    onload = decisionIcon(document.getElementById("image-{{ lect_board_file.lect_board_file_id }}"), '{{ lect_board_file.lect_board_file_path }}');
                                                                </script>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--=====================강의링크 입력 박스=======================-->
                                        <div class="content-box">
                                            <div class="content-header">
                                                <h3 class="title">강의링크</h3>
                                            </div>
                                            <div class="content-body">
                                                <div class="form-group">
                                                    <!--입력하는 곳-->
                                                    <input type="text" class="form-control"
                                                           placeholder="강의 링크를 적어주세요."/>
                                                </div>
                                            </div>
                                        </div>
                                        <!--=====================코드 테스트 박스=======================-->
                                        <div class="content-box">
                                            <div class="content-header">
                                                <h3 class="title">코드</h3>
                                            </div>
                                            <div class="content-body">
                                                <div class="form-group">
                                                    <pre class="prettyprint" style="overflow-x: auto; border-radius: 10px">
def lect_view(request, type_no):  # 게시판 페이지로 이동
    lect_type = LectType.objects.get(pk=type_no)

    # 회장단에 의해 승인된 강의만 등록, 스터디는 등록 시 이미 승인.
    lect_list = get_page_object(request, Lect.objects.filter(
        Q(lect_type=lect_type) & Q(lect_state__state_no=3)).prefetch_related(
        "lectday_set").prefetch_related("lectuser_set"))
    context = {
        "type": lect_type,
        "lecture": LectType.objects.get(pk=1),
        "lect_list": lect_list
    }
    return render(request, 'lecture_list.html', context)
                                                    </pre>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ======================내용 입력 박스====================== -->
                                         <div class="content-box">
                                            <div class="content-header">
                                                <!--내용-->
                                                <h3 class="title">내용</h3>
                                            </div>
                                            <div class="content-body editor">
                                                <div class="form-group">
                                                    <!--내용 입력하는 곳-->
                                                    <input
                                                      type="text"
                                                      class="jqte-test"/>
                                                </div>
                                            </div>
                                         </div>
                                        <!-- ======================과제 입력 박스/강의글 등록할 때만 뜨도록 수정====================== -->
                                         <div class="content-box">
                                            <div class="content-header">
                                                <!--내용-->
                                                <h3 class="title">과제</h3>
                                            </div>
                                            <div class="content-body editor">
                                                <div class="form-group">
                                                    <!--과제 유무를 확인하는 체크박스-->
                                                    <div
                                                      data-toggle="collapse"
                                                      data-target="#homework"
                                                      role="button"
                                                      aria-expanded="false"
                                                      aria-controls="tagline">
                                                        <input id="homework_have" type="checkbox" />
                                                        <label for="homework_have">과제가 있습니다.</label>
                                                    </div>
                                                    <!--과제가 있다고 체크하면 나오는 창, 과제 등록하는 곳-->
                                                    <div class="form-group collapse" id="homework">
                                                        <hr/>
                                                        <label>과제 제목</label>
                                                        <!--과제 제목 입력하는 곳-->
                                                        <input type="text" name="lect_title"
                                                       class="form-control" required="required" placeholder="제목을 적어주세요."
                                                       style="font-size: 25px; height: 70px;"/>
                                                       <hr/>
                                                        <div class="form-group">
                                                            <!--과제 관련 파일 첨부하는 곳-->
                                                            <label>과제 관련 파일</label>
                                                            <input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple/>
                                                        </div>
                                                        <!-- 이미 존재하고 있던 파일: 삭제 가능 (수정모드)/과제관련 파일 정의되어있지 않아서 일단 뒤에_homework붙였음 -->
                                                        {% if lect_board_homework is not None %}
                                                            <div class="form-group">
                                                                <div id="image-cont" class="image-cont">
                                                                    {% for lect_board_homework_file in lect_board_homework_file_list %}
                                                                        <div id="image-card-{{ lect_board_homework_file.lect_board_homework_file_id }}"
                                                                             class="image-card">
                                                                            <!-- 취소 버튼, 취소를 누를 시 image-card 컨테이너가 통채로 사라짐. -->
                                                                            <button type="button"
                                                                                    class="btn btn-danger fa fa-times btn-cancel"
                                                                                    onclick="delImg(document.getElementById('image-card-{{ lect_board_homework_file.lect_board_homework_file_id }}'))"></button>
                                                                            <!-- 이미지 컨테이너 이미지 파일일 경우 img태그가, 이미지 파일이 아닐 경우 파일 모양의 아이콘이 붙음. -->
                                                                            <div id="image-{{ lect_board_homework_file.lect_board_homework_file_id }}"
                                                                                 class="image-container"></div>
                                                                            <!--기존 파일링크를 이동시키기 위한 히든 링크 -->
                                                                            <input type="hidden"
                                                                                   name="exist_file_path_{{ lect_board_homework_file.lect_board_homework_file_id }}"
                                                                                   value="{{ lect_board_homework_file.lect_board_homework_file_path }}"/>
                                                                        </div>
                                                                        <script>
                                                                            // 페이지가 로딩 될 때 해당 함수도 자동으로 실행되도록 설정함. (아이콘 or img 결정)
                                                                            onload = decisionIcon(document.getElementById("image-{{ lect_board_homework_file.lect_board_homework_file_id }}"), '{{ lect_board_homework_file.lect_board_homework_file_path }}');
                                                                        </script>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        <hr/>
                                                        <!--과제 내용-->
                                                        <label>과제 내용</label>
                                                        <!--과제 내용 입력하는 곳-->
                                                        <input
                                                        type="text"
                                                        class="jqte-test"/>

                                                        <hr/>
                                                        <!--과제 마감일-->
                                                        <label>과제 마감일</label>
                                                        <!--과제 마감일 입력하는 곳-->
                                                        <input type="date" class="form-control" name="lect_board_deadline" required="required"/>
                                                      </div>
                                                </div>
                                            </div>
                                         </div>
                                        <!--등록버튼, 수정할 때는 수정하기로 뜨도록 수정필요-->
                                        <div style="display: grid; justify-items: center">
                                            <button class="site-button btn-block button-md" type="submit" style="width: 30%">
                                                등록하기
                                            </button>
                                        </div>
                                </form>
                            </div>
                            <!--========================= 강의룸 등록 부분 끝 =========================-->
                        </div>
                    </div>
                </div>
            </div>
            <!--======================================= 본문 끝 ==========================================-->
            <!--==========================================================================================-->
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}