{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <script src="{% static 'js/ibas_centents.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/comment.js' %}"></script>

    <script>
        function selectAoR() {
            itemidSelect = document.getElementById('select-aor');
            document.getElementById("input-aor").value = itemidSelect.options[itemidSelect.selectedIndex].value;
        }

        function decideChk(obj, user_stu) {
            if (obj.checked === true) {
                document.getElementById('new-user-check-' + user_stu).checked = true;
            } else {
                document.getElementById('new-user-check-' + user_stu).checked = false;
            }
        }

        function submitForm(id) {
            const loadingObj = document.createElement("div");
            loadingObj.id = "loading-area"
            document.body.appendChild(loadingObj)
            document.getElementById(id).submit();
        }
    </script>


    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <a>
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">수강생 관리 게시판</h1>
                            <!--부제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <p class="m-t20">수강생 관리를 할 수 있는 게시판입니다. </p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        {#                        {% if request.session.user_role <= 3 %}#}
                        <!--회원관리-->
                        <div id="listing_user_setting" class="tab-pane">
                            <div class="row">
                                <!--========== 왼쪽 검색창 및 네비게이션 시작 ==========-->
                                <div class="col-lg-3 col-xl-3">
                                    <div class="sticky-top">
                                        <!-- 게시글 검색창 -->
                                        <!-- 검색 시, 전체 게시판의 게시글들 중 해당 키워드를 포함한 게시글을 모두 끌고옴 -->
                                        <div class="listing-filter-sidebar" style="margin-bottom: 30px">
                                            <div style="margin-bottom: 20px">
                                                <h4 class="title">게시글 검색</h4>
                                                <div class="">
                                                    <form role="search" action="{% url 'board_search' %}" method="get">
                                                        <div class="input-group">
                                                            <input name="keyword" type="text" class="form-control"
                                                                   placeholder="검색어를 입력하세요.">
                                                            <span class="input-group-btn">
												           <button type="submit" class="site-button">
                                                               <i class="fa fa-search"></i>
                                                           </button>
                                                        </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 게시판 종류 리스트 -->
                                        <!-- 클릭한 게시판의 게시글을 끌고옴 -->
                                        <div class="listing-filter-sidebar">
                                            <h4 class="title">게시판</h4>
                                            <div class="widget_tag">
                                                <ul class="m-b0">
                                                    <li><a href="{% url 'board_view'  board_type_no=5 %}">전체 게시글</a>
                                                        ({{ all_num }}+)
                                                    </li>
                                                    <li><a href="{% url 'board_view'  board_type_no=1 %}">공지사항</a>
                                                        ({{ notice_num }}+)
                                                    </li>
                                                    <li><a href="{% url 'board_view'  board_type_no=2 %}">자유게시판</a>
                                                        ({{ free_num }}+)
                                                    </li>
                                                    <li><a href="{% url 'board_view'  board_type_no=3 %}">질문게시판</a>
                                                        ({{ quest_num }}+)
                                                    </li>
                                                    <li><a href="{% url 'contest_list' %}">공모전게시판</a>
                                                        ({{ contest_num }}+)
                                                    </li>
                                                    <li><a href="{% url 'activity' %}">활동게시판</a>
                                                        ({{ activity_num }}+)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--=======================수강생 관리=========================-->
                                <div class="col-lg-11 col-xl-8 p-b30">
                                    {% if logined_user.user_role.role_no != 4 %}

                                        <!-- 신입부원 관리 콘텐츠 시작 -->

                                        <div class="myinfo-table-padding">
                                            <!-- 신입부원 관리 테이블 시작 -->
                                            <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                            <div class="staff_mem_select m-b20">
                                                <!-- onchange 는 필터. staff.js 에 정의되어 있음. -->
                                                <select id="lectRoom_select_state" name=""
                                                        onchange="lectRoom_state()">
                                                    <option selected="selected">상태
                                                    </option>
                                                    <option>수강중</option>
                                                    <option>수강정지</option>
                                                </select>
                                            </div>

                                            <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                            <div class="staff_mem_select m-b20">
                                                <select id="select-aor" onchange="selectAoR()">
                                                    <option selected="selected" disabled="disabled">관리
                                                    </option>
                                                    <option value="1">수강중</option>
                                                    <option value="2">수강정지</option>
                                                </select>
                                            </div>
                                            <!-- staff_mem_btn는 staff_cr.css에 정의되어 있음.  -->
                                            <div class="staff_mem_btn m-b20 listing-info-right">
                                                <!-- &nbsp;는 띄어쓰기 -->
                                                <button class="site-button" type="button"
                                                        onclick="submitForm('hd-form-members-aor')">
                                                    <i
                                                            class="la la-check m-r5"
                                                            style="font-weight: bold"
                                                    ></i>&nbsp;적용
                                                </button>
                                            </div>
                                            <form id="hd-form-members-aor" action="{% url 'members_aor' %}"
                                                  method="post" style="display: none">
                                                {% csrf_token %}
                                                {% for new_user in new_user_list %}
                                                    <input id="new-user-check-{{ new_user.user_stu }}"
                                                           type="checkbox" name="user_stu_list[]"
                                                           value="{{ new_user.user_stu }}"
                                                           style="display: none"/>
                                                {% endfor %}
                                                <input id="input-aor" type="hidden" name="aor" value="0"/>
                                            </form>
                                            <table class="table">
                                                <thead>
                                                <!-- 테이블 1행: 제목 -->
                                                <tr id="lectRoom_head">
                                                    <!-- staff_width는 staff_cr.css에 정의되어 있음.  -->
                                                    <th class="border-top-0 width-50" scope="col"></th>
                                                    <th class="border-top-0 width-50" scope="col"></th>
                                                    <th class="border-top-0 width-100" scope="col">이름</th>
                                                    <th class="border-top-0 width-100" scope="col">학번</th>
                                                    <th class="border-top-0 width-100" scope="col">과제 제출</th>
                                                    <th class="border-top-0 width-100" scope="col">출석</th>
                                                    <th class="border-top-0 width-100" scope="col">상태</th>

                                                </tr>
                                                </thead>
                                                <!-- 신입부원 관리 테이블 내용 시작 -->
                                                <tbody>
                                                <!-- =========================== 여기부터 복붙 ============================== -->
                                                {#                                                        {% if new_user_len == 0 %}#}
                                                {#                                                            <tr>#}
                                                {#                                                                <td colspan="8" style="text-align: center"> 입부 신청 대기중인#}
                                                {#                                                                    회원이#}
                                                {#                                                                    없습니다.#}
                                                {#                                                                </td>#}
                                                {#                                                            </tr>#}
                                                {#                                                        {% endif %}#}

                                                {#                                                        {% for new_user in new_user_list %}#}
                                                <tr class="lectRoom_tr">
                                                    <td scope="row">

                                                        {% csrf_token %}
                                                        <div class="input-block">
                                                            <input id="check_{{ new_user.user_stu }}"
                                                                   type="checkbox"
                                                                   onclick="decideChk(this,'{{ new_user.user_stu }}')">
                                                            <!-- staff_label_margin는 staff_cr.css에 정의되어 있음.  -->
                                                            <label for="check_{{ new_user.user_stu }}"
                                                                   class="staff_label_margin"></label>
                                                        </div>

                                                    </td>
                                                    {#                                                            <th>{{ forloop.counter }}</th>#}
                                                    {#                                                            <!-- 회원 이름 -->#}
                                                    {#                                                            <td>{{ new_user.user_name }}</td>#}
                                                    {#                                                            <!-- 회원 학번 -->#}
                                                    {#                                                            <td>{{ new_user.user_stu }}</td>#}
                                                    {#                                                            <!-- 회원 전화번호 -->#}
                                                    {#                                                            <td>{{ new_user.user_phone }}</td>#}
                                                    {#                                                            <!-- 회원 학과 -->#}
                                                    {#                                                            <td>{{ new_user.user_major.major_name }}</td>#}
                                                    {#                                                            <!-- 과제 미제출 수 -->#}
                                                    {#                                                            <td>10번</td>#}
                                                    {#                                                            <!-- 결석 수 -->#}
                                                    {#                                                            <td>5번</td>#}
                                                    <th>55</th>
                                                    <!-- 회원 이름 -->
                                                    <td>윤예진</td>
                                                    <!-- 회원 학번 -->
                                                    <td>12192355</td>
                                                    <!-- 과제 미제출 수 -->
                                                    <td>10번</td>
                                                    <!-- 결석 수 -->
                                                    <td>5번</td>
                                                    <!--상태 -->
                                                    <td class="lectRoom_state lectRoom_state_ing_font">수강중</td>
                                                    {#                                                            <td class="lectRoom_state lectRoom_state_stop_font">수강정지</td>#}
                                                </tr>

                                                <tr class="lectRoom_tr">
                                                    <td scope="row">

                                                        {% csrf_token %}
                                                        <div class="input-block">
                                                            <input id="1"
                                                                   type="checkbox"
                                                                   onclick="decideChk(this,'{{ new_user.user_stu }}')">
                                                            <!-- staff_label_margin는 staff_cr.css에 정의되어 있음.  -->
                                                            <label for="1"
                                                                   class="staff_label_margin"></label>
                                                        </div>

                                                    </td>

                                                    <th>56</th>
                                                    <!-- 회원 이름 -->
                                                    <td>가나다라</td>
                                                    <!-- 회원 학번 -->
                                                    <td>12222222</td>
                                                    <!-- 과제 미제출 수 -->
                                                    <td>20번</td>
                                                    <!-- 결석 수 -->
                                                    <td>10번</td>
                                                    <!--상태 -->
                                                    {#                                                            <td class="lectRoom_state lectRoom_state_ing_font">수강중</td>#}
                                                    <td class="lectRoom_state lectRoom_state_stop_font">수강정지</td>
                                                </tr>
                                                {#                                                        {% endfor %}#}
                                                </tbody>
                                            </table>
                                            <!--페이지네이션-->
                                            <div style="display: flex; justify-content: center; align-items: center">
                                                <nav aria-label="Page navigation example">
                                                    <!-- staff_margin_bottom_0는 staff_cr.css에 정의되어 있음.  -->
                                                    <ul class="pagination m-b0">
                                                        {#                                                                {% if new_user_list.has_previous %}#}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?new_user_page=1"
                                                               aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?new_user_page={{ new_user_list.previous_page_number }}">
                                                                {{ new_user_list.previous_page_number }}
                                                            </a>
                                                        </li>
                                                        {#                                                                {% endif %}#}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="#">{{ new_user_list.number }}</a>
                                                        </li>
                                                        {#                                                                {% if new_user_list.has_next %}#}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?new_user_page={{ new_user_list.next_page_number }}">
                                                            {{ new_user_list.next_page_number }}
                                                        </a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?new_user_page={{ new_user_list.paginator.num_pages }}"
                                                               aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                        {#                                                                {% endif %}#}
                                                    </ul>
                                                </nav>
                                            </div>
                                            <!--페이지네이션 끝-->
                                        </div>


                                    {% endif %}
                                    {% if logined_user.user_role.role_no == 1 or logined_user.user_role.role_no == 4 %}
                                        <!-- 회원 관리 콘텐츠 시작 -->
                                        <div class="content-box">
                                            <div class="content-header">
                                                <h3 class="title"><i class="la la-tasks m-r5"></i>동아리원 현황</h3>
                                            </div>
                                            <!-- 회원 관리 콘텐츠 시작 -->
                                            <form action="{% url 'staff_member_update' %}" method="post">
                                                {% csrf_token %}
                                                <div class="content-body">
                                                    <!-- 내가 작성한 댓글 내용 담는 div -->
                                                    <div class="myinfo-table-padding">
                                                        {# 권한: 활동회원, 비활동, 미승인#}
                                                        {# 역할: 회장, 부회장, 총무, 기획팀, 운영팀(회장단), 교수, 일반회원#}

                                                        <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                                        {% if logined_user.user_role.role_no == 4 %}
                                                            <div class="staff_mem_select m-b20">
                                                                <select name="user_auth">
                                                                    <option selected="selected" disabled="disabled">권한
                                                                        부여
                                                                    </option>
                                                                    {% for auth in auth_list %}
                                                                        <option name="user_auth"
                                                                                value="{{ auth.auth_no }}">{{ auth.auth_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        {% endif %}
                                                        <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                                        {% if logined_user.user_role.role_no == 1 %}
                                                            <div class="staff_mem_select m-b20">
                                                                <select name="user_role">
                                                                    <option selected="selected" disabled="disabled">역할
                                                                        부여
                                                                    </option>
                                                                    {% for role in role_list %}
                                                                        <option name="user_role"
                                                                                value="{{ role.role_no }}">{{ role.role_name }}</option>
                                                                    {% endfor %}
                                                                </select>

                                                            </div>
                                                        {% endif %}
                                                        <!-- staff_mem_btn는 staff_cr.css에 정의되어 있음.  -->
                                                        <div class="staff_mem_btn m-b20 listing-info-right">
                                                            <!-- &nbsp;는 띄어쓰기 -->
                                                            <button class="site-button" type="submit"><i
                                                                    class="la la-check m-r5"
                                                                    style="font-weight: bold"></i>&nbsp;적용
                                                            </button>
                                                        </div>

                                                        <!-- 댓글 내용 테이블 -->
                                                        <table class="table">
                                                            <!-- 테이블 1행: 제목 -->
                                                            <thead>
                                                            <tr>
                                                                <!-- staff_width는 staff_cr.css에 정의되어 있음.  -->
                                                                <th class="border-top-0 width-50"></th>
                                                                <th class="border-top-0 width-50"
                                                                    scope="col"></th>
                                                                <th class="border-top-0 width-100" scope="col">
                                                                    이름
                                                                </th>
                                                                <th class="border-top-0 width-150" scope="col">
                                                                    학번
                                                                </th>
                                                                <th class="border-top-0" scope="col">학과</th>
                                                                <th class="border-top-0 width-170" scope="col">
                                                                    권한
                                                                </th>
                                                                <th class="border-top-0 width-170" scope="col">
                                                                    역할
                                                                </th>
                                                                <th class="border-top-0 width-70"></th>
                                                            </tr>
                                                            </thead>
                                                            <!-- 댓글 내용 테이블 -->
                                                            <tbody>
                                                            <!-- ===========================여기부터 복붙============================== -->
                                                            {% if exist_user_len == 0 %}
                                                                <td colspan="8" style="text-align: center">회원 리스트에 회원이
                                                                    존재하지 않습니다.
                                                                </td>
                                                            {% endif %}
                                                            {% for exist_user in exist_user_list %}
                                                                <tr>
                                                                    <td scope="row">
                                                                        <div class="input-block">
                                                                            <input id="check_{{ exist_user.user_stu }}"
                                                                                   type="checkbox"
                                                                                   name="user_stu_list[]"
                                                                                   value="{{ exist_user.user_stu }}">
                                                                            <!-- staff_label_margin는 staff_cr.css에 정의되어 있음.  -->
                                                                            <label for="check_{{ exist_user.user_stu }}"
                                                                                   class="staff_label_margin"></label>
                                                                        </div>

                                                                    </td>
                                                                    <th>{{ forloop.counter }}</th>
                                                                    <!-- 회원 이름 -->
                                                                    <td>{{ exist_user.user_name }}</td>
                                                                    <!-- 회원 학번 -->
                                                                    <td>{{ exist_user.user_stu }}</td>
                                                                    <!-- 회원 학과 -->
                                                                    <td>{{ exist_user.user_major.major_name }}</td>
                                                                    <!-- 권한 상태 -->
                                                                    <td>
                                                                        {{ exist_user.user_auth.auth_name }}
                                                                    </td>
                                                                    <!-- 역할 상태 -->
                                                                    <td>
                                                                        {{ exist_user.user_role.role_name }}
                                                                    </td>
                                                                    <!-- 제명건의 -->
                                                                    <td>
                                                                        <a href="#"
                                                                           style="font-size: 12px; font-weight: bold">제명건의</a>
                                                                        {#                                                        <a href="#" style="font-size: 12px; font-weight: bold">&nbsp;&nbsp;논의중</a>#}

                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        <!--페이지네이션-->
                                                        <div style="display: flex; justify-content: center; align-items: center">
                                                            <nav aria-label="Page navigation example">
                                                                <!-- staff_margin_bottom_0는 staff_cr.css에 정의되어 있음.  -->
                                                                <ul class="pagination m-b0">
                                                                    {% if exist_user_list.has_previous %}
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                               href="?exist_user_page=1"
                                                                               aria-label="Previous">
                                                                                <span aria-hidden="true">&laquo;</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                               href="?exist_user_page={{ exist_user_list.previous_page_number }}">
                                                                                {{ exist_user_list.previous_page_number }}
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                    <li class="page-item"><a class="page-link"
                                                                                             href="#">{{ exist_user_list.number }}</a>
                                                                    </li>
                                                                    {% if exist_user_list.has_next %}
                                                                        <li class="page-item"><a class="page-link"
                                                                                                 href="?exist_user_page={{ exist_user_list.next_page_number }}">
                                                                            {{ exist_user_list.next_page_number }}
                                                                        </a>
                                                                        </li>
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                               href="?exist_user_page={{ exist_user_list.paginator.num_pages }}"
                                                                               aria-label="Next">
                                                                                <span aria-hidden="true">&raquo;</span>
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                </ul>
                                                            </nav>
                                                        </div>
                                                        <!--페이지네이션 끝-->
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% endif %}

                                    <!------------------------------여기서부터 백엔드 작업 시작---------------------------------->
                                    {% if logined_user.user_role.role_no == 1 %}
                                        <!-- 요청사항 콘텐츠 시작 -->
                                        <div class="content-box">
                                            <div class="content-header">
                                                <h3 class="title"><i class="la la-check-square m-r5"></i>요청사항</h3>
                                            </div>
                                            <!-- 요청사항 실질 콘텐츠 시작 -->
                                            <!-- form 태그 수정 해야함 -->
                                            <form action="#" method="post">
                                                {% csrf_token %}
                                                <div class="content-body">
                                                    <div class="myinfo-table-padding">

                                                        <!-- staff_mem_select는 staff_cr.css에 정의되어 있음.  -->
                                                        <div class="staff_mem_select m-b20">
                                                            <select id="select-aor" onchange="selectAoR()">
                                                                <option selected="selected" disabled="disabled">승인 여부
                                                                </option>
                                                                <option value="1">승인</option>
                                                                <option value="2">거절</option>
                                                            </select>
                                                        </div>
                                                        <!-- staff_mem_btn는 staff_cr.css에 정의되어 있음.  -->
                                                        <div class="staff_mem_btn m-b20 listing-info-right">
                                                            <!-- &nbsp;는 띄어쓰기 -->
                                                            <button class="site-button" type="submit"><i
                                                                    class="la la-check m-r5"
                                                                    style="font-weight: bold"
                                                                    onclick="submitForm('hd-form-members-aor')"></i>&nbsp;적용
                                                            </button>
                                                        </div>

                                                        <!-- 내용 테이블 -->
                                                        <table class="table">
                                                            <!-- 테이블 1행: 제목 -->
                                                            <thead>
                                                            <tr>
                                                                <!-- staff_width는 staff_yejin.css에 정의되어 있음.  -->
                                                                <th class="border-top-0 width-50"></th>
                                                                <th class="border-top-0 width-50"
                                                                    scope="col"></th>
                                                                <th class="border-top-0 width-100" scope="col">
                                                                    이름
                                                                </th>
                                                                <th class="border-top-0 width-150" scope="col">
                                                                    학번
                                                                </th>
                                                                <th class="border-top-0 width-230" scope="col">
                                                                    학과
                                                                </th>
                                                                <th class="border-top-0" scope="col">변경 전 이름</th>
                                                                <th class="border-top-0" scope="col">변경 후 이름</th>
                                                            </tr>
                                                            </thead>
                                                            <!-- 내용 테이블 -->
                                                            <tbody>
                                                            <!-- ===========================여기부터 복붙============================== -->
                                                            {% if user_update_request_list|length == 0 %}
                                                                <tr>
                                                                    <td colspan="8" style="text-align: center">
                                                                        승인 대기중인 이름 변경 요청이 없습니다.
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                            {% for user_update_request in user_update_request_list %}
                                                                <tr>
                                                                    <td scope="row">
                                                                        <div class="input-block">
                                                                            <input id="check_{{ user_update_request.updated_user.user_stu }}"
                                                                                   type="checkbox"
                                                                                   name="user_stu_list[]"
                                                                                   value="{{ user_update_request.updated_user.user_stu }}">
                                                                            <!-- staff_label_margin는 staff_cr.css에 정의되어 있음.  -->
                                                                            <label for="check_{{ user_update_request.updated_user.user_stu }}"
                                                                                   class="staff_label_margin"></label>
                                                                        </div>
                                                                    </td>
                                                                    {#                                                                    <th>{{ forloop.counter }}</th>#}
                                                                    <th>{{ forloop.counter }}</th>
                                                                    <!-- 회원 이름 -->
                                                                    {#                                                                    <td>{{ exist_user.user_name }}</td>#}
                                                                    <td>{{ user_update_request.updated_user.user_name }}</td>
                                                                    <!-- 회원 학번 -->
                                                                    {#                                                                    <td>{{ exist_user.user_stu }}</td>#}
                                                                    <td>{{ user_update_request.updated_user.user_stu }}</td>
                                                                    <!-- 회원 학과 -->
                                                                    {#                                                                    <td>{{ exist_user.user_major.major_name }}</td>#}
                                                                    <td>{{ user_update_request.updated_user.user_major.major_name }}</td>
                                                                    <!-- 변경 전 이름 -->
                                                                    <td>
                                                                        {{ user_update_request.updated_user.user_name }}
                                                                    </td>
                                                                    <!-- 변경 신청한 이름 -->
                                                                    <td>
                                                                        {{ user_update_request.updated_user_name }}
                                                                    </td>

                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        <!--페이지네이션-->
                                                        <div style="display: flex; justify-content: center; align-items: center">
                                                            <nav aria-label="Page navigation example">
                                                                <!-- staff_margin_bottom_0는 staff_cr.css에 정의되어 있음.  -->
                                                                <ul class="pagination m-b0">
                                                                    {% if exist_user_list.has_previous %}
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                               href="?request_page=1"
                                                                               aria-label="Previous">
                                                                                <span aria-hidden="true">&laquo;</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                               href="?request_page={{ user_update_request_list.previous_page_number }}">
                                                                                {{ exist_user_list.previous_page_number }}
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                    <li class="page-item"><a class="page-link"
                                                                                             href="#">{{ user_update_request_list.number }}</a>
                                                                    </li>
                                                                    {% if exist_user_list.has_next %}
                                                                        <li class="page-item"><a class="page-link"
                                                                                                 href="?request_page={{ user_update_request_list.next_page_number }}">
                                                                            {{ user_update_request_list.next_page_number }}
                                                                        </a>
                                                                        </li>
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                               href="?request_page={{ user_update_request_list.paginator.num_pages }}"
                                                                               aria-label="Next">
                                                                                <span aria-hidden="true">&raquo;</span>
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                </ul>
                                                            </nav>
                                                        </div>
                                                        <!--페이지네이션 끝-->
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}
