{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <script src="{% static 'js/ibas_centents.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/comment.js' %}"></script>

    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <a>
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--강의 제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">파이썬 기초 강의</h1>
                            <!--부제목-->
                            <p class="m-t20">출결 관리 </p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <!--출결관리-->
                        <div id="listing_user_setting" class="tab-pane">
                            <div class="row">
                                <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 시작 ==========-->
                                <div class="col-lg-3 col-xl-3">
                                    <div class="sticky-top">
                                        <!-- 강의룸 내 페이지 리스트 -->
                                        <!-- 클릭한 게시글을 끌고옴 -->
                                        <div class="listing-filter-sidebar">
                                            <h4 class="title">강의실</h4>
                                            <div class="widget_tag">
                                                <ul class="m-b0">
                                                    <!-- [메뉴바 > 강의실 > 강의] 게시판 내 강의소개 페이지로 이동 -->
                                                    <li><a href="javascript:void(0);">강의소개</a>&nbsp;</li>
                                                    <!-- 공지사항, 강의, 과제, 제출된 과제 페이지들은 모두 동일한 레이아웃임 -->
                                                    <!-- 다만 과제 페이지의 경우 강의자, 수강생 별 보이는 게 다르게끔 세션처리 필요 (해당 게시판 주석 참조) -->
                                                    <!-- 강의자, 수강생 모두 모이는 메뉴: 공지사항, 강의, 과제 -->
                                                    <li><a href="javascript:void(0);">공지사항</a>&nbsp;</li>
                                                    <li><a href="javascript:void(0);">강의</a>&nbsp;</li>
                                                    <li><a href="javascript:void(0);">과제</a>&nbsp;</li>
                                                    <!-- 수강생만 보이는 메뉴: 출석 및 과제 현황 -->
                                                    <li><a href="javascript:void(0);">출석 및 과제 현황</a>&nbsp;</li>
                                                    <!-- 강의자만 보이는 메뉴: 출석 및 과제 관리, 수강생 관리, 제출된 과제 리스트 -->
                                                    <li><a href="javascript:void(0);">출석 및 과제 관리</a>&nbsp;</li>
                                                    <li><a href="javascript:void(0);">수강생 관리</a>&nbsp;</li>
                                                    <li><a href="javascript:void(0);">제출된 과제 리스트</a>&nbsp;</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 끝 ==========-->

                                <!--=======================출결 관리=========================-->
                                <div class="col-lg-11 col-xl-8 p-b30">
                                    <!-- 출결 관리 콘텐츠 시작 -->
                                    <div class="myinfo-table-padding">
                                        <!-- 출결 관리 테이블 시작 -->
                                        <table class="table lectRoom_border_top">
                                            <thead>
                                            <!-- 테이블 1행 -->
                                            <tr id="lectRoom_head">
                                                <!-- staff_width는 staff_cr.css에 정의되어 있음.  -->
                                                <th class="border-top-0 width-70 lectRoom_text_align_center" scope="col">주차</th>
                                                <th class="border-top-0 width-70 lectRoom_text_align_center" scope="col">구분</th>
                                                <th class="border-top-0 " scope="col">강의 내용</th>
                                                <th class="border-top-0 width-70 lectRoom_text_align_center" scope="col">출결</th>
                                            </tr>

                                            </thead>
                                            <!-- 출결 관리 테이블 내용 시작 -->
                                            <tbody>
                                            <!-- =========================== 여기부터 복붙 ============================== -->
                                            <!-- 강의 부분 -->
                                            <tr>
                                                <!-- 주차 -->
                                                <th rowspan="2" class="lectRoom_week">
                                                    1
                                                </th>
                                                <!-- 강의 -->
                                                <td class="lectRoom_devi lectRoom_text_align_center">강의</td>
                                                <!-- 강의제목 -->
                                                <td class="lectRoom_devi"><1주차> 파이썬으로 사칙연산 하기!
                                                </td>
                                                <!-- 강의 출석 -->
                                                <td class="lectRoom_text_align_center lectRoom_state_ing_font">출석</td>
                                                {#<td class="lectRoom_text_align_center lectRoom_state_stop_font">결석</td>#}
                                            </tr>

                                            <!-- 과제 부분 -->
                                            <tr>
                                                <!-- 강의 -->
                                                <td class="lectRoom_devi lectRoom_text_align_center">과제</td>
                                                <!-- 강의제목 -->
                                                <td class="lectRoom_devi"><1주차> 파이썬으로 공학용계산기 만들기
                                                </td>
                                                <!-- 강의 출석 -->
                                                {#<td class="lectRoom_text_align_center lectRoom_state_ing_font">출석</td>#}
                                                <td class="lectRoom_text_align_center lectRoom_state_stop_font">결석</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--========== 페이지네이션 시작 ===========-->
                                        <!-- 1페이지에 15명의 학생 끌고오고, 학생이 그보다 적으면, 페이지네이션 안보이게 처리 -->
                                        <div class="pagination-bx clearfix text-center">
                                            <ul class="pagination">
                                                <ul class="pagination">
                                                    <li class="previous"><a href="javascript:void(0)"><i
                                                            class="fa fa-arrow-left"></i></a></li>
                                                    <li><a href="javascript:void(0)">1</a></li>
                                                    <li><a href="javascript:void(0)">2</a></li>
                                                    <li><a href="javascript:void(0)">...</a></li>
                                                    <li class="active"><a href="javascript:void(0)">7</a></li>
                                                    <li class="next"><a href="javascript:void(0)"><i
                                                            class="fa fa-arrow-right"></i></a></li>
                                                </ul>
                                            </ul>
                                        </div>
                                        <!--========== 페이지네이션 끝 ===========-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 상단으로 한번에 올라가는 버튼 -->
                    <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
