{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 강의룸 메인 페이지로 이동 -->
                <!-- (ex. 강의룸 내 출결확인 페이지에서 상단 제목을 클릭하면, 강의룸 메인으로 돌아갈 수 있음) -->
                <a href="#">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!-- 제목 -->
                            <!-- DB에서 해당 페이지에 맞게 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">{{ lect.lect_title }}</h1>
                            <!--부제목-->
                            <!-- DB에서 부제목 꺼내와야 함 (공지사항, 강의, 과제, 제출된 과제 리스트) -->
                            <p class="m-t20 ">{{ lect.lect_intro|safe }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--==========================================================================================-->
            <!--======================================= 본문 시작 ==========================================-->
            <div class="content-block min-height-70vh">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <div class="row">

                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 시작 ==========-->
                            <div class="col-lg-3 col-xl-3">
                                <div class="sticky-top">
                                    {% include "_search_bar.html" %}
                                    {% include "_navigation_bar.html" %}
                                </div>
                            </div>
                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 끝 ==========-->

                            <!--========== 오른쪽 강의룸 메인 콘텐츠 시작 ===========-->
                            <div class="col-lg-10 col-xl-8 p-b30">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% include "_board_list_block.html" %}
                                    </div>
                                </div>
                            </div>
                            <!--========================= 오른쪽 메인 콘텐츠 끝 =========================-->

                        </div>
                    </div>
                </div>
            </div>
            <!--======================================= 본문 끝 ==========================================-->
            <!--==========================================================================================-->
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}