{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_list.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/posting_list.css' %}"
    />
    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <a href="{% url 'lect_view' type_no=type.type_no %}">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!-- 추후 DB에서 강의, 스터디, 취미 중 하나만 꺼내오게 처리해야 함. -->
                            <h1 class="text-white introduce-letter-spacing_5">{{ type.type_name }}</h1>

                            <!-- DB에서 부제목 꺼내와야 함 강의, 스터디, 취미 -->
                            <p class="m-t20">{{ type.type_exp }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block min-height-70vh">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <!-- 검색창 및 진행중/마감 필터바 -->
                        <div class="listing-filter m-b40">
                            <!-- 검색창용 form 태그 -->
                            <form action="{% url 'lect_search' type_no=type.type_no %}" method="get">
                                <div class="input-group">
                                    <!-- 필터바(해당 게시글만 보이게하는 것 구현 진행중 - 커밍쑨) -->
                                    <div class="m-r15">
                                        <ul class="filter m-b0">
                                            <li>
                                                <select>
                                                    <!-- 모든 게시글이 보이게 처리예정 -->
                                                    <option>전체보기</option>
                                                    <!-- 강의, 취미, 공모전 진행중인 게시글이 보이게 처리 -->
                                                    <option>진행중</option>
                                                    <!-- 강의, 취미, 공모전 마감된 게시글이 보이게 처리 -->
                                                    <option>마감</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- 검색창 div -->
                                    <div class="lect-search-bar">
                                        <!-- 검색창 input 태그 -->

                                        <input name="keyword" type="text" class="form-control"
                                               placeholder="검색어를 입력하세요.">
                                        <span class="input-group-btn ">
                                            <!-- 검색버튼 -->
                                            <button type="submit" class="site-button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row {% if item_list|length == 0 %}justify-content-center{% endif %}">
                            <!--================= 여기부터 게시글 반복시작 =================-->
                            {% if item_list|length == 0 %}
                                {% if type.type_no != 4 %}
                                    등록된 {{ type.type_name }}{% if type.type_no == 3 %}이{% else %}가{% endif %}
                                    없습니다.
                                {% else %}
                                    개설 처리 대기 중인 강의가 없습니다.
                                {% endif %}
                            {% endif %}
                            {% for lect in item_list %}
                                <!-- 게시글 1 -->
                                <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                    <div class="listing-bx event-listing m-b10">
                                        <!-- 게시글 대표 이미지 -->
                                        <!-- 이미지를 클릭하면, 해당 게시글로 이동함 -->
                                        <a href="{% url 'lect_detail' lect_no=lect.lect_no %}">
                                            <img class="lect-thumbnail" src="/media/{{ lect.lect_pic }}"
                                                 alt="">
                                        </a>
                                        <!-- 강의, 스터디, 취미 내용 간단소개 div -->
                                        <div class="listing-info" style="height: 110px">
                                            <!-- 강의, 스터디, 취미 제목 -->
                                            <!-- 제목 클릭 시, 해당 게시글로 이동 -->
                                            <h3 class="title"><a
                                                    href="{% url 'lect_detail' lect_no=lect.lect_no %}">{{ lect.lect_title }}</a>
                                            </h3>
                                            <!-- 강의, 스터디, 취미 간단소개 -->
                                            <ul class="event-meta">
                                                <!-- 마감일 및 모집 상태 -->
                                                <li class="event-date text-center">
                                                    <!-- 강의, 스터디, 취미 마감일 -->
                                                    <!-- 마감 월 (영어로 표기됨 - 월 끌고 오면 처리 예정) -->
                                                    <span class="text-primary">{{ lect.lect_deadline|date:'M' }}</span>
                                                    <!-- 마감일 -->
                                                    <strong>{{ lect.lect_deadline|date:'d' }}</strong>
                                                    <!-- 모집 및 마감 상태 -->
                                                    <!-- 강의, 스터디, 취미 기간 중에 있으면 모집 span 태그가 보이고, 모집 기간이 자나면, 자동으로 마감으로 뜨게 처리 -->
                                                    {% if lect.lect_state_id == 4 %}
                                                        <span class="recruiting-wait">종료</span>
                                                    {% elif lect.is_expired or lect.lect_limit_num <= lect.get_enrolled_std_num %}
                                                        <span class="recruiting-end">마감</span>
                                                    {% else %}
                                                        <span class="recruiting">모집</span>
                                                    {% endif %}

                                                </li>
                                                <!-- 강의, 스터디, 취미에 대한 간단소개 -->
                                                <li class="text-cut">{{ lect.lect_intro|safe }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="event-bottom">
                                            <ul>
                                                <!-- 강 요일, 장소, 인원 li-->
                                                <li class="event-hosted">
                                                    <!-- 강의를 정기적으로 진행하는 요일 -->
                                                    <span class="text-primary mr-3">요일</span>

                                                    <!-- 강의에 해당하는 요일을 DB에서 가져와야 함 -->
                                                    <span>
                                                        {{ lect.lect_day }}
                                                    </span>
                                                    <!-- 강의 진행방식 Zoom 혹은 강의실 호수 -->
                                                    {% if lect.lect_type_id != 3 %}
                                                        <span class="text-primary mr-2 ml-3"><i
                                                                class="ti-location-pin"></i></span>
                                                        <!-- 강의 진행방식을 DB에서 가져와야 함 -->
                                                        {# 오프라인일 경우 장소를 그대로 가져오고, 오프라인이 아닐 경우 진행 방식이름을 대신 노출. #}

                                                        {% if lect.lect_method_id == 1 %}
                                                            <span>{{ lect.lect_place_or_link }}</span>
                                                        {% else %}
                                                            <span>{{ lect.lect_method.method_name }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                    <!-- 수강 신청한 인원 및 제한 인원 -->
                                                    <span class="text-primary mr-2 ml-3"><i
                                                            class="fa fa-user"></i></span>
                                                    <!-- 강의 신청자 및 총 정원을 DB에서 가져와야 함. -->
                                                    <span>{{ lect.get_enrolled_std_num }} / {{ lect.lect_limit_num }} 명</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!--================= 여기부터 게시글 반복 끝 =================-->
                        </div>
                        <!-- 강의: 강의개설 신청, 스터디 및 취미: 등록 -->
                        {% if is_active and type.type_no != 4 %}
                            <div class="extra-cell text-right  m-t20">
                                <!-- 강의, 스터디, 취미 게시판들의 게시글 등록 버튼 (관련자 및 관련 게시판만 보이게 처리) -->
                                <form action="{% url 'lect_register' %}" method="get">
                                    <input type="hidden" name="lect_type" value="{{ type.type_no }}">
                                    {% if type.type_no == 1 %}
                                        <!-- 강의 게시판에만 보이는 버튼임 -->
                                        <button class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i>강의 개설
                                            신청
                                        </button>
                                    {% else %}
                                        <!-- 스터디, 취미 게시판에만 보이는 버튼임 -->
                                        <button type="submit" class="site-button radius-xl m-l10"><i
                                                class="fa fa-plus m-r5"></i> {{ type.type_name }} 등록
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                        {% endif %}
                        <!--========== 페이지네이션 시작 ===========-->
                        <!-- 1페이지에 6~8개 게시글 끌고오고, 게시글이 그보다 적으면, 페이지네이션 안보이게 처리해야 함 -->
                        {% if item_list|length != 0 %}
                            {% include "pagination.html" %}
                        {% endif %}
                        <!--========== 페이지네이션 끝 ===========-->
                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}