{% extends "base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}"/>
        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'plugins/editor/jquery-te-1.4.0.css' %}"
        />

        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'plugins/drop/imageuploadify.min.css' %}"
        />
        <link rel="stylesheet" href="{% static 'plugins/tag-editor/jquery.tag-editor.css' %}"/>
    </head>

    <body>
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
                <a href="#">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!--강의게시판, 스터디게시판, 취미모임게시판 종류에 따라 바뀌도록 변경-->
                            <h1 class="text-white introduce-letter-spacing_5">@@ 게시판</h1>
                            <!--부제목-->
                            <!--강의게시판, 스터디게시판, 취미모임게시판 종류에 따라 바뀌도록 변경-->
                            <p class="introduce-margin-top_20">@@에 관한 정보를 담을 게시판입니다.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--===============================================입력란=========================================================-->

            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">

                        <!--====================================내용 시작==============================================-->
                        <div class="content-box">
                            <!--게시글 작성자, 작성시간 나옴(게시글 정보)-->
                            <div class="content-header">
                                <div class="dlab-post-meta" style="margin: 0px">
                                    <ul class="d-flex align-items-center">
                                        <!-- 게시글 작성자, 작성자 이름 나오도록 수정 -->
                                        <li class="post-author"><i
                                                class="ti ti-user"></i>By 김채림</li>
                                        <!-- 게시글 작성시간, 작성시간 나오도록 수정 -->
                                        <li class="post-comment"><i
                                                class="ti ti-alarm-clock"></i> 2020-02-02 13:40
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--여기까지가 게시글 정보-->
                             <!--====================================제목 시작==============================================-->
                            <div class="content-body">
                                <div class="form-group">
                                    <!--강의명 이곳에 뜨도록 수정-->
                                    <h4 class="post-title "
                                        style="margin-top: 10px; margin-bottom: 8px">데이터베이스 기초 특강</h4>
                                </div>
                            </div>
                        </div>
                        <!--====================================제목끝=============================================-->
                        <!--====================================소개 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">소개</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--소개란에 입력한 내용 이곳에 뜨도록 수정-->
                                    <a>소개내용~~</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================소개 끝=============================================-->
                        <!--====================================일정계획 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">일정계획</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--일정계획에 입력한 내용 이곳에 뜨도록 수정-->
                                    <a>일정계획 내용~~~</a>
                                </div>
                            </div>
                        </div>
                        <!--=================================== 일정계획 끝=============================================-->
                        <!--====================================신청인원/제한인원 시작==============================================-->
                        <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">신청인원/제한인원</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--지금까지 신청한 인원과/대표자가 입력한 제한인원이 이곳에 뜨도록 수정-->
                                    <a>3/20</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================신청인원/제한인원 끝=============================================-->
                        <!--====================================방식 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">방식</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--방식에 입력한 내용 이곳에 뜨도록 수정-->
                                    <a>온라인</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================방식 끝=============================================-->
                        <!--====================================장소 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">장소</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--장소에 입력한 내용 이곳에 뜨도록 수정-->
                                    <a>Zoom</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================장소 끝=============================================-->
                        <!--====================================대표자 전화번호 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">대표자 전화번호</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--여기 뜨는 것은 작성자가 입력한 내용이 아닌, 작성자 개인정보에서 가져와서 뜨도록 수정-->
                                    <a>010-5398-9075</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================대표자 전화번호 끝=============================================-->
                        <!--====================================대표자 이메일 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">대표자 이메일</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--여기 뜨는 것은 작성자가 입력한 내용이 아닌, 작성자 개인정보에서 가져와서 뜨도록 수정-->
                                    <a>cofla030360@gmail.com</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================대표자 이메일 끝=============================================-->
                        <!--====================================신청마감일 시작==============================================-->
                        <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">신청마감일</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <!--신청마감일에 입력한 내용 뜨도록 수정-->
                                    <a>2021-06-30</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================신청마감일 끝=============================================-->
                        <!--====================================대표이미지=============================================-->

                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">대표이미지</h3>
                            </div>
                            <!--일단 기존에 있던 쿼리 가져왔는데, 작성자가 첨부한 이미지 이곳에 뜨도록 수정-->
                            <div class="widget widget_gallery gallery-grid-4 lightgallery">
                                <ul style="padding: 10px; margin-bottom: 0px">
                                    {% for lect_file in lect_file_list %}
                                        {% if forloop.counter < 4 %}
                                            <li>
                                                            <span data-exthumbimage="/media/{{ lect_file.lect_file_path }}"
                                                                  data-src="/media/{{ lect_file.lect_file_path }}"
                                                                  class="check-km "
                                                                  title="{{ lect_file.lect_file_name }}">
                                                                <a href="javascript:void(0);">
                                                                    <div class="dlab-post-thum act-detail-img-size">
                                                                        <img style="height: 190px"
                                                                             src="/media/{{ lect_file.lect_file_path }}"
                                                                             alt=""/>
                                                                    </div>
                                                                </a>
                                                            </span>
                                            </li>
                                        {% elif forloop.counter == 4 %}
                                            <li>
                                                            <span data-exthumbimage="/media/{{ lect_file.lect_file_path }}"
                                                                  data-src="/media/{{ lect_file.lect_file_path }}"
                                                                  class="check-km act-detail-img-siz"
                                                                  title="{{ lect_file.lect_file_name }}">
                                                                <a href="javascript:void(0);">
                                                                    <div class="dlab-post-thum "><img
                                                                            style="height: 190px"
                                                                            src="/media/{{ lect_file.lect_file_path }}"
                                                                            alt=""></div>
                                                                    {% if forloop.revcounter0 > 0 %}
                                                                        <!-- 사용자가 업로드한 사진이 딱 4개인 경우 남은 이미지 개수를 출력하지 않음.-->
                                                                        <div class="more-images">
                                                                            <div>
                                                                                <strong>{{ forloop.revcounter0 }}</strong>
                                                                                <span>More Images</span>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </a>
                                                            </span>
                                            </li>
                                        {% else %}
                                            <li style="display: none;">
                                                <span data-exthumbimage="/media/{{ lect_img.board_file_path }}"
                                                      data-src="/media/{{ lect_img.lect_file_path }}"
                                                      class="check-km "
                                                      title="{{ lect_file.lect_file_name }}">
                                                    <a href="javascript:void(0);">
                                                        <div class="dlab-post-thum act-detail-img-size">
                                                            <img style="height: 190px"
                                                                 src="/media/{{ lect_img.lect_file_path }}" alt=""/>
                                                        </div>
                                                    </a>
                                                </span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!--====================================영수증 끝=============================================-->
                        <!-- 게시글 삭제 및 수정 div -->
                            <div class="extra-cell text-right">
                            <!-- 게시글 수정 버튼 -->
                            <a href="#"
                               class="site-button radius-xl m-l10"><i
                                    class="fa fa-pencil m-r5"></i>
                                게시글 수정</a>
                            <!-- 게시글 삭제 버튼 -->
                            <a href="#"
                               class="site-button red radius-xl m-l10"><i
                                    class="fa fa-trash m-r5"></i>
                                게시글 삭제</a>
                            </div>

                        <!--=======신청하기 버튼, 한번 신청하기 버튼을 누르면 없어지도록 수정======-->
                        <div style="display: flex; justify-content: center; ">
                            <button type="button" class="btn btn-outline-success btn-lg" style="width: 200px; font-weight: bold" onclick="alert('신청이 완료되었습니다.')">
                                신청하기
                            </button>
                        </div>
                        <!--=======강의실로 이동하기 버튼, 신청을 하지 않으면 뜨지 않고, 신청 후 버튼이 뜨도록 수정, 누르면 강의실로 이동함======-->
                        <!--=======강의, 스터디 게시판에서만 사용하기 때문에 취미모임 게시판일 경우에는 뜨지 않도록 수정======-->
                        <div style="display: flex; justify-content: center; ">
                           <button type="button" class="btn btn-outline-primary btn-lg" style="font-weight: bold">
                                강의실로 이동하기
                           </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>

{% endblock %}
