{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 강의룸 메인 페이지로 이동 -->
                <!-- (ex. 강의룸 내 출결확인 페이지에서 상단 제목을 클릭하면, 강의룸 메인으로 돌아갈 수 있음) -->
                <a href="#">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!-- 제목 -->
                            <!-- DB에서 해당 페이지에 맞게 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">파이썬 기초 강의</h1>
                            <!--부제목-->
                            <!-- DB에서 부제목 꺼내와야 함 (공지사항, 강의, 과제, 제출된 과제 리스트) -->
                            <p class="m-t20 ">공지사항 페이지</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--==========================================================================================-->
            <!--======================================= 본문 시작 ==========================================-->
            <div class="content-block min-height-70vh">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <div class="row">
                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 시작 ==========-->
                            <div class="col-lg-3 col-xl-3">
                                <div class="sticky-top">
                                    <!-- 강의룸 내 검색창 -->
                                    <!-- 검색 시, 강의룸 내 게시글들(공지사항, 강의목록, 과제 등) 중 해당 키워드를 포함한 게시글을 모두 끌고옴 -->
                                    <div class="listing-filter-sidebar" style="margin-bottom: 30px">
                                        <div style="margin-bottom: 20px">
                                            <h4 class="title">강의실 내 검색</h4>
                                            <div class="">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="text" type="text" class="form-control"
                                                               placeholder="검색어를 입력하세요.">
                                                        <span class="input-group-btn">
												<button type="submit" class="site-button"><i
                                                        class="fa fa-search"></i></button></span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 강의룸 내 페이지 리스트 -->
                                    <!-- 클릭한 게시글을 끌고옴 -->
                                    <div class="listing-filter-sidebar">
                                        <h4 class="title">강의실</h4>
                                        <div class="widget_tag">
                                            <ul class="m-b0">
                                                <!-- [메뉴바 > 강의실 > 강의] 게시판 내 강의소개 페이지로 이동 -->
                                                <li><a href="javascript:void(0);">강의소개</a>&nbsp;</li>
                                                <!-- 공지사항, 강의,과제, 제출된 과제 페이지들은 모두 동일한 레이아웃임 -->
                                                <!-- 다만 과제 페이지의 경우 강의자, 수강생 별 보이는 게 다르게끔 세션처리 필요 (해당 게시판 주석 참조) -->
                                                <!-- 강의자, 수강생 모두 모이는 메뉴: 공지사항, 강의, 과제 -->
                                                <li><a href="javascript:void(0);">공지사항</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">강의</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">과제</a>&nbsp;</li>
                                                <!-- 수강생만 보이는 메뉴: 출석 및 과제 현황 -->
                                                <li><a href="javascript:void(0);">출석 및 과제 현황</a>&nbsp;</li>
                                                <!-- 강의자만 보이는 메뉴: 출석 및 과제 관리, 수강생 관리, 제출된 과제 리스트 -->
                                                <li><a href="javascript:void(0);">출석 및 과제 관리</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">수강생 관리</a>&nbsp;</li>
                                                <li><a href="javascript:void(0);">제출한 과제 리스트</a>&nbsp;</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--========== 왼쪽 검색창 및 강의룸 네비게이션바 끝 ==========-->
                            <!--========== 오른쪽 강의룸 메인 콘텐츠 시작 ===========-->
                            <!-- 각 박스 별로 최신글 3개만 보이게끔 처리필요 -->
                            <div class="col-lg-10 col-xl-8 p-b30">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <!-- 강의룸 공지사항 글을 담는 박스 -->
                                        <div class="content-box">
                                            <!-- 박스 제목 div -->
                                            <div class="content-header">
                                                <h3 class="title"><i class="fa fa-microphone m-r5"></i>공지사항</h3>
                                                <h3 class="title"><i class="fa fa-book m-r5"></i>강의목록</h3>
                                                <h3 class="title"><i class="fa fa-check-square-o m-r5"></i>과제</h3>
                                            </div>
                                            <div class="content-body">
                                                <!-- 공지사항 게시글 테이블 -->
                                                <table class="table">
                                                    <!-- 테이블 1행: 제목 -->
                                                    <thead>
                                                    <tr>
                                                        <th class="border-top-0" scope="col"></th>
                                                        <th class="border-top-0" style="width: 400px" scope="col">제목
                                                        </th>
                                                        <!-- 공지사항 글을 불러올 때, 작성자로 보이게 처리필요 -->
                                                        <th class="border-top-0" scope="col">작성자</th>
                                                        {#                                                        <!-- 강의목록 글을 불러올 때, 작성자로 보이게 처리필요 -->#}
                                                        {#                                                        <th class="border-top-0" scope="col">강의자</th>#}
                                                        {#                                                        <!-- 과제 글을 불러올 때, 작성자로 보이게 처리필요 -->#}
                                                        {#                                                        <th class="border-top-0" scope="col">제출</th>#}
                                                        <th class="border-top-0" scope="col">작성일</th>
                                                    </tr>
                                                    </thead>
                                                    <!-- 테이블 2행 ~: 공지사항 최근 3개 게시글 불러옴 -->
                                                    <tbody>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>1</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">5/12일 휴강</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>신승연</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-05-11</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>2</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">수업에 필요한 관련 교재</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>신승연</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-04-21</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>3</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>4</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>5</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>6</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>7</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>8</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>9</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>10</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>11</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>12</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>13</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>14</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>15</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">모든 수강생 필독 공지사랑</a></td>
                                                        <!-- 게시글 작성자: 복수 강의자일 경우, 해당 게시글을 올린 강의자 이름을 불러올 것 -->
                                                        <td>김예진</td>
                                                        <!-- 게시글 작성일 -->
                                                        <td>2021-03-02</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- 페이지네이션 -->
                                                <div class="pagination-bx clearfix text-center">
                                                    <ul class="pagination">
                                                        <li class="previous"><a href="javascript:void(0)"><i
                                                                class="fa fa-arrow-left"></i></a></li>
                                                        <li><a href="javascript:void(0)">1</a></li>
                                                        <li><a href="javascript:void(0)">2</a></li>
                                                        <li><a href="javascript:void(0)">...</a></li>
                                                        <li class="active"><a href="javascript:void(0)">7</a></li>
                                                        <li class="next"><a href="javascript:void(0)"><i
                                                                class="fa fa-arrow-right"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 내가 제출한 과제를 보여주는 박스 -->
                                        <!-- 좌측 네비게이션바 제출된 과제 리스트를 클릭하면 보이는 박스임 -->
                                        <!-- 피드백 유무 때문에 따로 박스를 팠으나, 윗쪽 박스에서 작성자 컬럼을 피드백 컬럼으로 대체할 수 있다면, 윗쪽 것을 사용해도 무방 -->
                                        <div class="content-box">
                                            <!-- 박스 제목 div -->
                                            <div class="content-header d-flex justify-content-between">
                                                <h3 class="title"><i class="fa fa-telegram m-r5"></i>제출한 과제</h3>
                                            </div>
                                            <div class="content-body">
                                                <!-- 내가 제출한 과제 테이블 -->
                                                <table class="table">
                                                    <!-- 테이블 1행: 제목 -->
                                                    <thead>
                                                    <tr>
                                                        <th class="border-top-0" scope="col">번호</th>
                                                        <th class="border-top-0" style="width: 400px" scope="col">제목</th>
                                                        <th class="border-top-0" scope="col">피드백</th>
                                                        <!-- 강의자일 때만 보이는 컬럼임 -->
                                                        <th class="border-top-0 text-xl-center" scope="col">작성자</th>
                                                        <th class="border-top-0 text-xl-center" scope="col">제출일</th>
                                                    </tr>
                                                    </thead>
                                                    <!-- 테이블 2행 ~: 과제 페이지 내 최근 3개 게시글 불러옴 -->
                                                    <tbody>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>1</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">파이썬으로 거북이 소환</a></td>
                                                        <!-- 과제 마감일 -->
                                                        <td class="text-blue">완료</td>
                                                        <!-- 강의자만 보이는 컬럼 -->
                                                        <td>신승연</td>
                                                        <!-- 수강생: 강의자가 피드백을 했는 지 확인가능 (진행중/완료) -->
                                                        <!-- 내가 제출한 과제물 리스트만 보이게 -->
                                                        <td class="text-xl-center">2021-05-20</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- 게시글 번호 (고정됨) -->
                                                        <td>2</td>
                                                        <!-- 게시글 제목: a태그 클릭하면, 해당 게시글로 이동 -->
                                                        <td><a href="#">파이썬 설치</a></td>
                                                        <!-- 과제 마감일 -->
                                                        <td>진행중</td>
                                                        <!-- 강의자만 보이는 컬럼 -->
                                                        <td>김석보</td>
                                                        <!-- 수강생: 과제 제출 여부 (제출/미제출) 보임 -->
                                                        <!-- 만약 과제를 제출했다면, 제출한 과제물을 볼 수 있는 페이지로 넘어가게끔 처리필요 -->
                                                        <!-- 강의자: 과제를 제출한 사람수 보임 -->
                                                        <td class="text-xl-center">2021-04-30</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- 페이지네이션 -->
                                                <div class="pagination-bx clearfix text-center">
                                                    <ul class="pagination">
                                                        <li class="previous"><a href="javascript:void(0)"><i
                                                                class="fa fa-arrow-left"></i></a></li>
                                                        <li><a href="javascript:void(0)">1</a></li>
                                                        <li><a href="javascript:void(0)">2</a></li>
                                                        <li><a href="javascript:void(0)">...</a></li>
                                                        <li class="active"><a href="javascript:void(0)">7</a></li>
                                                        <li class="next"><a href="javascript:void(0)"><i
                                                                class="fa fa-arrow-right"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--========================= 오른쪽 메인 콘텐츠 끝 =========================-->
                        </div>
                    </div>
                </div>
            </div>
            <!--======================================= 본문 끝 ==========================================-->
            <!--==========================================================================================-->
        </div>
        <!-- 상단으로 한번에 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
    </div>
{% endblock %}