{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <script src="{% static 'js/ibas_centents.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
    <script src="{% static 'js/validation_check.js' %}"></script>
    <script>


    $(function () {
        let select_box = $("#selectbox")
        select_box.val({{ cur_lect_board.lect_board_no }}).prop('selected',true);

        // 셀렉트박스 옵션 길이 조절
        let options = select_box.children('option')
        options.each(function (index, option) {
            var text = $(option).text().trim()
            if (text.length > 15) {
                console.log(text + '...')
                $(option).text(text + '...')
            } else {
                var arr = []
                arr.length = 15 - text.length
                arr.fill('\xa0') // &nbsp;
                $(option).text(text + arr.join(''))
            }
        })

        disable_check_box();
    });
    </script>


    <div class="page-wraper">
        <!-- 상단 제목부분 -->
        <div class="page-content bg-white">
            <!----------============= 상단 제목 시작 ================----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!-- 상단 제목을 클릭하면, 상위 게시판으로 이동 -->
                <a>
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <h1 class="text-white introduce-letter-spacing_5">출결 관리 게시판</h1>
                            <!--부제목-->
                            <!-- DB에서 제목 꺼내와야 함 -->
                            <p class="m-t20">출결을 관리할 수 있는 게시판입니다. </p>
                        </div>
                    </div>
                </a>
            </div>
            <!----------============= 본문 시작 ================----------->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <!--회원관리-->
                        <div id="listing_user_setting" class="tab-pane">
                            <div class="row">
                                <!--========== 왼쪽 강의룸 네비게이션바 시작 ==========-->
                                <div class="col-lg-3 col-xl-3">
                                    <div class="sticky-top">
                                        {% include "_navigation_bar.html" %}
                                    </div>
                                </div>
                                <!--========== 왼쪽 강의룸 네비게이션바 끝 ==========-->


                            {% if cur_lect_board %}
                                <!--=======================수강생 관리=========================-->
                                <div class="col-lg-11 col-xl-8 p-b30">
                                    <div class="width-870">
                                            <form id="filter-form" >
                                                {% csrf_token %}
                                                <!-- 강의 주차 소개 탭 -->
                                                <div class="listing-filter m-b40">
                                                    <div class="bank-flex">
                                                        <!-- 회차. -->
                                                        <div>
                                                            <ul class="filter m-b0">
                                                                <li>
                                                                    <label for="selectbox"></label><select id="selectbox" name="lect_board_no" onchange="FilterFormSubmit()">

                                                                        {% for lecture in lect_board_list %}
                                                                            <option value="{{ lecture.lect_board_no }}">
                                                                               [{{ forloop.revcounter }}회차] {{ lecture.lect_board_title }}
                                                                            </option>
                                                                        {% endfor %}

                                                                    </select>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- 강의 제목. 회차에 따라 강의 제목 바뀌어야 함.  -->
                                                        <div class="mr-auto">
                                                            <div class="m-l15">
                                                                <h3 id="lect_board_title" class="title m-b0"
                                                                    style="font-size: 22px">{{ cur_lect_board.lect_board_title }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <form id="manage-form" onsubmit="return ManageFormSubmit()">
                                                <!-- 수강생 테이블 -->
                                                {% include "_table_attendance_check.html" %}
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ cur_lect_board.lect_board_no}}" name="lect_board_no_">
                                            </form>


                                            <!--========== 페이지네이션 시작 ===========-->
                                            <!-- 1페이지에 수강생 끌고오고, 수강생이 그보다 적으면, 페이지네이션 안보이게 처리 -->
                                            {% if students_list %}
                                                {% include "pagination.html" with item_list=students_list %}
                                            {% endif %}
                                            <!--========== 페이지네이션 끝 ===========-->
                                        </div>


                                </div>
                            </div>
                        {% else %}
                            <p class="text-center align-content-center">출석부가 아직 생성되지 않았습니다.</p>
                        {% endif %}
                        </div>
                    </div>
                    <!-- 상단으로 한번에 올라가는 버튼 -->
                    <button class="scroltop fa fa-chevron-up" style="display: none;"></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
