<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:title" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>BizMap Directory & Listings HTML templates</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
	
	
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- header -->
    <header class="site-header header-transparent mo-left">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html" class="logo-1"><img src="images/logo-white-1.png" alt=""></a>
						<a href="index.html" class="logo-2"><img src="images/logo-black-1.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="register.html" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
							<a href="add-listing.html" class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i> Add Listing</a>
                        </div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<ul class="nav navbar-nav">              
							<li class="down active"><a href="#">Home <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2<span class="tag-new">New</span></a></li>
									<li><a href="index-3.html">Home 3<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Pages <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="coming-soon.html">Coming Soon</a></li>
									<li><a href="error-404.html">Error 404</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="register.html">Register<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Listings <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="add-listing.html">Add Listing<span class="tag-new">New</span></a></li>
									<li><a href="#">Listings <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing.html">Listing</a></li>
											<li><a href="listing-left-sidebar.html">Listing Left Sidebar</a></li>
											<li><a href="listing-right-sidebar.html">Listing Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Grid <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Map <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-map-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-map-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Details <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-details.html">Listing Details 1</a></li>
											<li><a href="listing-details-2.html">Listing Details 2<span class="tag-new">New</span></a></li>
											<li><a href="listing-details-3.html">Listing Details 3<span class="tag-new">New</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="down"><a href="#">Blog <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="blog-standard.html">Blog</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>	
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle" style="background-image:url(images/banner/bnr2.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Blog Standard</h1>
					<p>Find awesome places, bars, restaurants & activities.</p>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="index.html">Home</a></li>
							<li>Blog Standard</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="section-full content-inner">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-md-7 col-lg-8 col-xl-8">
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a href="blog-details.html"><img src="images/blog/default/thum1.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Doe</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>12 July</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a href="blog-details.html">Ten Unconventional Knowledge About Directory Blog That You Can't Learn From Books.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>As desperate as you are right now, you have done everything you can on your website to say to Google “This is a relevant content!” But ouch, your site doesn't seem to be ranking no matter what. </p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a href="blog-details.html" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a href="blog-details.html"><img src="images/blog/default/thum2.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Rosalina</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>25 Oct</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a href="blog-details.html">Seven Awesome Things You Can Learn From Directory Blog.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>You will see in the guide all my years of valuable experience together with the latest data-proven results from getting a bunch of traffic to your website to making tons of REAL money for you!</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a href="blog-details.html" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a href="blog-details.html"><img src="images/blog/default/thum3.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Smith</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>05 Jan</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a href="blog-details.html">The Biggest Contribution Of Directory Blog To Humanity.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>Through the Guide, you will learn to STOP your website from getting bunch of traffic because I will show you how to get only the real traffic that gives you real conversion at the end of the day.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a href="blog-details.html" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a href="blog-details.html"><img src="images/blog/default/thum4.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Robin Hood</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>20 Feb</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a href="blog-details.html">20 Wonderful Directory Blog. Number 16 is Absolutely Stunning.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>When I needed to start from scratch and figure out how things work. Getting people to visit your website is easy until you realize that these bunch of traffic is not the exact traffic that you want.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a href="blog-details.html" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
                        <!-- Pagination start -->
                        <div class="pagination-bx clearfix text-center">
							<ul class="pagination">
								<li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a></li>
								<li><a href="javascript:void(0)">1</a></li>
								<li><a href="javascript:void(0)">2</a></li>
								<li><a href="javascript:void(0)">...</a></li>
								<li class="active"><a href="javascript:void(0)">7</a></li>
								<li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
							</ul>
						</div>
                        <!-- Pagination END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-md-5 col-lg-4 col-xl-4 sticky-top">
                        <aside  class="side-bar blog-sidebar">
							<div class="widget">
                                <h4 class="widget-title">Search</h4>
                                <div class="search-bx">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" type="text" class="form-control" placeholder="Search your keyword...">
                                            <span class="input-group-btn">
												<button type="submit" class="site-button"><i class="fa fa-search"></i></button>
                                            </span> 
										</div>
                                    </form>
                                </div>
                            </div>
							<div class="widget widget_gallery">
								<h4 class="widget-title">Instagram</h4>
                                <ul>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic1.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic2.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic3.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic4.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic5.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic6.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic7.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic8.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="images/gallery/pic9.jpg" alt=""></div></a></li>
                                </ul>
                            </div>
							<div class="widget widget_share">
								<h4 class="widget-title">Follow Us</h4>
								<ul class="list-inline m-b0">
									<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
							<div class="widget widget_tag">
								<h4 class="widget-title">Categories</h4>
								<ul class="m-b0">
									<li><a href="javascript:void(0);">Lifestyle</a> (05)</li>
									<li><a href="javascript:void(0);">Travel</a> (34) </li>
									<li><a href="javascript:void(0);">Fashion</a> (89) </li>
									<li><a href="javascript:void(0);">Music</a> (96) </li>
									<li><a href="javascript:void(0);">Branding</a> (78) </li>
								</ul>
							</div>
							<div class="widget recent-posts-entry">
								<h4 class="widget-title">Feeds</h4>
								<div class="widget-post-bx">
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="images/blog/recent-blog-2/img1.jpg" width="200" height="143" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Alonso Kelina Falao Asiano Pero</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 08 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="images/blog/recent-blog-2/img2.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">It is a long established fact that a reader</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 07 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="images/blog/recent-blog-2/img3.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Many desktop publish packages and web</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 06 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="images/blog/recent-blog-2/img4.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Various versions have evolved over the years</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 02 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="images/blog/recent-blog-2/img5.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Photo booth anim 8-bit PBR 3 wolf moon.</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 01 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widget widget_tag_cloud">
								<h4 class="widget-title">Tags</h4>
								<div class="tagcloud"> 
									<a href="javascript:void(0)">Travel</a> 
									<a href="javascript:void(0)">Lifestyle</a> 
									<a href="javascript:void(0)">Photo</a> 
									<a href="javascript:void(0)">Adventures</a> 
									<a href="javascript:void(0)">Musician</a> 
									<a href="javascript:void(0)">08</a>
									<a href="javascript:void(0)">Travel</a> 
									<a href="javascript:void(0)">Lifestyle</a> 
									<a href="javascript:void(0)">Photo</a> 
									<a href="javascript:void(0)">Adventures</a> 
									<a href="javascript:void(0)">Musician</a> 
									<a href="javascript:void(0)">08</a> 
								</div>
							</div>
							<div class="add p-b30">
								<img src="images/add/add1.jpg" alt="">
							</div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo-white.png" class="m-b15" alt="" width="180">
							<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry.</p>
                            <div class="subscribe-form m-b20">
								<form class="dzSubscribe" action="script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required" class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
										</span> 
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="javascript:void(0);">Hotel</a></li>
                                <li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
								<li><a href="javascript:void(0);">Travel</a></li>
                                <li><a href="javascript:void(0);">How It Works</a></li>
                                <li><a href="javascript:void(0);">For Employers</a></li>
                                <li><a href="javascript:void(0);">Underwriting</a></li>
                                <li><a href="javascript:void(0);">Contact Us</a></li>
								<li><a href="javascript:void(0);">Lending Licnses</a></li>
								<li><a href="javascript:void(0);">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                        <div class="widget widget_getintuch">
                            <h5 class="m-b30 text-white">Contact us</h5>
                            <ul>
                                <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road Chi Minh City, Vietnam </li>
                                <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support)</li>
								<li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
		<div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
						<span class="fbottom-like"> © 2020 Design With <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a> By DexignZone </span>
					</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->

</body>
</html>