{% load static %}
<script src="{% static 'js/comment.js' %}"></script>
<!--==================== 댓글부분 시작 ====================-->
<div class="clear" id="comment-list">
    <div class="comments-area" id="comments">
        <h3 class="font-26">댓글
        </h3>
        <div class="clearfix">
            <!-- comment list END -->
            <ol class="comment-list">
                <!-- 댓글 1 -->
                {% for comment in comment_list %}
                    <li class="comment">
                        <div class="comment-body">
                            <!-- 댓글 작성자 프로필자신 및 이름을 담는 div -->
                            <div class="comment-author vcard"><cite class="fn"><img
                                    src="/media/{{ comment.comment_writer.user_pic }}"
                                    width="35"
                                    height="35" class="comment-profile-size"
                                    alt="현재 브라우저에서 지원하지 않는 형식입니다.">{{ comment.comment_writer.user_name }}
                            </cite></div>
                            <!-- 댓글 작성자 학과, 학번 및 작성시간 div -->
                            <div class="dlab-post-meta m-l10">
                                <ul class="d-flex">
                                    <!-- 학과 및 학번 -->
                                    <li class="post-author"><a
                                            href="javascript:void(0);">{{ comment.comment_writer.user_major.major_name }}
                                        {{ comment.comment_writer.user_stu|stringformat:"s" |slice:"2:4" }}학번</a>
                                    </li>
                                    <!-- 작성시간 -->
                                    <li class="post-comment"><i
                                            class="ti ti-alarm-clock"></i>
                                        <a href="javascript:void(0);">
                                            {{ comment.comment_created|date:"Y-m-d h:i" }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- 댓글내용란, 댓글 데이터 가져오는 곳 -->
                            <!-- DB 적용할 때는 id 부분을 id="correcting-{{ comment.comment_id }}"로 변경바람 -->
                            <!-- 테스트를 위해 id를 다음과 같이 함. js도 똑같이 주석 달아줬으니 참고해야 함.  -->
                            <form id="form-comment-update-{{ comment.comment_id }}"
                                  action="{% url 'board_comment_update' %}"
                                  method="post">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id"
                                       value="{{ comment.comment_id }}"/>
                                <input type="hidden" name="board_no"
                                       value="{{ board.board_no }}"/>
                                <input type="text" disabled="disabled"
                                       style="width: 706px"
                                       name="comment_cont"
                                       class="comments-area"
                                       id="correcting-no-{{ comment.comment_id }}"
                                       value="{{ comment.comment_cont }}"
                                       autofocus>
                            </form>
                            <!-- 하단의 comment_no_1은 꼭 id= "commentbtnDiv-{{ comment.comment_id }}"로 바꿔줄 것 -->
                            <!-- 댓글수정 버튼을 누르면, 기존 댓글수정 버튼이 사라지고, 수정완료 버튼이 생기도록 구현했는데, -->
                            <!-- 수정완료 버튼이 commentbtnDiv에 자식요소로 붙게하기 때문에, id 값 필요 -->
                            <div id="comment_no_{{ comment.comment_id }}"
                                 class="reply-btn-div">
                                <!-- 답글쓰기버튼 클릭 시, jqury로 버튼을 담는 div 밑에 대댓글 작성 란 생김 -->
                                <form id="form-comment-delete-{{ comment.comment_id }}"
                                      action="{% url 'comment_delete' %}"
                                      method="post">

                                    {% if logined_user.user_stu is not None and logined_user.user_auth.auth_no < 3 %}
                                        <button type="button"
                                                id="btnAdd-{{ comment.comment_id }}"
                                                onclick="addReply({{ comment.comment_id }},'{% url "comment_register" %}', {{ board.board_no }})"
                                                class="btnAdd comment-btn m-r20"><i
                                                class="fa fa-commenting m-r5"></i>답글쓰기
                                        </button>
                                    {% endif %}
                                    <!-- 댓글삭제 버튼 -->
                                    <!-- id="comment-delete-{{ comment.comment_id }}" -->
                                    {% if logined_user.user_stu == comment.comment_writer.user_stu or logined_user.user_role.role_no <= 3 %}
                                        {% csrf_token %}
                                        <input type="hidden" name="comment_id"
                                               value="{{ comment.comment_id }}"/>
                                        <input type="hidden" name="board_no"
                                               value="{{ board.board_no }}"/>
                                        <button type="button"
                                                onclick="comment_del({{ comment.comment_id }})"
                                                class="comment-btn m-r10"><i
                                                class="fa fa-trash m-r5"></i>
                                            댓글 삭제
                                        </button>
                                    {% endif %}
                                    <!-- 덧글 삭제 폼 -->

                                    {% if logined_user.user_stu == comment.comment_writer.user_stu %}

                                        <!-- 댓글수정 버튼 -->
                                        <button onclick="comment_update({{ comment.comment_id }})"
                                                id="correctingBtn-{{ comment.comment_id }}"
                                                type="button"
                                                class="comment-btn m-r10"><i
                                                class="fa fa-pencil m-r5"></i>댓글 수정
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                            <!-- for 문 들어갈 자리 (대댓글)-->
                            {% for comment_re in comment.comment_set.all %}
                                <div class="dlab-divider bg-gray-dark"></div>
                                <div style="margin-left: 20px;">
                                    <!-- 댓글 작성자 프로필자신 및 이름을 담는 div -->
                                    <div class="comment-author vcard"><cite
                                            class="fn"><img
                                            src="/media/{{ comment_re.comment_writer.user_pic }}"
                                            width="35"
                                            height="35" class="comment-profile-size"
                                            alt="현재 브라우저에서 지원하지 않는 형식입니다.">{{ comment_re.comment_writer.user_name }}
                                    </cite>
                                    </div>
                                    <div class="dlab-post-meta m-l10">
                                        <ul class="d-flex">
                                            <!-- 댓글 작성자 학과 및 학번 -->
                                            <li class="post-author"><a
                                                    href="javascript:void(0);">{{ comment_re.comment_writer.user_major.major_name }}
                                                {{ comment_re.comment_writer.user_stu|stringformat:"s"|slice:"2:4" }}학번</a>
                                            </li>
                                            <!-- 댓글 작성 시간 -->
                                            <li class="post-comment"><i
                                                    class="ti ti-alarm-clock"></i>
                                                <a href="javascript:void(0);">{{ comment_re.comment_created|date:"Y-m-d h:i" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- DB에서 가져온 댓글정보 -->
                                    <form id="form-comment-update-{{ comment_re.comment_id }}"
                                          action="{% url 'board_comment_update' %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="comment_id"
                                               value="{{ comment_re.comment_id }}">
                                        <input type="hidden" name="{{ board_ref_name }}"
                                               value="{{ board_ref_value }}"/>
                                        <input type="text" disabled="disabled"
                                               style="width: 706px"
                                               class="comments-area"
                                               name="comment_cont"
                                               id="correcting-no-{{ comment_re.comment_id }}"
                                               value="{{ comment_re.comment_cont }}">
                                    </form>
                                    <div id="comment_no_{{ comment_re.comment_id }}"
                                         class="reply-btn-div">
                                        <form id="form-comment-delete-{{ comment_re.comment_id }}"
                                              action="{% url 'board_comment_delete' %}"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="comment_id"
                                                   value="{{ comment_ref.comment_id }}"/>
                                            <input type="hidden" name="{{ board_ref_name }}"
                                                   value="{{ board_ref_value }}"/>
                                            {% if logined_user.user_role.role_no <= 3 or logined_user.user_stu == comment_ref.comment_writer.user_stu %}
                                                <button type="button"
                                                        onclick="comment_del({{ comment_ref.comment_id }})"
                                                        id="btn-del-{{ comment_ref.comment_id }}"
                                                        class="comment-btn m-r10"><i
                                                        class="fa fa-trash m-r5"></i>
                                                    댓글 삭제
                                                </button>
                                            {% endif %}
                                            {% if logined_user.user_stu == comment_ref.comment_writer.user_stu %}
                                                <button type="button"
                                                        id="correctingBtn-{{ comment_ref.comment_id }}"
                                                        class="comment-btn m-r10"
                                                        onclick="comment_update({{ comment_ref.comment_id }})">
                                                    <i class="fa fa-pencil m-r5"></i>댓글
                                                    수정
                                                </button>
                                            {% endif %}
                                        </form>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ol>
            <!-- 작성된 댓글과 댓글입력 부분을 나누는 구분선 -->
            {% if logined_user.user_auth.auth_no != 3 %}
                <div class="dlab-divider bg-gray-dark"></div>
                <!--========================= 댓글 입력 form 태그 =========================-->

                <div class="" id="respond">
                    <form class="comment-form" id="commentform" method="post"
                          action="{% url 'board_comment_register' %}">
                        {% csrf_token %}
                        <input type="hidden" name="board_no"
                               value="{{ board.board_no }}"/>
                        <!-- 댓글입력창 -->

                        <p class="comment-form-comment">
                            <label for="comment">Comments</label>
                            <textarea rows="8" name="comment_cont"
                                      placeholder="댓글을 남겨보세요!" required="required"
                                      id="comment"></textarea>
                        </p>
                        <!-- 댓글작성 버튼 -->
                        <p class="form-submit" style="text-align: right">
                            <input type="submit" value="댓글등록"
                                   class="submit site-button" id="submit" name="submit">
                        </p>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>