
{% if file_list %}
    {% load static %}
    <script src="{% static 'js/posting_register.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_register.css' %}">

    <div class="form-group">
        <div id="image-cont" class="image-cont">
            {% for file in file_list %}
                <div id="image-card-{{ file.file_id }}"
                     class="image-card">
                    <!-- 취소 버튼, 취소를 누를 시 image-card 컨테이너가 통채로 사라짐. -->
                    <button type="button"
                            class="btn btn-danger fa fa-times btn-cancel"
                            onclick="delImg(document.getElementById('image-card-{{ file.file_id }}'))"></button>
                    <!-- 이미지 컨테이너 이미지 파일일 경우 img태그가, 이미지 파일이 아닐 경우 파일 모양의 아이콘이 붙음. -->
                    <div id="image-{{ file.file_id }}"
                         class="image-container"></div>
                    <div class="file-detail width-100" style="text-align: center">
                        <span>{{ file.file_path }}</span>
                    </div>
                    <!--기존 파일링크를 이동시키기 위한 히든 링크 -->
                    <input type="hidden"
                           name="exist_file_path_{{ file.file_id }}"
                           value="{{ file.file_path }}"/>
                </div>
                <script>
                    // 페이지가 로딩 될 때 해당 함수도 자동으로 실행되도록 설정함. (아이콘 or img 결정)
                    onload = decisionIcon(document.getElementById("image-{{ file.file_id }}"), '{{ file.file_path }}');
                </script>
            {% endfor %}
        </div>
    </div>
{% endif %}