<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:title" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>BizMap Directory & Listings HTML templates</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
	
	
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- header -->
    <header class="site-header header-transparent mo-left">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html" class="logo-1"><img src="images/logo-white-1.png" alt=""></a>
						<a href="index.html" class="logo-2"><img src="images/logo-black-1.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="register.html" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
							<a href="add-listing.html" class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i> Add Listing</a>
                        </div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">              
							<li class="down active"><a href="#">Home <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2<span class="tag-new">New</span></a></li>
									<li><a href="index-3.html">Home 3<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Pages <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="coming-soon.html">Coming Soon</a></li>
									<li><a href="error-404.html">Error 404</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="register.html">Register<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Listings <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="add-listing.html">Add Listing<span class="tag-new">New</span></a></li>
									<li><a href="#">Listings <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing.html">Listing</a></li>
											<li><a href="listing-left-sidebar.html">Listing Left Sidebar</a></li>
											<li><a href="listing-right-sidebar.html">Listing Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Grid <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Map <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-map-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-map-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Details <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-details.html">Listing Details 1</a></li>
											<li><a href="listing-details-2.html">Listing Details 2<span class="tag-new">New</span></a></li>
											<li><a href="listing-details-3.html">Listing Details 3<span class="tag-new">New</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="down"><a href="#">Blog <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="blog-standard.html">Blog</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>		
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Section Banner -->
		<div class="dlab-bnr-inr dlab-bnr-inr-md" style="background-image:url(images/main-slider/slide1.jpg); background-size: cover;">
            <div class="container">
                <div class="dlab-bnr-inr-entry align-m dlab-home">
					<div class="bnr-content">
						<h2><strong>Find & Get</strong> Your Dream Place.</h2>
					</div>
					<div class="dlab-tabs search-filter">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#place">
								<i class="fa fa-map-marker"></i> <span class="title-head">Place</span></a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#party">
								<i class="fa fa-music"></i> <span class="title-head">Party</span></a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#restauren">
								<i class="fa fa-glass"></i> <span class="title-head">Restauren</span></a></li>
						</ul>
						<div class="tab-content">
							<div id="place" class="tab-pane active">
								<form>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="What are you looking for?">
										<div class="form-control"> 
											<select> 
												<option>Select Category</option>
												<option>Construction</option>
												<option>Corodinator</option>
												<option>Employer</option>
												<option>Financial Career</option>
												<option>Information Technology</option>
												<option>Marketing</option>
												<option>Quality check</option>
												<option>Real Estate</option>
												<option>Sales</option>
												<option>Supporting</option>
												<option>Teaching</option> 
											</select>
										</div>
										<div class="input-group-prepend">
											<button class="site-button text-uppercase"><i class="fa m-r5 fa-search"></i> Search</button>
										</div>
									</div>
								</form>
							</div>
							<div id="party" class="tab-pane">
								<form>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="What are you looking for?">
										<div class="form-control"> 
											<select> 
												<option>Select Category</option>
												<option>Construction</option>
												<option>Corodinator</option>
												<option>Employer</option>
												<option>Financial Career</option>
												<option>Information Technology</option>
												<option>Marketing</option>
												<option>Quality check</option>
												<option>Real Estate</option>
												<option>Sales</option>
												<option>Supporting</option>
												<option>Teaching</option> 
											</select>
										</div>
										<div class="input-group-prepend">
											<button class="site-button text-uppercase"><i class="fa m-r5 fa-search"></i> Search</button>
										</div>
									</div>
								</form>
							</div>
							<div id="restauren" class="tab-pane">
								<form>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="What are you looking for?">
										<div class="form-control"> 
											<select> 
												<option>Select Category</option>
												<option>Construction</option>
												<option>Corodinator</option>
												<option>Employer</option>
												<option>Financial Career</option>
												<option>Information Technology</option>
												<option>Marketing</option>
												<option>Quality check</option>
												<option>Real Estate</option>
												<option>Sales</option>
												<option>Supporting</option>
												<option>Teaching</option> 
											</select>
										</div>
										<div class="input-group-prepend">
											<button class="site-button text-uppercase"><i class="fa m-r5 fa-search"></i> Search</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<p class="text-center text-white m-b10 m-t30">Find awesome places, bars, restaurants & activities.</p>
					</div>
					
					<div class="category-bx">
						<a href="listing-left-sidebar.html" class="category">
							<i class="flaticon-cart-of-ecommerce"></i>
							<p>carts</p>
						</a>
						<a href="listing-left-sidebar.html" class="category">
							<i class="flaticon-carrot"></i>
							<p>foods</p>
						</a>
						<a href="listing-left-sidebar.html" class="category">
							<i class="flaticon-hockey"></i>
							<p>candy</p>
						</a>
						<a href="listing-left-sidebar.html" class="category">
							<i class="flaticon-pill-capsule"></i>
							<p>medicine</p>
						</a>
						<a href="listing-left-sidebar.html" class="category">
							<i class="flaticon-birthday-cake"></i>
							<p>cake</p>
						</a>
						<a href="listing-left-sidebar.html" class="category">
							<i class="flaticon-place"></i>
							<p>place</p>
						</a>
					</div>
				</div>
            </div>
        </div>
		<!-- Section Banner END -->
		<!-- Search Filter -->
		<div class="section-full">
			<div class="container">
				
			</div>
		</div>
		<!-- Search Filter END -->
		<div class="content-block">
            <!-- Featured Destinations -->
            <div class="section-full bg-white content-inner">
                <div class="container">
					<div class="section-head text-black text-center">
						
						<h2 class="box-title">Popular Cities</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="featured-bx m-b30">
								<div class="featured-media">
									<img src="images/destinations/pic2.jpg" alt=""/>
								</div>	
								<div class="featured-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
									<h5 class="title"><a href="listing-details.html">London</a></h5>
									<ul class="featured-category">
										<li><i class="fa fa-moon-o"></i> 12 Cities</li>
										<li><i class="fa fa-map-o"></i> 30+ Listing</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="featured-bx m-b30">
								<div class="featured-media">
									<img src="images/destinations/pic3.jpg" alt=""/>
								</div>	
								<div class="featured-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
									<h5 class="title"><a href="listing-details.html">United States</a></h5>
									<ul class="featured-category">
										<li><i class="fa fa-moon-o"></i> 12 Cities</li>
										<li><i class="fa fa-map-o"></i> 30+ Listing</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="featured-bx m-b30">
								<div class="featured-media">
									<img src="images/destinations/pic4.jpg" alt=""/>
								</div>	
								<div class="featured-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
									<h5 class="title"><a href="listing-details.html">Korea</a></h5>
									<ul class="featured-category">
										<li><i class="fa fa-moon-o"></i> 12 Cities</li>
										<li><i class="fa fa-map-o"></i> 30+ Listing</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="featured-bx m-b30">
								<div class="featured-media">
									<img src="images/destinations/pic5.jpg" alt=""/>
								</div>	
								<div class="featured-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
									<h5 class="title"><a href="listing-details.html">Japan</a></h5>
									<ul class="featured-category">
										<li><i class="fa fa-moon-o"></i> 12 Cities</li>
										<li><i class="fa fa-map-o"></i> 30+ Listing</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
			<!-- Our Services -->
			<div class="section-full bg-gray content-inner about-us">
                <div class="container-fluid">
					<div class="section-head text-black text-center">
						<h2 class="box-title">Top Trending Places</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="most-visite owl-carousel owl-btn-center-lr owl-btn-1 primary">
						<div class="item">
							<div class="listing-bx featured-star-left m-b30">
								<div class="listing-media">
									<img src="images/listing/pic1.jpg" alt="">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
								</div>
								<div class="listing-info">
									<h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
									<ul class="place-info">
										<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
										<li class="open"><i class="fa fa-check"></i>Open Now</li>
									</ul>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>							
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="listing-bx featured-star-left m-b30">
								<div class="listing-media">
									<img src="images/listing/pic2.jpg" alt="">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>	
									</ul>
								</div>
								<div class="listing-info">
									<h3 class="title"><a href="listing-details.html">Dorado Health Care</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
									<ul class="place-info">
										<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
										<li class="open"><i class="fa fa-check"></i>Open Now</li>
									</ul>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="listing-bx featured-star-left m-b30">
								<div class="listing-media">
									<img src="images/listing/pic3.jpg" alt="">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
								</div>
								<div class="listing-info">
									<h3 class="title"><a href="listing-details.html">Tam Farfhume Shop</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
									<ul class="place-info">
										<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
										<li class="open"><i class="fa fa-check"></i>Open Now</li>
									</ul>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="listing-bx featured-star-left m-b30">
								<div class="listing-media">
									<img src="images/listing/pic4.jpg" alt="">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
								</div>
								<div class="listing-info">
									<h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
									<ul class="place-info">
										<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
										<li class="open"><i class="fa fa-check"></i>Open Now</li>
									</ul>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="listing-bx featured-star-left m-b30">
								<div class="listing-media">
									<img src="images/listing/pic5.jpg" alt="">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
								</div>
								<div class="listing-info">
									<h3 class="title"><a href="listing-details.html">Venzil Hingo Zoo</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
									<ul class="place-info">
										<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
										<li class="open"><i class="fa fa-check"></i>Open Now</li>
									</ul>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="listing-bx featured-star-left m-b30">
								<div class="listing-media">
									<img src="images/listing/pic6.jpg" alt="">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
								</div>
								<div class="listing-info">
									<h3 class="title"><a href="listing-details.html">KFC Pijja Shop</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
									<ul class="place-info">
										<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
										<li class="open"><i class="fa fa-check"></i>Open Now</li>
									</ul>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Our Services -->
			<!-- Why Choose Us -->
			<div class="section-full bg-img-fix most-visited content-inner overlay-primary-dark" style="background-image:url(images/background/bg1.jpg);">
				<div class="container">
					<div class="section-head text-white text-center">
						<h2 class="box-title">How It Works?</h2>
						<div class="dlab-separator bg-white"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4">
							<div class="icon-bx-wraper sr-box center box1 m-b30">
								<div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)" class="icon-cell text-primary"><i class="ti-search"></i></a> </div>
								<div class="icon-content">
									<h3 class="dlab-tilte">Choose What To Do?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="icon-bx-wraper sr-box center  m-b30">
								<div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)" class="icon-cell text-primary"><i class="ti-gift"></i></a> </div>
								<div class="icon-content">
									<h3 class="dlab-tilte">Find What Your Want?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="icon-bx-wraper sr-box center box1 m-b30">
								<div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)" class="icon-cell text-primary"><i class="ti-rocket"></i></a> </div>
								<div class="icon-content">
									<h3 class="dlab-tilte">Explore Amazing Places</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Chose Us End -->
			<!-- Our Portfolio -->
			<div class="section-full content-inner bg-gray">
                <div class="container">
					<div class="section-head text-center">
						<h2 class="box-title">What Our Users Say</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div id="owl-demo" class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 owl-dots-primary-big">
									<div class="item">
										<div class="client-box">
											<div class="client-detail">
												<div class="client-img">
													<img src="images/testimonials/pic1.jpg" width="100" height="100" alt="">
												</div>
												<div class="client-info">
													<h5 class="client-name">Diamond Anderson</h5> 
													<span>Founder, uihub inc.</span> 
												</div>
											</div>
											<div class="client-info-bx">
												<h5>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. </h5>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="client-box">
											<div class="client-detail">
												<div class="client-img">
													<img src="images/testimonials/pic2.jpg" width="100" height="100" alt="">
												</div>
												<div class="client-info">
													<h5 class="client-name">Diamond Anderson</h5> 
													<span>Founder, uihub inc.</span> 
												</div>
											</div>
											<div class="client-info-bx">
												<h5>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. </h5>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="client-box">
											<div class="client-detail">
												<div class="client-img">
													<img src="images/testimonials/pic3.jpg" width="100" height="100" alt="">
												</div>
												<div class="client-info">
													<h5 class="client-name">Diamond Anderson</h5> 
													<span>Founder, uihub inc.</span> 
												</div>
											</div>
											<div class="client-info-bx">
												<h5>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. </h5>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- Our Portfolio END -->
			<!-- Featured Destinations -->
            <div class="section-full bg-white content-inner">
                <div class="container">
					<div class="section-head text-black text-center">
						<h2 class="box-title">From The Blog</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="blog-carousel owl-carousel owl-none blog-shadow-out">
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a href="blog-details.html"><img src="images/blog/grid/pic1.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a href="blog-details.html">Tarvel</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="blog-details.html">7 Moments To Remember From Directory.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>Achieving only 1 out of the 4 (traffic, opt-in, conversion, email) doesn’t do much help either.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a href="blog-details.html">John Doe</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a href="blog-details.html">12 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a href="blog-details.html"><img src="images/blog/grid/pic3.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a href="blog-details.html">Foods</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="blog-details.html">Directory Will Be A Thing Of The Past.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>Knowing that, you’ve optimised your pages countless amount of times, written tons of eye catching.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a href="blog-details.html">Rosalina</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a href="blog-details.html">08 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a href="blog-details.html"><img src="images/blog/grid/pic2.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a href="blog-details.html">Hotel</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="blog-details.html">Ten Things Your Competitors Know About.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>As desperate as you are right now, you have done everything you can on your website to say.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a href="blog-details.html">John Smith</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a href="blog-details.html">03 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo-white.png" class="m-b15" alt="" width="180">
							<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry.</p>
                            <div class="subscribe-form m-b20">
								<form class="dzSubscribe" action="script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required" class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
										</span> 
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="javascript:void(0);">Hotel</a></li>
                                <li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
								<li><a href="javascript:void(0);">Travel</a></li>
                                <li><a href="javascript:void(0);">How It Works</a></li>
                                <li><a href="javascript:void(0);">For Employers</a></li>
                                <li><a href="javascript:void(0);">Underwriting</a></li>
                                <li><a href="javascript:void(0);">Contact Us</a></li>
								<li><a href="javascript:void(0);">Lending Licnses</a></li>
								<li><a href="javascript:void(0);">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                        <div class="widget widget_getintuch">
                            <h5 class="m-b30 text-white">Contact us</h5>
                            <ul>
                                <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road Chi Minh City, Vietnam </li>
                                <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support)</li>
								<li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
		<div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
						<span class="fbottom-like">© 2020 Design With <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a> By DexignZone </span>
					</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->

</body>
</html>
