<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:title" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>BizMap Directory & Listings HTML templates</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-3.css">
	
	
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper font-roboto">
	<!-- header -->
    <header class="site-header header-transparent mo-left header-style3">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix onepage">
                <div class="container-fluid clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html" class="logo-1"><img src="images/logo-white-3.png" alt=""></a>
						<a href="index.html" class="logo-2"><img src="images/logo-black-3.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="register.html" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
							<a href="add-listing.html" class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i> Add Listing</a>
                        </div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-center" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">              
							<li class="down active"><a href="#">Home <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2<span class="tag-new">New</span></a></li>
									<li><a href="index-3.html">Home 3<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Pages <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="coming-soon.html">Coming Soon</a></li>
									<li><a href="error-404.html">Error 404</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="register.html">Register<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Listings <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="add-listing.html">Add Listing<span class="tag-new">New</span></a></li>
									<li><a href="#">Listings <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing.html">Listing</a></li>
											<li><a href="listing-left-sidebar.html">Listing Left Sidebar</a></li>
											<li><a href="listing-right-sidebar.html">Listing Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Grid <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Map <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-map-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-map-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Details <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-details.html">Listing Details 1</a></li>
											<li><a href="listing-details-2.html">Listing Details 2<span class="tag-new">New</span></a></li>
											<li><a href="listing-details-3.html">Listing Details 3<span class="tag-new">New</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="down"><a href="#">Blog <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="blog-standard.html">Blog</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>		
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Section Banner -->
		<div class="dlab-bnr-inr bnr-style2" style="background-image:url(images/main-slider/slide6.jpg); background-size: cover;">
            <div class="container-fluid">
                <div class="dlab-bnr-inr-entry">
					<div class="slide-filter-bx">
						<div class="filter-style2-area">
							<div class="filter-style3">
								<form class="dezPlaceAni">
									<div class="form-head">
										<h4 class="title">Find Nearby Attractions</h4>
										<p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>
									</div>	
									<div class="form-group">
										<label class="title">What are you looking for?</label>
										<input type="text" class="form-control" placeholder="">
									</div>	
									<div class="form-group">
										<label class="title">Location</label>
										<input type="text" class="form-control" placeholder="">
									</div>	
									<div class="form-group">
										<select> 
											<option>Select Category</option>
											<option>Construction</option>
											<option>Corodinator</option>
											<option>Employer</option>
											<option>Financial Career</option>
											<option>Marketing</option>
											<option>Supporting</option>
											<option>Teaching</option> 
										</select>
									</div>
									<button class="site-button btn-block black"> Search</button>
								</form>
							</div>
						</div>
						<div class="location-carousel-bx">
							<div class="bnr-content text-white">
								<h1>Explore your place <br/>easy with us.</h1>
								<div class="owl-location-carousel owl-btn-1 owl-btn-center-lr owl-dots-none owl-carousel">
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="images/featured/pic7.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a href="listing-details.html">London</a></h5>
												<ul class="featured-category">
													<li> 18+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="images/featured/pic3.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a href="listing-details.html">United States</a></h5>
												<ul class="featured-category">
													<li> 12+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="images/featured/pic4.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a href="listing-details.html">Korea</a></h5>
												<ul class="featured-category">
													<li> 09+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="images/featured/pic5.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a href="listing-details.html">Japan</a></h5>
												<ul class="featured-category">
													<li> 30+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- Section Banner END -->
		<div class="content-block" id="page_content">
            <!-- Popular Category -->
			<div class="section-full content-inner-1">
				<div class="container max">
					<div class="category-list p-b10">
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-cart-of-ecommerce"></i></span> 
							</div>
							<h4 class="title">carts</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-place"></i></span> 
							</div>
							<h4 class="title">Tours</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-pill-capsule"></i></span> 
							</div>
							<h4 class="title">medicine</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-shop"></i></span> 
							</div>
							<h4 class="title">Shopping</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-birthday-cake"></i></span> 
							</div>
							<h4 class="title">Food</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-city-hall"></i></span> 
							</div>
							<h4 class="title">Culture</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-city-hall-1"></i></span> 
							</div>
							<h4 class="title">Cuisine</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-place"></i></span> 
							</div>
							<h4 class="title">Tours</h4>
						</a>
					</div>
				</div>
			</div>
            <!-- Popular Category End -->
			<!-- Featured Destinations -->
            <div class="section-full bg-white content-inner owl-out">
                <div class="container">
					<div class="section-head text-black text-center">
						
						<h2 class="box-title">Popular Cities</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="popular-cities-carousel owl-carousel owl-btn-2 owl-btn-center-lr primary">
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="images/destinations/pic11.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">London</a></h4>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="images/destinations/pic12.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">United States</a></h4>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="images/destinations/pic13.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">Korea</a></h4>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="images/destinations/pic14.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">Japan</a></h4>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
			<!-- Our Services -->
			<div class="section-full bg-gray-1 content-inner about-us overlay-black-dark owl-out" style="background-image:url(images/background/bg1.jpg); background-position: top;">
                <div class="container  max">
					<div class="section-head text-white text-left text-center">
						<h2 class="box-title">Best Things to Do in the City</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="site-filters clearfix center m-b40 listing-filters text-white">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class=""></i>All</span></a> 
							</li>
							<li data-filter="latest-listings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-thumb-tack"></i> Latest Listings</span></a> 
							</li>
							<li data-filter="popular-ratings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-star-o"></i> Popular Ratings</span></a> 
							</li>
							<li data-filter="near-by-you" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-heart-o"></i> Near By You</span></a> 
							</li>
 						</ul>
					</div>
					<div class="clearfix">
						<ul id="masonry" class="dlab-gallery-listing gallery-grid-4 gallery row sp10">
							<li class="near-by-you design card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic1.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>						
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic2.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Dorado Health Care</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic3.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Tam Farfhume Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="near-by-you latest-listings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic4.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							 <li class="near-by-you popular-ratings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic5.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Venzil Hingo Zoo</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic6.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">KFC Pijja Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="near-by-you popular-ratings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic1.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Venzil Hingo Zoo</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic2.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>	
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">KFC Pijja Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <!-- Our Services -->
			<!-- Why Choose Us -->
			<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="section-head text-center">
						<h2 class="box-title">How It Works?</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row work-box-area">
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">1</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Choose Location</h3>
									<i class="flaticon-place"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">2</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Pick Category</h3>
									<i class="flaticon-team"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">3</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Explore Place</h3>
									<i class="flaticon-city-hall-1"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">4</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Enjoy Your Day</h3>
									<i class="flaticon-city-hall"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Chose Us End -->
			<!-- Online Community -->
			<div class="section-full bg-white content-inner-2 bg-img-fix overlay-black-dark owl-out" style="background-image:url(images/background/bg1.jpg); background-position: left bottom;">
                <div class="container">
					<div class="section-head text-center text-white">
						<h2 class="box-title">What Our Users Say</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div id="owl-demo" class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 btn-white owl-dots-primary-big style-2">
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Online Community End -->
			<!-- Top Featured Locations -->
			<div class="section-full bg-white content-inner-2">
                <div class="container max">
					<div class="section-head text-black text-center">
						<h2 class="box-title">Top Featured Locations</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row m-lr0 featured-style2-area">
						<div class="col-lg-6 col-md-12 p-lr0">
							<div class="row m-lr0">
								<div class="col-lg-12 col-md-12 col-sm-12 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic1.jpg" alt="">
											<div class="featured-type featured-top">
												TOP <br/>FEATURED
                                            </div>
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">London</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 p-lr0">
							<div class="row m-lr0">
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic4.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">Japan</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic5.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">United States</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic2.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">United States</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic3.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">Korea</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Top Featured Locations End -->
			<!-- Featured Destinations -->
            <div class="section-full bg-gray-1 content-inner owl-out">
                <div class="container">
					<div class="section-head text-black text-center">
						<h2 class="box-title">From The Blog</h2>
						<div class="dlab-separator bg-black"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="blog-carousel owl-carousel owl-btn-2 primary owl-btn-center-lr">
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a href="blog-details.html"><img src="images/blog/grid/pic8.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a href="blog-details.html">Tarvel</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="blog-details.html">7 Moments To Remember From Directory.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>Achieving only 1 out of the 4 (traffic, opt-in, conversion, email) doesn’t do much help either.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a href="blog-details.html">John Doe</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a href="blog-details.html">12 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a href="blog-details.html"><img src="images/blog/grid/pic9.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a href="blog-details.html">Foods</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="blog-details.html">Directory Will Be A Thing Of The Past.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>Knowing that, you’ve optimised your pages countless amount of times, written tons of eye catching.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a href="blog-details.html">Rosalina</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a href="blog-details.html">08 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a href="blog-details.html"><img src="images/blog/grid/pic10.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a href="blog-details.html">Hotel</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="blog-details.html">Ten Things Your Competitors Know About.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>As desperate as you are right now, you have done everything you can on your website to say.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a href="blog-details.html">John Smith</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a href="blog-details.html">03 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo-white.png" class="m-b30" alt="" width="180">
							<p class="text-capitalize m-b30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>                            
							<ul class="list-inline m-a0">
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-instagram"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button circle"><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="javascript:void(0);">Hotel</a></li>
                                <li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
								<li><a href="javascript:void(0);">Travel</a></li>
                                <li><a href="javascript:void(0);">How It Works</a></li>
                                <li><a href="javascript:void(0);">For Employers</a></li>
                                <li><a href="javascript:void(0);">Underwriting</a></li>
                                <li><a href="javascript:void(0);">Contact Us</a></li>
								<li><a href="javascript:void(0);">Lending Licnses</a></li>
								<li><a href="javascript:void(0);">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
						<div class="widget border-0">
                            <h5 class="m-b30">Help</h5>
                            <ul class="list-1 list-block ist-line">
								<li><a href="javascript:void(0);">Hotel</a></li>
								<li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
								<li><a href="javascript:void(0);">Travel</a></li>
							</ul>
						</div>
                    </div>
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="widget widget_subscribe">
                            <h5 class="m-b30">Subscribe With Us</h5>
							<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting.</p>
							<div class="subscribe-form m-t20">
								<form class="dzSubscribe" action="script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<input name="dzEmail" required="required" class="form-control" placeholder="Your Email Address" type="email">
									<button name="submit" value="Submit" type="submit" class="site-button m-t20 btn-block radius-xl">Subscribe</button>
								</form>
							</div>
                        </div>
                    </div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="client-box-area">
							<div class="container">
								<div class="client-carousel owl-carousel owl-none">
									<div class="item">
										<div class="client-box">
											<img src="images/client-logo/logo1.png" alt="">
										</div>
									</div>
									<div class="item">
										<div class="client-box">
											<img src="images/client-logo/logo2.png" alt="">
										</div>
									</div>
									<div class="item">
										<div class="client-box">
											<img src="images/client-logo/logo3.png" alt="">
										</div>
									</div>
									<div class="item">
										<div class="client-box">
											<img src="images/client-logo/logo4.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
						<span class="fbottom-like"> © 2020 Design With <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a> By DexignZone </span>
					</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->

</body>
</html>
