<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:title" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>BizMap Directory & Listings HTML templates</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-2.css">
	
	
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper font-roboto">
	<!-- header -->
    <header class="site-header header-transparent mo-left header-style3">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix onepage">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html" class="logo-1"><img src="images/logo-white-2.png" alt=""></a>
						<a href="index.html" class="logo-2"><img src="images/logo-black-2.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
							<a href="register.html" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
							<a href="add-listing.html" class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i> Add Listing</a>
                        </div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">              
							<li class="down active"><a href="#">Home <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2<span class="tag-new">New</span></a></li>
									<li><a href="index-3.html">Home 3<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Pages <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="coming-soon.html">Coming Soon</a></li>
									<li><a href="error-404.html">Error 404</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="register.html">Register<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Listings <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="add-listing.html">Add Listing<span class="tag-new">New</span></a></li>
									<li><a href="#">Listings <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing.html">Listing</a></li>
											<li><a href="listing-left-sidebar.html">Listing Left Sidebar</a></li>
											<li><a href="listing-right-sidebar.html">Listing Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Grid <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Map <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-map-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-map-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Details <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-details.html">Listing Details 1</a></li>
											<li><a href="listing-details-2.html">Listing Details 2<span class="tag-new">New</span></a></li>
											<li><a href="listing-details-3.html">Listing Details 3<span class="tag-new">New</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="down"><a href="#">Blog <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="blog-standard.html">Blog</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>		
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Section Banner -->
		<div class="dlab-bnr-inr dlab-bnr-inr-md bnr-style1" style="background-image:url(images/main-slider/slide5.jpg); background-size: cover;" id="dezParticles">
            <div class="container">
                <div class="dlab-bnr-inr-entry align-m dlab-home">
					<div class="bnr-content">
						<h2>Explore This City</h2>
						<p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>
					</div>
					<div class="search-filter filter-style1">
						<form>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="What are you looking for?">
								<input type="text" class="form-control" placeholder="Location">
								<div class="form-control"> 
									<select> 
										<option>Select Category</option>
										<option>Construction</option>
										<option>Corodinator</option>
										<option>Employer</option>
										<option>Financial Career</option>
										<option>Marketing</option>
										<option>Supporting</option>
										<option>Teaching</option> 
									</select>
								</div>
								<div class="input-group-prepend">
									<button class="site-button"> Search</button>
								</div>
							</div>
						</form>
					</div>
					<div class="navbar scroll-button">
						<a href="#page_content" class="site-button button-style1 scroll"><i class="la la-long-arrow-down"></i></a>
					</div>
				</div>
            </div>
        </div>
		<!-- Section Banner END -->
		<div class="content-block" id="page_content">
            <!-- Featured Destinations -->
            <div class="section-full bg-white content-inner-2">
                <div class="container-fluid">
					<div class="section-head text-black text-center">
						<h2 class="box-title">Popular Cities</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="row m-lr0 featured-style2-area">
						<div class="col-lg-4 col-md-12 p-lr0">
							<div class="row m-lr0">
								<div class="col-lg-12 col-md-4 col-sm-12 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic1.jpg" alt="">
											<div class="featured-type featured-top">
												TOP <br>FEATURED
                                            </div>
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">London</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-4 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic2.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">United States</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-4 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic3.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">Korea</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 p-lr0">
							<div class="row m-lr0">
								<div class="col-lg-6 col-md-4 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic4.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">Japan</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-4 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic5.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">United States</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-4 col-sm-12 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic6.jpg" alt="">
											<div class="featured-type featured-trading">
												<i class="fa fa-bolt"></i>
                                            </div>
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">London</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 p-lr0">
							<div class="row m-lr0">
								<div class="col-lg-12 col-md-4 col-sm-12 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic7.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">London</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-4 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic8.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">United States</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-4 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="images/featured/pic9.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">Korea</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
			<!-- Our Services -->
			<div class="section-full bg-gray-1 content-inner about-us">
                <div class="container-fluid">
					<div class="section-head text-black text-left text-center">
						<h2 class="box-title">Best Things to Do in the City</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="site-filters clearfix center m-b40 listing-filters">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class=""></i>All</span></a> 
							</li>
							<li data-filter="latest-listings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-thumb-tack"></i> Latest Listings</span></a> 
							</li>
							<li data-filter="popular-ratings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-star-o"></i> Popular Ratings</span></a> 
							</li>
							<li data-filter="near-by-you" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-heart-o"></i> Near By You</span></a> 
							</li>
 						</ul>
					</div>
					<div class="clearfix">
						<ul id="masonry" class="dlab-gallery-listing gallery-grid-4 gallery row">
							<li class="near-by-you design card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic1.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic2.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>	
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Dorado Health Care</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic3.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Tam Farfhume Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="near-by-you latest-listings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic4.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							 <li class="near-by-you popular-ratings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic5.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Venzil Hingo Zoo</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic6.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">KFC Pijja Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="near-by-you popular-ratings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic1.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">Venzil Hingo Zoo</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b30 style-2">
									<div class="listing-media">
										<img src="images/listing/list2/pic2.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a href="listing-details.html">KFC Pijja Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <!-- Our Services -->
			<!-- Why Choose Us -->
			<div class="section-full bg-img-fix bg-white content-inner">
				<div class="container">
					<div class="section-head text-center">
						<h2 class="box-title">How It Works?</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="icon-bx-wraper center work-box style1 m-b30">
								<div class="box-count">01</div>
								<div class="icon-bx-lg radius bg-gray-1 m-b20">
									<a href="javascript:void(0)" class="icon-cell"><i class="ti-search text-primary"></i></a> 
								</div>
								<div class="icon-content">
									<h3 class="dlab-tilte">Choose What To Do?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="icon-bx-wraper center work-box style1 m-b30">
								<div class="box-count">02</div>
								<div class="icon-bx-lg radius bg-gray-1 m-b20">
									<a href="javascript:void(0)" class="icon-cell"><i class="ti-gift text-primary"></i></a> 
								</div>
								<div class="icon-content">
									<h3 class="dlab-tilte">Find What Your Want?</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="icon-bx-wraper center work-box style1 m-b30">
								<div class="box-count">03</div>
								<div class="icon-bx-lg radius bg-gray-1 m-b20">
									<a href="javascript:void(0)" class="icon-cell"><i class="ti-rocket text-primary"></i></a> 
								</div>
								<div class="icon-content">
									<h3 class="dlab-tilte">Explore Amazing Places</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Chose Us End -->
			
			<!-- Online Community -->
			<div class="section-full bg-white content-inner-2 bg-img-fix overlay-black-dark owl-out" style="background-image:url(images/background/bg1.jpg); background-position: left bottom;">
                <div class="container">
					<div class="section-head text-center text-white">
						<h2 class="box-title">What Our Users Say</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div id="owl-demo" class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 btn-white owl-dots-primary-big style-2">
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Online Community End -->
			<!-- Featured Destinations -->
            <div class="section-full bg-white content-inner owl-out">
                <div class="container">
					<div class="section-head text-black text-center">
						<h2 class="box-title">From The Blog</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-2 primary">
						<div class="item">
							<div class="blog-post style2 blog-grid">
								<div class="dlab-post-media"> 
									<a href="#"><img src="images/blog/grid/pic5.jpg" alt=""></a> 
								</div>
								<div class="dlab-info">
									<div class="dlab-post-meta">
										<ul>
											<li class="post-comment"><i class="icon-speech"></i> <a href="#">03</a> </li>
											<li class="post-date"><i class="icon-calendar"></i> <span>10  Aug 2020</span> </li>
										</ul>
									</div>
									<div class="dlab-post-title">
										<h5 class="post-title"><a href="#">7 Moments To Remember From Directory.</a></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post style2 blog-grid">
								<div class="dlab-post-media"> 
									<a href="#"><img src="images/blog/grid/pic6.jpg" alt=""></a> 
								</div>
								<div class="dlab-info">
									<div class="dlab-post-meta">
										<ul>
											<li class="post-comment"><i class="icon-speech"></i> <a href="#">03</a> </li>
											<li class="post-date"><i class="icon-calendar"></i> <span>10  Aug 2020</span> </li>
										</ul>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="#">Directory Will Be A Thing Of The Past.</a></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post style2 blog-grid">
								<div class="dlab-post-media"> 
									<a href="#"><img src="images/blog/grid/pic7.jpg" alt=""></a> 
								</div>
								<div class="dlab-info">
									<div class="dlab-post-meta">
										<ul>
											<li class="post-comment"><i class="icon-speech"></i> <a href="#">03</a> </li>
											<li class="post-date"><i class="icon-calendar"></i> <span>10  Aug 2020</span> </li>
										</ul>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a href="#">Ten Things Your Competitors Know About.</a></h5>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer bg-black-2">
        <div class="footer-top">
            <div class="container saf-footer">
                <div class="row">
					<div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_getintuch">
                            <h5 class="m-b30 text-white text-uppercase ">Contact us</h5>
                            <ul>
                                <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road Chi Minh City, Vietnam </li>
                                <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support Line)</li>
								<li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                            </ul>
                        </div>
                    </div>
					
					<div class="col-md-6 col-lg-3 col-sm-6 col-5 footer-col-4">
                        <div class="widget widget_services border-0">
                            <h5 class="m-b30 text-white text-uppercase ">Company</h5>
                            <ul>
                                <li><a href="index.html">About Us </a></li>
                                <li><a href="index.html">Home </a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="about-1.html">About Us</a></li>
                                <li><a href="services-2.html">Our Services</a></li>
                            </ul>
                        </div>
                    </div>
					
                    <div class="col-md-6 col-lg-3 col-sm-6 col-7 footer-col-4">
                        <div class="widget widget_services border-0">
                            <h5 class="m-b30 text-white text-uppercase ">Useful Link</h5>
                            <ul>
                                <li><a href="index.html">Create Account</a></li>
                                <li><a href="index.html">Company Philosophy </a></li>
                                <li><a href="contact.html">Corporate Culture</a></li>
                                <li><a href="about-1.html">Portfolio</a></li>
                                <li><a href="services-2.html">Client Management</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_gallery gallery-grid-4">
                            <h5 class="m-b30 text-white text-uppercase ">Gallery</h5>
                            <ul>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic1.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic2.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic3.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic4.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic5.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic6.jpg" alt=""></a> </li>
								<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic7.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic8.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic9.jpg" alt=""></a> </li>
								<li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic1.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic2.jpg" alt=""></a> </li>
                                <li class="img-effect2"> <a href="javascript:void(0);"><img src="images/gallery/pic3.jpg" alt=""></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-left"> <span>© 2020 DexignZone</span> </div>
                    <div class="col-md-6 col-sm-12 text-right"> 
						<div class="widget-link "> 
							<ul>
								<li><a href="help-desk.html"> Help Desk</a></li> 
								<li><a href="privacy-policy.html"> Privacy Policy</a></li> 
							</ul>
						</div>
					</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="plugins/particles/particles.js"></script>
<script src="plugins/particles/particles.app.js"></script>
</body>
</html>
