<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:title" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>BizMap Directory & Listings HTML templates</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
	<link rel="stylesheet" type="text/css" href="css/star-rating-svg.css">
	
	
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- header -->
    <header class="site-header header-transparent mo-left">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html" class="logo-1"><img src="images/logo-white-1.png" alt=""></a>
						<a href="index.html" class="logo-2"><img src="images/logo-black-1.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="register.html" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
							<a href="add-listing.html" class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i> Add Listing</a>
                        </div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">              
							<li class="down active"><a href="#">Home <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2<span class="tag-new">New</span></a></li>
									<li><a href="index-3.html">Home 3<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Pages <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="coming-soon.html">Coming Soon</a></li>
									<li><a href="error-404.html">Error 404</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="register.html">Register<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="#">Listings <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="add-listing.html">Add Listing<span class="tag-new">New</span></a></li>
									<li><a href="#">Listings <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing.html">Listing</a></li>
											<li><a href="listing-left-sidebar.html">Listing Left Sidebar</a></li>
											<li><a href="listing-right-sidebar.html">Listing Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Grid <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Map <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-grid-map-left-sidebar.html">Left Sidebar</a></li>
											<li><a href="listing-grid-map-right-sidebar.html">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Listing Details <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="listing-details.html">Listing Details 1</a></li>
											<li><a href="listing-details-2.html">Listing Details 2<span class="tag-new">New</span></a></li>
											<li><a href="listing-details-3.html">Listing Details 3<span class="tag-new">New</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="down"><a href="#">Blog <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="blog-standard.html">Blog</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>		
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <div class="wonder-bx text-white">
						<div class="wonder-theme">wo.</div>
						<div class="wonder-title">
							<h2>Wonder O’bell <i class="fa font-20 align-self-center fa-check-circle"></i></h2>
							<p>Winter is gone very soon</p>	
						</div>
						<div class="wonder-price">
							<p>Price range</p>
							<h3 class="m-b0">$50</h3>
						</div>
						<div class="wonder-btn">
							<a href="javascript:void(0);" class="site-button button-lg radius-no text-uppercase">call now</a>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="section-full content-inner">
            <div class="container">
				<div class="dlab-post-media m-b50">   
					<a href="javascript:void(0);"><img src="images/listing/default/thum1.jpg" alt=""></a> 
				</div>
				<div class="row">
					<!-- Left part start -->
                    <div class="col-xl-8 col-lg-7 col-md-12 p-b30">
                        <div class="section-head text-black mb-3">
							<h2 class="box-title">About this Hotel</h2>
							<p class="m-b0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco  laboris nisi ut aliquip ex ea commodo amet set for your cool happiness for lyour loyal city.</p>
						</div>
						<div class="dlab-divider bg-gray-dark"></div>
						<div class="widget widget_getintuch widget_listing">
							<ul>
								<li>
									<i class="fa fa-map-marker text-primary"></i>
									<p class="m-b0">3858 Marion Street, VT 05661</p>
								</li>
								<li>
									<i class="fa fa-phone text-primary"></i>
									<p class="m-b0">+909 987 978 6 </p>
									<p class="m-b0">+787 6765 66 7</p>
								</li>
								<li>
									<i class="fa fa-envelope text-primary"></i>
									<p class="m-b0">info@webmail.com</p>
									<p class="m-b0">webexample.com</p>
								</li>
								<li class="align-self-center">
									<button class="site-button text-uppercase radius-xl">Report</button>
								</li>
							</ul>
						</div>
						<div class="dlab-divider bg-gray-dark"></div>
						<p class="m-b15 font-weight-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est cupidatat non proident, sunt in culpa qui officia deserunt.</p>
						<p class="font-weight-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque id est laborum. Sed ut perspiciatis unde omnis iste natus error.</p>
						<div class="clearfix m-b50">
							<img class="alignleft" src="images/listing/grid/pic1.jpg" alt="">
							<p class="font-weight-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
						</div>
						<h3 class="font-26">Core Features</h3>
						<div class="dlab-post-tags clear m-b50">
							<div class="post-tags">
								<a href="javascript:void(0);">wifi </a> 
								<a href="javascript:void(0);">parking </a> 
								<a href="javascript:void(0);">tv </a> 
								<a href="javascript:void(0);">take-out </a> 
								<a href="javascript:void(0);">balcony </a> 
							</div>
						</div>
						<div class="dlab-divider bg-gray-dark"></div>
                        <div class="clear" id="comment-list">
                            <div class="comments-area" id="comments">
                                <h3 class="font-26">Your Reviews</h3>
                                <div class="clearfix">
                                    <!-- comment list END -->
                                    <ol class="comment-list">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"> 
													<img  class="avatar photo" src="images/testimonials/pic1.jpg" alt=""> 
													<cite class="fn">Rosalina Kelian</cite> 
													<span class="says">says:</span> 
												</div>
                                                <div class="comment-meta"> 
													<a href="javascript:void(0);">19th May 2020</a> 
													<ul class="featured-star">
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
												</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                <div class="reply"> <a href="javascript:void(0);" class="comment-reply-link">Reply</a> </div>
                                            </div>
                                        </li>
										<li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"> <img  class="avatar photo" src="images/testimonials/pic2.jpg" alt=""> <cite class="fn">Arista Williamson</cite> <span class="says">says:</span> </div>
                                                <div class="comment-meta">
													<a href="javascript:void(0);">19th May 2020</a> 
													<ul class="featured-star">
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
												</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                <div class="reply"> <a href="javascript:void(0);" class="comment-reply-link ">Reply</a> </div>
                                            </div>
                                        </li>
                                    </ol>
                                    <!-- comment list END -->
                                    <!-- Form -->
									<h3 class="font-26">Write a Review</h3>
                                    <div class="comment-respond" id="respond">
                                        <form class="comment-form" id="commentform" method="post" action="#">
											<div class="comment-form-rating">
												<div class="starrr"></div>
												<div class="rating-widget">
													<!-- Rating Stars Box -->
													<div class="rating-stars">
														<ul id="stars">
															<li class="star" title="Poor" data-value="1">
																<i class="fa fa-star fa-fw"></i>
															</li>
															<li class="star" title="Fair" data-value="2">
																<i class="fa fa-star fa-fw"></i>
															</li>
															<li class="star" title="Good" data-value="3">
																<i class="fa fa-star fa-fw"></i>
															</li>
															<li class="star" title="Excellent" data-value="4">
																<i class="fa fa-star fa-fw"></i>
															</li>
															<li class="star" title="WOW!!!" data-value="5">
																<i class="fa fa-star fa-fw"></i>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<p class="comment-form-comment">
                                                <label for="comment">Comments</label>
                                                <textarea rows="8" name="comment" placeholder="Type your comments...." id="comment"></textarea>
                                            </p>
                                            <p class="comment-form-author">
                                                <label for="author">Type your name.... <span class="required">*</span></label>
                                                <input type="text" value="" name="Author"  placeholder="Type your name...." id="author">
                                            </p>
                                            <p class="comment-form-email">
                                                <label for="email">Type your email.... <span class="required">*</span></label>
                                                <input type="text" value="" placeholder="Type your email...." name="email" id="email">
                                            </p>
                                            <p class="comment-form-url">
                                                <label for="url">Type your website....</label>
                                                <input type="text"  value=""  placeholder="Type your website...."  name="url" id="url">
                                            </p>
                                            <p class="form-submit">
                                                <input type="submit" value="Post Comment" class="submit site-button" id="submit" name="submit">
                                            </p>
                                        </form>
                                    </div>
                                    <!-- Form -->
                                </div>
                            </div>
                        </div>
                        <!-- blog END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-xl-4 col-lg-5 col-md-12 sticky-top p-b30">
                        <aside class="side-bar listing-side-bar">
                            <div class="widget widget_map">
								<div id="map3" class="m-b30 align-self-stretch" style="width:100%; height:400px;"></div>
								<a href="javascript:void(0)" class="site-button button-lg radius-xl m-b30 text-uppercase">get directions</a>
							</div>
							<div class="widget widget_time">
								<h4 class="m-b10">Opening Hours</h4>
								<div class="dlab-separator bg-primary m-b20"></div>
								<ul class="m-b0">
									<li><a href="javascript:void(0)">Monday</a> 08:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Tuesday</a> 08:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Wednesday</a> 12:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Thursday</a> 08:00am - 11:00pm</li>
									<li><a href="javascript:void(0)">Friday</a> 03:00pm - 02:00am</li>
									<li><a href="javascript:void(0)">Friday</a> 03:00pm - 02:00am</li>
									<li><a href="javascript:void(0)">Sunday</a> Closed</li>
								</ul>
							</div>
							<div class="widget widget_share">
								<h4 class="m-b10">Social Share</h4>
								<div class="dlab-separator bg-primary m-b20"></div>
								<ul class="list-inline m-a0 text-white">
									<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo-white.png" class="m-b15" alt="" width="180">
							<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry.</p>
                            <div class="subscribe-form m-b20">
								<form class="dzSubscribe" action="script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required" class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
										</span> 
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="javascript:void(0);">Hotel</a></li>
                                <li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
								<li><a href="javascript:void(0);">Travel</a></li>
                                <li><a href="javascript:void(0);">How It Works</a></li>
                                <li><a href="javascript:void(0);">For Employers</a></li>
                                <li><a href="javascript:void(0);">Underwriting</a></li>
                                <li><a href="javascript:void(0);">Contact Us</a></li>
								<li><a href="javascript:void(0);">Lending Licnses</a></li>
								<li><a href="javascript:void(0);">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                        <div class="widget widget_getintuch">
                            <h5 class="m-b30 text-white">Contact us</h5>
                            <ul>
                                <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road Chi Minh City, Vietnam </li>
                                <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support)</li>
								<li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
		<div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
						<span class="fbottom-like"> © 2020 Design With <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a> By DexignZone </span>
					</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="js/jquery.star-rating-svg.js"></script><!-- STAR RATING SVG -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBjirg3UoMD5oUiFuZt3P9sErZD-2Rxc68&sensor=false"  ></script><!-- GOOGLE MAP -->
<script src='https://www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
<script src="js/map.script.js"></script><!-- CONTACT JS  -->
</body>
</html>