<!--========== 페이지네이션 시작 ===========-->
<!-- 1페이지에 15개 게시글 끌고오고, 게시글이 그보다 적으면, 페이지네이션 안보이게 처리 -->
<div class="pagination-bx clearfix text-center">
    <ul class="pagination">
        {% if item_list.has_previous %}
            <li class="previous"><a href="?page=1"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li>
                <a href="?page={{ item_list.previous_page_number }}"> {{ item_list.previous_page_number }}</a>
            </li>
        {% endif %}
        <li class="active"><a href="javascript:void(0)">{{ item_list.number }}</a></li>
        {% if item_list.has_next %}
            <li>
                <a href="?page={{ item_list.next_page_number }}"> {{ item_list.next_page_number }}</a>
            </li>
            <li class="next"><a href="?page={{ item_list.paginator.num_pages }}"><i
                    class="fa fa-arrow-right"></i></a></li>
        {% endif %}
    </ul>
</div>
<!--========== 페이지네이션 끝 ===========-->