<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:title" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:description" content="BizMap Directory & Listings HTML templates" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>BizMap Directory & Listings HTML templates</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
	
	
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- Content -->
    <div class="page-content dlab-login bg-primary" style="background-image: url(images/background/bg7.jpg); background-position: top right; background-blend-mode: screen;
   ">
        <div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 login-form-box">
					<div class="login-form">
						<div class="logo">
							<a href="index.html"><img src="images/logo-black.png" alt=""/></a>
						</div>
						<div class="tab-content nav">
							<div id="login" class="tab-pane active">
								<form class="dlab-form">
									<h3 class="form-title m-t0">Welcome back, please login to your account</h3>
									<div class="text-center m-b20">
										<a href="#" class="site-button facebook btn-block"><i class="fa fa-facebook-official m-r10"></i> Log in with Facebook</a>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="Username or Email Address" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control " placeholder="Type Password" type="password"/>
									</div>
									<div class="form-group field-btn text-left">
										<div class="input-block">
											<input id="check1" type="checkbox">
											<label for="check1">Remember me</label>
										</div>
										<a data-toggle="tab" href="#forgot-password" class="btn-link forgot-password"> Forgot Password</a>
									</div>
									<div class="form-group">
										<button class="site-button btn-block button-md">login</button>
									</div>
									<div class="form-group">
										<p class="info-bottom">Don’t have an account? <a data-toggle="tab" href="#register" class="btn-link">Register</a> </p>
									</div>
								</form>
							</div>
							<div id="forgot-password" class="tab-pane fade">
								<form class="dlab-form">
									<h3 class="form-title m-t0">Find Your Account</h3>
									<div class="form-group text-center">
										<a href="#" class="site-button facebook btn-block"><i class="fa fa-facebook-official m-r10"></i> Log in with Facebook</a>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="Email Id" type="text"/>
									</div>
									<div class="form-group"> 
										<button class="site-button btn-block button-md">Get New Password</button>
									</div>
									<div class="form-group">
										<p class="info-bottom">
											<a data-toggle="tab" href="#login" class="btn-link">Login </a> | 
											<a data-toggle="tab" href="#register" class="btn-link">Register</a> 
										</p>
									</div>
								</form>
							</div>
							<div id="register" class="tab-pane fade">
								<form class="dlab-form">
									<h3 class="form-title m-t0">Create an account! It's free and always will be.</h3>
									<div class="form-group text-center">
										<a href="#" class="site-button facebook"><i class="fa fa-facebook-official m-r10"></i> Log in with Facebook</a>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="Full Name" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="Email Id" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="Address" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="City/Town" type="text"/>
									</div>
									<h6 class="text-inherit m-b10">Enter your account details below: </h6>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="User Name" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="Password" type="text"/>
									</div>
									<div class="form-group">
										<input name="dzName" required="" class="form-control" placeholder="Re-type Your Password" type="text"/>
									</div>
									<div class="form-group">
										<input type="checkbox" id="privacy-policy">
										<label for="privacy-policy">I agree to the <a href="#" class="btn-link">Terms of Service </a>& <a href="#" class="btn-link">Privacy Policy </a></label>
									</div>
									<div class="form-group"> 
										<button class="site-button button-md btn-block">Submit</button>
									</div>
									<div class="form-group">
										<p class="info-bottom">
											<a data-toggle="tab" href="#login" class="btn-link">Login with username and password?</a> 
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="content-info">
						<ul class="list-info">
							<li>
								<div class="dlab-box">
									<i class="fa fa-bullhorn"></i>
									<p>Get personalized advice from the friends and travel experts you trust</p>
								</div>
							</li>
							<li>
								<div class="dlab-box">
									<i class="fa fa-car"></i>
									<p>Easily find hotels, things to do & restaurants that are right for you</p>
								</div>
							</li>
							<li>
								<div class="dlab-box">
									<i class="fa fa-check"></i>
									<p>It's everything you need to know</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- Content END-->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->
</body>
</html>