{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 여기서부터 기존 템플릿에 있던 것 -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta
            name="description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:title"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no"/>

    <!-- 주소창 상단 아이바스 로고 아이콘 -->
    <link
            rel="icon"
            href="{% static 'images/member_logo.png' %}"
            type="image/x-icon"
    />
    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static 'images/member_logo.png' %}"
    />

    <!-- PAGE TITLE HERE -->
    <title>입부신청</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/plugins.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/templete.css' %}"
    />
    <link
            class="skin"
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/skin/skin-1.css' %}"
    />

    <!-- 여기까지 기존 템플릿에 있던 것 -->
    <!--외부 css파일 받는 링크 / 이 html에서만 쓰는 것. -->
    <link rel="stylesheet" href="{% static 'css/login-join.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>


    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/validation_check.js' %}"></script>

    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .dlab-login:before {
            width: 0;
            display: none;
        }
    </style>

</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
    <!-- Content -->
    <div class="page-content dlab-login bg-primary"
         style="background-position: top right; background-blend-mode: screen">
        <div class="container-flex">
            <div class="item_flex_lgn login-form-box">
                <!-- 여기서부터 로그인 양식 시작  -->
                <!-- 세로로 길쭉한 컨테이너-->
                <div class="login-form form-position-center media-mt-50" style="left: -1%">
                    <!--길쭉한 컨테이너 속 컨텐츠 컨테이너-->
                    <div class="join-frame">
                        <!-- 동아리 로고  -->
                        <div class="logo-container-flex">
                            <!-- a 태그로 인해 동아리 로고 클릭하면 메인화면으로 감.  -->
                            <a href="{% url 'index' %}">
                                <div>
                                    <img src="{% static 'images/member_logo.png' %}" alt="현재 브라우저에서는 지원하지 않는 형식입니다."
                                         width="150" height="150">
                                </div>
                            </a>
                        </div>

                        <!-- 회원 가입 입력 폼 시작 -->
                        <form id="join-form" action="
                                {% if user_role == "6" %}{% url 'join_chk' %}{% else %}{% url 'quest_chk' %}{% endif %}"
                              method="post">
                            <!-- 회원 가입 확인 함수:join_chk()로 전송 -->
                            <!--POST전송을 위한 CSRF 토큰-->
                            {% csrf_token %}
                            <!-- 바로 사용하지 못하는 것들은 사전 설정함. -->
                            <!--사전 설정-->
                            <input type="hidden" id="user_token" name="user_token" value="{{ token }}"/>
                            <input type="hidden" id="user_auth" name="user_auth" value="3"/> <!-- 계정을 비활성화 시킴 -->
                            <!-- 기본 권한 -->
                            <input type="hidden" id="user_role" name="user_role" value="{{ user_role }}"/>
                            <input type="hidden" id="provider" name="provider" value="{{ provider }}"/>
                            <input type="hidden" id="is_activated" name="is_activated" value="0"/>
                            <!-- 승인 전까지는 대기하도록 0으로 설정 -->
                            <input type="hidden" id="user_pic" name="user_pic" value="{{ pic }}">
                            <!-- 프로필 사진, 받아온 것 그대로 넘기기 -->
                            <input type="hidden" name="user_email" value="{{ email }}"/> <!-- 이메일, 받아온 것 그대로 넘기기 -->
                            <!-- 토큰 끝  -->

                            <!-- 입부신청 작성란 시작 -->
                            <!-- 단답 작성란 시작 -->
                            <div class="tab-content nav">
                                <!-- <div id="register" class="tab-pane fade"> -->
                                <div id="register" class="tab-pane active">
                                    <div class="hr-sect">기본정보</div>
                                    <!--이름 input / 구글이나 네이버로부터 정보 받아옴-->
                                    <div class="form-group mb-0">
                                        <input
                                                id="user_name"
                                                type="text"
                                                name="user_name"
                                                value="{{ name }}"
                                                placeholder="이름"
                                                class="form-control"
                                                maxlength="20"
                                                required="required"
                                        />
                                    </div>
                                    <p class="mb-1 mt-1" style="font-size: 8pt;color:red;line-height: 120%">
                                        <i class="la la-check"></i>
                                        &nbsp;학번이 학생 DB와 대조 후 일치하지 않을 시, 가입을 승인하지 않습니다.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실명과
                                        학번이 맞는지 다시 한 번 확인해주세요.
                                    </p>

                                    <!--이메일은 수정하지 못하도록 고정 / 구글이나 네이버로부터 정보 받아옴-->
                                    <!-- 안에 적힐 내용의 css는 form-control_instead에서 지정함.  -->
                                    <div class="form-group form-control_instead" style="background-color: #bcbcbc">
                                        <b>{{ email }}</b>
                                    </div>

                                    <!-- 핸드폰 번호 input -->
                                    <div class="form-group">
                                        <input
                                                id="user_phone"
                                                type="tel"
                                                name="user_phone"
                                                class="form-control"
                                                placeholder="핸드폰번호"
                                                maxlength="13"
                                                required="required"
                                                onfocusout="phone_check('{% url 'join' %}')"
                                                onkeyup="inputPhoneNumber(this)"
                                        />
                                    </div>
                                    <p id="error_text_phone" class="error-text">입력한 핸드폰 번호가 중복됩니다.</p>
                                    <!-- 학년, 학번 컨테이너 -->
                                    <div class="form-container-flex form-group m-b0">
                                        <!--학년 컨테이너-->
                                        {% if user_role == "6" %}
                                            <div class="width-100">
                                                <select id="user_grade" name="user_grade" required="required">
                                                    <option value="1">
                                                        1학년
                                                    </option>
                                                    <option value="2">
                                                        2학년
                                                    </option>
                                                    <option value="3">
                                                        3학년
                                                    </option>
                                                    <option value="4">
                                                        4학년 이상
                                                    </option>
                                                </select>
                                            </div>
                                        {% else %}
                                            <input type="hidden" name="user_grade" value="5"/>
                                        {% endif %}
                                        <!-- 학번 input -->
                                        <div class="form-group form-item-flex-std-no">
                                            <input
                                                    id="user_stu"
                                                    type="number"
                                                    name="user_stu"
                                                    class="form-control"
                                                    required="required"
                                                    {% if user_role == "6" %}
                                                    placeholder="학번(12112233)"
                                                    maxlength="8"
                                                    {% else %}
                                                    placeholder="교수번호"
                                                    maxlength="6"
                                                    {% endif %}
                                                    oninput="maxLengthCheck(this)"
                                                    onfocusout="stu_check_for_join()"
                                                    onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                            />
                                        </div>

                                    </div>
                                    <p id="error_text_stu" class="error-text">입력하신 {% if user_role == "6" %}
                                        학번이{% else %}교수번호가{% endif %} 이미 가입되어 있습니다.</p>
                                    <!-- 전공 input -->
                                    <div class="form-container-flex form-group m-b0">
                                        <div class="width-400">
                                            <input
                                                    type="text"
                                                    id="user_major"
                                                    name="user_major"
                                                    placeholder="전공을 검색하려면 클릭하세요."
                                                    class="form-control_instead"
                                                    required="required"
                                                    readonly="readonly"
                                                    onclick="popUp()"
                                            />
                                        </div>
                                        <!-- 전공 검색 버튼 -->
                                        <div class="form-group" onclick="popUp()">
                                            <i class="fa fa-search fa-2x form-item-flex-major-icon search-btn"></i>
                                        </div>
                                    </div>
                                    {% if user_role == "5" %}
                                        <!-- 체크 박스, 동의 문구 컨테이너 -->
                                        <div style="display: flex; flex-direction: column">
                                            <!-- 개인정보 제공 동의 컨테이너 -->
                                            <div class="form-group item_flex_btn_center mb-0">
                                                <input type="checkbox" id="privacy-policy" required="required"/>
                                                <label for="privacy-policy">
                                                    본인은
                                                    <a href="#" data-toggle="modal" data-target="#policy_1"
                                                       class="btn-link quest-text">제3자 개인정보 동의 약관</a>과
                                                    <a href="#" data-toggle="modal" data-target="#policy_3"
                                                       class="btn-link quest-text">웹사이트 이용약관</a>,
                                                    <a href="#" data-toggle="modal" data-target="#policy_2"
                                                       class="btn-link quest-text">동아리 회칙</a>에 동의합니다.
                                                </label>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <!-- 입부신청 버튼 -->
                                    <div class="form-group mt-5 mb-5">
                                        <input class="site-button button-md" style="width: 100%;" type="submit"
                                                onclick="return validation_check_for_join_form();" value="다음">
                                    </div>
                                </div>
                            </div>
                            <!-- 입부신청 작성란  -->
                        </form>
                    </div>
                </div>
            </div>
            {% if user_role == "5" %}
                {% include "policy_modal.html" with modal_id="policy_1" policy_terms=policy_type_1 %}
                {% include "policy_modal.html" with modal_id="policy_2" policy_terms=policy_type_2 %}
                {% include "policy_modal.html" with modal_id="policy_3" policy_terms=policy_type_3 %}
            {% endif %}
            <!-- 오른쪽 이미지를 넣을 장소 시작 -->
            <div class="item_flex_bg">
                <img style="height: 100%; width: 100%" src="{% static 'images/blue-purple-technology-circuit.jpg' %}">
            </div>
            <!--오른쪽 이미지 넣을 장소 끝-->
        </div>
    </div>
</div>
<div id="gray_shadow" class="gray_shadow" onclick="popDown()"></div>
<!-- 전공 검색 팝업창 -->
<div id="major-search-popup" class="card major-search-popup" style="width: 450px; height: 380px">
    <div class="card-header" style="display: flex; align-items: center; justify-content: space-between">
        <h4 class="m-b0"> 전공 검색 </h4>
        <!-- 닫기 버튼 -->
        <i class="fa fa-close fa-2x btn-exit" onclick="popDown()"></i>
    </div>
    <div class="card-body" style="display: flex; height: auto">

        <!-- 검색 영역 -->
        <div class="searchBox" style="width: 100%; margin-top: 20px; margin-left: 20px">
            <input class="form-control" type="text" id="search" onkeyup="filter()" placeholder="전공을 입력하세요"/>
        </div>
        <!-- 전공 리스트 영역 -->

        <div class="listBox" style="width: 100%; margin-left: 20px">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>학교명</th>
                    <th>단과대학</th>
                    <th>학과명</th>
                </tr>
                </thead>
                <tbody>
                <!--전공 리스트를 단과대학, 학과명 순으로 가져옴-->
                {% for major in major_list %}
                    <tr class="listInner" onclick="printResult({{ major.major_no }})">
                        <th>인하대학교</th>
                        <td class="colleges">{{ major.major_colleage }}</td>
                        <td id="major_name_{{ major.major_no }}" class="major_names">{{ major.major_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Content END-->
<button class="scroltop fa fa-chevron-up"></button>


<!-- JAVASCRIPT FILES ========================================= -->
<!-- 직접 만든 회원 가입 관련 JS-->
<script src="{% static 'js/login-join.js' %}"></script>


<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script>
<!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script>
<!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script>
<!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script>
<!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script>
<!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script>
<!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script>
<!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>
<!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script>
<!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script>
<!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script>
<!-- CONTACT JS  -->


</body>
</html>
