{% load static %} {% load socialaccount %} {% providers_media_js %}
    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}")</script>
        {% endfor %}
    {% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--여기서부터 기존 탬플릿에 있던 것-->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta
            name="description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:title"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no"/>

    <!-- 주소창 상단 아이바스로고 아이콘-->
    <link
            rel="icon"
            href="{% static 'images/member_logo.png' %}"
            type="image/x-icon"
    />
    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static 'images/member_logo.png' %}"
    />

    <!-- PAGE TITLE HERE -->
    <title>로그인</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- 탬플릿 내 CSS -->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/plugins.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/templete.css' %}"
    />
    <link
            class="skin"
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/skin/skin-1.css' %}"
    />
    <!-- 커스텀 CSS / 이 html에서만 사용함 -->
    <link rel="stylesheet" href="{% static 'css/login-join.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
    <style>
        #logo:hover{
            opacity: 0.7;

        }
    </style>
</head>
<body id="bg">
<!--로딩중일 경우 뜨는 회전하는 원형-->
<div id="loading-area"></div>
<div>
    <!-- 로그인창과 배경사진 위치, 크기 설정을 위한 기본 틀 -->
    <div
            class="page-content dlab-login bg-primary"
            style="background-position: top right; background-blend-mode: screen"
    >
        <div>
            <!-- 전체 컨테이너 -->
            <div class="container-flex">
                <!-- 좌측 로그인 창 부분 시작 -->
                <div class="item_flex_lgn login-form-box">
                    <div class="login-form2">
                        <div class="justify-content-center login-logo-container">
                            <img id="logo" onclick="location.href='{% url "index" %}'" width="150px"
                                 src="{% static 'images/member_logo.png' %}">
                        </div>
                        <form class="dlab-form">
                            <div class="hr-sect">소셜 로그인</div>
                            <div class="text-center m-b20">
                                <a
                                        href="{% provider_login_url 'google' %}"
                                        class="site-button google-plus btn-block"
                                ><i class="fa fa-google m-r10"></i> 구글 로그인하기</a
                                >
                                <a
                                        href="{% provider_login_url 'naver' %}"
                                        class="site-button whatsapp btn-block"
                                ><span class="naver-logo m-r10">N</span> 네이버
                                    로그인하기</a
                                >
                            </div>
                        </form>
                        <div class="copyright">
                            ©INHA BAS All rights reserved.<br/>Developed by 양태영, 신승연, 김채림, 윤예진, 유동현
                        </div>
                    </div>
                </div>
                <!-- 오른쪽 이미지를 넣을 장소 시작 -->
                <div class="item_flex_bg">
                    <img style="height: 100%;width: 100%"
                         src="{% static 'images/blue-purple-technology-circuit.jpg' %}">
                </div>
                <!-- 오른쪽 이미지 넣을 장소 끝 -->
            </div>
        </div>
    </div>
    <!-- Content END-->
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script>
<!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script>
<!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script>
<!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script>
<!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script>
<!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script>
<!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script>
<!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>
<!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script>
<!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script>
<!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script>
<!-- CONTACT JS  -->
</body>
</html>
