{% load socialaccount %} <!-- 소셜 로그인 user를 받기 위해 사용-->
{% providers_media_js %} <!-- 소셜 미디어 로그인 페이지와 로그아웃 페이지를 따기 위해 사용 -->
{% load static %}
<script src="{% static 'js/httpController.js' %}"></script>
{% if user.password is None %} <!-- google 로그인 페이지로부터 넘어온 게 없으면, 즉, 로그인을 하지 않은 상태라면 -->
    <script>location.href = "{% url 'index' %}";</script> <!-- 아무런 제약 없이 메인 페이지로 이동함 -->
{% else %} <!--넘어온 것이 있으면-->

    <form id="hd_form" action="#" method="post">
        <!-- 주소창에 파라미터가 넘어가면 안되므로, POST 방식을 이용해서 파라미터를 넘김-->
        {% csrf_token %} <!-- post 방식을 위한 토큰 -->
        <input type="hidden" name="password" value="{{ user.password }}"> <!-- 구글에서 받은 개인용 토큰 hidden으로 넘김 -->
        <script>
            form_obj = document.getElementById("hd_form")
            if (getParam("user_stu") === "") {
                form_obj.action = "{% url 'choose_std_or_pro' %}";
            } else {
                stdInputObj = document.createElement("input");
                stdInputObj.type = "hidden";
                stdInputObj.name = "user_stu"
                stdInputObj.value = getParam("user_stu");
                form_obj.appendChild(stdInputObj);
                form_obj.action = "{% url 'connect_social_account' %}";
            }
            document.getElementById("hd_form").submit();
        </script> <!-- 자동으로 제출, 즉, 사용자는 이 페이지의 정보를 인지하지 못함. -->
    </form>
{% endif %}
