{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 여기서부터 기존 템플릿에 있던 것 -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta
      name="description"
      content="BizMap Directory & Listings HTML templates"
    />
    <meta
      property="og:title"
      content="BizMap Directory & Listings HTML templates"
    />
    <meta
      property="og:description"
      content="BizMap Directory & Listings HTML templates"
    />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <!-- FAVICONS ICON -->
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/favicon.png' %}"
    />

    <!-- PAGE TITLE HERE -->
    <title>입부신청</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/plugins.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/templete_1.css' %}"
    />
    <link
      class="skin"
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/skin/skin-1.css' %}"
    />
    <!-- 여기까지 기존 템플릿에 있던 것 -->
    <!--외부 css파일 받는 링크 / 이 html에서만 쓰는 것. -->
    <link rel="stylesheet" href="{% static 'css/join.css' %}" />
    <link rel="stylesheet" href="{% static 'css/join_2.css' %}" />
  </head>
  <body id="bg">
    <div id="loading-area"></div>
    <div class="page-wraper">
      <!-- Content -->
      <div
        class="page-content dlab-login bg-primary"
        style="background-position: top right; background-blend-mode: screen"
      >
        <div class="container-flex">
          <div class="item_flex_join login-form-box">
            <!-- 여기서부터 로그인 양식 시작  -->
            <div class="form-center-position form-width-large">
              <!-- 동아리 로고  -->

              <!-- 회원 가입 입력 폼 시작 -->
              <form action="{% url 'join_chk' %}" method="post">
                <!-- 회원 가입 확인 함수:join_chk()로 전송 -->
                <!--POST전송을 위한 CSRF 토큰-->
                {% csrf_token %}
                <!-- 바로 사용하지 못하는 것들은 사전 설정함. -->
                <input
                  type="hidden"
                  id="user_token"
                  name="user_token"
                  value="{{ token }}"
                />
                <input
                  type="hidden"
                  id="user_auth"
                  name="user_auth"
                  value="4"
                />
                <input
                  type="hidden"
                  id="user_role"
                  name="user_role"
                  value="5"
                />
                <input
                  type="hidden"
                  id="is_activated"
                  name="is_activated"
                  value="0"
                />
                <input type="hidden" id="user_gen" name="user_gen" value="1" />
                <input
                  type="hidden"
                  id="user_pic"
                  name="user_pic"
                  value="{{ pic }}"
                />
                <input type="hidden" name="user_email" value="{{ email }}" />
                <!-- 토큰 끝  -->

                <!-- 입부신청 작성란 시작 -->
                <!-- 서술형 질문 시작-->
                <div id="register" class="tab-pane active">
                  <!-- 지원 동기와 답변 작성란  -->
                  <div class="logo form-logo">
                    <!-- a 태그로 인해 동아리 로고 클릭하면 메인화면으로 감.  -->
                    <a href="{% url 'index' %}">
                      <!-- 임의로 div를 통해 동아리 로고 위치 표시함.  -->
                      <div
                        style="
                          width: 150px;
                          height: 50px;
                          background-color: #4287f5;
                        "
                      >
                        동아리로고
                      </div>
                    </a>
                  </div>

                  <div class="form-group">
                    <h5 class="text-inherit m-b10 form-text-align-center">
                      지원동기
                    </h5>
                    <textarea
                      name="answer_{{ quest.quest_no }}"
                      required=""
                      class="form-textarea_size"
                      placeholder="내용을 입력하세요."
                      type="text"
                    ></textarea>
                  </div>
                  <!--질문과 질문답변 작성란  -->
                  <div class="form-group">
                    <h5 class="text-inherit m-b10 form-text-align-center">
                      질문
                    </h5>
                    <textarea
                      name="answer_{{ quest.quest_no }}"
                      required=""
                      class="form-textarea_size"
                      placeholder="내용을 입력하세요."
                      type="text"
                    ></textarea>
                  </div>
                  <!--질문과 질문답변 작성란  -->
                  <div class="form-group">
                    <h5 class="text-inherit m-b10 form-text-align-center">
                      질문
                    </h5>
                    <textarea
                      name="answer_{{ quest.quest_no }}"
                      required=""
                      class="form-textarea_size"
                      placeholder="내용을 입력하세요."
                      type="text"
                    ></textarea>
                  </div>
                  <!--질문과 질문답변 작성란  -->
                  <div class="form-group">
                    <h5 class="text-inherit m-b10 form-text-align-center">
                      질문
                    </h5>
                    <textarea
                      name="answer_{{ quest.quest_no }}"
                      required=""
                      class="form-textarea_size"
                      placeholder="내용을 입력하세요."
                      type="text"
                    ></textarea>
                  </div>
                  <!-- 개인정보사용동의란이 있다면 사용해야 할 체크박스와 상세 내용 -->
                  <div class="form-group">
                    <input type="checkbox" id="privacy-policy" required="" />
                    <label for="privacy-policy"
                      >약관에 동의합니다.
                      <a href="#" class="btn-link">약관 </a>&
                      <a href="#" class="btn-link">약관 </a></label
                    >
                  </div>
                  <!-- 입부신청 버튼 -->
                  <div class="form-group">
                    <button class="site-button button-md btn-block">
                      입부신청
                    </button>
                  </div>
                </div>

                <!-- 입부신청 작성란  -->
              </form>
            </div>
          </div>

          <!-- 화면 오른쪽에 있는 글자.  -->
          <div class="item_flex_bg">
            <div class="content-info">
              <ul class="list-info">
                <li>
                  <div class="dlab-box">
                    <i class="fa fa-bullhorn"></i>
                    <p>
                      Get personalized advice from the friends and travel
                      experts you trust
                    </p>
                  </div>
                </li>
                <li>
                  <div class="dlab-box">
                    <i class="fa fa-car"></i>
                    <p>
                      Easily find hotels, things to do & restaurants that are
                      right for you
                    </p>
                  </div>
                </li>
                <li>
                  <div class="dlab-box">
                    <i class="fa fa-check"></i>
                    <p>It's everything you need to know</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Content END-->
      <button class="scroltop fa fa-chevron-up"></button>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- JQUERY.MIN JS -->
    <script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
    <!-- BOOTSTRAP.MIN JS -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- BOOTSTRAP.MIN JS -->
    <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <!-- FORM JS -->
    <script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
    <!-- FORM JS -->
    <script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script>
    <!-- MAGNIFIC POPUP JS -->
    <script src="{% static 'plugins/counter/waypoints-min.js' %}"></script>
    <!-- WAYPOINTS JS -->
    <script src="{% static 'plugins/counter/counterup.min.js' %}"></script>
    <!-- COUNTERUP JS -->
    <script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script>
    <!-- IMAGESLOADED -->
    <script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script>
    <!-- MASONRY -->
    <script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script>
    <!-- MASONRY -->
    <script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script>
    <!-- RANGESLIDER -->
    <script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>
    <!-- OWL SLIDER -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- CUSTOM FUCTIONS  -->
    <script src="{% static 'js/dz.carousel.js' %}"></script>
    <!-- SORTCODE FUCTIONS  -->
    <script src="{% static 'js/dz.ajax.js' %}"></script>
    <!-- CONTACT JS  -->
  </body>
</html>
