{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta
            name="description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:title"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no"/>

    <!-- FAVICONS ICON -->
    <link
            rel="icon"
            href="{% static 'images/favicon.ico' %}"
            type="image/x-icon"
    />
    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static 'images/favicon.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/form_adjust.css' %}">
    <!-- PAGE TITLE HERE -->
    <title>입부신청</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/plugins.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/templete.css' %}"
    />
    <link
            class="skin"
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/skin/skin-1.css' %}"
    />
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
    <!-- Content -->
    <div
            class="page-content dlab-login bg-primary"
            style="
                    background-image: url({% static 'images/background/bg6.jpg' %});
                    background-position: top right;
                    background-blend-mode: screen;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 login-form-box">
                    <div class="login-form">
                        <div class="logo">
                            <a href="index.html"
                            ><img src="{% static 'images/logo-black.png' %}" alt=""
                            />
                            </a>
                        </div>
                        <div class="tab-content nav">
                            <form action="{% url 'join_chk' %}" method="post">
                                <div id="login" class="tab-pane active">

                                    <h3 class="form-title m-t0">
                                        입부신청
                                    </h3>

                                    <!--이름 input-->
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                name="user_name"
                                                value="{{ name }}"
                                                class="form-control"
                                        />
                                    </div>
                                    <!--이메일 input-->
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                name="user_email"
                                                value="{{ email }}"
                                                class="form-control"
                                        />
                                    </div>
                                    <!--핸드폰 번호 input-->
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                name="user_phone"
                                                value=""
                                                class="form-control"
                                                placeholder="핸드폰번호"
                                        />
                                    </div>
                                    <!--학년 input-->

                                    <div class="form-group form-select">
                                        <select name="user_grade">
                                            <option
                                                    id="user_grade"
                                                    name="user_grade"
                                                    value="1"
                                                    class="form-control">1학년
                                            </option>
                                            <option id="user_grade"
                                                    name="user_grade"
                                                    value="2"
                                                    class="form-control">2학년
                                            </option>
                                            <option id="user_grade"
                                                    name="user_grade"
                                                    value="3"
                                                    class="form-control">3학년
                                            </option>
                                            <option id="user_grade"
                                                    name="user_grade"
                                                    value="4"
                                                    class="form-control">4학년 이상
                                            </option>
                                        </select>
                                    </div>

                                    <!--학번 input-->
                                    <div class="form-group form-std_no">
                                        <input
                                                type="text"
                                                name="user_stu"
                                                class="form-control"
                                                placeholder="학번"
                                        />
                                    </div>
                                    <!--전공 input-->
                                    <div class="form-group">
                                        <input
                                                type="text"
                                                name="user_major"
                                                class="form-control"
                                                placeholder="전공"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <a data-toggle="tab" href="#register" class="btn-link"> 다음</a>

                                    </div>

                                </div>

                                <!-- 여기서부터 회원가입 폼입니다.  -->
                                <div id="register" class="tab-pane fade">

                                    <!--입부신청 버튼을 누르면 join_chk로 파라미터가 넘어갑니다. -->
                                    {% csrf_token %}
                                    <input
                                            type="hidden"
                                            id="user_token"
                                            name="user_token"
                                            value="{{ token }}"
                                    />
                                    <input
                                            type="hidden"
                                            id="user_auth"
                                            name="user_auth"
                                            value="4"
                                    />
                                    <input
                                            type="hidden"
                                            id="user_role"
                                            name="user_role"
                                            value="5"
                                    />
                                    <input
                                            type="hidden"
                                            id="is_activated"
                                            name="is_activated"
                                            value="0"
                                    />
                                    <input
                                            type="hidden"
                                            id="user_gen"
                                            name="user_gen"
                                            value="1"
                                    />

                                    <!--아이콘 밑에 나오는 글자 부분-->
                                    <h3 class="form-title m-t0">회원가입</h3>


                                    <h6 class="text-inherit m-b10">
                                        Enter your account details below:
                                    </h6>
                                    <div class="form-group">
                                        <input
                                                name="dzName"
                                                required=""
                                                class="form-control"
                                                type="text"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <input
                                                name="dzName"
                                                required=""
                                                class="form-control"
                                                placeholder="Password"
                                                type="text"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <input
                                                name="dzName"
                                                required=""
                                                class="form-control"
                                                placeholder="Re-type Your Password"
                                                type="text"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="privacy-policy"/>
                                        <label for="privacy-policy"
                                        >I agree to the
                                            <a href="#" class="btn-link">Terms of Service </a>&
                                            <a href="#" class="btn-link"
                                            >Privacy Policy
                                            </a></label
                                        >
                                    </div>
                                    <div class="form-group">
                                        <button class="site-button button-md btn-block">
                                            Submit
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <p class="info-bottom">
                                            <a data-toggle="tab" href="#login" class="btn-link"
                                            >Login with username and password?</a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="content-info">
                    <ul class="list-info">
                        <li>
                            <div class="dlab-box">
                                <i class="fa fa-bullhorn"></i>
                                <p>
                                    Get personalized advice from the friends and travel
                                    experts you trust
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="dlab-box">
                                <i class="fa fa-car"></i>
                                <p>
                                    Easily find hotels, things to do & restaurants that are
                                    right for you
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="dlab-box">
                                <i class="fa fa-check"></i>
                                <p>It's everything you need to know</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script>
<!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script>
<!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script>
<!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script>
<!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script>
<!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script>
<!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script>
<!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>
<!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script>
<!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script>
<!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script>
<!-- CONTACT JS  -->
</body>
</html>
