{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 여기서부터 기존 템플릿에 있던 것 -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta
            name="description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:title"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta
            property="og:description"
            content="BizMap Directory & Listings HTML templates"
    />
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no"/>

    <!-- FAVICONS ICON -->
    <link
            rel="icon"
            href="{% static 'images/favicon.ico' %}"
            type="image/x-icon"
    />
    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static 'images/favicon.png' %}"
    />

    <!-- PAGE TITLE HERE -->
    <title>입부신청</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/plugins.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/templete_1.css' %}"
    />
    <link
            class="skin"
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/skin/skin-1.css' %}"
    />
    <!-- 여기까지 기존 템플릿에 있던 것 -->
    <!--외부 css파일 받는 링크 / 이 html에서만 쓰는 것. -->
    <link rel="stylesheet" href="{% static 'css/std_or_pro.css' %}"/>
</head>
<body id="bg">
    <div class="page-wraper">
        <!-- Content -->
        <div
                class="page-content dlab-login bg-primary"
                style="background-position: top right; background-blend-mode: screen"
        >
            <div class="container-flex">
                <!-- 화면 오른쪽에 있는 글자.  -->
                <!-- item_flex_bg에 대한 정의는 join.css에 정의되어 있음 -->
                <div class="item_flex_bg">
                    <div class="content-info">
                        <div class="card choose-div">
                            <div class="card-for-grid">
                                <div class="card mb-4 icon-card card-item-flex_1" >
                                    <div class="card-body" >
                                        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small>
                                        </h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>20 users included</li>
                                            <li>10 GB of storage</li>
                                            <li>Priority email support</li>
                                            <li>Help center access</li>
                                        </ul>
                                        <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                                    </div>
                                </div>
                                <div class="card mb-4 icon-card card-item-flex_1" >
                                    <div class="card-body" >
                                        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small>
                                        </h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>20 users included</li>
                                            <li>10 GB of storage</li>
                                            <li>Priority email support</li>
                                            <li>Help center access</li>
                                        </ul>
                                        <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content END-->
            <button class="scroltop fa fa-chevron-up"></button>
        </div>
        <!-- JAVASCRIPT FILES ========================================= -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- JQUERY.MIN JS -->
        <script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
        <!-- BOOTSTRAP.MIN JS -->
        <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- BOOTSTRAP.MIN JS -->
        <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
        <!-- FORM JS -->
        <script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
        <!-- FORM JS -->
        <script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script>
        <!-- MAGNIFIC POPUP JS -->
        <script src="{% static 'plugins/counter/waypoints-min.js' %}"></script>
        <!-- WAYPOINTS JS -->
        <script src="{% static 'plugins/counter/counterup.min.js' %}"></script>
        <!-- COUNTERUP JS -->
        <script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script>
        <!-- IMAGESLOADED -->
        <script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script>
        <!-- MASONRY -->
        <script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script>
        <!-- MASONRY -->
        <script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script>
        <!-- RANGESLIDER -->
        <script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>
        <!-- OWL SLIDER -->
        <script src="{% static 'js/custom.js' %}"></script>
        <!-- CUSTOM FUCTIONS  -->
        <script src="{% static 'js/dz.carousel.js' %}"></script>
        <!-- SORTCODE FUCTIONS  -->
        <script src="{% static 'js/dz.ajax.js' %}"></script>
        <!-- CONTACT JS  -->
</body>
</html>
