/* activity 게시판 게시글 사진 크기 */
.act-img-size {
    height: 350px;
}

/* 한 줄이 넘어가는 제목에 대해서는 ...으로 표시 */
.line1 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

form {

}

.act-detail-img-size {
    height: 190px;
    width: 100%;
}

ol.comment-list li.comment .comment-body {
    margin-left: 0;
    border: 1px solid #e9e9e9;
    margin-bottom: 30px;
}

ol.comment-list li.comment .reply a {
    position: static;
}

.reply-btn-div {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
}

* {
    outline: none;
}

.comment-btn {
    padding: 0;
    color: #4611a7;
    border-color: transparent;
    background-color: white;
    cursor: pointer;
    display: inline-block;
}

.comment-btn:hover{
    color: #0e91e3;
}