{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/drop/imageuploadify.min.css' %}"/>
    <script>
        function goApply() {
            if (confirm("예산 지원 요청을 승인하시겠습니까?")) {
                alert("예산지원 요청이 승인 되었습니다. \n지급 후 지급 완료를 누를 시 회계에 반영됩니다.");
                document.getElementById("form-bank-support-apply").submit();

            }
        }

        function goDeposit() {
            if (confirm("예산 지급을 완료하시겠습니까?")) {
                alert("예산 지급이 완료되었습니다.");
                document.getElementById("form-bank-support-deposit").submit();
            }
        }

        function goDelete() {
            if (confirm("정말 삭제하시겠습니까?")) {
                alert("삭제되었습니다.");
                document.getElementById("form-bank-support-delete").submit();
            }
        }
    </script>
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
                <a href="{% url 'bank_support_board' %}">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <h1 class="text-white introduce-letter-spacing_5">예산지원신청</h1>
                            <!--부제목-->
                            <p class="m-t20">예산 지원을 신청하는 게시판입니다.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--===============================================입력란=========================================================-->

            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <!--=====================-->
                        <!--승인을 대기 중일 때 뜨는 알람-->
                        {% if bank.bank_apply.bank_apply_no == 1 %}
                            <div class="alert alert-secondary" role="alert" style="text-align: center">
                                <i>승인대기중</i>
                            </div>
                        {% elif bank.bank_apply.bank_apply_no == 2 %}
                            <!--승인 완료 시 뜨는 알람-->
                            <div class="alert alert-success" role="alert" style="text-align: center">
                                <i>승인완료</i>
                            </div>
                        {% elif bank.bank_apply.bank_apply_no == 3 %}
                            <!--승인 거절 시 뜨는 알람, 거절 사유 입력하면 같이 뜨게 만들기-->
                            <div class="alert alert-danger" role="alert" style="text-align: center">
                                <i>승인거절 ( 거절사유 : {{ bank.bank_reject_reason }} )</i>
                            </div>
                        {% elif bank.bank_apply.bank_apply_no == 4 %}
                            <!--지급완료 시 뜨는 알람-->
                            <div class="alert alert-primary" role="alert" style="text-align: center">
                                <i>지급완료</i>
                            </div>
                        {% endif %}
                        <!--====================================제목 시작==============================================-->
                        <div class="content-box">
                            <!--게시글 작성자, 작성시간 나옴-->
                            <div class="content-header">
                                <div class="dlab-post-meta" style="margin: 0px">
                                    <ul class="d-flex align-items-center">
                                        <!-- 게시글 작성자 -->
                                        <li class="post-author"><i
                                                class="ti ti-user"></i>By {{ bank.bank_used_user.user_name }}</li>
                                        <!-- 게시글 작성시간 -->
                                        <li class="post-comment"><i
                                                class="ti ti-alarm-clock"></i> {{ bank.bank_created|date:"Y-m-d h:i" }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--여기까지-->
                            <div class="content-body">
                                <div class="form-group">
                                    <h4 class="post-title "
                                        style="margin-top: 10px; margin-bottom: 8px">{{ bank.bank_title }}</h4>
                                </div>
                            </div>
                        </div>
                        <!--====================================제목끝=============================================-->
                        <!--====================================지출 날짜 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">지출날짜</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>{{ bank.bank_used|date:"Y-m-d" }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================지출 날짜 끝=============================================-->
                        <!--====================================지출 내용 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">지출내용</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>{{ bank.bank_reason }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================지출내용 끝=============================================-->
                        <!--====================================지출금액 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">지출금액</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>{{ bank.bank_minus }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================지출금액 끝=============================================-->
                        <!--====================================사용인 시작==============================================-->
                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">사용인</h3>
                            </div>
                            <div class="content-body">
                                <div class="form-group">
                                    <a>{{ bank.bank_used_user.user_name }}</a>
                                </div>
                            </div>
                        </div>
                        <!--====================================사용인 끝=============================================-->
                        <!--====================================입금계좌 시작==============================================-->
                        {% if logined_user.user_role.role_no == 4 or logined_user == bank.bank_used_user %}
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title">입금받을 계좌</h3>
                                </div>
                                <div class="content-body">
                                    <div class="form-group">
                                        <a>{{ bank.bank_account }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!--====================================입금계좌 끝=============================================-->
                        <!--====================================영수증 시작=============================================-->

                        <div class="content-box">
                            <div class="content-header">
                                <h3 class="title">영수증</h3>
                            </div>
                            <div class="widget widget_gallery gallery-grid-4 lightgallery">
                                <ul style="padding: 10px; margin-bottom: 0px">
                                    {% for bank_file in bank_file_list %}
                                        {% if forloop.counter < 4 %}
                                            <li>
                                                            <span data-exthumbimage="/media/{{ bank_file.file_path }}"
                                                                  data-src="/media/{{ bank_file.file_path }}"
                                                                  class="check-km "
                                                                  title="{{ bank_file.file_name }}">
                                                                <a href="javascript:void(0);">
                                                                    <div class="dlab-post-thum act-detail-img-size">
                                                                        <img style="height: 190px"
                                                                             src="/media/{{ bank_file.file_path }}"
                                                                             alt=""/>
                                                                    </div>
                                                                </a>
                                                            </span>
                                            </li>
                                        {% elif forloop.counter == 4 %}
                                            <li>
                                                            <span data-exthumbimage="/media/{{ bank_file.file_path }}"
                                                                  data-src="/media/{{ bank_file.file_path }}"
                                                                  class="check-km act-detail-img-siz"
                                                                  title="{{ bank_file.file_name }}">
                                                                <a href="javascript:void(0);">
                                                                    <div class="dlab-post-thum "><img
                                                                            style="height: 190px"
                                                                            src="/media/{{ bank_file.file_path }}"
                                                                            alt=""></div>
                                                                    {% if forloop.revcounter0 > 0 %}
                                                                        <!-- 사용자가 업로드한 사진이 딱 4개인 경우 남은 이미지 개수를 출력하지 않음.-->
                                                                        <div class="more-images">
                                                                            <div>
                                                                                <strong>{{ forloop.revcounter0 }}</strong>
                                                                                <span>More Images</span>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </a>
                                                            </span>
                                            </li>
                                        {% else %}
                                            <li style="display: none;">
                                                <span data-exthumbimage="/media/{{ board_img.board_file_path }}"
                                                      data-src="/media/{{ board_img.board_file_path }}"
                                                      class="check-km "
                                                      title="{{ board_file.board_file_name }}">
                                                    <a href="javascript:void(0);">
                                                        <div class="dlab-post-thum act-detail-img-size">
                                                            <img style="height: 190px"
                                                                 src="/media/{{ board_img.board_file_path }}" alt=""/>
                                                        </div>
                                                    </a>
                                                </span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!--====================================영수증 끝=============================================-->
                        <!-- 게시글 삭제 및 수정 div -->
                        {% if logined_user.user_stu == bank.bank_used_user.user_stu %}
                            <div class="extra-cell text-right">
                            <!-- 게시글 수정 버튼 -->
                            <a href="#"
                               onclick="document.getElementById('form-bank-support-update').submit()"
                               class="site-button radius-xl m-l10"><i
                                    class="fa fa-pencil m-r5"></i>
                                지원신청 수정</a>
                            <!-- 게시글 삭제 버튼 -->
                            <form id="form-bank-support-update" action="{% url 'bank_support_update' bank.bank_no %}"
                                  method="get"
                                  style="display: none">
                                {% csrf_token %}
                            </form>
                        {% endif %}
                        {% if logined_user.user_stu == bank.bank_used_user.user_stu or logined_user.user_role.role_no == 4 %}
                            <a href="#" onclick="goDelete()"
                               class="site-button red radius-xl m-l10"><i
                                    class="fa fa-trash m-r5"></i>
                                지원신청 철회</a>
                            </div>
                            <form id="form-bank-support-delete" action="{% url 'bank_support_delete' bank.bank_no %}"
                                  method="post"
                                  style="display: none">
                                {% csrf_token %}
                            </form>
                        {% endif %}
                        <!--=======승인/거절 버튼======-->
                        <div style="display: flex; justify-content: center; ">
                            {% if logined_user.user_role.role_no == 4 %}
                                <!--승인-->
                                {% if bank.bank_apply.bank_apply_no == 1 %}
                                    <button type="button" class="btn btn-outline-success btn-lg"
                                            style="width: 200px; font-weight: bold"
                                            onclick="goApply()">
                                        승인
                                    </button>
                                    <form id="form-bank-support-apply"
                                          action="{% url 'bank_support_aor' bank.bank_no %}"
                                          method="post" style="display: none">
                                        {% csrf_token %}
                                        <input type="hidden" name="bank_apply_no" value="2"/>
                                    </form>
                                    <!--거절-->
                                    <button type="button" class="btn btn-outline-danger btn-lg"
                                            style="width: 200px; margin-left: 10px; font-weight: bold"
                                            onclick="return confirm('승인을 거절하시겠습니까?')"
                                            href="javascript:void(0);" data-toggle="modal" data-target="#favorite"
                                            class="site-button gray">
                                        거절
                                    </button>
                                {% elif bank.bank_apply.bank_apply_no == 2 %}
                                    <!--지급완료, 승인버튼 누르기 전에는 안나오고, 승인버튼 누르면 승인,거절 버튼은 없어지고 이 버튼만 보이게 함-->
                                    <button type="button" class="btn btn-outline-primary btn-lg"
                                            style="width: 200px; font-weight: bold"
                                            onclick="goDeposit()">지급완료
                                    </button>
                                    <form id="form-bank-support-deposit"
                                          action="{% url 'bank_support_aor' bank.bank_no %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="bank_apply_no" value="4"/>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                        <!---->
                        <!-- 거절 버튼 누르면 나오는 창 -->
                        <div class="modal fade modal-bx-info" id="favorite" tabindex="-1" role="dialog"
                             aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog " role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="FavoriteModalLongTitle">승인거절 사유</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tab-content nav">
                                            <div id="login" class="tab-pane active"
                                                 style="margin-bottom: -25px; margin-top: 10px">
                                                <form id="form-bank-support-reject"
                                                      action="{% url 'bank_support_aor' bank.bank_no %}"
                                                      class="dlab-form"
                                                      method="post">
                                                    <!--승인 거절 사유 입력창-->
                                                    {% csrf_token %}
                                                    <input type="hidden" name="bank_apply_no" value="3">
                                                    <div class="form-group">
                                                        <input class="form-control"
                                                               name="bank_reject_reason"
                                                               placeholder="승인거절 사유를 입력해주세요"
                                                               type="text" maxlength="50"/>
                                                    </div>
                                                    <!--거절버튼-->
                                                    <div class="form-group">
                                                        <button type="submit" class="site-button btn-block button-md"
                                                                onclick="alert('승인이 거절되었습니다')">입력
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 거절 버튼 누르면 나오는 창 끝 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
