{% extends "base.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'js/posting_register.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_register.css' %}">
    <link rel="stylesheet" href="{% static 'css/ibas_contents.css' %}"/>
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
                <a href="{% url 'bank_support_board' %}">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <h1 class="text-white introduce-letter-spacing_5">예산지원신청</h1>
                            <!--부제목-->
                            <p class="m-t20">예산 지원을 신청하는 게시판입니다.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--===============================================입력란=========================================================-->
            {% load widget_tweaks %}
            <form action="
                    {% if bank_no is None %}{% url 'bank_support_register' %}{% else %}{% url 'bank_support_update' bank_no %}{% endif %}"
                  class="add-listing-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="content-block">
                    <div class="section-full content-inner bg-white">
                        <div class="container">
                            <form class="add-listing-form">
                                <!--=====================-->

                                <!--====================================예산지원 폼 입력 시작=============================================-->
                                {% for field in bank_support_form.visible_fields %}
                                    <div class="content-box">
                                        <div class="content-header">
                                            <h3 class="title">{{ field.label }}</h3>
                                        </div>
                                        <div class="content-body">
                                            <div class="form-group">
                                                {% if field == bank_support_form.bank_title %}
                                                    {% render_field field class="form-control" required="required" style="font-size: 25px; height: 70px;" %}
                                                {% else %}
                                                    {% render_field field class="form-control" required="required" %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!--====================================예산지원 폼 입력 끝=============================================-->


                                <!--====================================영수증 입력 시작=============================================-->

                                <div class="content-box">
                                    <div class="content-header">
                                        <h3 class="title">영수증 업로드</h3>
                                    </div>
                                    <div class="content-body">
                                        <div class="form-group">
                                            <!-- 수정할 때는 필수 아님! 파일 전체 유효성 검사는 폼에서!-->
                                            {% if bank_no is not None %}
                                                {{ file_form.upload_file }}
                                            {% else %}
                                                {% render_field file_form.upload_file required="required" %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--==============================이미 존재하고 있는 영수증 시작============================================-->
                                {% if bank_file_list %}
                                    <div class="content-box">
                                        <div class="content-header">
                                            <h3 class="title"> 기존 영수증 파일</h3>
                                        </div>
                                        <div class="content-body">
                                            <div class="form-group">
                                                <div id="image-cont" class="image-cont">
                                                    {% for bank_file in bank_file_list %}
                                                        <div id="image-card-{{ bank_file.file_id }}"
                                                             class="image-card">
                                                            <!-- 취소 버튼, 취소를 누를 시 image-card 컨테이너가 통채로 사라짐. -->
                                                            <button type="button"
                                                                    class="btn btn-danger fa fa-times btn-cancel"
                                                                    onclick="delImg(document.getElementById('image-card-{{ bank_file.file_id }}'))"></button>
                                                            <!-- 이미지 컨테이너 이미지 파일일 경우 img태그가, 이미지 파일이 아닐 경우 파일 모양의 아이콘이 붙음. -->
                                                            <div id="image-{{ bank_file.file_id }}"
                                                                 class="image-container"></div>
                                                            <!--기존 파일링크를 이동시키기 위한 히든 링크 -->
                                                            <input type="hidden"
                                                                   name="exist_file_path_{{ bank_file.file_id }}"
                                                                   value="{{ bank_file.file_path }}"/>
                                                        </div>
                                                        <script>
                                                            // 페이지가 로딩 될 때 해당 함수도 자동으로 실행되도록 설정함. (아이콘 or img 결정)
                                                            onload = decisionIcon(document.getElementById("image-{{bank_file.file_id }}"), '{{ bank_file.file_path }}');
                                                        </script>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <!--==============================이미 존재하고 있는 영수증 끝 ============================================-->
                                <!--====================================영수증 입력 끝=============================================-->

                                <!--=====================-->
                                <!--등록하기 버튼, 누르면 게시글 상세보기로-->
                                <!--최초 글작성 시 나오는 버튼-->
                                <div style="display: grid; justify-items: center">
                                    <button class="site-button btn-block button-md" type="submit" style="width: 30%">
                                        {% if bank_no is None %}
                                            신청하기
                                        {% else %}
                                            수정하기
                                        {% endif %}
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include "file_script.html" %}
{% endblock %}
