{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/posting_detail.css' %}">
    <script src="{% static 'js/ibas_centents.js' %}"></script>
    <!----------상단 제목부분----------->
    <!--제목을 감싸는 배경-->
    <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
         style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
        <div class="container clearfix">
            <div class="dlab-bnr-inr-entry">
                <!--제목-->
                <h1 class="text-white introduce-letter-spacing_5">회계 내역</h1>
                <!--부제목-->
                <p class="m-t20">회계 내역에 대한 게시판입니다.</p>
            </div>
        </div>

    </div>

    <!-- Content 부분 시작 -->
    <div class="page-content bg-white">
        <div class="content-block min-height-70vh">
            <div class="section-full content-inner bg-white">
                <div class="container">
                    <div class="listing-filter m-b40">
                        <!-- bank-flex는 bank_yejin.css에 정의되어 있음.  -->
                        <div class="bank-flex">
                            <div class="mr-auto">
                                <div>
                                    <!-- bank-margin-bottom_0는 bank_yejin.css에 정의되어 있음.  -->
                                    <!-- bank-year는 bank_yejin.js에 사용됨. bank_select 부분과 관련 -->
                                    <h3 id="bank-year" class="title bank-margin-bottom_0" style="font-size: 22px">전체 회계
                                        내역</h3>
                                </div>
                            </div>
                            <div>
                                <ul class="filter m-b0">
                                    <li>
                                        <!-- bank-select는 bank_yejin.js에 사용됨. bank_select 부분과 관련 -->
                                        <!-- bank_select()는 bank_yejin.css에 정의되어 있음.  -->
                                        <select id="bank-select" onchange="bank_select()">
                                            <option>전체</option>
                                            {% for year in year_list %}
                                                <option>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 게시글을 담는 테이블 -->
                    <table class="table">
                        <!-- 테이블의 제목(1행) -->
                        <thead>
                        <!-- bank-tr-head는 bank_yejin.js에 사용됨. bank_select 부분과 관련 -->
                        <tr id="bank-tr-head" style="text-align: center">
                            <th class="dis-none-media" scope="col" style="width: 150px;">사용일</th>
                            <th class="dis-none-media" scope="col" style="width: 150px;">게시일</th>
                            <th class="dis-none-media" scope="col" style="width: 150px;">수정일</th>
                            <th class="dis-none-media" scope="col" style="width: 400px">내용</th>
                            <th scope="col" style="width: 123px;">수입액</th>
                            <th scope="col" style="width: 123px;">지출액</th>
                            <th scope="col" style="width: 86px;">증빙</th>
                            {% if logined_user.user_role.role_no == 4 %}
                                <th scope="col" style="width: 54px;" colspan="2">비고</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <!-- 끌고오는 게시글 파트 -->
                        <tbody>

                        <!-- ========================== 게시글 (여기서 부터 반복) ============================= -->
                        <!-- bank-tr-1는 bank_yejin.js에 사용됨. bank_select 부분과 관련 -->
                        <!-- bank-text-align_center는 bank_yejin.css에 정의됨. -->
                        <!-- 각 td에 스타일 padding: 10px 0;이 적용되어 있는데, 외부 css파일로 스타일 적용이 안되어 따로 지정해 준 것임.  -->
                        {% for bank in bank_list %}
                            <tr class="bank-tr text-center">
                                <!-- 사용일 -->
                                <td scope="row" style="padding: 10px 0; width: 100px;" class="dis-none-media">
                                    <!-- bank-date-1는 bank_yejin.js에 사용됨. bank_select, bank_update 부분과 관련 -->
                                    <!-- bank-input-con는 bank_yejin.css에 정의됨. -->
                                    <input class="bank-date bank-input-con" type="text"
                                           value="{{ bank.bank_used|date:"Y-m-d" }}"
                                           style="width: 100px;" disabled="disabled">
                                </td>

                                <!-- 게시일 -->
                                <td style="padding: 10px 0" class="dis-none-media">
                                    <!-- bank-input-con는 bank_yejin.css에 정의됨. -->
                                    <input class="bank-input-con" type="text"
                                           value="{{ bank.bank_created|date:"Y-m-d" }}"
                                           style="width: 100px;" disabled="disabled">
                                </td>

                                <!-- 수정일 -->
                                <td style="padding: 10px 0" class="dis-none-media">
                                    <!-- bank-input-con는 bank_yejin.css에 정의됨. -->
                                    <input class="bank-input-con" type="text"
                                           value="{{ bank.bank_updated|date:"Y-m-d" }}"
                                           style="width: 100px;" disabled="disabled">
                                </td>


                                <!-- 내용 -->
                                <td style="width: 400px; padding: 10px 0; text-align: start" class="dis-none-media">
                                    <!-- bank-txt-1는 bank_yejin.js에 사용됨. bank_update 부분과 관련 -->
                                    <!-- bank-input-con는 bank_yejin.css에 정의됨. -->
                                    <input class="bank-input-con" type="text"
                                           value="{{ bank.bank_title }}"
                                           disabled="disabled" style="width: 430px;">
                                </td>

                                <!-- 수입액 -->
                                <td style="width: 123px;padding: 10px 0;">
                                    <!-- bank-earn-1는 bank_yejin.js에 사용됨. bank_update 부분과 관련 -->
                                    <!-- bank-input-con는 bank_yejin.css에 정의됨. -->
                                    <input class="bank-input-con" type="text"
                                           value="{% if bank.bank_plus != 0 %}{{ bank.bank_plus|intcomma }}{% else %}-{% endif %}"
                                           disabled="disabled">
                                </td>

                                <!-- 지출액 -->
                                <td style="width: 123px;padding: 10px 0;">
                                    <!-- bank-spend-1는 bank_yejin.js에 사용됨. bank_update 부분과 관련 -->
                                    <!-- bank-input-con는 bank_yejin.css에 정의됨. -->
                                    <input class="bank-input-con" type="text"
                                           value="{% if bank.bank_minus != 0 %}{{ bank.bank_minus|intcomma }}{% else %}-{% endif %}"
                                           disabled="disabled">
                                </td>

                                <!-- 증빙자료 버튼 -->
                                <td style="width: 86px;padding: 10px 0;">
                                    <!-- 누르면 증빙자료모달 보이게 함 -->
                                    <a data-toggle="modal" data-target="#bank-modal-bg-{{ bank.bank_no }}"
                                       href="javascript:void(0);"
                                       class="site-button-link black bank-flex">
                                        <i class="fa fa-file-text-o"></i>
                                    </a>
                                </td>
                                {% if logined_user.user_role.role_no == 4 %}
                                    <!-- 수정 -->
                                    <!-- bank_update는 bank_yejin.js에 정의됨. -->
                                    <td style="width: 55px; padding: 10px 0;">
                                        <!-- bank-update는 bank_yejin.js에 사용됨. bank_update 부분과 관련 -->
                                        <a data-toggle="modal" data-target="#bank-modal-update-{{ bank.bank_no }}"
                                           href="javascript:void(0);"
                                           class="site-button-link black bank-flex">
                                            <i id="bank-update" class="fa fa-pencil " style="color: #606269"></i>
                                        </a>
                                    </td>

                                    <form id="form-bank-delete-{{ bank.bank_no }}"
                                          action="{% url 'bank_delete' bank.bank_no %}"
                                          method="post">
                                        {% csrf_token %}
                                        <!-- 삭제 -->
                                        <!-- bank_del는 bank_yejin.js에 정의됨. -->
                                        <td onclick="bank_del({{ bank.bank_no }})" style="padding: 10px 0;">
                                            <i class="fa fa-trash"
                                               style="font-size: 18px; justify-content: flex-start;"></i>
                                        </td>
                                    </form>
                                {% endif %}

                            </tr>
                            <!--=======================증빙자료 모달============================-->
                            <!-- bank-modal-bg는 증빙자료 버튼과 연결 하기 위함임  -->
                            <div class="modal fade modal-bx-info" id="bank-modal-bg-{{ bank.bank_no }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog " role="document">
                                    <div class="modal-content" style="margin-top: 65px">
                                        <!-- 모달 헤더 -->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ReportReviewsModalLongTitle">증빙자료</h5>
                                            <!-- 닫는 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="la la-close"></i></span>
                                            </button>
                                        </div>

                                        <div class="content-body">
                                            <div style="width: 100%; display: grid; grid-template-columns: 50px 170px; margin-bottom: 10px">
                                                <!--요소 간 간격을 조절하기 위해서 그리드로 짜줌. 바로 밑 형제요소와 사이즈 다르니 주의 요망 -->
                                                <div>
                                                    <i class="la la-calendar-check-o"
                                                       style="justify-content: center; font-size: 25px"></i>
                                                </div>

                                                <div>
                                                    {{ bank.bank_used|date:"Y-m-d" }}
                                                </div>

                                            </div>
                                            <!--요소 간 간격을 조절하기 위해서 그리드로 짜줌. 바로 위 형제요소와 사이즈 다르니 주의 요망 -->
                                            <div style="width: 100%; display: grid; grid-template-columns:50px 300px; ">

                                                <div>
                                                    <i class="la la-pencil"
                                                       style="justify-content: center; font-size: 25px"></i>
                                                </div>

                                                <div class="word-break-all introduce-li-flex">
                                                    {{ bank.bank_title }}
                                                </div>

                                            </div>
                                            <hr/>
                                            <div style="width: 100%; display: grid; grid-template-columns:50px 300px; ">
                                                <div>
                                                    <i class="la la-user"
                                                       style="justify-content: center; font-size: 25px"></i>
                                                </div>
                                                <div class="word-break-all introduce-li-flex">
                                                    {{ bank.bank_cfo.user_name }}&nbsp;&nbsp;<span
                                                        class="font-14 text-blue font-italic">회계 처리자</span>
                                                </div>
                                            </div>
                                            <hr/>
                                            {% if bank.bank_plus == 0 %}
                                                <div style="width: 100%; display: grid; grid-template-columns:50px 300px; ">
                                                    <div>
                                                        &nbsp;<i class="fa fa-user"
                                                                 style="justify-content: center; font-size: 25px"></i>
                                                    </div>
                                                    <div class="word-break-all introduce-li-flex">
                                                        {{ bank.bank_used_user.user_name }}&nbsp;&nbsp;<span
                                                            class="font-14 text-green font-italic">지급 대상</span>
                                                    </div>
                                                </div>
                                                <hr/>
                                            {% endif %}
                                            <div style="width: 100%; display: grid; grid-template-columns:50px 300px; ">
                                                <div>
                                                    <i class="la la-list"
                                                       style="justify-content: center; font-size: 25px"></i>
                                                </div>
                                                <div class="word-break-all introduce-li-flex">
                                                    {{ bank.bank_reason }}
                                                </div>
                                            </div>
                                            <hr/>
                                            <!-- 영수증 이미지 출력부 -->
                                            {% for bank_file in bank.files.all %}
                                                <div class="bank-image-flex">
                                                    <img src="/media/{{ bank_file.file_path }}"
                                                         alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--=======================증빙자료 수정 모달============================-->
                            <!-- bank-modal-update는 증빙자료 수정과 연결 하기 위함임  -->
                            <div class="modal fade modal-bx-info" id="bank-modal-update-{{ bank.bank_no }}"
                                 tabindex="-1" role="dialog"
                                 aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog " role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ReportReviewsModalLongTitle">회계 내역 수정</h5>
                                            <!-- 닫힘 버튼 -->
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="la la-close"></i></span>
                                            </button>
                                        </div>

                                        <div class="content-body">
                                            <form id="form-bank-update-{{ bank.bank_no }}" class="dlab-form"
                                                  action="{% url 'bank_update' bank.bank_no %}" method="post"
                                                  enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="hidden" name="bank_cfo"
                                                       value="{{ logined_user.user_stu }}"/>
                                                <!-- 날짜 -->
                                                <div class="form-group">
                                                    <input required="" name="bank_used" class="form-control" type="date"
                                                           value="{{ bank.bank_used|date:"Y-m-d" }}"/>
                                                    <div class="form-text font-10">영수증에 명시된 사용일을 적어주세요.</div>
                                                </div>

                                                <!-- 제목 -->
                                                <div class="form-group">
                                                    <input required="" class="form-control" name="bank_title"
                                                           placeholder="제목을 입력하세요"
                                                           value="{{ bank.bank_title }}"
                                                           type="text"/>
                                                </div>
                                                <!-- 이용 사유 -->
                                                <div class="form-group">
                                            <textarea class="form-control" name="bank_reason"
                                                      placeholder="내용을 입력하세요.">{{ bank.bank_reason }}</textarea>
                                                    <div class="form-text font-10">해당란을 입력하지 않을 시 제목과 내용이 같도록 처리합니다.
                                                    </div>
                                                </div>
                                                <!-- 사용한 유저의 학번 -->
                                                <div class="form-group">
                                                    <input required="" class="form-control"
                                                           placeholder="회비를 사용한 부원의 학번을 입력하세요"
                                                           name="bank_used_user"
                                                           value="{{ bank.bank_used_user.user_stu }}"
                                                           type="number"/>
                                                    <div class="form-text font-10">해당란을 입력하지 않을 시, 로그인 한 유저로 입력됩니다.
                                                    </div>
                                                </div>

                                                <!-- 수입액 -->
                                                <div class="form-group">
                                                    <input class="form-control" name="bank_plus"
                                                           placeholder="수입액을 입력하세요"
                                                           value="{{ bank.bank_plus }}"
                                                           type="number"/>
                                                </div>

                                                <!-- 지출액 -->
                                                <div class="form-group">
                                                    <input class="form-control" name="bank_minus"
                                                           placeholder="지출액을 입력하세요"
                                                           value="{{ bank.bank_minus }}"
                                                           type="number"/>
                                                </div>

                                                <!-- 첨부된 파일 불러오기 -->
                                                <!-- 파일 리스트 길이가 0이 아닐 경우에만 파일 리스트를 출력하게 함. -->

                                                <!-- 첨부된 파일 불러오기 -->
                                                <!-- 파일 리스트 길이가 0이 아닐 경우에만 파일 리스트를 출력하게 함. -->
                                                {% if bank.files.all %}
                                                    <div id="bank-update-file-parent" class="download-box mb-5"
                                                         style="font-size: 13px">
                                                        {% for bank_file in bank.files.all %}
                                                            <!-- 첨부파일 1 -->
                                                            <div id="bank-update-file-{{ bank_file.file_id }}"
                                                                 class="d-flex">
                                                                 <i class="fa fa-download m-r15 m-t5"></i>
                                                                <a class="line2" href="#">
                                                                    {{ bank_file.file_name }}
                                                                </a>
                                                                <input type="hidden"
                                                                       name="exist_file_path_{{ bank_file.file_id }}"
                                                                       value="/media/{{ bank_file.file_path }}"/>
                                                                <!-- 첨부파일 지우기 버튼 -->
                                                                <button onclick="bank_update_del({{ bank_file.file_id }})"
                                                                        type="button" class="close">
                                                                    <span aria-hidden="true"><i class="la la-close"></i></span>
                                                                </button>
                                                            </div>

                                                            <!-- 파일 간 구분선 마지막 파일은 구분선을 출력하지 않도록 설정.-->
                                                            {% if forloop.revcounter0 != 0 %}
                                                                <div class="dlab-divider tb10 bg-gray-dark"></div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}


                                                <!-- 첨부버튼 -->
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label style="font-size: 13px; font-weight: 100"><b>증빙자료 첨부</b></label>
                                                        {{ file_form.upload_file }}
                                                    </div>
                                                </div>
                                                <!-- 수정버튼 -->
                                                <div class="form-group" onclick="bank_update({{ bank.bank_no }})">
                                                    <button type="submit" class="site-button btn-block button-md">수정
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- ========================== 게시글 끝 (여기까지) ============================= -->
                        </tbody>
                    </table>


                    <!-- 회계내역 추가 버튼  -->
                    <!-- bank-btn-add-divr는 bank_yejin.css에 정의됨. -->
                    {% if logined_user.user_role.role_no == 4 %}
                        <div class="bank-btn-add-div">
                            <div>
                                <!-- 회계내역 추가 버튼 누르면 회계내역 추가 모달이 나옴.  -->
                                <a data-toggle="modal" data-target="#bank-add-modal" href="javascript:void(0);"
                                   class="site-button-link black">
                                    <i class="fa fa-plus" style="color: #787878; font-size: 20px"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <!--=======================총액============================-->
                    <div class="bank-flex">
                        <!-- bank-total는 bank_yejin.css에 정의됨. -->
                        <p class="bank-total">잔액: ₩ {{ balance|intcomma }}</p>
                    </div>

                    {% load widget_tweaks %}
                    <!--=========================회계내역 추가 모달==========================-->
                    <!-- bank-add-modal는 회계내역 추가 버튼과 연결 하기 위함임  -->
                    <div class="modal fade modal-bx-info" id="bank-add-modal" tabindex="-1" role="dialog"
                         aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ReportReviewsModalLongTitle">회계 내역 추가</h5>
                                    <!-- 닫힘 버튼 -->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>

                                <div class="content-body">
                                    <form class="dlab-form" action="{% url 'bank_register' %}" method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ logined_user.user_stu }}" name="bank_cto"/>
                                        {% for field in bank_form.visible_fields %}
                                            <div class="form-group">
                                                {% render_field field class="form-control" %}
                                                {% if field.help_text %}
                                                    <div class="form-text font-10">{{ field.help_text }}</div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}

                                        <!-- 첨부버튼 -->
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label style="font-size: 13px; font-weight: 100"><span
                                                        style="color:red">*</span><b>증빙자료 첨부</b> <span
                                                        style="font-size: 8px; color:red;">&nbsp;&nbsp; ※ 해당 란은 이미지만 첨부할 수 있습니다.</span></label>
                                                {{ file_form.upload_file }}
                                            </div>
                                        </div>

                                        <!-- 제출버튼 -->
                                        <div class="form-group">
                                            <button type="submit" class="site-button btn-block button-md">제출</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--========== 페이지네이션 시작 ===========-->
                    <!-- 1페이지에 15개 게시글 끌고오고, 게시글이 그보다 적으면, 페이지네이션 안보이게 처리 -->
                    {% if bank_list|length != 0 %}
                        {% include 'pagination.html' with item_list=bank_list %}
                    {% endif %}
                    <!--========== 페이지네이션 끝 ===========-->
                </div>
            </div>
        </div>
        <!-- Contact area END -->
    </div>
    <!-- Content END-->
    {% include "file_script.html" %}

{% endblock %}
