{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bank_yejin.css' %}">
    <script src="{% static 'js/bank_yejin.js' %}"></script>
    <!----------상단 제목부분----------->
    <!--제목을 감싸는 배경-->
    <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
         style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
        <div class="container clearfix">
            <div class="dlab-bnr-inr-entry">
                <!--제목-->
                <h1 class="text-white introduce-letter-spacing_5">회계 내역</h1>
                <!--부제목-->
                <p class="introduce-margin-top_20">회계 내역에 대한 게시판입니다.</p>
            </div>
        </div>

    </div>
    {#////////////////////////////////////////////////////#}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner END -->
        <!-- Contact area -->
        <div class="content-block">
            <div class="section-full content-inner bg-white">
                <div class="container">
                    <div class="listing-filter m-b40">
                        <div class="bank-flex">
                            <div class="mr-auto">
                                <div>
                                    <h3 id="bank-year" class="title bank-margin-bottom_0">2021</h3>
                                </div>
                            </div>
                            <div>
                                <ul class="filter m-b0">
                                    <li>
                                        <select id="bank-select" onchange="bank_select()">
                                            <option>2021</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                            <option>2024</option>
                                            <option>2025</option>
                                            <option>2026</option>
                                            <option>2027</option>
                                            <option>2028</option>
                                            <option>2029</option>
                                            <option>2030</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    {#                    <div id="listing_description" class="tab-pane">#}
                    {#                        <div class="content-box">#}
                    {#                            <div class="content-header bank-grid">#}
                    {#                                <div class="bank-flex"><h6 class="bank-margin-bottom_0">날짜</h6></div>#}
                    {#                                <div class="bank-flex"><h6 class="bank-margin-bottom_0">내용</h6></div>#}
                    {#                                <div class="bank-flex"><h6 class="bank-margin-bottom_0">수입액</h6></div>#}
                    {#                                <div class="bank-flex"><h6 class="bank-margin-bottom_0">지출액</h6></div>#}
                    {#                                <div class="bank-flex"><h6 class="bank-margin-bottom_0">누적합계</h6></div>#}
                    {#                                <div class="bank-flex"><h6 class="bank-margin-bottom_0">지출증빙</h6></div>#}
                    {#                            </div>#}

                    <!--================================================================================================================-->
                    {#                            <div id="conDiv" class="content-body">#}
                    {#                                <!--========== 오른쪽 게시글 리스트 부분 시작 ===========-->#}
                    {#                                <div class="col-lg-10 col-xl-8 p-b30">#}
                    <!-- 게시글을 담는 테이블 -->
                    <table class="table">
                        <!-- 테이블의 제목(1행) -->
                        <thead>
                        <tr id = "bank-tr-0" style="text-align: center">
                            <th scope="col" style="width: 175px;">날짜</th>
                            <th scope="col" style="width: 400px">내용</th>
                            <th scope="col" style="width: 123px;">수입액</th>
                            <th scope="col" style="width: 123px;">지출액</th>
                            <th scope="col" style="width: 124px;">누적합계</th>
                            <th scope="col" style="width: 86px;">증빙자료</th>
                            <th scope="col" style="width: 54px;">수정</th>
                            <th scope="col" style="width: 55px;">삭제</th>
                        </tr>
                        </thead>
                        <!-- 끌고오는 게시글 파트 -->
                        <tbody>
                        <!-- 게시글 1 -->
                        <tr id = "bank-tr-1" class="bank-text-align_center">
                            <form>
                                <!-- 날짜 -->
                                <td scope="row" style="width: 175px;"><input id="bank-date-1" class="bank-input-con" type="date"
                                                       value="2021-02-02"
                                                       style="width: 150px;" disabled="disabled"></td>
                                <!-- 내용 -->
                                <td class="bank-text-align_start" style="width: 400px;"><input id="bank-txt-1" class="bank-input-con"
                                                                         type="text"
                                                                         value="동아리 회비" disabled="disabled"></td>
                                <!-- 수입액 -->
                                <td style="width: 123px;"><input id="bank-earn-1" class="bank-input-con" type="text" value="5,000,000"
                                           disabled="disabled"></td>
                                <!-- 지출액 -->
                                <td style="width: 123px;"><input id="bank-spend-1" class="bank-input-con" type="text" value="5,000,000"
                                           disabled="disabled"></td>
                                <!-- 누적합계 -->
                                <td style="width: 124px;"><input id="bank-money-1" class="bank-input-con" type="text" value="5,000,000"
                                           disabled="disabled"></td>
                                <!-- 증빙자료 -->
                                <td style="width: 86px;"><a data-toggle="modal" data-target="#bank-modal-bg" href="javascript:void(0);"
                                       class="site-button-link black bank-flex"><i class="fa fa-file-text-o"></i></a>
                                </td>
                                <!-- 수정 -->
                                <td onclick="bank_update()" style="width: 55px; padding-left: 20px;"><i id="bank-update"
                                                                                           class="fa fa-pencil "></i>
                                </td>
                            </form>

                            <form>
                                <!-- 삭제 -->
                                <td onclick="bank_del()" style="padding-left: 20px;"><i class="fa fa-trash"
                                                                                        style="font-size: 18px; justify-content: flex-start;"></i>
                                </td>
                            </form>

                        </tr>

{#                        <!-- 게시글 2 -->#}
{#                        <tr id = "bank-tr-2" class="bank-text-align_center">#}
{#                            <form>#}
{#                                <!-- 날짜 -->#}
{#                                <td scope="row"><input id="bank-date-2" class="bank-input-con" type="date"#}
{#                                                       value="2022-02-02"#}
{#                                                       style="width: 150px;" disabled="disabled"></td>#}
{#                                <!-- 내용 -->#}
{#                                <td class="bank-text-align_start"><input id="bank-txt-2" class="bank-input-con"#}
{#                                                                         type="text"#}
{#                                                                         value="동아리 회비" disabled="disabled"></td>#}
{#                                <!-- 수입액 -->#}
{#                                <td><input id="bank-earn-2" class="bank-input-con" type="text" value="5,000,000"#}
{#                                           disabled="disabled"></td>#}
{#                                <!-- 지출액 -->#}
{#                                <td><input id="bank-spend-2" class="bank-input-con" type="text" value="5,000,000"#}
{#                                           disabled="disabled"></td>#}
{#                                <!-- 누적합계 -->#}
{#                                <td><input id="bank-money-2" class="bank-input-con" type="text" value="5,000,000"#}
{#                                           disabled="disabled"></td>#}
{#                                <!-- 증빙자료 -->#}
{#                                <td><a data-toggle="modal" data-target="#bank-modal-bg" href="javascript:void(0);"#}
{#                                       class="site-button-link black bank-flex"><i class="fa fa-file-text-o"></i></a>#}
{#                                </td>#}
{#                                <!-- 수정 -->#}
{#                                <td onclick="bank_update()" style="padding-left: 20px;"><i id="bank-update-2"#}
{#                                                                                           class="fa fa-pencil "></i>#}
{#                                </td>#}
{#                            </form>#}
{##}
{#                            <form>#}
{#                                <!-- 삭제 -->#}
{#                                <td onclick="bank_del()" style="padding-left: 20px;"><i class="fa fa-trash"#}
{#                                                                                        style="font-size: 18px; justify-content: flex-start;"></i>#}
{#                                </td>#}
{#                            </form>#}
{##}
{#                        </tr>#}

                        </tbody>
                    </table>

                    <div class="bank-btn-add-div">
                        <div>
                            <a data-toggle="modal" data-target="#bank-add-modal" href="javascript:void(0);"
                               class="site-button-link black"><i class="fa fa-plus"
                                                                 style="color: #787878; font-size: 20px"></i></a>
                        </div>
                    </div>
                    {#                        </div>#}
                    {#                    </div>#}

                    <!--=======================영수증 모달============================-->
                    <div class="modal fade modal-bx-info" id="bank-modal-bg" tabindex="-1" role="dialog"
                         aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ReportReviewsModalLongTitle">증빙자료</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>

                                <div class="content-body">
                                    <div style="width: 100%; display: grid; grid-template-columns: 50px 170px; margin-bottom: 10px">
                                        <!--요소 간 간격을 조절하기 위해서 그리드로 짜줌. 바로 밑 형제요소와 사이즈 다르니 주의 요망 -->

                                        <div>
                                            <i class="la la-calendar-check-o"
                                               style="justify-content: center; font-size: 25px"></i>
                                        </div>

                                        <!--introduce-li-flex introduce-border_none는 yejin.css에 정의되어 있음. -->
                                        <div class="introduce-li-flex">
                                            2020-02-02
                                        </div>

                                    </div>
                                    <!--요소 간 간격을 조절하기 위해서 그리드로 짜줌. 바로 위 형제요소와 사이즈 다르니 주의 요망 -->
                                    <div style="width: 100%; display: grid; grid-template-columns:50px 300px; ">

                                        <div>
                                            <i class="la la-pencil"
                                               style="justify-content: center; font-size: 25px"></i>
                                        </div>

                                        <!--introduce-li-flex는 yejin.css에 정의되어 있음. -->
                                        <div class="introduce-li-flex">
                                            동아리 회비
                                        </div>

                                    </div>
                                    <div class="bank-flex">
                                        <img src="{% static 'images/bank-test.jpg' %}">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--=========================추가 모달==========================-->
                    <div class="modal fade modal-bx-info" id="bank-add-modal" tabindex="-1" role="dialog"
                         aria-labelledby="FavoriteModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ReportReviewsModalLongTitle">회계 내역 추가</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>

                                <div class="content-body">
                                    <form class="dlab-form">
                                        <div class="form-group">
                                            <input required="" class="form-control" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <input required="" class="form-control " placeholder="내용을 입력하세요"
                                                   type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <input required="" class="form-control " placeholder="수입액을 입력하세요"
                                                   type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <input required="" class="form-control " placeholder="지출액을 입력하세요"
                                                   type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label style="font-size: 13px; font-weight: 100">증빙자료 첨부</label>
                                                <input type="file"
                                                       accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf"
                                                       multiple>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="site-button btn-block button-md">login</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!--========== 페이지네이션 시작 ===========-->
                    <!-- 1페이지에 15개 게시글 끌고오고, 게시글이 그보다 적으면, 페이지네이션 안보이게 처리 -->
                    <div class="pagination-bx clearfix text-center">
                        <ul class="pagination">
                            <li class="previous"><a href="javascript:void(0)"><i
                                    class="fa fa-arrow-left"></i></a></li>
                            <li><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">...</a></li>
                            <li class="active"><a href="javascript:void(0)">7</a></li>
                            <li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--========== 페이지네이션 끝 ===========-->
                </div>
            </div>
        </div>
        <!-- Contact area END -->
    </div>
    <!-- Content END-->

{% endblock %}