{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bank_chaerim.css' %}">
    <script src="{% static 'js/bank_chaerim.js' %}"></script>
    <!----------상단 제목부분----------->
    <!--제목을 감싸는 배경-->
    <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
         style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
        <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
        <a href="{% url 'activity' %}">
            <div class="container clearfix">
                <div class="dlab-bnr-inr-entry">
                    <!--제목-->
                    <h1 class="text-white introduce-letter-spacing_5">예산 지원 신청</h1>
                    <!--부제목-->
                    <p class="introduce-margin-top_20">동아리 활동에 사용된 예산 지원을 신청하는 게시판입니다.</p>
                </div>
            </div>
        </a>
    </div>
    {#////////////////////////////////////////////////////#}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner END -->
        <!-- Contact area -->
        <div class="content-block">
            <div class="section-full content-inner bg-white">
                <div class="container">
                    <div class="listing-filter m-b40">
                        <div class="bank-flex">
                            <div class="mr-auto">
                                <div>
                                    <h3 class="title introduce-margin-bottom_0">2020</h3>
                                </div>
                            </div>
                            <div>
                                <ul class="filter m-b0">
                                    <li>
                                        <select>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                            <option>2024</option>
                                            <option>2025</option>
                                            <option>2026</option>
                                            <option>2027</option>
                                            <option>2028</option>
                                            <option>2029</option>
                                            <option>2030</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="listing_description" class="tab-pane">
                        <div class="content-box">
                            <div class="content-header bank-grid">
                                <div class="bank-flex">날짜</div>
                                <div class="bank-flex">내용</div>
                                <div class="bank-flex">수입액</div>
                                <div class="bank-flex">지출액</div>
                                <div class="bank-flex">누적합계</div>
                                <div class="bank-flex">지출증빙</div>
                            </div>
                            <div class="content-body bank-grid">

                                <div class="bank-flex"><input type="date" value="2020-02-02" disabled="disabled"
                                                              class="bank-input-date"></div>
                                <div class="bank-flex">동아리 회비</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">0</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex" onclick="introduce_add()">
                                    <button class="bank-prove-btn">보기</button>
                                </div>


                                <div class="bank-flex"><input type="date" value="2020-02-02" disabled="disabled"
                                                              class="bank-input-date"></div>
                                <div class="bank-flex">동아리 회비</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">0</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">
                                    <button class="bank-prove-btn">보기</button>
                                </div>


                                <div class="bank-flex"><input type="date" value="2020-02-02" disabled="disabled"
                                                              class="bank-input-date"></div>
                                <div class="bank-flex">동아리 회비</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">0</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">
                                    <button class="bank-prove-btn">보기</button>
                                </div>


                                <div class="bank-flex"><input type="date" value="2020-02-02" disabled="disabled"
                                                              class="bank-input-date"></div>
                                <div class="bank-flex">동아리 회비</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">0</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">
                                    <button class="bank-prove-btn">보기</button>
                                </div>


                                <div class="bank-flex"><input type="date" value="2020-02-02" disabled="disabled"
                                                              class="bank-input-date"></div>
                                <div class="bank-flex">동아리 회비</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">0</div>
                                <div class="bank-flex">50,000,000</div>
                                <div class="bank-flex">
                                    <button class="bank-prove-btn">보기</button>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div id="introduce-modal-bg" class="introduce-modal-bg" tabindex="-1">
                        <!--introduce-modal는 yejin.css에 정의되어 있음. -->
                        <div class="introduce-modal">
                            <div class="content-box">
                                <div class="content-header">
                                    <h3 class="title"><i class="la la-commenting fa-flip-horizontal m-r10"
                                                         style="color: #091069; font-size: 16pt">
                                    </i>제출 증빙</h3>
                                </div>


                                    <div class="content-body">
                                        <div style="width: 100%; display: grid; grid-template-columns: 50px 170px; margin-bottom: 10px">
                                            <!--요소 간 간격을 조절하기 위해서 그리드로 짜줌. 바로 밑 형제요소와 사이즈 다르니 주의 요망 -->

                                            <div>
                                                <i class="la la-calendar-check-o" style="justify-content: center; font-size: 25px"></i>
                                            </div>

                                            <!--introduce-li-flex introduce-border_none는 yejin.css에 정의되어 있음. -->
                                            <div class="introduce-li-flex">
                                                2020-02-02
                                            </div>

                                        </div>
                                        <!--요소 간 간격을 조절하기 위해서 그리드로 짜줌. 바로 위 형제요소와 사이즈 다르니 주의 요망 -->
                                        <div style="width: 100%; display: grid; grid-template-columns:50px 300px">

                                            <div>
                                                <i class="la la-pencil" style="justify-content: center; font-size: 25px"></i>
                                            </div>

                                            <!--introduce-li-flex는 yejin.css에 정의되어 있음. -->
                                            <div class="introduce-li-flex">
                                                동아리 회비
                                            </div>

                                        </div>
                                        <div>
                                            <img src="{% static 'images/bank-test.jpg' %}">
                                        </div>

                                    </div>
                                    <div class="content-footer">
                                        <input type="submit" class="btn btn-primary" style="background-color: #091069"
                                               value="등록"/>
                                        <!-- introduce_close()는 yejin.js에 정의되어 있음. 동아리 연혁 추가 모달을 닫기 위한 함수임.  -->
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                onclick="introduce_close()">Close
                                        </button>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <!-- Pagination start -->
                    <div class="pagination-bx clearfix text-center">
                        <ul class="pagination">
                            <li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a></li>
                            <li><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">...</a></li>
                            <li class="active"><a href="javascript:void(0)">7</a></li>
                            <li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- Pagination END -->
                </div>
            </div>
        </div>
        <!-- Contact area END -->
    </div>
    <!-- Content END-->

{% endblock %}