{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/seungyeon.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/sy.js' %}"></script>

    <div class="page-wraper">

        <div class="page-content bg-white">
            <div class="page-content bg-white">
                <!----------============= 상단 제목 시작 ================----------->
                <!--제목을 감싸는 배경-->
                <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                     style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                    <!-- 상단 제목을 클릭하면, 상위 게시판으로 돌아감 -->
                    <a href="{% url 'activity' %}">
                        <div class="container clearfix">
                            <div class="dlab-bnr-inr-entry">
                                <!--제목-->
                                <h1 class="text-white introduce-letter-spacing_5">동아리 활동</h1>
                                <!--부제목-->
                                <p class="introduce-margin-top_20">동아리 수상 및 활동 내역에 대한 게시판입니다.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!----------============= 본문 시작 ================----------->
                <div class="section-full content-inner">
                    <div class="container">
                        <div class="row" style="justify-content: center">
                            <div class="col-lg-8 col-xl-8 p-b30">
                                <div class="blog-post blog-single">
                                    <!-- 게시글 작성자 및 작성시간을 담는 div -->
                                    <div class="dlab-post-meta m-b20">
                                        <ul class="d-flex align-items-center">
                                            <!-- 게시글 작성자 -->
                                            <li class="post-author"><i class="ti ti-user"></i>By <a
                                                    href="javascript:void(0);">{{ board.board_writer.user_name }}</a>
                                            </li>
                                            <!-- 게시글 작성시간 -->
                                            <li class="post-comment"><i class="ti ti-alarm-clock"></i> <a
                                                    href="javascript:void(0);">{{ board.board_created }}</a></li>
                                        </ul>
                                    </div>
                                    <!-- 게시글 제목 -->
                                    <div class="dlab-post-title ">
                                        <h2 class="post-title m-t0">
                                            <a href="javascript:void(0);">{{ board.board_title }}</a>
                                        </h2>
                                    </div>
                                    <!--============================== 게시글 본문 시작 ==============================-->
                                    <div class="dlab-post-text">
                                        <!-- 본문 입력 내용 -->
                                        {% autoescape off %}
                                            <!-- DB에서 꺼내온 것들 중 해당 블럭 안에 있는 것을 HTML 태그로 인식하게 함-->
                                            {{ board.board_cont }}
                                        {% endautoescape %}
                                        <!-- 게시글 속 사진 모음 -->
                                        <div class="widget widget_gallery gallery-grid-4 lightgallery">
                                            <ul>
                                                {% for board_file in board_file_list %}
                                                    {% if forloop.counter < 4 %}
                                                        <li>
                                                            <span data-exthumbimage="/media/{{ board_file.board_file_path }}"
                                                                  data-src="/media/{{ board_file.board_file_path }}"
                                                                  class="check-km " title="Light Gallery Grid 1">
                                                                <a href="javascript:void(0);">
                                                                    <div class="dlab-post-thum act-detail-img-size">
                                                                        <img style="height: 190px"
                                                                             src="/media/{{ board_file.board_file_path }}"
                                                                             alt=""/>
                                                                    </div>
                                                                </a>
                                                            </span>
                                                        </li>
                                                    {% elif forloop.counter == 4 %}
                                                        <li>
                                                            <span data-exthumbimage="/media/{{ board_file.board_file_path }}"
                                                                  data-src="/media/{{ board_file.board_file_path }}"
                                                                  class="check-km act-detail-img-siz"
                                                                  title="Light Gallery Grid 1">
                                                                <a href="javascript:void(0);">
                                                                    <div class="dlab-post-thum "><img
                                                                            style="height: 190px"
                                                                            src="/media/{{ board_file.board_file_path }}"
                                                                            alt=""></div>
                                                                    {% if forloop.revcounter0 > 0 %} <!-- 사용자가 업로드한 사진이 딱 4개인 경우 남은 이미지 개수를 출력하지 않음.-->
                                                                        <div class="more-images">
                                                                            <div>
                                                                                <strong>{{ forloop.revcounter0 }}</strong>
                                                                                <span>More Images</span>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </a>
                                                            </span>
                                                        </li>
                                                    {% else %}
                                                        <li style="display: none;">
                                                            <span data-exthumbimage="/media/{{ board_file.board_file_path }}"
                                                                  data-src="/media/{{ board_file.board_file_path }}"
                                                                  class="check-km " title="Light Gallery Grid 1">
                                                                <a href="javascript:void(0);">
                                                                    <div class="dlab-post-thum act-detail-img-size">
                                                                        <img style="height: 190px"
                                                                             src="/media/{{ board_file.board_file_path }}"
                                                                             alt=""/>
                                                                    </div>
                                                                </a>
                                                            </span>
                                                        </li>
                                                    {% endif %}

                                                {% endfor %}


                                            </ul>
                                        </div>

                                    </div>
                                    <!-- 게시글 삭제 및 수정 div -->
                                    <div class="extra-cell text-right">
                                        {% if request.session.user_stu == board.board_writer.user_stu %}
                                            <!-- 게시글 수정 버튼 -->
                                            <button type="button" class="site-button radius-xl m-l10"
                                                    onclick="document.getElementById('form-activity-update').submit()">
                                                <i
                                                        class="fa fa-pencil m-r5"></i>게시글 수정
                                            </button>
                                            <!--게시글 수정 폼-->

                                        {% endif %}
                                        {% if request.session.user_role <= 3 or request.session.user_stu == board.board_writer.user_stu %}
                                            <!-- 게시글 삭제 버튼 -->
                                            <button type="button" class="site-button red radius-xl m-l10"
                                                    onclick="if(confirm('정말 삭제하시겠습니까?')){document.getElementById('form-activity-delete').submit();}">
                                                <i
                                                        class="fa fa-trash m-r5"></i>게시글 삭제
                                            </button>
                                            <!--게식글 삭제 폼-->
                                        {% endif %}
                                        <form id="form-activity-update" action="{% url 'activity_update' %}"
                                              method="get">
                                            {% csrf_token %}
                                            <input type="hidden" name="board_no" value="{{ board.board_no }}"/>
                                        </form>
                                        <form id="form-activity-delete" action="{% url 'activity_delete' %}"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="board_no" value="{{ board.board_no }}"/>
                                        </form>
                                    </div>
                                    <!-- 게시글과 댓글을 구분짓는 구분선 -->
                                    <div class="dlab-divider bg-gray-dark"></div>
                                </div>
                                <!--==================== 댓글부분 시작 ====================-->
                                <div class="clear" id="comment-list">
                                    <div class="comments-area" id="comments">
                                        <h3 class="font-26">댓글
                                        </h3>
                                        <div class="clearfix">
                                            <!-- comment list END -->
                                            <ol class="comment-list">
                                                <!-- 댓글 1 -->
                                                {% for comment in comment_list %}
                                                    <li class="comment">
                                                        <div class="comment-body">
                                                            <!-- 댓글 작성자 프로필자신 및 이름을 담는 div -->
                                                            <div class="comment-author vcard"><cite class="fn"><img
                                                                    src="/media/{{ comment.comment_writer.user_pic }}"
                                                                    width="35"
                                                                    height="35" class="comment-profile-size"
                                                                    alt="현재 브라우저에서 지원하지 않는 형식입니다.">{{ comment.comment_writer.user_name }}
                                                            </cite></div>
                                                            <!-- 댓글 작성자 학과, 학번 및 작성시간 div -->
                                                            <div class="dlab-post-meta m-l10">
                                                                <ul class="d-flex">
                                                                    <!-- 학과 및 학번 -->
                                                                    <li class="post-author"><a
                                                                            href="javascript:void(0);">{{ comment.comment_writer.user_major.major_name }}
                                                                        {{ comment.comment_writer.user_stu|stringformat:"s" |slice:"2:4" }}학번</a>
                                                                    </li>
                                                                    <!-- 작성시간 -->
                                                                    <li class="post-comment"><i
                                                                            class="ti ti-alarm-clock"></i>
                                                                        <a href="javascript:void(0);">
                                                                            {{ comment.comment_created|date:"Y-m-d h:m:s" }}
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- 댓글내용란, 댓글 데이터 가져오는 곳 -->
                                                            <!-- DB 적용할 때는 id 부분을 id="correcting-{{ comment.comment_id }}"로 변경바람 -->
                                                            <!-- 테스트를 위해 id를 다음과 같이 함. js도 똑같이 주석 달아줬으니 참고해야 함.  -->
                                                            <form id="form-comment-update-{{ comment.comment_id }}"
                                                                  action="{% url 'activity_comment_update' %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="comment_id"
                                                                       value="{{ comment.comment_id }}"/>
                                                                <input type="text" disabled="disabled"
                                                                       style="width: 706px"
                                                                       name="comment_cont"
                                                                       class="comments-area"
                                                                       id="correcting-no-{{ comment.comment_id }}"
                                                                       value="{{ comment.comment_cont }}"
                                                                       autofocus>
                                                            </form>
                                                            <!-- 하단의 comment_no_1은 꼭 id= "commentbtnDiv-{{ comment.comment_id }}"로 바꿔줄 것 -->
                                                            <!-- 댓글수정 버튼을 누르면, 기존 댓글수정 버튼이 사라지고, 수정완료 버튼이 생기도록 구현했는데, -->
                                                            <!-- 수정완료 버튼이 commentbtnDiv에 자식요소로 붙게하기 때문에, id 값 필요 -->
                                                            <div id="comment_no_{{ comment.comment_id }}"
                                                                 class="reply-btn-div">
                                                                <!-- 답글쓰기버튼 클릭 시, jqury로 버튼을 담는 div 밑에 대댓글 작성 란 생김 -->
                                                                <form id="form-comment-delete-{{ comment.comment_id }}"
                                                                      action="{% url 'activity_comment_delete' %}"
                                                                      method="post">

                                                                    {% if request.session.user_stu is not None %}
                                                                        <button type="button"
                                                                                id="btnAdd-{{ comment.comment_id }}"
                                                                                onclick="addReply({{ comment.comment_id }},'{% url "activity_comment_register" %}', {{ board.board_no }})"
                                                                                class="btnAdd comment-btn m-r20"><i
                                                                                class="fa fa-commenting m-r5"></i>답글쓰기
                                                                        </button>
                                                                    {% endif %}
                                                                    <!-- 댓글삭제 버튼 -->
                                                                    <!-- id="comment-delete-{{ comment.comment_id }}" -->
                                                                    {% if request.session.user_stu == comment.comment_writer.user_stu or request.session.user_role <= 3 %}
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="comment_id"
                                                                               value="{{ comment.comment_id }}"/>
                                                                        <input type="hidden" name="board_no"
                                                                               value="{{ board.board_no }}"/>
                                                                        <button type="button"
                                                                                onclick="comment_del({{ comment.comment_id }})"
                                                                                class="comment-btn m-r10"><i
                                                                                class="fa fa-trash m-r5"></i>
                                                                            댓글 삭제
                                                                        </button>
                                                                    {% endif %}
                                                                    <!-- 덧글 삭제 폼 -->

                                                                    {% if request.session.user_stu == comment.comment_writer.user_stu %}

                                                                        <!-- 댓글수정 버튼 -->
                                                                        <button onclick="comment_update({{ comment.comment_id }})"
                                                                                id="correctingBtn-{{ comment.comment_id }}"
                                                                                type="button"
                                                                                class="comment-btn m-r10"><i
                                                                                class="fa fa-pencil m-r5"></i>댓글 수정
                                                                        </button>
                                                                    {% endif %}
                                                                </form>
                                                            </div>
                                                            <!-- for 문 들어갈 자리 (대댓글)-->
                                                            {% for comment_ref in comment.comment_set.all %}
                                                                <div class="dlab-divider bg-gray-dark"></div>
                                                                <div style="margin-left: 20px;">
                                                                    <!-- 댓글 작성자 프로필자신 및 이름을 담는 div -->
                                                                    <div class="comment-author vcard"><cite
                                                                            class="fn"><img
                                                                            src="/media/{{ comment_ref.comment_writer.user_pic }}"
                                                                            width="35"
                                                                            height="35" class="comment-profile-size"
                                                                            alt="현재 브라우저에서 지원하지 않는 형식입니다.">{{ comment_ref.comment_writer.user_name }}
                                                                    </cite>
                                                                    </div>
                                                                    <div class="dlab-post-meta m-l10">
                                                                        <ul class="d-flex">
                                                                            <!-- 댓글 작성자 학과 및 학번 -->
                                                                            <li class="post-author"><a
                                                                                    href="javascript:void(0);">{{ comment_ref.comment_writer.user_major.major_name }}
                                                                                {{ comment_ref.comment_writer.user_stu|stringformat:"s"|slice:"2:4" }}학번</a>
                                                                            </li>
                                                                            <!-- 댓글 작성 시간 -->
                                                                            <li class="post-comment"><i
                                                                                    class="ti ti-alarm-clock"></i>
                                                                                <a href="javascript:void(0);">{{ comment_ref.comment_created }}</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <!-- DB에서 가져온 댓글정보 -->
                                                                    <form id="form-comment-update-{{ comment_ref.comment_id }}"
                                                                          action="{% url 'activity_comment_update' %}"
                                                                          method="post">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="comment_id"
                                                                               value="{{ comment_ref.comment_id }}">
                                                                        <input type="hidden" name="board_no"
                                                                               value="{{ board.board_no }}"/>
                                                                        <input type="text" disabled="disabled"
                                                                               style="width: 706px"
                                                                               class="comments-area"
                                                                               name="comment_cont"
                                                                               id="correcting-no-{{ comment_ref.comment_id }}"
                                                                               value="{{ comment_ref.comment_cont }}">
                                                                    </form>
                                                                    <div id="comment_no_{{ comment_ref.comment_id }}"
                                                                         class="reply-btn-div">
                                                                        <form id="form-comment-delete-{{ comment_ref.comment_id }}"
                                                                              action="{% url 'activity_comment_delete' %}"
                                                                              method="post">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="comment_id"
                                                                                   value="{{ comment_ref.comment_id }}"/>
                                                                            <input type="hidden" name="board_no"
                                                                                   value="{{ board.board_no }}"/>
                                                                            {% if request.session.user_role <= 3 or request.session.user_stu == comment_ref.comment_writer.user_stu %}
                                                                                <button type="button"
                                                                                        onclick="comment_del({{ comment_ref.comment_id }})"
                                                                                        id="btn-del-{{ comment_ref.comment_id }}"
                                                                                        class="comment-btn m-r10"><i
                                                                                        class="fa fa-trash m-r5"></i>
                                                                                    댓글 삭제
                                                                                </button>
                                                                            {% endif %}
                                                                            {% if request.session.user_stu == comment_ref.comment_writer.user_stu %}
                                                                                <button type="button"
                                                                                        id="correctingBtn-{{ comment_ref.comment_id }}"
                                                                                        class="comment-btn m-r10"
                                                                                        onclick="comment_update({{ comment_ref.comment_id }})">
                                                                                    <i class="fa fa-pencil m-r5"></i>댓글
                                                                                    수정
                                                                                </button>
                                                                            {% endif %}
                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                            <!-- 작성된 댓글과 댓글입력 부분을 나누는 구분선 -->
                                            {% if request.session.user_stu is not None %}
                                                <div class="dlab-divider bg-gray-dark"></div>
                                                <!--========================= 댓글 입력 form 태그 =========================-->

                                                <div class="" id="respond">
                                                    <form class="comment-form" id="commentform" method="post"
                                                          action="{% url 'activity_comment_register' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="board_no"
                                                               value="{{ board.board_no }}"/>
                                                        <!-- 댓글입력창 -->

                                                        <p class="comment-form-comment">
                                                            <label for="comment">Comments</label>
                                                            <textarea rows="8" name="comment_cont"
                                                                      placeholder="댓글을 남겨보세요!"
                                                                      id="comment"></textarea>
                                                        </p>
                                                        <!-- 댓글작성 버튼 -->
                                                        <p class="form-submit" style="text-align: right">
                                                            <input type="submit" value="댓글등록"
                                                                   class="submit site-button" id="submit" name="submit">
                                                        </p>

                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>

{% endblock %}
