{% extends "base.html" %}
{% load static %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}"/>
        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'plugins/editor/jquery-te-1.4.0.css' %}"
        />

        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'plugins/drop/imageuploadify.min.css' %}"
        />
        <link rel="stylesheet" href="{% static 'plugins/tag-editor/jquery.tag-editor.css' %}"/>

    </head>

        <body>
        <div class="page-wraper">
        <div class="page-content bg-white">
        <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
           <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
             style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
            <!--상단 제목부분을 누르면 해당 게시판 목록으로 이동-->
            <a href="{% url 'test_activity' %}">
                <div class="container clearfix">
                <div class="dlab-bnr-inr-entry">
                    <!--제목-->
                    <h1 class="text-white introduce-letter-spacing_5">동아리 활동</h1>
                    <!--부제목-->
                    <p class="introduce-margin-top_20">동아리 수상 및 활동 내역에 대한 게시판입니다.</p>
                </div>
            </div>
            </a>
        </div>
        <!--===============================================입력란=========================================================-->
        <form action="{% url 'test_activity_register' %}" class="add-listing-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="content-block">
			<div class="section-full content-inner bg-white">
				<div class="container">
					<form class="add-listing-form">
                        <!--=====================-->
                        <div class="content-box editor">
                            <!--글쓰기-->
                            <div class="content-header">
                                <h3 class="title">게시글 작성</h3>
                            </div>
                            <div class="content-body">
                                <!--제목 입력란-->
                                <div class="form-group">
                                    <label>제목</label>
                                    <input type="text" name="activity_title" class="form-control" placeholder="제목을 입력하세요" style="font-size: 25px; height: 70px;">
                                </div>
                                <!--이미지 업로드란-->
                                <div class="form-group">
										<label>파일 업로드</label>
										<input type="file" name="activity_file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
									</div>
                                <!--내용입력란-->
                                <div class="form-group ">
                                    <label>본문</label>
                                    <textarea name="activity_cont" type="text" class="jqte-test"></textarea>
                                </div>
                            </div>
                        </div>

                        <!--=====================-->
                        <!--등록하기 버튼, 누르면 게시글 상세보기로-->
                        <!--최초 글작성 시 나오는 버튼-->
                        <div style="display: grid; justify-items: center">
                        <button class="site-button btn-block button-md" type="submit" href="#" style="width: 30%">등록하기</button>
                        <!--게시글 수정 시 나오는 버튼-->
                        <button class="site-button btn-block button-md" href="#" style="width: 30%">수정하기</button>
                        </div>
                    </form>

					<!-- Pagination END -->
                </div>
            </div>
        </div>
        </form>
        </div>
        </div>
        <!--========================================================================================================-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            {#파일명 뜨게해주는 코드#}
            $("#file").on('change',function(){
            var fileName = $("#file").val();
            $(".upload-name").val(fileName);
            });
        </script>

{#        <script type="text/javascript">#}
{#            var oEditors = [];#}
{#            nhn.husky.EZCreator.createInIFrame({#}
{#                oAppRef: oEditors,#}
{#                elPlaceHolder: "ir1",#}
{#                sSkinURI: "{% static 'NaverSmartEditor/SmartEditor2Skin.html'%}",#}
{#                fCreator: "createSEditor2"#}
{#            });#}
{#        </script>#}
        </body>
    </div>
    </html>

{% endblock %}