{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/seungyeon.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btnAdd').click(function () { // input 클래스 btnAdd를 클릭하면
                $('#comment_no_1').append( // div 클래스 인풋태그 뒤에 삽입
                    '<div class="btnRemove">' +
                    '<div class=" dlab-divider bg-gray-dark"></div>' +
                    '<div class="" id="respond"> ' +
                    '<form class="comment-form" id="commentform" method="post" action="#"> ' +
                    '<p class="comment-form-comment"> ' +
                    '<label for="comment">Comments</label> ' +
                    '<textarea rows="8" name="comment" placeholder="답글을 입력하세요!" id="comment"></textarea> ' +
                    '</p> ' +
                    '<p class="form-submit"> ' +
                    '<div class="extra-cell text-right"> ' +
                    '<button id="comment-delete" type="button" class="site-button red radius-xl m-l10"><i class="fa fa-trash m-r5"></i>작성취소</button>' +
                    '<a href="#" class="site-button radius-xl m-l10 m-r15">답글작성</a>' +
                    '</div>' +
                    '</p> ' +
                    '</form> ' +
                    '</div>' +
                    '</div>'
                ); // end append
                $(this).hide('fast');
                $('#comment-delete').on('click', function () {
                    $('div').remove('.btnRemove'); // remove the button
                    $(".btnAdd").show();
                });
            });
            $("input.autosize").on('keydown keyup', function () {
                $(this).height(1).height($(this).prop('scrollHeight') + 12);
            });// end click
            $('#re-comment').click(function () {
                $("#comment_no_2").attr("disabled", false);
                $('.btnAdd').hide('fast')
                $('input#comment_no_2').addClass('happy');
                var len = $('#comment_no_2').val().length;
                $('#comment_no_2').focus();
                $('#comment_no_2')[0].setSelectionRange(len, len);
            });

        }); // end ready
    </script>

    <div class="page-wraper">

        <div class="page-content bg-white">
            <div class="page-content bg-white">
                <!----------============= 상단 제목 시작 ================----------->
                <!--제목을 감싸는 배경-->
                <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                     style=" background-image: url('{% static 'images/board_name_img.jpg' %}'); height: 350px">
                    <div class="container clearfix">
                        <div class="dlab-bnr-inr-entry">
                            <!--제목-->
                            <h1 class="text-white introduce-letter-spacing_5">동아리 활동</h1>
                            <!--부제목-->
                            <p class="introduce-margin-top_20">동아리 수상 및 활동 내역에 대한 게시판입니다.</p>
                        </div>
                    </div>
                </div>
                <!----------============= 본문 시작 ================----------->
                <div class="section-full content-inner">
                    <div class="container">
                        <div class="row" style="justify-content: center">
                            <div class="col-lg-8 col-xl-8 p-b30">
                                <div class="blog-post blog-single">
                                    <!-- 게시글 작성자 및 작성시간을 담는 div -->
                                    <div class="dlab-post-meta m-b20">
                                        <ul class="d-flex align-items-center">
                                            <!-- 게시글 작성자 -->
                                            <li class="post-author"><i class="ti ti-user"></i>By <a
                                                    href="javascript:void(0);">Hubla
                                                Dobby</a></li>
                                            <!-- 게시글 작성시간 -->
                                            <li class="post-comment"><i class="ti ti-alarm-clock"></i> <a
                                                    href="javascript:void(0);">19 hours ago</a></li>
                                        </ul>
                                    </div>
                                    <!-- 게시글 제목 -->
                                    <div class="dlab-post-title ">
                                        <h2 class="post-title m-t0">
                                            <a href="javascript:void(0);">With our vastly improved notifications system,
                                                users
                                                have more control on your mind.</a>
                                        </h2>
                                    </div>
                                    <!--============================== 게시글 본문 시작 ==============================-->
                                    <div class="dlab-post-text">
                                        <!-- 본문 입력 내용 -->

                                        <p class="font-weight-400">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed
                                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo amet
                                            set for your cool happiness for lyour loyal city.</p>

                                        <p class="font-weight-300">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed
                                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum
                                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                            proident,
                                            sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                                            perspiciatis
                                            unde omnis iste natus error sit voluptatem accusantium doloremque
                                            laudantium, totam
                                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                            beatae
                                            vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                            aspernatur
                                            aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                            voluptatem
                                            sequi nesciunt. Neque porro quisquam est.</p>
                                        <!-- 게시글 속 사진 모음 -->
                                        <div class="widget widget_gallery gallery-grid-4 lightgallery">
                                            <ul>
                                                <li>
													<span data-exthumbimage="/static/images/listing/grid/pic1.jpg"
                                                          data-src="/static/images/listing/grid/pic1.jpg"
                                                          class="check-km " title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum act-detail-img-size"><img
                                                                    style="height: 190px"
                                                                    src="/static/images/listing/grid/pic1.jpg"
                                                                    alt=""></div>
														</a>
													</span>
                                                </li>
                                                <li>
													<span data-exthumbimage="/static/images/blog/default/thum1.jpg"
                                                          data-src="/static/images/blog/default/thum1.jpg"
                                                          class="check-km act-detail-img-siz"
                                                          title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum"><img
                                                                    style="height: 190px"
                                                                    src="/static/images/blog/default/thum1.jpg"
                                                                    alt=""></div>
														</a>
													</span>
                                                </li>
                                                <li>
													<span data-exthumbimage="/static/images/blog/default/thum1.jpg"
                                                          data-src="/static/images/blog/default/thum1.jpg"
                                                          class="check-km act-detail-img-siz"
                                                          title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum"><img
                                                                    style="height: 190px"
                                                                    src="/static/images/blog/default/thum1.jpg"
                                                                    alt=""></div>
														</a>
													</span>
                                                </li>
                                                <li>
													<span data-exthumbimage="/static/images/blog/default/thum1.jpg"
                                                          data-src="/static/images/blog/default/thum1.jpg"
                                                          class="check-km act-detail-img-siz"
                                                          title="Light Gallery Grid 1">
														<a href="javascript:void(0);">
															<div class="dlab-post-thum "><img
                                                                    style="height: 190px"
                                                                    src="/static/images/blog/default/thum1.jpg"
                                                                    alt=""></div>
															<div class="more-images">
																<div>
																	<strong>6</strong>
																	<span>Images</span>
																</div>
															</div>
														</a>
													</span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <!-- 게시글 삭제 및 수정 div -->
                                    <div class="extra-cell text-right">
                                        <!-- 게시글 수정 버튼 -->

                                        <a href="{% url 'test_activity_register' %}"
                                           class="site-button radius-xl m-l10"><i
                                                class="fa fa-pencil m-r5"></i>
                                            게시글 수정</a>
                                        <!-- 게시글 삭제 버튼 -->

                                        <a href="{% url 'test_activity_register' %}"
                                           class="site-button red radius-xl m-l10"><i
                                                class="fa fa-trash m-r5"></i>
                                            게시글 삭제</a>
                                    </div>
                                    <!-- 게시글과 댓글을 구분짓는 구분선 -->
                                    <div class="dlab-divider bg-gray-dark"></div>
                                </div>
                                <div class="clear" id="comment-list">
                                    <div class="comments-area" id="comments">
                                        <h3 class="font-26">댓글
                                        </h3>
                                        <div class="clearfix">
                                            <!-- comment list END -->
                                            <ol class="comment-list">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard"><cite class="fn"><img
                                                                src="{{ request.session.user_pic }}" width="35"
                                                                height="35" class="comment-profile-size"
                                                                alt="현재 브라우저에서 지원하지 않는 형식입니다.">양태영</cite></div>
                                                        <div class="dlab-post-meta m-l10">
                                                            <ul class="d-flex">
                                                                <!-- 게시글 작성일자 -->
                                                                <li class="post-author"><a
                                                                        href="javascript:void(0);">경영학과 16학번</a></li>
                                                                <!-- 게시글 작성시간 -->
                                                                <li class="post-comment"><i
                                                                        class="ti ti-alarm-clock"></i> <a
                                                                        href="javascript:void(0);">19 hours ago</a></li>
                                                            </ul>
                                                        </div>
                                                        <input type="text" disabled="disabled" style="width: 706px"
                                                               class="comments-area" id="comment_no_2"
                                                               value="호호아줌마 아나 존나 힘드네 시바라아아ㅏㅇ앙">
                                                        <div id="comment_no_1" class="reply-btn-div">
                                                            <button type="button" class="btnAdd comment-btn m-r20"><i
                                                                    class="fa fa-commenting m-r5"></i>답글쓰기
                                                            </button>
                                                            <button type="button" class="comment-btn m-r10"><i
                                                                    class="fa fa-trash m-r5"></i>
                                                                댓글 삭제</button>
                                                            <button id="re-comment" class="comment-btn m-r10"><i
                                                                    class="fa fa-pencil m-r5"></i>댓글 수정
                                                            </button>

                                                        </div>

                                                    </div>
                                                </li>
                                                <!-- 오류 참고용... -->
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard"><cite class="fn"><img
                                                                src="{{ request.session.user_pic }}" width="35"
                                                                height="35" class="comment-profile-size"
                                                                alt="현재 브라우저에서 지원하지 않는 형식입니다.">신승연</cite></div>

                                                        <div class="dlab-post-meta m-l10">
                                                            <ul class="d-flex">
                                                                <!-- 게시글 작성일자 -->
                                                                <li class="post-author"><a
                                                                        href="javascript:void(0);">경영학과 17학번</a></li>
                                                                <!-- 게시글 작성시간 -->
                                                                <li class="post-comment"><i
                                                                        class="ti ti-alarm-clock"></i> <a
                                                                        href="javascript:void(0);">19 hours ago</a></li>
                                                            </ul>
                                                        </div>
                                                        <input type="text" disabled="disabled" style="width: 706px"
                                                               class="comments-area" id="comment_no_2"
                                                               value="댓글 구현하기 정말 잣같구만,,,, 시부렐">
                                                        <div class="reply-btn-div">
                                                            <a href="#"
                                                               class="m-r20"><i
                                                                    class="fa fa-commenting m-r5"></i>답글쓰기</a>
                                                            <button id="" class="comment-btn m-r10"><i
                                                                    class="fa fa-pencil m-r5"></i>댓글 수정
                                                            </button>
                                                            <a href="#"
                                                               class="m-r10"><i
                                                                    class="fa fa-trash m-r5"></i>
                                                                게시글 삭제</a>
                                                        </div>
                                                        <div class="dlab-divider bg-gray-dark"></div>
                                                    </div>
                                                </li>
                                            </ol>
                                            <!-- comment list END -->
                                            <!-- Form -->
                                            <div class="dlab-divider bg-gray-dark"></div>
                                            <div class="" id="respond">
                                                <form class="comment-form" id="commentform" method="post" action="#">
                                                    <p class="comment-form-comment">
                                                        <label for="comment">Comments</label>
                                                        <textarea rows="8" name="comment"
                                                                  placeholder="댓글을 남겨보세요!"
                                                                  id="comment"></textarea>
                                                    </p>


                                                    <p class="form-submit">
                                                        <input type="submit" value="댓글등록"
                                                               class="submit site-button" id="submit" name="submit">
                                                    </p>
                                                </form>
                                            </div>
                                            <!-- Form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 상단으로 올라가는 버튼 -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>

{% endblock %}
