{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta name="description" content="인하대학교 빅데이터 학회 IBAS 공식 홈페이지입니다."/>
    <meta property="og:title" content="IBAS"/>
    <meta property="og:description" content="인하대학교 빅데이터 학회 IBAS 공식 홈페이지입니다."/>
    <meta property="og:image" content="{% static 'images/logo_puple.png' %}"/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/IBAS_favicon.png' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/IBAS_favicon.png' %}"/>

    <!-- PAGE TITLE HERE -->
    <title>IBAS</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.min.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <!-- JQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templete.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/editor/jquery-te-1.4.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/drop/imageuploadify.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/tag-editor/jquery.tag-editor.css' %}">

    <!--직접 만든거-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/top-bottom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">

    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}")</script>
        {% endfor %}
    {% endif %}


</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
    <!--임시로 넣어둠, 상단바 이후에 블럭처리해서 바꿀예정-->
    <!--====================메뉴바 시작====================-->
    <!-- header -->
    <header class="site-header header-transparent mo-left">
        <!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- ====ibas 로고 들어가는 곳==== -->
                    <div class="logo-header mostion">
                        <!--드래그 안했을 때 나오는 로고/href 메이페이지 링크 연결해줘야 함-->
                        <a href="{% url 'index' %}" class="logo-1">
                            <img src="{% static 'images/logo_white.png' %}" style="margin-top: 4px; margin-bottom: 4px">
                        </a>
                        <!--밑으로 드래그 했을 때 나오는 로고/href 메이페이지 링크 연결해줘야 함-->
                        <a href="{% url 'index' %}" class="logo-2">
                            <img src="{% static 'images/logo_puple.png' %}" style="margin-top: 4px; margin-bottom: 4px">
                        </a>
                    </div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                            data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <!--====================메뉴, 회원정보에 따른 버튼 시작====================-->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">
                            <!--====================IBAS 상위메뉴로 가지고 있는 메뉴====================-->
                            <li class="down active" style="margin-top: 6px"><a href="#">IBAS <i
                                    class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <!-- 동아리 소개를 누를 경우 url로 넘어간다. -->
                                    <li><a href="{% url 'introduce' %}">동아리 소개</a></li>
                                    <!-- 동아리 활동를 누를 경우 url로 넘어간다. -->
                                    <li><a href="{% url 'activity' %}">동아리 활동</a></li>

                                    {# 밑에 있는 회계내역, 예산지원 신청은 회원들만 신청을 할 수 있음. #}
                                    {% if is_logined %}
                                        <li><a href="{% url 'bank_list' %}">회계내역</a></li>
                                        {% if logined_user.user_role.role_no == 4 %}
                                            <li><a href="{% url 'bank_lecture_summary' %}">강의 회계 요약</a></li>
                                        {% endif %}
                                        {% if logined_user.user_role.role_no != 5 %}
                                            <li><a href="{% url 'bank_support_board' %}">예산지원신청</a></li>
                                        {% endif %}
                                    {% endif %}

                                    <!-- 명예의 전달 누를 경우 url로 넘어간다. -->
                                    <li><a href="{% url 'hall_of_fame' %}">명예의 전당</a></li>
                                </ul>
                            </li>
                            <!--====================게시판을 상위메뉴로 가지고 있는 메뉴====================-->
                            <li class="down active" style="margin-top: 6px">
                                <a>게시판<i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'board_view' board_type_no=1 %}">공지사항</a></li>
                                    <li><a href="{% url 'board_view' board_type_no=2 %}">자유게시판</a></li>
                                    <li><a href="{% url 'board_view' board_type_no=3 %}">질문게시판</a></li>
                                    <li><a href="{% url 'contest_list' %}">공모전게시판</a></li>
                                    {% if logined_user.user_role.role_no <= 4 %}
                                        <li><a href="{% url 'board_view' board_type_no=8 %}">회장단 게시판</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'board_view' board_type_no=9 %}">건의사항</a></li>
                                </ul>
                            </li>
                            <!--====================강의실을 상위메뉴로 가지고 있는 메뉴====================-->
                            <li class="down active" style="margin-top: 6px"><a>강의실
                                <i
                                        class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'lect_view' type_no=1 %}">강의</a></li>
                                    <li><a href="{% url 'lect_view' type_no=2 %}">스터디</a></li>
                                    {% if is_superuser %}
                                        <li><a href="{% url 'lect_view' type_no=4 %}">대기 중인 강의 관리</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <!--====================테스터를 상위메뉴로 가지고 있는 메뉴====================-->
                            <li class="down active" style="margin-top: 6px">
                                <a>
                                    프로젝트<i class="fa fa-chevron-down"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'board_view' board_type_no=6 %}">알파 테스터</a></li>
                                    <li><a href="{% url 'board_view' board_type_no=7 %}">베타 테스터</a></li>
                                </ul>
                            </li>
                            <!--====================취미모임 메뉴====================-->
                            <li class="active" style="padding-top: 7px"><a
                                    href="{% url 'lect_view' type_no=3 %}">취미모임</a>
                            </li>

                            <!--====================로그인 여부에 따라 다르게 보이는 곳====================-->
                            <!--====================로그인했을 때====================-->
                            {% if is_logined %}
                                <!--======로그아웃 버튼======-->
                                <li class="active" onclick="printConfirm('정말 로그아웃 하시겠습니까?', '{% url "logout" %}')"
                                    style="padding-top: 7px; padding-right: 10px">
                                    <!--아래 href에 로그아웃하는 거 들어가야 함-->
                                    <a href="#" style="padding: 19px 0px 0px 15px">Log Out</a>
                                    <a class="ti-export dis-none-media" style="padding:15px 0px 14px 4px; transform: rotate(90deg)"></a>
                                </li>
                                <!--======회원정보 뜨는 곳======-->
                                <li class="active dis-none-media">
                                    <!--아래 href에 마이페이지 링크 들어가야 함-->
                                    <a href="{% url 'my_info' %}" style="padding-right: 7px;">
                                        <!--==승인되지 않았을 때==-->
                                        {% if logined_user.user_auth.auth_no == 3 %}
                                            <img src="/media/{{ logined_user.user_pic }}" width="35px" height="35px"
                                                 style=" border: 2px solid #ff3d3d; border-radius: 17.5px; margin-right: 3px; max-height: 35px; max-width: 35px; min-height: 35px; min-width: 35px"
                                                 alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                            {{ logined_user.user_name }}님
                                            <ul class="sub-menu" style="text-align: center; width: 300px">
                                                <a>아직 가입이 승인되지 않았습니다.<br/> 모든 기능이 제한됩니다.</a>
                                            </ul>
                                            <!--==승인되었을 때==-->
                                        {% elif logined_user.user_auth.auth_no == 2 %}
                                            <img src="/media/{{ logined_user.user_pic }}" width="35" height="35"
                                                 style=" border: 2px solid #ffbf00; border-radius: 17.5px; margin-right: 3px; max-height: 35px; max-width: 35px; min-height: 35px; min-width: 35px"
                                                 alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                            {{ logined_user.user_name }}님
                                            <ul class="sub-menu" style="text-align: center; width: 300px">
                                                <a>회비를 납부하지 않은 상태입니다.<br/> 대부분의 기능이 제한됩니다. </a>
                                            </ul>
                                        {% else %}
                                            <img src="/media/{{ logined_user.user_pic }}" width="35" height="35"
                                                 style=" border: 2px solid #3cff44; border-radius: 17.5px; margin-right: 3px; max-height: 35px; max-width: 35px; min-height: 35px; min-width: 35px"
                                                 class="bg-white"
                                                 alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                            {{ logined_user.user_name }}님
                                            <ul class="sub-menu" style="text-align: center; width: 300px">
                                                <a>계정이 활성화 되어 있습니다.</a>
                                            </ul>
                                        {% endif %}
                                    </a>
                                </li>
                                <!--=====알림 뜨는 부분======-->
                                <li class="active dropdown dropdown-btn dis-none-media" style="padding:4px; margin-left: -13px">
                                    <a class="fa fa-bell" style="padding-top: 22px"
                                       class="site-button dropdown-toggle" id="dropdownMenuButton"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!--이거는 노란색 동그라미인데, 알림이 없으면 뜨지 않고, 알림이 있으면 뜨게해야 함-->
                                        {% if alarm_len != 0 %}
                                            <div style="height: 6px; width: 6px; background-color: #e8af00; border-radius: 3px; margin: -18px 0px 0px 12px; position: relative; z-index: 2"></div>
                                        {% endif %}
                                    </a>
                                    <!--===종 버튼 누르면 아래가 뜸===-->
                                    <!--===알림 가져오기===-->
                                    <div class="dropdown-menu alt-tran" aria-labelledby="dropdownMenuButton"
                                         style="right: 20%; width: auto; border-radius: 0px; max-height: 300px; overflow: auto">
                                        {% if alarm_list|length == 0 %}
                                            <a class="dropdown-item site-button-link" href="#"
                                               style="text-align: center">
                                                <span>표시할 알람이 없습니다</span></a>
                                        {% endif %}
                                        {% for alarm in alarm_list %}
                                            <a class="dropdown-item site-button-link"
                                               href="{% url 'alarm_check' alarm_no=alarm.alarm_no %}">
                                                <span {% if alarm.alarm_ischecked == 1 %}
                                                    style="color: #848484; text-align: center" {% endif %}>{{ alarm.alarm_cont }}</span></a>
                                        {% endfor %}
                                    </div>
                                </li>
                                <!--====================로그인 하지 않았을 때====================-->
                            {% else %}
                                {# 현재 로그인 된 상황이 아니므로 로그인과 sign up이 나와야 한다. #}
                                <li class="active" style="padding-top: 5px;">
                                    <a href="{% url 'login' %}" style="padding: 19px 0px 0px 15px">Log In</a>
                                    <a href="{% url 'login' %}" class="ti-import rotate90 dis-none-media" style="padding:11px 2px 14px 3px;"></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!--====================메뉴바, 회원정보에 따른 버튼 끝====================-->
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!--====================메뉴바 끝====================-->
</div>

{% block content %}
{% endblock %}

<!-- Footer 하단바 시작 -->
<footer class="footer-media">
    <!-- content 담는 부분이 footer-top -->
    <!-- footer-top에 대한 정의는 bottom_bar.css에 정의되어 있음. (height 관련) -->
    <div class="ibas-footer-top media-footer-bg"
         style="background-image: url({% static 'images/botton_bar.jpg' %}); background-size: cover;">
        <!-- content 시작 -->
        <!-- cont-grid에 대한 정의는 bottom_bar.css에 정의되어 있음. (grid 관련) -->
        <div class="cont-grid media-ft-flex">
            <!-- 로고 div 시작 -->
            <!-- logo-center에 대한 정의는 bottom_bar.css에 정의되어 있음. (grid 관련) -->
            <div class="logo-center media-tb-mg30 media-logo">
                <!-- 여기 부분이 이미지임   -->
                <!-- width_300에 대한 정의는 bottom_bar.css에 정의되어 있음. (width 관련) -->
                <img src="{% static 'images/logo_white.png' %} " class="m-b15" alt="" style="width: 350px">
            </div>
            <div class="media-line-ft dis-none"></div>
            <!-- 로고 div 끝 -->
            <!-- contact us div 시작 -->
            <!-- margin-left_70에 대한 정의는 bottom_bar.css에 정의되어 있음. (margin 관련) -->
            <div class="m-t10 media-tb-mg30 media-r-mg0 cont-w">
                <h5 class="mb-2 text-white">Contact us</h5>
                <!-- contact us table 시작 -->
                <!-- padding_0에 대한 정의는 bottom_bar.css에 정의되어 있음. (padding 관련) -->
                <table class="p-0">
                    <tr>
                        <!-- td-size_small에 대한 정의는 bottom_bar.css에 정의되어 있음. (size 관련) -->
                        <td class="td-size_small"><i class="fa fa-user"></i></td>
                        <!-- td-size_big에 대한 정의는 bottom_bar.css에 정의되어 있음. (size 관련) -->
                        <td class="td-size_big">{{ chief.user_name }} (회장)</td>
                    </tr>
                    <tr>
                        <td class="td-size_small"><i class="ti-location-pin"></i></td>
                        <td class="td-size_big">인하대학교 22212 인천광역시 미추홀구 인하로 100</td>
                    </tr>
                    <tr>
                        <td class="td-size_small"><i class="ti-mobile"></i></td>
                        <td class="td-size_big">{{ chief.user_phone }}</td>
                    </tr>
                    <tr>
                        <td class="td-size_small"><i class="ti-email"></i></td>
                        <td class="td-size_big">{{ chief.useremail_set.first.user_email }}</td>
                    </tr>
                </table>

            </div>
            <div class="media-line-ft dis-none"></div>
            <!-- contact us div 끝 -->
            <!-- 인하대 로고 div 시작 -->
            <!-- logo-center에 대한 정의는 bottom_bar.css에 정의되어 있음. (grid 관련) -->
            <div class="logo-center media-tb-mg30 media-logo">
                <!-- 여기 부분이 이미지임 -->
                <a href="https://www.inha.ac.kr">
                    <!-- width_300에 대한 정의는 bottom_bar.css에 정의되어 있음. (width 관련) -->
                    <img src="{% static 'images/inha_en_logo.png' %} " class="m-b15 p-r50 media-r-mg0 media-pr-0" alt=""
                         style="width: 450px;">
                </a>
            </div>
            <!-- 인하대 로고 div 끝 -->

        </div>
    </div>
    <div class="footer-bottom text-center mx-auto text-white dis-none-media" style="padding-bottom: 0px">
        <a class="font-12" href="{% url 'rulebook' type_no=1 %}">제 3자 개인정보 이용·수집제공 약관</a>&nbsp;
        <a class="font-12 m-l5 m-r5">·</a>&nbsp;
        <a class="font-12" href="{% url 'rulebook' type_no=2 %}">동아리 회칙</a>&nbsp;
        <a class="font-12 m-l5 m-r5">·</a>&nbsp;
        <a class="font-12" href="{% url 'rulebook' type_no=3 %}">웹사이트 운영정책</a>
    </div>
    <!-- copyright 부분 시작 -->
    <!-- footer-bottom, min-width_1400에 대한 정의는 bottom_bar.css에 정의되어 있음. (flex 관련)(min-with 관련) -->
    <div class="footer-bottom media-dvl-name" style="min-width: 100%">
        <!-- design-with에 대한 정의는 bottom_bar.css에 정의되어 있음. (font, margin 관련) -->
        <p class="fbottom-like design-with">© 2021 Developed By
            <a class="like-btn" href="javascript:void(0)">
            </a>
            양태영, 신승연, 김채림, 윤예진, 유동현
        </p>
    </div>
</footer>
<!-- Footer END-->
<button class="scroltop fa fa-chevron-up"></button>
</div>

<!-- 직접 만든 js-->
<script src="{% static 'js/login-join.js' %}"></script>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script><!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS  -->



<script src="{% static 'plugins/drop/imageuploadify.min.js' %}"></script><!-- CONTACT JS  -->
<script src="{% static 'plugins/lightgallery/js/lightgallery-all.min.js' %}"></script><!-- Lightgallery -->
<script>
    $(function (){
        $("body").prepend('<div id="overlay" class="ui-widget-overlay" style="z-index: 1001; display: none;"></div>');
        $("body").prepend("<div id='PleaseWait' style='display: none;'><img src= 'https://inhabas.com/static/images/loading.svg'</div>");
    })
</script>

</body>
</html>
