{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta name="description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:title" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE -->
    <title>bottom_bar</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.min.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/template_1.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">

    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/bottom_bar.css' %}">


</head>
<body id="bg">


    <!-- Footer 하단바 시작 -->
    <footer>
        <!-- content 담는 부분이 footer-top -->
        <!-- footer-top에 대한 정의는 bottom_bar.css에 정의되어 있음. (height 관련) -->
        <div class="footer-top">
            <!-- content 시작 -->
            <!-- cont-grid에 대한 정의는 bottom_bar.css에 정의되어 있음. (grid 관련) -->
            <div class="cont-grid">
                <!-- 로고 div 시작 -->
                <!-- logo-center에 대한 정의는 bottom_bar.css에 정의되어 있음. (grid 관련) -->
                <div class="logo-center">
                    <!-- 여기 부분이 이미지임   -->
                    <!-- width_300에 대한 정의는 bottom_bar.css에 정의되어 있음. (width 관련) -->
                    <img src="{% static 'images/logo_white.png' %} " class="m-b15 width_300" alt="">
                </div>
                <!-- 로고 div 끝 -->
                <!-- contact us div 시작 -->
                <!-- margin-left_70에 대한 정의는 bottom_bar.css에 정의되어 있음. (margin 관련) -->
                <div class="margin-left_70">
                    <h5 class="mb-2 text-white">Contact us</h5>
                    <!-- contact us table 시작 -->
                    <!-- padding_0에 대한 정의는 bottom_bar.css에 정의되어 있음. (padding 관련) -->
                    <table class="padding_0">
                        <tr>
                            <!-- td-size_small에 대한 정의는 bottom_bar.css에 정의되어 있음. (size 관련) -->
                            <td class="td-size_small"><i class="fa fa-user"></i></td>
                            <!-- td-size_big에 대한 정의는 bottom_bar.css에 정의되어 있음. (size 관련) -->
                            <td class="td-size_big">회장 : {{ request.session.chief_name }}</td>
                        </tr>
                        <tr>
                            <td class="td-size_small"><i class="ti-location-pin"></i></td>
                            <td class="td-size_big">인하대학교 22212 인천광역시 미추홀구 인하로 100</td>
                        </tr>
                        <tr>
                            <td class="td-size_small"><i class="ti-mobile"></i></td>
                            <td class="td-size_big">{{ request.session.chief_phone }}100</td>
                        </tr>
                        <tr>
                            <td class="td-size_small"><i class="ti-email"></i></td>
                            <td class="td-size_big">{{ request.session.chief_email }}</td>
                        </tr>
                    </table>
                </div>
                <!-- contact us div 끝 -->
                <!-- 인하대 로고 div 시작 -->
                <!-- logo-center에 대한 정의는 bottom_bar.css에 정의되어 있음. (grid 관련) -->
                <div class="logo-center">
                    <!-- 여기 부분이 이미지임 -->
                    <a href="https://www.inha.ac.kr">
                    <!-- width_300에 대한 정의는 bottom_bar.css에 정의되어 있음. (width 관련) -->
                        <img src="{% static 'images/bottomBar_logo_inha.png' %} " class="m-b15 width_300" alt="">
                    </a>
                </div>
                <!-- 인하대 로고 div 끝 -->
            </div>
        </div>
        <!-- copyright 부분 시작 -->
        <!-- footer-bottom, min-width_1400에 대한 정의는 bottom_bar.css에 정의되어 있음. (flex 관련)(min-with 관련) -->
        <div class="footer-bottom min-width_1400" >
            <!-- design-with에 대한 정의는 bottom_bar.css에 정의되어 있음. (font, margin 관련) -->
            <p class="fbottom-like design-with">© 2021 Design With <a class="like-btn"
                                                                      href="javascript:void(0)">
            </a> By 양태영, 신승연, 조용식, 김채림, 윤예진 </p>
        </div>
    </footer>
    <!-- Footer END-->


<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script><!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

</body>
</html>