{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta name="description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:title" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE -->
    <title>BizMap Directory & Listings HTML templates</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.min.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/template_1.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">

    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/bottom_bar.css' %}">


</head>
<body id="bg">

<div class="page-wraper">
    <!-- Footer -->
    <footer>
        <div class="footer-top">
            <div class="cont-grid">
                <div class="logo-center">
                    <!-- 여기 부분이 이미지임 -->
                    <img src="{% static 'images/logo_white.png' %} " class="m-b15" alt="" width="300px">
                </div>
                <div>
                    <h5 class="m-b30 text-white">Contact us</h5>
                    <table style="padding: 0">
                        <tr>
                            <td class="td-size"><i class="fa fa-user"></i></td>
                            <td><strong>회장이름: {{ request.session.chief_name }}</strong></td>
                        </tr>
                        <tr>
                            <td class="td-size"><i class="ti-location-pin"></i></td>
                            <td><strong>address</strong> 인하대학교 22212 인천광역시 미추홀구 인하로 100</td>
                        </tr>
                        <tr>
                            <td class="td-size"><i class="ti-mobile"></i></td>
                            <td class="td-size"><strong>phone</strong>{{ request.session.chief_phone }}100</td>
                        </tr>
                        <tr>
                            <td class="td-size"><i class="ti-email"></i></td>
                            <td class="td-size"><strong>email</strong>{{ request.session.chief_email }}</td>
                        </tr>
                    </table>
{#                    <ul class="no-dot cont-table">#}
{#                        <li><i class="fa fa-user"></i></li>#}
{#                        <li><strong>회장이름: {{ request.session.chief_name }}</strong></li>#}
{#                        <li><i class="ti-location-pin"></i></li>#}
{#                        <li><strong>address</strong> 인하대학교 22212 인천광역시 미추홀구 인하로 100</li>#}
{#                        <li><i class="ti-mobile"></i></li>#}
{#                        <li><strong>phone</strong>{{ request.session.chief_phone }}</li>#}
{#                        <li><i class="ti-email"></i></li>#}
{#                        <li><strong>email</strong>{{ request.session.chief_email }}</li>#}
{#                    </ul>#}
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <div>
                <div>
                    <p class="fbottom-like" style="margin: 0">© 2021 Design With <a class="like-btn"
                                                                                    href="javascript:void(0)">
                    </a> By 조용식 & 김채림 </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script><!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

</body>
</html>