{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ibas_contents.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/size.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
    <script src="{% static 'js/comment.js' %}"></script>

    <style>
        /* 여기서만 써야하는 css */
        .owl-dots-primary-full.owl-theme .owl-dots .owl-dot span, .owl-dots-primary-big.owl-theme .owl-dots .owl-dot span {
            background-color: white;
        }

    </style>

    <div class="page-wraper">

        <div class="page-content bg-white">


            <!----------============= 본문 시작 ================----------->
            <!-- Online Community -->
            <div class="section-full bg-white content-inner-2 bg-img-fix overlay-black-dark owl-out"
                 style="background-image:url('{% static 'images/board_name_img.jpg' %}');
                         {# url(images/background/bg1.jpg) #}; background-position: left bottom;">
                <div class="container">
                    <div class="section-head text-center text-white">
                        <h2 class="box-title">명예의 전당</h2>
                        <div class="dlab-separator bg-primary bg-white"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the when an printer</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row justify-content-center">
{#                                <!--졸업생 3명 이상 일 때-->#}
{#                                <div class="item m-r30">#}
{#                                    <div class="testimonial-2 testimonial-bg">#}
{#                                        <div class="testimonial-text width-360 honor-card">#}
{#                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting#}
{#                                                industry. Lorem Ipsum has been the industry's standard dummy#}
{#                                                text ever since the when an printer took a galley of type and#}
{#                                                scrambled it to make [...]</p>#}
{#                                        </div>#}
{#                                        <div class="testimonial-detail clearfix">#}
{#                                            <div class="testimonial-pic quote-left radius shadow"><img#}
{#                                                    src="{% static 'images/testimonials/pic1.jpg' %}"#}
{#                                                    width="100" height="100" alt=""></div>#}
{#                                            <strong class="testimonial-name">David Matin</strong>#}
{#                                            <p#}
{#                                                    class="testimonial-position d-inline-block"#}
{#                                                    style="color: white">소프트웨어융합공학과</p>#}
{#                                            <p class="testimonial-position d-inline-block" style="color: white">#}
{#                                                19학번</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item m-r30">#}
{#                                    <div class="testimonial-2 testimonial-bg">#}
{#                                        <div class="testimonial-text width-360 honor-card">#}
{#                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting#}
{#                                                industry. Lorem Ipsum has been the industry's standard dummy#}
{#                                                text ever since the when an printer took a galley of type and#}
{#                                                scrambled it to make [...]</p>#}
{#                                        </div>#}
{#                                        <div class="testimonial-detail clearfix">#}
{#                                            <div class="testimonial-pic quote-left radius shadow"><img#}
{#                                                    src="{% static 'images/testimonials/pic1.jpg' %}"#}
{#                                                    width="100" height="100" alt=""></div>#}
{#                                            <strong class="testimonial-name">David Matin</strong>#}
{#                                            <p#}
{#                                                    class="testimonial-position d-inline-block"#}
{#                                                    style="color: white">소프트웨어융합공학과</p>#}
{#                                            <p class="testimonial-position d-inline-block" style="color: white">#}
{#                                                19학번</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item m-r30">#}
{#                                    <div class="testimonial-2 testimonial-bg">#}
{#                                        <div class="testimonial-text width-360 honor-card">#}
{#                                            <p>Lorem Ipsum </p>#}
{#                                        </div>#}
{#                                        <div class="testimonial-detail clearfix">#}
{#                                            <div class="testimonial-pic quote-left radius shadow"><img#}
{#                                                    src="{% static 'images/testimonials/pic1.jpg' %}"#}
{#                                                    width="100" height="100" alt=""></div>#}
{#                                            <strong class="testimonial-name">David Matin</strong>#}
{#                                            <p#}
{#                                                    class="testimonial-position d-inline-block"#}
{#                                                    style="color: white">소프트웨어융합공학과</p>#}
{#                                            <p class="testimonial-position d-inline-block" style="color: white">#}
{#                                                19학번</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- 졸업생이 3명 이상일 때 끝 -->#}

                                <!-- 졸업생이 4명 이상일 떄 -->
                                <div id="owl-demo"
                                     class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 btn-white owl-dots-primary-big style-2">
                                    <div class="item">
                                        <div class="testimonial-2 testimonial-bg">
                                            <div class="testimonial-text honor-card" style="background-color: white; color: #3a3a3a">
{#                                                <p>이메일: iLovePineapplePizza@gmail.com</p>#}
                                                <p>Lorem Ipsum is sim</p>
                                            </div>
                                            <div class="testimonial-detail clearfix">
                                                <div class="testimonial-pic quote-left radius shadow"><img
                                                        src="{% static 'images/testimonials/pic1.jpg' %}"
                                                        width="100" height="100" alt=""></div>
                                                <strong class="testimonial-name">David Matin</strong>
                                                <p
                                                        class="testimonial-position d-inline-block"
                                                        style="color: white">소프트웨어융합공학과</p>
                                                <p class="testimonial-position d-inline-block" style="color: white">
                                                    19학번</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-2 testimonial-bg">
                                            <div class="testimonial-text honor-card" style="background-color: white; color: #3a3a3a">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy
                                                    text ever since the when an printer took a galley of type and
                                                    scrambled it to make [...]</p>
                                            </div>
                                            <div class="testimonial-detail clearfix">
                                                <div class="testimonial-pic quote-left radius shadow"><img
                                                        src="{% static 'images/testimonials/pic1.jpg' %}"
                                                        width="100" height="100" alt=""></div>
                                                <strong class="testimonial-name">David Matin</strong>
                                                <p
                                                        class="testimonial-position d-inline-block"
                                                        style="color: white">소프트웨어융합공학과</p>
                                                <p class="testimonial-position d-inline-block" style="color: white">
                                                    19학번</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-2 testimonial-bg">
                                            <div class="testimonial-text honor-card" style="background-color: white; color: #3a3a3a">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy
                                                    text ever since the when an printer took a galley of type and
                                                    scrambled it to make [...]</p>
                                            </div>
                                            <div class="testimonial-detail clearfix">
                                                <div class="testimonial-pic quote-left radius shadow"><img
                                                        src="{% static 'images/testimonials/pic1.jpg' %}"
                                                        width="100" height="100" alt=""></div>
                                                <strong class="testimonial-name">David Matin</strong>
                                                <p
                                                        class="testimonial-position d-inline-block"
                                                        style="color: white">소프트웨어융합공학과</p>
                                                <p class="testimonial-position d-inline-block" style="color: white">
                                                    19학번</p>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online Community End -->
    </div>
    <!-- 상단으로 올라가는 버튼 -->
    <button class="scroltop fa fa-chevron-up"></button>
    </div>

{% endblock %}
