{% extends "base.html" %}
{% load static %}
{% block content %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="page-content bg-white" style="padding-bottom: 0px">
        <!-- Section Banner -->
        <!--메인페이지에 들어갈 이미지 들어가는 자리-->
        <div class="dlab-bnr-inr height-100-vh"
             style="background-image:url({% static 'images/ibas-main-background.jpg' %});">
            <!--입부신청 바로가기 버튼-->
            <div class="container">
                <div class="dlab-bnr-inr-entry align-m dlab-home">

                    <!--=====================여기서 부터 세션 작업이 되었음=========== -->
                    <!-- 현재 로그인이 안되어있다면, 로고 및 입부신청 버튼을 눌렀을 때 창이 연결된다.-->
                    {% if not is_logined %}
                        <img class="ibas_logo" onclick="location.href = '{% url "login" %}'"
                             src="{% static 'images/ibas_main_logo.png' %}"/>
                        <div class="m-t50"><img src="{% static 'images/main-text.png' %}"/></div>
                        <div onclick="location.href = '{% url "login" %}'" class="category-bx"
                             style="margin-top: 100px; margin-bottom: 100px">
                            <a href="#" class="category" style="width: 500px;">
                                <p style=" font-weight: bolder; font-size: 20px; padding-top: 12px">입부신청</p>
                            </a>
                        </div>
                    {% else %}
                        <!--======================여기는 로그인이 된 상태(세션이 등록되어 있음)====== -->
                        <img class="ibas_logo" src="{% static 'images/ibas_main_logo.png' %}"/>
                        <div class="m-t50"><img src="{% static 'images/main-text.png' %}"/></div>
                        <div class="category-bx" style="margin-top: 100px; margin-bottom: 100px"></div>
                        <!--=================href에 아무것도 걸지 않으므로 달라진 점이 없다. ==========-->
                    {% endif %}



                </div>
            </div>


        </div>
    </div>
    <!-- Section Banner END -->
    <!--면접 기간 알려주는 알림창, 로그인안한 사람만, 해당기간에 볼 수 있도록 해야함-->
    <div class="container" style="position: fixed; right: 0px; bottom:20px; width: 400px;" id="ibas-toast" data-expired="2021-08-01 13:26">
      <div class="bg-white" data-autohide="false" style="box-shadow: 2px 2px 10px grey; border-radius: 10px;">
        <div class="toast-header">
          <strong class="mr-auto" style="color: #4015a0">IBAS 공지</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" onclick="toastpopDown()">&times;</button>
        </div>
        <div class="toast-body">
            IBAS
            <!--회장단이 설정한 기수 들어가도록-->
            3기의 3-4학년 면접일은
            <br/>
            <!--회장단이 설정한 면접 시작일 들어가도록-->
            21.01.01
             부터
            <!--회장단이 설정한 면접 종룟일 들어가도록-->
            21.02.02
             까지 입니다.
        </div>
      </div>
    </div>

    <script>
    function toastpopDown() {
        document.getElementById("ibas-toast").style.display ="none"
    }
    </script>




{% endblock %}


