{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
</head>

<body onload="login_isFailed({{ lgn_is_failed }})">
{% if request.session.user_stu is not None %}
    로그인 한 이메일: {{ request.session.user_email }}<br/>
    로그인 한 사용자 이름: {{ request.session.user_name }}<br/>
    프로필 사진: <img src="{{ request.session.user_pic }}" alt="프로필 사진 없뜸"/><br>
    <button type="button" onclick="printConfirm('정말 로그아웃 하시겠습니까?', '{% url 'logout' %}')">로그아웃</button>
{% else %}
    <a href="{% url 'login' %}">로그인 페이지로 이동</a><br/>
{% endif %}

</body>
</html>
