{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/login.html.js' %}">
        onload = function () {
            login_isFailed({{ lgn_is_failed }});
        }
    </script>
</head>

<body>
{% if request.session.user_stu is not None %}
    로그인 한 이메일: {{ request.session.user_email }}<br/>
    로그인 한 사용자 이름: {{ request.session.user_name }}<br/>
    <button type="button" onclick="printConfirm('정말 로그아웃 하시겠습니까?', '{% url 'logout' %}')">로그아웃</button>
{% else %}
    <a href="{% url 'login' %}">로그인 페이지로 이동</a><br/>
{% endif %}
</body>
</html>
