{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Content -->
    <div class="page-content bg-white" style="padding-bottom: 0px">
        <!-- Section Banner -->
        <!--메인페이지에 들어갈 이미지 들어가는 자리-->
        <div class="dlab-bnr-inr"
             style="background-image:url({% static 'images/ibas-main-background.jpg' %});">
            <!--입부신청 바로가기 버튼-->
            <div class="container">
                <div class="dlab-bnr-inr-entry align-m dlab-home">
                        <img  class="ibas_logo" onclick="location.href = '{% url "login" %}'" src="{% static 'images/ibas_main_logo.png' %}" />
                        <div class="main_text"><img src="{% static 'images/main-text.png' %}" /></div>
                         <div onclick="location.href = '{% url "login" %}'" class="category-bx" style="margin-top: 100px; margin-bottom: 150px">
						    <a href="#" class="category" style="width: 500px;">
							    <p style=" font-weight: bolder; font-size: 20px; padding-top: 12px">입부신청</p>
						    </a>
				         </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Banner END -->
{% endblock %}
