{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/yejin.css' %}">
    <script src="{% static 'js/yejin.js' %}"></script>
    <!-- ===========================페이지 전체 div================================ -->
    <div class="clearfix">
    <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
         style=" background-image: url('{% static 'images/main-name-background.jpg' %}')" ;>
        <div class="container clearfix">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white introduce-letter-spacing_5">동아리 소개</h1>
                <p class="introduce-margin-top_20">비즈니스 빅데이터 탐구 동아리 IBAS</p>
            </div>
        </div>
    </div>


    <!-- ===========================페이지 콘텐츠 전체를 감싸는 div================================ -->
    <div id="introduce" class=" bg-img-fix most-visited content-inner introduce-padding-bottom_0"
         style="background-image:url('{% static 'images/main-introduce.jpg' %}'); " ;>
        <!-- ===========================네비게이션바================================ -->
        <!--introduce-display_inline-block는 yejin.css에 정의되어 있음. -->
        <div class="sticky-top introduce-contact-flex-container introduce-display_inline-block"
             style="justify-content: start">
            <!--introduce-nav-bar는 yejin.css에 정의되어 있음. -->
            <div class="listing-filter-sidebar introduce-nav-bar">
                <h4 class="title m-b30 introduce-margin-bottom_10">IBAS</h4>
                <!-- 글자 누르면 해당하는 영역으로 이동함. id를 통해 찾아가는 것임.  -->
                <a href="#introduce" class="introduce-nav-txt menu-item" onclick="clickMenu(0)">
                    <p class="introduce-margin-bottom_5">동아리 소개</p>
                </a>
                <a href="#introduce_cm" class="introduce-nav-txt menu-item" onclick="clickMenu(1)">
                    <p class="introduce-margin-bottom_5">회장단 소개</p>
                </a>
                <a href="#history" class="introduce-nav-txt menu-item" onclick="clickMenu(2)">
                    <p class="introduce-margin-bottom_5">동아리 연혁</p>
                </a>
                <a href="#contact" class="introduce-nav-txt menu-item" onclick="clickMenu(3)">
                    <p class="introduce-margin-bottom_5">Contact Us</p>
                </a>
            </div>
        </div>


        <!-- ===========================동아리 소개================================ -->
        <!--introduce-display_inline-block, introduce-padding-top_0는 yejin.css에 정의되어 있음. -->
        <div id="introduce"
             class=" bg-img-fix most-visited content-inner introduce-contact-flex-container introduce-padding-top_0"
             style="background-image:url('{% static 'images/main-introduce.jpg' %}');">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="box-title">동아리 소개</h2>
                    <div class="dlab-separator" style="background-color: #091069"></div>
                    <p>인하대학교 빅데이터 탐구동아리 Inha BAS(Bigdata Analyst Society)입니다. Inha BAS는 빅데이터에 관심이 있는 학생들이 모여 기초부터
                        하나씩 쌓아가기위해 만든 빅데이터 탐구동아리 입니다.</p>
                </div>
                <!-- ===========================동아리 소개 안 카드부분================================ -->
                <!-- !!!!!!!!!!!!!!!!!!!! 동아리 소개 정해지면 수정해야 함 !!!!!!!!!!!!!!!!!!! -->

                <!-- ===========================동아리 소개 안 왼쪽 카드================================ -->
                <!--introduce-contact-flex-container는 yejin.css에 정의되어 있음. -->
                <div class="introduce-contact-flex-container">
                    <!--introduce-box-bg는 yejin.css에 정의되어 있음. -->
                    <div class="icon-bx-wraper center m-b30 introduce-box-bg">
                        <div class="icon-bx-lg radius bg-white m-b20">
                            <!--introduce-color_black는 yejin.css에 정의되어 있음. -->
                            <i class="fa fa-file-code-o introduce-color_black "></i>
                        </div>
                        <div class="icon-content">
                            <h3 class="dlab-tilte">Explore Amazing Places</h3>
                            <!--introduce-color_black는 yejin.css에 정의되어 있음. -->
                            <p class="introduce-color_black ">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore.</p>
                        </div>
                    </div>

                    <!-- ===========================동아리 소개 안 중앙 카드================================ -->
                    <!--introduce-box-bg는 yejin.css에 정의되어 있음. -->
                    <div class="icon-bx-wraper center m-b30 introduce-box-bg">
                        <div class="icon-bx-lg radius bg-white m-b20">
                            <!--introduce-color_black는 yejin.css에 정의되어 있음. -->
                            <i class="ti-pencil introduce-color_black "></i></div>
                        <div class="icon-content">
                            <h3 class="dlab-tilte">Explore Amazing Places</h3>
                            <!--introduce-color_black는 yejin.css에 정의되어 있음. -->
                            <p class="introduce-color_black ">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore.</p>
                        </div>
                    </div>

                    <!-- ===========================동아리 소개 안 오른쪽 카드================================ -->
                    <!--introduce-box-bg는 yejin.css에 정의되어 있음. -->
                    <div class="icon-bx-wraper center m-b30 introduce-box-bg">
                        <div class="icon-bx-lg radius bg-white m-b20">
                            <!--introduce-color_black는 yejin.css에 정의되어 있음. -->
                            <i class="ti-game introduce-color_black "></i></div>
                        <div class="icon-content">
                            <h3 class="dlab-tilte">Explore Amazing Places</h3>
                            <!--introduce-color_black는 yejin.css에 정의되어 있음. -->
                            <p class="introduce-color_black ">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#        #}


        <!-- ===========================운영진 소개================================ -->
        <div id="introduce_cm" class=" content-inner " style="background-color: #f5f9ff;">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="box-title">운영진 소개</h2>
                    <div class="dlab-separator" style="background-color: #091069"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>

                <!-- ===========================회장================================ -->
                <div>
                    <div id="owl-demo"
                         class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 owl-dots-primary-big">
                        <div class="item">
                            <!--introduce-height_380는 yejin.css에 정의되어 있음. -->
                            <div class="client-box introduce-height_380">
                                <div class="client-detail">
                                    <!-- 회장 프로필 사진 -->
                                    <div class="client-img">
                                        <img src="{% static 'images/testimonials/pic2.jpg' %}" width="100"
                                             height="100" alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                    </div>
                                    <div class="client-info">
                                        <!-- 회장 이름 -->
                                        <h5 class="client-name">{{ chief.user_name }}</h5>
                                        <!-- 회장 전공 -->
                                        <span>{{ chief.user_major.major_name }}</span>
                                    </div>
                                </div>
                                <div class="client-info-bx">
                                    <!-- 회장 전화번호 -->
                                    <h5>{{ chief.user_phone }}</h5>
                                    <!-- 회장 이메일 -->
                                    <h5>{{ chief.user_email }}</h5>
                                    <p>이건 회장 정보 꺼내오는 쿼리문/자기소개도 여기에 적어야 합니다. 예를 들어서 나는 바보다. 나는 멍청이다. 화이팅. 사랑해요
                                        연예가중계</p>
                                </div>
                            </div>
                        </div>

                        <!-- ===========================부회장================================ -->
                        <div class="item">
                            <!--introduce-height_380는 yejin.css에 정의되어 있음. -->
                            <div class="client-box introduce-height_380">
                                <div class="client-detail">
                                    <div class="client-img">
                                        <!-- 부회장 프로필 사진 -->
                                        <img src="{% static 'images/testimonials/pic2.jpg' %}" width="100"
                                             height="100" alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                    </div>
                                    <div class="client-info">
                                        <!-- 부회장 이름 -->
                                        <h5 class="client-name">{{ sub_chief.user_name }}</h5>
                                        <!-- 부회장 전공 -->
                                        <span>{{ sub_chief.user_major.major_name }}</span>
                                    </div>
                                </div>
                                <div class="client-info-bx">
                                    <!-- 부회장 전화번호 -->
                                    <h5>{{ sub_chief.user_phone }}</h5>
                                    <!-- 부회장 이메일 -->
                                    <h5>{{ sub_chief.user_email }}</h5>
                                    <p>이건 부회장 정보 꺼내오는 쿼리문</p>
                                </div>
                            </div>
                        </div>
                        <!-- ===========================회장단================================ -->
                        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!! 회장단 수에 맞추어서 카드 숫자 조정해야함. !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!! 이쪽부터 복붙 !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                        <div class="item">
                            <!--introduce-height_380는 yejin.css에 정의되어 있음. -->
                            <div class="client-box introduce-height_380">
                                <div class="client-detail">
                                    <div class="client-img">
                                        <!-- 회장단 프로필사진 -->
                                        <img src="{% static 'images/testimonials/pic2.jpg' %}" width="100"
                                             height="100" alt="">
                                    </div>
                                    <div class="client-info">
                                        <!-- 회장단 이름 -->
                                        <h5 class="client-name">양태영</h5>
                                        <!-- 회장단 전공 -->
                                        <span>경영학과</span>
                                    </div>
                                </div>
                                <div class="client-info-bx">
                                    <!-- 회장단 전화번호 -->
                                    <h5>{{ sub_chief.user_phone }}</h5>
                                    <!-- 회장단 이메일 -->
                                    <h5>{{ sub_chief.user_email }}</h5>
                                    <p>쿼리문 수정 해야 함/ </p>
                                </div>
                            </div>
                        </div>
                        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!! 위쪽까지 복붙 !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                    </div>
                </div>
            </div>
        </div>
        {#    #}


        <!-- ===========================동아리 연혁================================ -->
        <div id="history" class=" bg-img-fix most-visited content-inner "
             style="background-image:url('{% static 'images/main-introduce.jpg' %}')" ;>
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="box-title">동아리 연혁</h2>
                    <div class="dlab-separator" style="background-color: #091069"></div>
                    <p>이것은 동아리 연혁입니다. 아직 아무것도 없어서 허전해요. 곧 써지겠죠. 집에있는데도 집에가고싶은 기분이랄까.
                        집에있는데도 집에가고싶은 기분이랄까. 집에있는데도 집에가고싶은 기분이랄까. 집에있는데도 집에가고싶은 기분이랄까.</p>

                    {#                        <div>#}
                    {#                            <p onclick="create()" class="introduce-color-btn" style="color: white">동아리 연혁 추가하기</p>#}
                    {#                        </div>#}

                </div>
                {#                    <div id="create" class="introduce-contact-flex-container introduce-text-align_center#}
                {#                    introduce-box-bg introduce-width_1135 introduce-margin-bottom_20 introduce-history-add-grid backgroundColor">#}
                {#                        <div style="margin-top: 6px">#}
                {#                            <input class="introduce-update-input-date " type="date"#}
                {#                                   style="margin-right: 10px; width: 200px">#}
                {#                        </div>#}
                {#                        <div>#}
                {#                            <textarea class="introduce-add-input-txt" placeholder="내용을 입력해주세요"#}
                {#                                      style="margin-right: 10px;"> </textarea>#}
                {#                        </div>#}
                {#                        <div style="margin-top: 6px">#}
                {#                            <input class="introduce-submit-btn " type="submit" value="등록">#}
                {#                        </div>#}
                {#                    </div>#}
                <div class="add-social-link social-btn-container" style="width: 500px">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-prepend">
                            <button class="site-button btn-block add-social-btn" type="button"><i
                                    class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                </div>
                    <!-- ===========================동아리 연혁부분 박스================================ -->
                    <!--introduce-box-bg introduce-history-box
                    introduce-history-grid introduce-color_black introduce-overflow_auto는 yejin.css에 정의되어 있음. -->
                    <div class="icon-bx-wraper introduce-box-bg introduce-history-box
                    introduce-color_black introduce-margin-bottom_10">


                        <div id="divGroup" class="introduce-history-grid introduce-overflow_auto ">
                            <!-- introduce-border-bottom introduce-text-align_center는 yejin.css에 정의되어 있음. -->

                            <div class="introduce-text-align_center">
                                <input id="date" type="date" value="2020-09-09" disabled="disabled"
                                       class="introduce-update-input-date" style="width: 170px">
                            </div>
                            <!-- introduce-border-bottom는 yejin.css에 정의되어 있음. -->

                            <!-- introduce-padding-bottom_24 introduce-border-bottom는 yejin.css에 정의되어 있음. -->
                            <div id="history_txt" class="introduce-history-box-flex ">
                                <!-- introduce-align-items_start는 yejin.css에 정의되어 있음. -->
                                <input id="history-txt" value="Lorem ipsum dolor sit amet" disabled="disabled"
                                       class="introduce-update-input-txt">
                            </div>
                            <div class="">
                                <input type="submit" id="update" class="introduce-button-style" onclick="update()"
                                       value="수정">
                                <input type="submit" id="delete" class="introduce-button-style" onclick="del()"
                                       value="삭제">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ===========================Contact Us================================ -->
            <div id="contact" class="content-inner " style="background-color: #f5f9ff;">
                <div class="container">
                    <div class="section-head text-center">
                        <h2 class="box-title">Contact Us</h2>
                        <div class="dlab-separator" style="background-color: #091069"></div>
                        <p class="introduce-margin-bottom_5 introduce-font-size_15">
                            <i class="ti-email"></i>
                            {{ chief.user_email }}
                        </p>
                        <p class="introduce-font-size_15"><i class="ti-mobile"></i> {{ chief.user_phone }}</p>
                    </div>

                    <!-- ===========================Contact Us 카드 부분================================ -->

                    <!-- introduce-google-map introduce-google-map-size 는 yejin.css에 정의되어 있음. -->
                    <div class="introduce-contact-flex-container " style="justify-content: center">
                        <iframe class=" introduce-google-map-size "
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3167.4531204275!2d126.65129931528445!3d37.45002207981986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b79ab3057fc7f%3A0xe3e29f05aba35eb0!2z7J247ZWY64yA7ZWZ6rWQIOyaqe2YhOy6oO2NvOyKpA!5e0!3m2!1sko!2skr!4v1610804139555!5m2!1sko!2skr"
                                width="500" height="390" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery(document).on('click', '.add-social-btn', function () {
                var copy_data = '<div class="input-group"><select id="mySelect"><option>Instagram</option><option>LinkedIn</option><option>Facebook</option></select><input type="text" class="form-control" placeholder="http://"><div class="input-group-prepend"><button class="site-button btn-block add-social-btn" type="button"><i class="fa fa-plus"></i> Add</button><button class="site-button btn-block remove-social-btn red" type="button"><i class="fa fa-times"></i> Close</button></div></div>';
                jQuery('.social-btn-container').append(copy_data);
                jQuery('select').selectpicker();
            });

            jQuery(document).on('click', '.remove-social-btn', function () {
                jQuery(this).parents('.input-group').remove();
            });
        })
    </script>
{% endblock %}
