{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta name="description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:title" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE -->
    <title>BizMap Directory & Listings HTML templates</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.min.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templete.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">


</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
    <!--임시로 넣어둠, 상단바 이후에 블럭처리해서 바꿀예정-->
     <!-- header -->
    <header class="site-header header-transparent mo-left">
        <!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
                        <a href="index.html" class="logo-1"><img src="{% static 'images/logo_white.png' %}" alt=""></a>
                        <a href="index.html" class="logo-2"><img src="{% static 'images/logo_puple.png' %}" alt=""></a>
                    </div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                            data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>


                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">

                            {% if login %} {# 만약 로그인을 해서 is_activated가 있는 경우, Log out 버튼 보이게 #}
                                <a href="#" class="site-button radius-xl m-l10">Log Out</a>
                                <a href="#" class="site-button radius-xl m-l10">My Info</a>
                                {# 여기 밑에 있는 부분은 로그인 한 후, 알람 창 코드임. 수정해야함. #}
                                <div class="dropdown dropdown-btn">

                                <svg id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                     height="24" viewBox="0 0 172 172"
                                     style=" fill:#ffffff; margin-left: 10px; margin-top: 7px">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                       stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                       font-size="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#4611a7">
                                            <path d="M86,14.33333c-5.934,0 -10.75,4.816 -10.75,10.75v4.98307c-18.54017,4.78017 -32.25,21.56943 -32.25,41.60026v43l-14.33333,14.33333v7.16667h114.66667v-7.16667l-14.33333,-14.33333v-43c0,-20.03083 -13.70983,-36.8061 -32.25,-41.58626v-4.99707c0,-5.934 -4.816,-10.75 -10.75,-10.75zM71.66667,143.33333c0,7.91917 6.42133,14.33333 14.33333,14.33333c7.912,0 14.33333,-6.42133 14.33333,-14.33333z"></path>
                                        </g>
                                    </g>
                                </svg>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa fa-twitter"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                </div>
                            </div>

                            {% else %}
                                {# 현재 로그인 된 상황이 아니므로 로그인과 sign up이 나와야 한다. #}
                                <a href="#" class="site-button radius-xl m-l10" style="background-color: #091069;">Log In</a>
                                <a href="#" class="site-button radius-xl m-l10" style="background-color: #091069">Sign Up</a>
                            {% endif %}
                        </div>
                    </div>


                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">
                            <li class="down active"><a href="#">IBAS <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">동아리 소개</a></li>
                                    <li><a href="#">동아리 활동</a></li>

                                    {# 밑에 있는 회계내역, 예산지원 신청은 회원들만 신청을 할 수 있음. #}
                                    {% if login %}
                                    <li><a href="#">회계내역</a></li>
                                    <li><a href="#">예산지원신청</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="down"><a href="#">게시판 <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">공지사항</a></li>
                                    <li><a href="#">자유게시판</a></li>
                                    <li><a href="#">질문게시판</a></li>
                                    <li><a href="#">공모전게시판</a></li>
                                </ul>
                            </li>
                            <li class="down"><a href="#">강의실 <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">강의</a></li>
                                    <li><a href="#">스터디</a></li>
                                    <li><a href="#">취미모임</a></li>
                                    <li><a href="#">강의개설신청</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Section Banner -->
        <!--메인페이지에 들어갈 이미지 들어가는 자리-->
        <div class="dlab-bnr-inr dlab-bnr-inr-md"
             style="background-image:url({% static 'images/ibas-main-background.jpg' %}); background-size: cover;">
            <div class="container">
                <div class="dlab-bnr-inr-entry align-m dlab-home">
                    <div class="dlab-tabs search-filter">
                        <ul class="nav nav-tabs" style="margin-top: 450px;">
                            <!--강의 신청하러 가기 버튼, 누르면 강의 게시판으로 이동-->
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#" style="padding: 12px 80px;">
                                <span class="title-head">강의 신청하러 가기</span></a></li>
                            <!--내 강의실 바로가기 버튼, 누르면 마이페이지의 내 강의실로 이동한, 비회원은 누르면 권한이 없습니다 뜸-->
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#" style="padding: 12px 80px; margin-left: 50px">
                                <span class="title-head">내 강의실 바로가기</span></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Banner END -->


    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="{% static 'images/logo-white.png' %}" class="m-b15" alt="" width="180">
                            <p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry has been the industry.</p>
                            <div class="subscribe-form m-b20">
                                <form class="dzSubscribe" action="{% static 'script/mailchamp.php' %}" method="post">
                                    <div class="dzSubscribeMsg"></div>
                                    <div class="input-group">
                                        <input name="dzEmail" required="required" class="form-control"
                                               placeholder="Your Email Address" type="email">
                                        <span class="input-group-btn">
											<button name="submit" value="Submit" type="submit"
                                                    class="site-button radius-xl">Subscribe</button>
										</span>
                                    </div>
                                </form>
                            </div>
                            <ul class="list-inline m-a0">
                                <li><a href="javascript:void(0);" class="site-button facebook circle "><i
                                        class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button google-plus circle "><i
                                        class="fa fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button linkedin circle "><i
                                        class="fa fa-linkedin"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button instagram circle "><i
                                        class="fa fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button twitter circle "><i
                                        class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="javascript:void(0);">Hotel</a></li>
                                <li><a href="javascript:void(0);">Restaurant</a></li>
                                <li><a href="javascript:void(0);">Appartment</a></li>
                                <li><a href="javascript:void(0);">SPA & Beauty</a></li>
                                <li><a href="javascript:void(0);">Atuomation</a></li>
                                <li><a href="javascript:void(0);">Travel</a></li>
                                <li><a href="javascript:void(0);">How It Works</a></li>
                                <li><a href="javascript:void(0);">For Employers</a></li>
                                <li><a href="javascript:void(0);">Underwriting</a></li>
                                <li><a href="javascript:void(0);">Contact Us</a></li>
                                <li><a href="javascript:void(0);">Lending Licnses</a></li>
                                <li><a href="javascript:void(0);">Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                        <div class="widget widget_getintuch">
                            <h5 class="m-b30 text-white">Contact us</h5>
                            <ul>
                                <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora
                                    Road Chi Minh City, Vietnam
                                </li>
                                <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support)</li>
                                <li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <span class="fbottom-like">© 2020 Design With <a class="like-btn" href="javascript:void(0)"><i
                                class="fa fa-heart"></i></a> By DexignZone </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script><!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

</body>
</html>