{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/seungyeon.css' %}">
    <div class="page-wraper">
        <!-- header -->

        <!-- header END -->
        <!-- 상단제목 -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/main-name-background.jpg' %}')">
                <div class="container">
                    <div class="dlab-bnr-inr-entry">
                        <h1 class="text-white">활동 게시판</h1>
                        <p>동아리 수상 및 활동 내역에 대한 게시판입니다.</p>
                        <!-- Breadcrumb row -->

                        <!-- Breadcrumb row END -->
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            <!-- Contact area -->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media test">
                                        <img src="{% static 'images/listing/pic1.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <h3 class="title "><a href="listing-details.html">호이호이호이123호이호이호이123</a></h3>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media test">
                                        <img src="{% static 'images/listing/pic2.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <h3 class="title"><a href="listing-details.html">호이회이</a></h3>
                                        <div class="dlab-post-meta">
                                            <ul class="d-flex align-items-center">
                                                <li class="post-author" style="color: white"><i class="ti-user" style="color: white"></i>By <a
                                                        >John Doe</a></li>
                                                <li class="post-date" style="color: white"><i class="ti-alarm-clock" style="color: white"></i><strong>12
                                                    July</strong><span> 2020</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic3.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic4.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic5.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic6.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic7.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic8.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic9.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic10.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic11.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <div class="listing-media">
                                        <img src="{% static 'images/listing/pic12.jpg' %}" alt="">
                                    </div>
                                    <div class="listing-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>

                                        </ul>
                                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                                    </div>
                                    <ul class="wish-bx">
                                        <li><a class="like-btn" href="javascript:void(0)"><i
                                                class="fa fa-heart"></i></a></li>
                                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination start -->
                        <div class="pagination-bx clearfix text-center">
                            <ul class="pagination">
                                <li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a>
                                </li>
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">...</a></li>
                                <li class="active"><a href="javascript:void(0)">7</a></li>
                                <li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Pagination END -->
                    </div>
                </div>
            </div>
            튼
            <!-- Contact area END -->
        </div>
        <!-- 상단으로 한번에 올라가게 하는 버튼 -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
{% endblock %}