{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--커스텀 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/seungyeon.css' %}">


    <!--=====================================제목 및 게시글 시작=====================================-->
    <div class="page-wraper">
        <div class="page-content bg-white">
            <!----------상단 제목부분----------->
            <!--제목을 감싸는 배경-->
            <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
                 style=" background-image: url('{% static 'images/main-name-background.jpg' %}')">
                <!--제목 및 부제목을 담는 컨테이너-->
                <div class="container">
                    <div class="dlab-bnr-inr-entry">
                        <!--제목-->
                        <h1 class="text-white">활동 게시판</h1>
                        <!--부제목-->
                        <p>동아리 수상 및 활동 내역에 대한 게시판입니다.</p>
                    </div>
                </div>
            </div>
            <!--=====================================게시글 시작=====================================-->
            <div class="content-block">
                <div class="section-full content-inner bg-white">
                    <div class="container">
                        <div class="row">
                            <!--=====게시글 1=====-->
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <!--=====게시글 2=====-->
                                    <div class="listing-media act-img-size">
                                        <img src="{% static 'images/listing/pic1.jpg' %}" alt="">
                                    </div>
                                    <!--게시글 제목 및 작성자, 작성시간 div 시작-->
                                    <div class="listing-info">
                                        <!--게시글 제목-->
                                        <div class="line1">
                                            <h3 class="title line1"><a href="listing-details.html">용식이 여자친구 생긴 기념 사진</a>
                                            </h3>
                                        </div>
                                        <div class="dlab-post-meta">
                                            <ul class="d-flex align-items-center">
                                                <!--게시글 작성자-->
                                                <li class="post-author" style="color: white"><i class="ti-user"
                                                                                                style="color: white"></i>By
                                                    <a
                                                    >John Doe</a></li>
                                                <!--게시글 작성시간-->
                                                <li class="post-date" style="color: white"><i class="ti-alarm-clock"
                                                                                              style="color: white"></i><strong>12
                                                    July</strong><span> 2020</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--=====게시글 2=====-->
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <!--게시글의 대표 이미지-->
                                    <div class="listing-media act-img-size">
                                        <img src="{% static 'images/listing/pic2.jpg' %}" alt="">
                                    </div>
                                    <!--게시글 제목 및 작성자, 작성시간 div 시작-->
                                    <div class="listing-info">
                                        <!--게시글 제목-->
                                        <h3 class="title line1"><a href="listing-details.html">이 편지는 영국에서 시작되어 한국을 거쳐
                                            미국으로까지 전해지게 되는데</a></h3>
                                        <div class="dlab-post-meta">
                                            <ul class="d-flex align-items-center">
                                                <!--게시글 작성자-->
                                                <li class="post-author" style="color: white"><i class="ti-user"
                                                                                                style="color: white"></i>By
                                                    <a
                                                    >John Doe</a></li>
                                                <!--게시글 작성시간-->
                                                <li class="post-date" style="color: white"><i class="ti-alarm-clock"
                                                                                              style="color: white"></i><strong>12
                                                    July</strong><span> 2020</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--=====게시글 3=====-->
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap act-img-size">
                                    <!--게시글의 대표 이미지-->
                                    <div class="listing-media">
                                        <img src="{% static 'images/test2.png' %}" alt="">
                                    </div>
                                    <!--게시글 제목 및 작성자, 작성시간 div 시작-->
                                    <div class="listing-info">
                                        <!--게시글 제목-->
                                        <h3 class="title line1"><a href="listing-details.html">이 편지는 영국에서 시작되어 한국을 거쳐
                                            미국으로까지 전해지게 되는데</a></h3>
                                        <div class="dlab-post-meta">
                                            <ul class="d-flex align-items-center">
                                                <!--게시글 작성자-->
                                                <li class="post-author" style="color: white"><i class="ti-user"
                                                                                                style="color: white"></i>By
                                                    <a
                                                    >John Doe</a></li>
                                                <!--게시글 작성시간-->
                                                <li class="post-date" style="color: white"><i class="ti-alarm-clock"
                                                                                              style="color: white"></i><strong>12
                                                    July</strong><span> 2020</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--=====게시글 4=====-->
                            <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                                <div class="listing-bx overlap">
                                    <!--게시글의 대표 이미지-->
                                    <div class="listing-media act-img-size">
                                        <img src="{% static 'images/listing/pic4.jpg' %}" alt="">
                                    </div>
                                    <!--게시글 제목 및 작성자, 작성시간 div 시작-->
                                    <div class="listing-info">
                                        <!--게시글 제목-->
                                        <h3 class="title line1"><a href="listing-details.html">이 편지는 영국에서 시작되어 한국을 거쳐
                                            미국으로까지 전해지게 되는데</a></h3>
                                        <div class="dlab-post-meta">
                                            <ul class="d-flex align-items-center">
                                                <!--게시글 작성자-->
                                                <li class="post-author" style="color: white"><i class="ti-user"
                                                                                                style="color: white"></i>By
                                                    <a
                                                    >John Doe</a></li>
                                                <!--게시글 작성시간-->
                                                <li class="post-date" style="color: white"><i class="ti-alarm-clock"
                                                                                              style="color: white"></i><strong>12
                                                    July</strong><span> 2020</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--게시글 등록 버튼 div-->
                        <div class="extra-cell text-right" style="">
                            <a href="add-listing.html" class="site-button radius-xl m-l10"><i
                                    class="fa fa-plus m-r5"></i>
                                게시글 등록</a>
                        </div>
                    </div>
                    <!-- 페이지네이션 -->
                    <div class="pagination-bx clearfix text-center">
                        <ul class="pagination">
                            <li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a>
                            </li>
                            <li><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">...</a></li>
                            <li class="active"><a href="javascript:void(0)">7</a></li>
                            <li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 상단으로 한번에 올라가게 하는 버튼 -->
    <button class="scroltop fa fa-chevron-up"></button>
    </div>
{% endblock %}