{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta name="description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:title" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:description" content="BizMap Directory & Listings HTML templates"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE -->
    <title>BizMap Directory & Listings HTML templates</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.min.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/template_1.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">


</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
    <!-- header -->
    <header class="site-header header-transparent mo-left">
        <!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
                        <a href="index.html" class="logo-1"><img src="{% static 'images/logo_white.png' %}" alt=""></a>
                        <a href="index.html" class="logo-2"><img src="{% static 'images/logo_puple.png' %}" alt=""></a>
                    </div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                            data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>


                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">

                            {% if request.session.user_stu is not None %} {# 만약 로그인을 해서 is_activated가 있는 경우, Log out 버튼 보이게 #}
                                <a>{{ request.session.user_name }} 님</a>
                                <img src="{{ request.session.user_pic }}" width="35" height="35" border="3" style=" border: 2px solid white; border-radius: 17.5px;" alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                승인여부: {{ request.session.is_activated }}
                                <a href="#" class="site-button radius-xl m-l10" >Log Out</a>
                                <a href="#" class="site-button radius-xl m-l10">
                                <img src="{{ request.session.user_pic }}" width="35" height="35" border="3" style=" border: 2px solid white; border-radius: 17.5px;" alt="현재 브라우저에서 지원하지 않는 형식입니다.">
                                {{ request.session.user_name }} 님
                                </a>
                                {# 여기 밑에 있는 부분은 로그인 한 후, 알람 창 코드임. 수정해야함. #}
                                <div class="dropdown dropdown-btn">
									<i class="fa fa-bell" style="color: white; margin-left: 10px" class="site-button dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa fa-twitter"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                    <a class="dropdown-item site-button-link" href="javascript:void(0);">
                                        <i class="fa"></i><span>아직 알림이 없습니다.</span></a>
                                </div>
                            </div>

                            {% else %}
                                {# 현재 로그인 된 상황이 아니므로 로그인과 sign up이 나와야 한다. #}
                                <a href="#" class="site-button radius-xl m-l10" >Log In</a>
                                <a href="#" class="site-button radius-xl m-l10">Sign Up</a>
                            {% endif %}
                        </div>
                    </div>


                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">
                            <li class="down active"><a href="#">IBAS <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">동아리 소개</a></li>
                                    <li><a href="#">동아리 활동</a></li>

                                    {# 밑에 있는 회계내역, 예산지원 신청은 회원들만 신청을 할 수 있음. #}
                                    {% if request.session.user_stu is not None %}
                                    <li><a href="#">회계내역</a></li>
                                    <li><a href="#">예산지원신청</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="down"><a href="#">게시판 <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">공지사항</a></li>
                                    <li><a href="#">자유게시판</a></li>
                                    <li><a href="#">질문게시판</a></li>
                                    <li><a href="#">공모전게시판</a></li>
                                </ul>
                            </li>
                            <li class="down"><a href="#">강의실 <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">강의</a></li>
                                    <li><a href="#">스터디</a></li>
                                    <li><a href="#">취미모임</a></li>
                                    <li><a href="#">강의개설신청</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
</div>




<!-- 이거는 그냥 배경 및 밑으로 스크롤 내렸을 때 잘 되는지 보기위해서 넣은 코드 -->
<div class="dlab-bnr-inr dlab-bnr-inr-md"
     style="background-image:url({% static 'images/main-slider/slide1.jpg' %}); background-size: cover;">
</div>
<div class="section-full bg-gray content-inner about-us">
    <div class="container-fluid">
        <div class="section-head text-black text-center">
            <h2 class="box-title">Top Trending Places</h2>
            <div class="dlab-separator bg-primary"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
        <div class="most-visite owl-carousel owl-btn-center-lr owl-btn-1 primary">
            <div class="item">
                <div class="listing-bx featured-star-left m-b30">
                    <div class="listing-media">
                        <img src="{% static 'images/listing/pic1.jpg' %}" alt="">
                        <ul class="featured-star">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
                        <ul class="place-info">
                            <li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
                            <li class="open"><i class="fa fa-check"></i>Open Now</li>
                        </ul>
                    </div>
                    <ul class="wish-bx">
                        <li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                        </li>
                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="listing-bx featured-star-left m-b30">
                    <div class="listing-media">
                        <img src="{% static 'images/listing/pic2.jpg' %}" alt="">
                        <ul class="featured-star">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Dorado Health Care</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
                        <ul class="place-info">
                            <li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
                            <li class="open"><i class="fa fa-check"></i>Open Now</li>
                        </ul>
                    </div>
                    <ul class="wish-bx">
                        <li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                        </li>
                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="listing-bx featured-star-left m-b30">
                    <div class="listing-media">
                        <img src="{% static 'images/listing/pic3.jpg' %}" alt="">
                        <ul class="featured-star">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Tam Farfhume Shop</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
                        <ul class="place-info">
                            <li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
                            <li class="open"><i class="fa fa-check"></i>Open Now</li>
                        </ul>
                    </div>
                    <ul class="wish-bx">
                        <li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                        </li>
                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="listing-bx featured-star-left m-b30">
                    <div class="listing-media">
                        <img src="{% static 'images/listing/pic4.jpg' %}" alt="">
                        <ul class="featured-star">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">King Organic Shop</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
                        <ul class="place-info">
                            <li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
                            <li class="open"><i class="fa fa-check"></i>Open Now</li>
                        </ul>
                    </div>
                    <ul class="wish-bx">
                        <li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                        </li>
                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="listing-bx featured-star-left m-b30">
                    <div class="listing-media">
                        <img src="{% static 'images/listing/pic5.jpg' %}" alt="">
                        <ul class="featured-star">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Venzil Hingo Zoo</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
                        <ul class="place-info">
                            <li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
                            <li class="open"><i class="fa fa-check"></i>Open Now</li>
                        </ul>
                    </div>
                    <ul class="wish-bx">
                        <li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                        </li>
                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="listing-bx featured-star-left m-b30">
                    <div class="listing-media">
                        <img src="{% static 'images/listing/pic6.jpg' %}" alt="">
                        <ul class="featured-star">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">KFC Pijja Shop</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
                        <ul class="place-info">
                            <li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
                            <li class="open"><i class="fa fa-check"></i>Open Now</li>
                        </ul>
                    </div>
                    <ul class="wish-bx">
                        <li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                        </li>
                        <li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}"></script><!-- RANGESLIDER -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

</body>
</html>
